<%
	type = "content"
	page = "slim"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-bodyfit">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">날씬해지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">바디핏주사</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							날씬해지는<br class="hidden-tm">
							<span class="color-slim">바노바기 바디핏주사</span>
						</h2>
						<h3 class="visual__tag">#다이어트주사 #군살제거 #한줌주사 #지방분해</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">15,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-bodyfit">
				<h2 class="section-head__tit tit-v1">
					바노바기 바디핏주사,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					지방파괴에 최적화된 바노바기의 주사 레시피로 몸매라인을 살리고 지방을 파괴하여
					반영구적인 효과를 기대할 수 있는 다이어트 주사시술입니다.
					셀룰라이트 및 지방층에 직접 주사하는 방식으로 잘 빠지지 않는 지방세포를 파괴하여
					자연스럽게 배출하며 다이어트와 동시에 피부탄력을 개선하는 효과까지 얻을 수 있습니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- bodyfit-box1 -->
						<ul class="section-head__list type-black type-another">
							<li class="section-head__item nth-10">
								<div class="vertical">
									<h5 class="section-head__subject">지방분해</h5>
								</div>
							</li>
							<li class="section-head__item nth-26">
								<div class="vertical">
									<h5 class="section-head__subject type-multi">군살제거</h5>
								</div>
							</li>
							<li class="section-head__item nth-24">
								<div class="vertical">
									<h5 class="section-head__subject">라인개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-25">
								<div class="vertical">
									<h5 class="section-head__subject type-multi">셀룰라이트<br> 개선</h5>
								</div>
							</li>
						</ul>
						<div class="section-head__img">
							<img src="../../images/slim/bodyfit/bodyfit_bg_2.png" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
				<img src="../../images/slim/bodyfit/bodyfit_wave_1.png" alt="" class="section-head__wave">
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid type-bodyfit type-static">
				<div class="section-mid__area">
					<div class="section-mid__img">바디핏 사진</div>
				</div>
				<div class="section-mid__wrap">
					<div class="section-mid__box">
						<div class="content-head2 type-bodyfit">
							<div class="content-head2__wrap">
								<h2 class="content-head2__tit tit-v1">QUICK&<span class="color-slim">SLIM</span></h2>
								<p class="content-head2__txt subtit-v2">단단하게 뭉친 <span class="content-head2__point">지방</span><br class="hidden-pt"> 보기 싫은 <span class="content-head2__point">셀룰라이트</span></p>
							</div>
						</div>
						<p class="highlight1 type-slim">매일 운동해도 달라지지 않는 부위는?</p><br>
						<p class="highlight2 type-slim">이젠 바디핏 주사로 관리하세요!</p>
						<p class="section-mid__txt txt-v1">
							지속적인 식이요법이나 꾸준한 운동을 통해서도 살이 빠지지 않는
							부위의 군살과 셀룰라이트! 이를 파괴하여 자연스럽게 배출시키는
							주사를 바노바기가 만들었습니다. 원하는 부위를 주사 시술로 관리할 수
							있으니 참 편하겠죠?<br><br>

							라인은 살리고 지방은 파괴하는, 그리고 비교적 간단한 주사 시술도
							혼자가 아니라 1:1 다이어트 컨설팅으로 디테일하게 진행하는
							<span class="section-mid__point">바노바기와 함께 하세요.</span>
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-bodyfit">
				<h2 class="how__tit tit-v1">어떻게 날씬해질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 15분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">빠른 일상생활</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-slim">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_11.png" alt="1:1 다이어트 컨설팅" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">1:1 다이어트 컨설팅</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_12.png" alt="시술부위 결정" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위 결정</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_13.png" alt="지방 및 셀룰라이트 확인" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">지방 및 셀룰라이트 확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_14.png" alt="필요 시술 진행" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">필요 시술 진행</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<!--d-day꺼사용-->
			<div class="where type-dday">
				<h2 class="where__tit tit-v1">어디가 날씬해질까?</h2>
				<div class="where__img2">
					<img src="../../images/slim/dday/dday_bg_4_t.jpg" alt="어디가 날씬해질까?">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">1</span>
									<img src="../../images/slim/dday/dday_where_1.png" alt="팔 안쪽" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔 안쪽</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">2</span>
									<img src="../../images/slim/dday/dday_where_2.png" alt="팔 바깥쪽" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔 바깥쪽</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">3</span>
									<img src="../../images/slim/dday/dday_where_3.png" alt="허벅지 안쪽" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">허벅지 안쪽</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">4</span>
									<img src="../../images/slim/dday/dday_where_4.png" alt="허벅지 바깥쪽" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">허벅지 바깥쪽</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">5</span>
									<img src="../../images/slim/dday/dday_where_5.png" alt="허벅지 뒤쪽" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">허벅지 뒤쪽</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">6</span>
									<img src="../../images/slim/dday/dday_where_6.png" alt="허벅지 앞쪽" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">허벅지 앞쪽</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">7</span>
									<img src="../../images/slim/dday/dday_where_7.png" alt="부유방" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">부유방</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">8</span>
									<img src="../../images/slim/dday/dday_where_8.png" alt="옆구리/뒷구리" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">옆구리/뒷구리</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">9</span>
									<img src="../../images/slim/dday/dday_where_9.png" alt="상복부" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">상복부</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">10</span>
									<img src="../../images/slim/dday/dday_where_10.png" alt="하복부" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">하복부</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">11</span>
									<img src="../../images/slim/dday/dday_where_11.png" alt="무릎라인" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">무릎라인</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">12</span>
									<img src="../../images/slim/dday/dday_where_12.png" alt="종아리" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">종아리</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
			<!--//d-day꺼사용-->
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-bodyfit">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 바디핏주사
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">합리적인 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-component">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">만족도를 높이는 디테일한 시술</h3>
								<p class="detail__txt txt-v2">시술 집도 시 자칫하면 그냥 지나치기 쉬운 디테일한 부분까지 세심하게 체크하며 체계적으로 진행합니다.</p>
							</div>
						</li>
						<li class="detail__item type-total">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">시술 효과를 높인 종합 노하우</h3>
								<p class="detail__txt txt-v2">지속적인 학술활동과 임상실험, 집도의의 섬세하고 전문화된 시술로 시술 효과를 높입니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 프로그램 구성</h3>
								<p class="detail__txt txt-v2">단순한 체중감량이 아닌, 바디라인의 아름다움을 살리기 위하여 지방분해, 라인교정,
									셀룰라이트제거를 위한 프로그램을 제공합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">ONLY 시술, 비교적 빠른 효과!</h3>
								<p class="detail__txt txt-v2">
									비교적 빠른 회복이 가능하도록 시술을 통한 다이어트
									프로그램으로 일상생활 지장 없이 체중감량을 하실 수 있습니다.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
