<%
	type = "content"
	page = "slim"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-body">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">날씬해지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">바디보톡스</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							날씬해지는<br class="hidden-tm">
							<span class="color-slim">바노바기 바디보톡스</span>
						</h2>
						<h3 class="visual__tag">#근육축소 #바디라인개선 #근육뭉침 완화</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">90,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-body">
				<h2 class="section-head__tit tit-v1">
					바노바기 바디보톡스,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					바디보톡스는 툭 튀어나온 종아리 근육, 두꺼운 발목, 솟아오른 승모근 등
					근육이 발달하여 라인이 예쁘지 않은 부위를 교정해 전체적인 바디라인을 매끄럽게 개선합니다.
					또한 집안일, 업무 등으로 인해 과도하게 뭉친 근육으로 생기는
					통증 완화 효과까지 기대할 수 있습니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<ul class="section-head__list type-black">
							<li class="section-head__item nth-0">
								<div class="vertical">
									<h5 class="section-head__subject">정품정량</h5>
								</div>
							</li>
							<li class="section-head__item nth-26">
								<div class="vertical">
									<h5 class="section-head__subject type-tight">슬림한바디<br>라인</h5>
								</div>
							</li>
							<li class="section-head__item nth-0">
								<div class="vertical">
									<h5 class="section-head__subject">근육뭉침<br>개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-0">
								<div class="vertical">
									<h5 class="section-head__subject">개인별맞춤<br>시술</h5>
								</div>
							</li>
						</ul>
						<div class="inner-box type-body">
							<h4 class="inner-box__tit">
								BANOBAGI<br>
								BODY BOTOX
							</h4>
							<p class="inner-box__txt">
								전체적인 바디라인을 매끄럽게 개선
							</p>
						</div>
						<div class="section-head__img">
							<img src="../../images/slim/body/body_bg_2.jpg" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
	    <div class="content-wrap">
	        <div class="content-head2 type-body">
	            <div class="content-head2__wrap">
	                <h2 class="content-head2__tit tit-v1">QUICK&<span class="color-slim">SLIM</span></h2>
	                <p class="content-head2__txt subtit-v2">
						우뚝 솟아오른 승모근, 울퉁불퉁 라인을 망치는 근육!<br>
						매끈한 라인을 위한 선택!
					</p>
	            </div>
	        </div>
	        <div class="section-mid type-body type-static">
	            <div class="section-mid__wrap">
	                <div class="section-mid__box">
	                    <p class="highlight1 type-slim">뭉친 근육 없이 매끈한 라인이 필요할 땐?</p><br>
	                    <p class="highlight2 type-slim">바노바기 바디 보톡스로 관리하세요.</p>
	                    <p class="section-mid__txt txt-v1">
	                        다이어트로도 되지 않은 바디라인교정?
							울퉁불퉁 과하게 튀어나온 종아리 알, 허벅지와 팔의 근육, 그리고 승모근까지!
							근육의 크기만 줄여도 보다 균형 잡힌 라인을 만들 수 있습니다.<br><br>

							다이어트를 해도 체형이 예쁘지 않다면?
							나도 몰랐던 내 안의 숨겨진 라인을 찾는
	                        <span class="section-mid__point">바노바기 바디보톡스와 함께하세요!</span>
	                    </p>
	                </div>
	            </div>
	            <div class="section-mid__area">
	                <div class="section-mid__img">바디보톡스 사진</div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-body">
				<h2 class="how__tit tit-v1">어떻게 날씬해질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 10분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">아이스팩</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">빠른 일상생활</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-slim">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_35.png" alt="클렌징" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_2.png" alt="아이스팩마취" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">아이스팩마취</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_13.png" alt="시술부위확인" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_14.png" alt="보톡스주입" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">보톡스주입</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-body">
				<h2 class="where__tit tit-v1">어디가 날씬해질까?</h2>
				<div class="where__img2">
					<img src="../../images/slim/body/body_bg_3_t.jpg" alt="어디가 날씬해질까? - 시술부위">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">1</span>
									<img src="../../images/slim/body/body_where_1.png" alt="승모근" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">승모근</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">2</span>
									<img src="../../images/slim/body/body_where_2.png" alt="팔뚝" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔뚝</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">3</span>
									<img src="../../images/slim/body/body_where_3.png" alt="종아리" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">종아리</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">4</span>
									<img src="../../images/slim/body/body_where_4.png" alt="허벅지" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">허벅지</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-body">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 바디보톡스
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">합리적인 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-component">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">만족도를 높이는 디테일한 시술</h3>
								<p class="detail__txt txt-v2">시술 집도 시 자칫하면 그냥 지나치기 쉬운 디테일한 부분까지 세심하게 체크하며 체계적으로 진행합니다.</p>
							</div>
						</li>
						<li class="detail__item type-total">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">시술 효과를 높인 종합 노하우</h3>
								<p class="detail__txt txt-v2">지속적인 학술활동과 임상실험, 집도의의 섬세하고 전문화된 시술로 시술 효과를 높입니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 프로그램 구성</h3>
								<p class="detail__txt txt-v2">단순한 체중감량이 아닌, 바디라인의 아름다움을 살리기 위하여 지방분해, 라인교정, 셀룰라이트제거를 위한 프로그램을 제공합니다.</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">ONLY 시술, <span class="inline-block">비교적 빠른 효과!</span></h3>
								<p class="detail__txt txt-v2">
									비교적 빠른 회복이 가능하도록 시술을 통한 다이어트
									프로그램으로 일상생활 지장 없이 체중감량을 하실 수 있습니다.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
