<%
	type = "content"
	page = "slim"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-capsule">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">날씬해지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">살쏙캡슐테라피</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							날씬해지는<br class="hidden-tm">
							<span class="color-slim">바노바기 살쏙캡슐테라피</span>
						</h2>
						<h3 class="visual__tag">#캡슐_안에_쏙! #누워서하는_다이어트 #F.I.T핏캡슐테라피</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">90,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box type-relative">
		<div class="capsule-square type-left"><img src="../../images/slim/capsule/capsule_left.jpg" alt=""></div>
		<div class="capsule-square type-right"><img src="../../images/slim/capsule/capsule_right.jpg" alt=""></div>
		<div class="content-wrap">
			<div class="section-head type-capsule">
				<h2 class="section-head__tit tit-v1">
					바노바기 살쏙캡슐테라피,<br>
					(BANOBAGI F.I.T)<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					몸 속 독소 제거와 체지방 및 내장지방 분해, 항산화 작용 등에 도움이 되는 원적외선 테라피입니다.<br class="hidden-tm">
					원적외선 특수 광선을 전신에 전달하면 심부 깊숙한 곳에서부터 체온이 올라가 <br class="hidden-tm">
					면역력 강화는 물론 마치 운동을 한 것과 같은 효과를 주어 <br class="hidden-tm">
					체지방 분해와 함께, 가뿐하고 개운한 몸 상태로 만들어줍니다. <br class="hidden-tm">
					연예인들과 운동선수들의 자기 관리 최애템, 바노바기 살쏙캡슐로테라피 하세요!
				</h3>
				<p class="section-head__txt2">
					“원적외선 캡슐 속에서  약 40분 가량<br class="hidden-p"> 가만히 누워만 있으면 됩니다!! “
				</p>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- capsule-box1 -->
						<div class="section-head__img">
							<img src="../../images/slim/capsule/capsule_bg_2.png" alt="">
						</div>
						<div class="section-head__img-txt">
							<img src="../../images/slim/capsule/capsule_txt_1.png" alt="capsulecapsule">
						</div>
						<!-- //section-head -->
					</div>

				</div><!--//section-head__area-->
				<div class="section-head__caption4">
					<ul class="section-head__list type-bottom2 type-white">
						<li class="section-head__item nth-0">
							<div class="vertical">
								<h5 class="section-head__subject type-tight">체지방 및 내장지방 감소</h5>
							</div>
						</li>
						<li class="section-head__item nth-25">
							<div class="vertical">
								<h5 class="section-head__subject type-tight">셀룰라이트<br> 분해</h5>
							</div>
						</li>
						<li class="section-head__item nth-26">
							<div class="vertical">
								<h5 class="section-head__subject">부기 관리</h5>
							</div>
						</li>
						<li class="section-head__item nth-47">
							<div class="vertical">
								<h5 class="section-head__subject">노폐물 배출</h5>
							</div>
						</li>
						<li class="section-head__item nth-48">
							<div class="vertical">
								<h5 class="section-head__subject type-tight">기초대사량<br> 증진</h5>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box type-capsule">
		<div class="content-wrap">
			<div class="process">
				<h2 class="process__tit tit-v1">전신의 피로와 체지방 관리를 한번에!</h2>
				<ul class="process__list">
					<li class="process__item">
						<p class="process__img"><img src="../../images/slim/capsule/capsule_img_1.png" class="img-w100" alt="인바디 측정 및 상담"/></p>
						<h3 class="process__subject subtit-v1">인바디 측정 및 상담</h3>
					</li>
					<li class="process__item">
						<p class="process__img"><img src="../../images/slim/capsule/capsule_img_2.png" class="img-w100" alt="F.I.T 핏 캡슐 케어"/></p>
						<h3 class="process__subject subtit-v1">F.I.T 핏 캡슐 케어</h3>
					</li>
					<li class="process__item">
						<p class="process__img"><img src="../../images/slim/capsule/capsule_img_3.png" class="img-w100" alt="인바디 재측정 및 체지방 변화 체크"/></p>
						<h3 class="process__subject subtit-v1">인바디 재측정 및 체지방 변화 체크</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="section-box">
		<div class="content-wrap">
			<div class="inbody">
				<h2 class="inbody__tit tit-v1">관리 후 인바디로 <span class="inline-block">바로 확인하는 지방 감소</span></h2>
				<div class="inbody__box">
					<span class="inbody__case">case1</span>
					<span class="inbody__point">인바디 체크를 통해</span>
					<h3 class="inbody__subject tit-v1">
						<span class="inbody__vertical"><span class="color-slim">체지방 감량</span> 확인</span>
						<span class="inbody__vertical"><img src="../../images/content/advantage_plus.png" class="inbody__plus" alt="plus"/></span>
						<span class="inbody__vertical"><span class="color-slim">수분</span> 및 <span class="color-slim">골격근량</span> 증가</span>
					</h3>
					<ul class="inbody__list">
						<li class="inbody__item">
							<div class="inbody__wrap">
								<span class="inbody__caption">before</span>
								<img src="../../images/slim/capsule/capsule_before_1.jpg" class="img-w100" alt="before - 체성분표"/>
							</div>
						</li>
						<li class="inbody__item">
							<div class="inbody__wrap">
								<span class="inbody__caption type-slim">after</span>
								<img src="../../images/slim/capsule/capsule_after_1.jpg" class="img-w100" alt="after - 체성분표"/>
							</div>
						</li>
					</ul>
					<div class="inbody-table">
						<ul class="inbody-table__list nth-1">
							<li class="inbody-table__item"><div class="inbody-table__wrap">체성분</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">체중</span></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">체지방</span></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">세포내수분</span></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">골격근량</span></div></li>
						</ul>
						<ul class="inbody-table__list nth-2">
							<li class="inbody-table__item"><div class="inbody-table__wrap">before</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">51.7</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">10.7</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">18.5</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">22.1</div></li>
						</ul>
						<ul class="inbody-table__list nth-3">
							<li class="inbody-table__item"><div class="inbody-table__wrap">after (1시간)</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">51.3</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">9.9</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">18.8</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">22.5</div></li>
						</ul>
						<ul class="inbody-table__list nth-4">
							<li class="inbody-table__item"><div class="inbody-table__wrap"></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">0.4kg <br class="hidden-pt"><span class="inbody-table__down">감량</span> </div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">0.8kg <br class="hidden-pt"><span class="inbody-table__down">감량</span></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">0.3kg <br class="hidden-pt"><span class="inbody-table__up">증가</span></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">0.4kg <br class="hidden-pt"><span class="inbody-table__up">증가</span></li>
						</ul>
					</div>
				</div>
				<div class="inbody__box">
					<span class="inbody__case">case2</span>
					<ul class="inbody__list">
						<li class="inbody__item">
							<div class="inbody__wrap">
								<span class="inbody__caption">before</span>
								<img src="../../images/slim/capsule/capsule_before_2.jpg" class="img-w100" alt="before - 체성분표"/>
							</div>
						</li>
						<li class="inbody__item">
							<div class="inbody__wrap">
								<span class="inbody__caption type-slim">after</span>
								<img src="../../images/slim/capsule/capsule_after_2.jpg" class="img-w100" alt="after - 체성분표"/>
							</div>
						</li>
					</ul>
					<div class="inbody-table">
						<ul class="inbody-table__list nth-1">
							<li class="inbody-table__item"><div class="inbody-table__wrap">체성분</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">체중</span></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">체지방</span></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">세포내수분</span></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">골격근량</span></div></li>
						</ul>
						<ul class="inbody-table__list nth-2">
							<li class="inbody-table__item"><div class="inbody-table__wrap">before</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">54.5</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">10.2</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">20.0</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">24.1</div></li>
						</ul>
						<ul class="inbody-table__list nth-3">
							<li class="inbody-table__item"><div class="inbody-table__wrap">after (1시간)</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">54.0</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">9.0</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">20.6</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">24.8</div></li>
						</ul>
						<ul class="inbody-table__list nth-4">
							<li class="inbody-table__item"><div class="inbody-table__wrap"></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">0.5kg <br class="hidden-pt"><span class="inbody-table__down">감량</span> </div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">1.2kg <br class="hidden-pt"><span class="inbody-table__down">감량</span></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">0.6kg <br class="hidden-pt"><span class="inbody-table__up">증가</span></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">0.7kg <br class="hidden-pt"><span class="inbody-table__up">증가</span></li>
						</ul>
					</div>
				</div>
				<div class="inbody__box">
					<span class="inbody__case">case3</span>
					<ul class="inbody__list">
						<li class="inbody__item">
							<div class="inbody__wrap">
								<span class="inbody__caption">before</span>
								<img src="../../images/slim/capsule/capsule_before_3.jpg" class="img-w100" alt="before - 체성분표"/>
							</div>
						</li>
						<li class="inbody__item">
							<div class="inbody__wrap">
								<span class="inbody__caption type-slim">after</span>
								<img src="../../images/slim/capsule/capsule_after_3.jpg" class="img-w100" alt="after - 체성분표"/>
							</div>
						</li>
					</ul>
					<div class="inbody-table">
						<ul class="inbody-table__list nth-1">
							<li class="inbody-table__item"><div class="inbody-table__wrap">체성분</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">체중</span></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">체지방</span></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">세포내수분</span></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">골격근량</span></div></li>
						</ul>
						<ul class="inbody-table__list nth-2">
							<li class="inbody-table__item"><div class="inbody-table__wrap">before</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">77.3</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">35.6</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">19.0</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">22.8</div></li>
						</ul>
						<ul class="inbody-table__list nth-3">
							<li class="inbody-table__item"><div class="inbody-table__wrap">after (1시간)</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">77.0</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">34.2</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">19.7</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">23.7</div></li>
						</ul>
						<ul class="inbody-table__list nth-4">
							<li class="inbody-table__item"><div class="inbody-table__wrap"></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">0.3kg <br class="hidden-pt"><span class="inbody-table__down">감량</span> </div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">1.4kg <br class="hidden-pt"><span class="inbody-table__down">감량</span></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">0.7kg <br class="hidden-pt"><span class="inbody-table__up">증가</span></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">0.9kg <br class="hidden-pt"><span class="inbody-table__up">증가</span></li>
						</ul>
					</div>
				</div>
				<div class="inbody__box">
					<span class="inbody__case">case4</span>
					<ul class="inbody__list">
						<li class="inbody__item">
							<div class="inbody__wrap">
								<span class="inbody__caption">before</span>
								<img src="../../images/slim/capsule/capsule_before_4.jpg" class="img-w100" alt="before - 체성분표"/>
							</div>
						</li>
						<li class="inbody__item">
							<div class="inbody__wrap">
								<span class="inbody__caption type-slim">after</span>
								<img src="../../images/slim/capsule/capsule_after_4.jpg" class="img-w100" alt="after - 체성분표"/>
							</div>
						</li>
					</ul>
					<div class="inbody-table">
						<ul class="inbody-table__list nth-1">
							<li class="inbody-table__item"><div class="inbody-table__wrap">체성분</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">체중</span></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">체지방</span></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">세포내수분</span></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap"><span class="inbody-table__num">골격근량</span></div></li>
						</ul>
						<ul class="inbody-table__list nth-2">
							<li class="inbody-table__item"><div class="inbody-table__wrap">before</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">48.5</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">12.7</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">16.1</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">18.9</div></li>
						</ul>
						<ul class="inbody-table__list nth-3">
							<li class="inbody-table__item"><div class="inbody-table__wrap">after (1시간)</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">47.9</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">10.9</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">16.7</div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">19.7</div></li>
						</ul>
						<ul class="inbody-table__list nth-4">
							<li class="inbody-table__item"><div class="inbody-table__wrap"></div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">0.6kg <br class="hidden-pt"><span class="inbody-table__down">감량</span> </div></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">1.8kg <br class="hidden-pt"><span class="inbody-table__down">감량</span></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">0.6kg <br class="hidden-pt"><span class="inbody-table__up">증가</span></li>
							<li class="inbody-table__item"><div class="inbody-table__wrap">0.8kg <br class="hidden-pt"><span class="inbody-table__up">증가</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section-box">
		<div class="content-wrap">
			<div class="best type-single type-slim">
				<h2 class="best__tit tit-v7">다이어트, 효과를 높이고 싶다면?</h2>
				<ul class="best__list">
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">01</span>
							<div class="best__img">
								<img src="../../images/slim/capsule/capsule_img_4.jpg" class="img-w100 hidden-tm" alt="바디핏주사">
								<img src="../../images/slim/capsule/capsule_img_4_t.jpg" class="img-w100 hidden-p" alt="바디핏주사">
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											바디핏주사
										</p>
									</div>
								</div>
							</div>
						</div>
						<ul class="best__list2">
							<li class="best__item2">
								<div class="best__vertical">
									<strong class="weight-ebold">지방파괴에 효과적</strong>인 주사레시피<br>
									셀룰라이트 및 지방층에<br>
									직접 주사하여 <strong class="weight-ebold">빠지지 않는 지방 OUT!</strong>
								</div>
							</li>
						</ul>
					</li>
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">02</span>
							<div class="best__img">
								<img src="../../images/slim/capsule/capsule_img_5.jpg" class="img-w100 hidden-tm" alt="체외충격파">
								<img src="../../images/slim/capsule/capsule_img_5_t.jpg" class="img-w100 hidden-p" alt="체외충격파">
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											체외충격파
										</p>
									</div>
								</div>
							</div>
						</div>
						<ul class="best__list2">
							<li class="best__item2">
								<div class="best__vertical">
									단단하게 뭉친 <strong class="weight-ebold">지방과<br>
										셀룰라이트를 파괴!</strong><br>
									튼살과 피부탄력에 <strong class="weight-ebold">GOOD!</strong>
								</div>
							</li>
						</ul>
					</li>
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">03</span>
							<div class="best__img">
								<img src="../../images/slim/capsule/capsule_img_6.jpg" class="img-w100 hidden-tm" alt="울핏">
								<img src="../../images/slim/capsule/capsule_img_6_t.jpg" class="img-w100 hidden-p" alt="울핏">
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											울핏
										</p>
									</div>
								</div>
							</div>
						</div>
						<ul class="best__list2">
							<li class="best__item2">
								<div class="best__vertical">
									피부 전층에 탄력을 주는<br>
									<strong class="weight-ebold">2단계 리프팅</strong>으로 <strong class="weight-ebold">늘어진 피부탄력과<br>
									체지방감소 및 셀룰라이트 동시 개선!</strong>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="section-box">
		<div class="content-wrap">
			<div class="need type-capsule type-little">
				<div class="need__box">
					<div class="need__banner">
						<div class="need__circle nth-1">
							<div class="vertical">
								우수한<br>
								체지방<br>
								감소!
							</div>
						</div>
						<div class="need__circle nth-2">
							<div class="vertical">
								혈액순환<br>
								및<br>
								면역 증가
							</div>
						</div>
						<div class="need__circle nth-3">
							<div class="vertical">
								지방 및<br>
								셀룰라이트<br>
								분해
							</div>
						</div>
					</div>
					<h2 class="need__tit">
						살쏙캡슐테라피<br class="hidden-pt">(F.I.T 핏 캡슐 테라피)<br>
						이런 분들에게 좋아요!
					</h2>
					<ol class="need__list">
						<li class="need__item">
							<div class="need__wrap">
								<strong>편하게 다이어트</strong>를 하고 싶으신 분들
							</div>
						</li>
						<li class="need__item">
							<div class="need__wrap">
								산후 부기와 하체 부종으로 <strong>슬리밍 관리가 필요</strong>하신 분들
							</div>
						</li>
						<li class="need__item">
							<div class="need__wrap">
								몸의 혈액순환이 잘 안되어 <strong>손,발이 저리신 분들</strong>
							</div>
						</li>
						<li class="need__item">
							<div class="need__wrap">
								<strong>만성피로</strong>로 인하여 숙면이 힘드신 분들
							</div>
						</li>
						<li class="need__item">
							<div class="need__wrap">
								<strong>수족 냉증</strong>이 있으신 분들
							</div>
						</li>
						<li class="need__item">
							<div class="need__wrap">
								<strong>갱년기 증상</strong>을 겪고 계신 분들
							</div>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-zeltiq">
				<h2 class="how__tit tit-v1">어떻게 날씬해질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 1시간이내</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-slim">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="section-box type-mt">
		<div class="detail type-capsule">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한 바노바기<br>
						살쏙캡슐테라피<br>
						(F.I.T 핏 캡슐 테라피)
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다.</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-component">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">안전한 성분 배합</h3>
								<p class="detail__txt txt-v2">지속적인 연구를 통해 안전이 입증된 성분만을 배합한 윤곽주사만을 시술에 적용하고 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, 오래 가는 결과</h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
