<%
	type = "content"
	page = "slim"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-cellulite">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">날씬해지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">셀룰라이트 OUT</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							날씬해지는<br class="hidden-tm">
							<span class="color-slim">바노바기 셀룰라이트 OUT</span>
						</h2>
						<h3 class="visual__tag">#셀룰라이트개선 #튼살개선 #지방분해 #탄력개선</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">100,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-cellulite">
				<h2 class="section-head__tit tit-v1">
					바노바기 <span class="inline-block">셀룰라이트 OUT,</span><br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					셀룰라이트 OUT 프로그램은 환자의 상태에 따라 1:1 맞춤형 시술로 진행되며
					주변조직 손상이 거의 없이 단단히 뭉친 지방세포나 셀룰라이트를 물리적으로 파괴합니다.
					셀룰라이트 뿐만 아니라 혈액순환, 튼살 개선 및 피부탄력 강화에도 도움이 됩니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- section-st1 -->
						<ul class="section-head__list type-black">
							<li class="section-head__item nth-10">
								<div class="vertical">
									<h5 class="section-head__subject type-tight">선택적<br>지방분해</h5>
								</div>
							</li>
							<li class="section-head__item nth-25">
								<div class="vertical">
									<h5 class="section-head__subject type-tight">셀룰라이트<br>개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-33">
								<div class="vertical">
									<h5 class="section-head__subject">부종개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-34">
								<div class="vertical">
									<h5 class="section-head__subject">튼살개선</h5>
								</div>
							</li>
						</ul>
						<div class="inner-box type-cellulite">
							<h4 class="inner-box__tit">
								<span>PETIT</span><br>
								<span>BANOBAGI</span>
							</h4>
						</div>
						<div class="section-head__img">
							<img src="../../images/slim/cellulite/cellulite_bg_2.jpg" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid">
				<div class="section-st1 type-cellulite">
					<div class="content-head type-white">
						<div class="content-head__wrap">
							<h3 class="content-head__tit">BE PRETTY!</h3>
							<p class="content-head__txt">BANOBAGI CELLULITE OUT</p>
						</div>
					</div>
					<div class="section-st1__wrap">
						<div class="section-st1__box">
							<div class="section-st1__img">
								<img src="../../images/slim/cellulite/cellulite_img_1.jpg" alt="셀룰라이트 OUT">
							</div>
							<h2 class="section-st1__tit tit-v1">
								QUICK&amp;SLIM
							</h2>
							<h3 class="section-st1__subtit subtit-v1">
								가리고 싶은 울퉁불퉁한 <strong>셀룰라이트!</strong><br>
								나만을 위한 시술프로그램으로 지방분해와 탄력개선까지!
							</h3>
							<p class="highlight1 type-slim">햇살 아래서도 당당하게!</p><br>
							<p class="highlight2 type-slim">셀룰라이트와 이별하자!</p>
						</div>
						<p class="section-st1__txt txt-v1">
							밝은 조명과 햇살 아래서 울퉁불퉁하게 보여지던 셀룰라이트,
							뭉침의 정도에 따라 맞춤형 프로그램으로
							셀룰라이트 개선은 물론 지방분해, 피부탄력개선의 효과까지!<br><br>

							셀룰라이트 OUT으로 뭉쳐진 지방, 튼살과 이별하고
							피부탄력, 매끄러운 피부가 될 수 있도록 도와 드릴께요!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-cellulite">
				<h2 class="how__tit tit-v1">어떻게 날씬해질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 30분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">빠른 일상생활</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-slim">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_11.png" alt="1:1 맞춤 프로그램 상담" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">1:1 맞춤 프로그램 상담</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_12.png" alt="시술 부위 체크" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술 부위 체크</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_21.png" alt="시술진행" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술진행</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_22.png" alt="시술 후 경과체크" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술 후 경과체크</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="surgery type-cellulite">
				<h2 class="surgery__tit tit-v1">나에게 꼭 맞는 시술은?</h2>
				<div class="surgery__area">
					<ul class="surgery__list">
						<li class="surgery__item">
							<div class="surgery__img">
								<img src="../../images/slim/cellulite/cellulite_surgery_1.jpg" alt="스무스 쉐이프XV" class="img-responsive">
							</div>
							<div class="surgery__box">
								<h3 class="surgery__subject">엑스 V</h3>
								<p class="surgery__txt">
									레이저와 적외선으로 지방분해 및
									셀룰라이트 개선! 부기, 통증 거의 없이,
									FDA KFDA 인증된 안전한 시술!
								</p>
							</div>
						</li>
						<li class="surgery__item">
							<div class="surgery__img">
								<img src="../../images/slim/cellulite/cellulite_surgery_2.jpg" alt="체외충격파" class="img-responsive">
							</div>
							<div class="surgery__box">
								<h3 class="surgery__subject">체외충격파</h3>
								<p class="surgery__txt">
									음속보다 빠른 압력파동으로 단단히
									뭉친 지방세포+셀룰라이트 파괴!
									튼살 및 피부탄력 개선 효과까지!
								</p>
							</div>
						</li>
						<li class="surgery__item">
							<div class="surgery__img">
								<img src="../../images/slim/cellulite/cellulite_surgery_3.jpg" alt="고주파테너" class="img-responsive">
							</div>
							<div class="surgery__box">
								<h3 class="surgery__subject">고주파테너</h3>
								<p class="surgery__txt">
									물 분자를 진동시켜 셀룰라이트 개선!
									지방분해+셀룰라이트+리프팅을
									동시에!
								</p>
							</div>
						</li>
						<li class="surgery__item">
							<div class="surgery__img">
								<img src="../../images/slim/cellulite/cellulite_surgery_4.jpg" alt="더블 HPL" class="img-responsive">
							</div>
							<div class="surgery__box">
								<h3 class="surgery__subject">더블 HPL</h3>
								<p class="surgery__txt">
									좁은 부위 국소비만 및 셀룰라이트 개선!
									셀룰라이트 분해+지방연소를 동시에!
								</p>
							</div>
						</li>
					</ul>
					<a href="" class="slider__btn slider__btn-prev js-surgery-prev">이전</a>
					<a href="" class="slider__btn slider__btn-next js-surgery-next">다음</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-cellulite">
				<h2 class="where__tit tit-v1">어디가 날씬해질까?</h2>
				<div class="where__img2">
					<img src="../../images/slim/cellulite/cellulite_bg_5_t.jpg" alt="어디가 날씬해질까? - 시술부위">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">1</span>
									<img src="../../images/slim/cellulite/cellulite_where_1.png" alt="팔뚝" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔뚝</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">2</span>
									<img src="../../images/slim/cellulite/cellulite_where_2.png" alt="복부" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">복부</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">3</span>
									<img src="../../images/slim/cellulite/cellulite_where_3.png" alt="엉덩이 밑" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">엉덩이 밑</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">4</span>
									<img src="../../images/slim/cellulite/cellulite_where_4.png" alt="허벅지/종아리" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">허벅지/종아리</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-cellulite">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기<br>
						셀룰라이트 OUT
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">합리적인 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-component">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 노하우</h3>
								<p class="detail__txt txt-v2">서울대 출신의 다양한 경력을 가진 디테일리스트 의료진이 만족도 높은 시술을 제공합니다.</p>
							</div>
						</li>
						<li class="detail__item type-total">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">시술 효과를 높인 종합 노하우</h3>
								<p class="detail__txt txt-v2">
									지속적인 학술활동과 임상실험, 집도의의 섬세하고 전문화된 시술로 시술 효과를 높입니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 프로그램 구성</h3>
								<p class="detail__txt txt-v2">
									단순한 체중감량이 아닌, 바디라인의 아름다움을 살리기 위하여
									지방분해, 라인교정, 셀룰라이트제거를 위한 프로그램을 제공합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">ONLY 시술, 비교적 빠른 효과!</h3>
								<p class="detail__txt txt-v2">비교적 빠른 회복이 가능하도록 시술을 통한 다이어트 프로그램으로 일상생활 지장 없이 체중감량을 하실 수 있습니다.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
