<%
	type = "content"
	page = "slim"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-ulfit">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">날씬해지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">울핏</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							날씬해지는<br class="hidden-tm">
							<span class="color-slim">바노바기 울핏</span>
						</h2>
						<h3 class="visual__tag">#피부탄력개선 #바디타이트닝 #지방감소</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">50,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-ulfit">
				<h2 class="section-head__tit tit-v1">
					바노바기 울핏,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					바디전용 초음파 리프팅 울핏은 별도의 수술과 마취 없이도 피부 전층에 탄력을 주는 2단계 리프팅으로
					늘어진 피부탄력과 체지방감소 및 셀룰라이트를 한번에 개선합니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- section-st1 -->

						<ul class="section-head__list">
							<li class="section-head__item nth-26">
								<div class="vertical">
									<h5 class="section-head__subject type-tight">바디<br> 타이트닝</h5>
								</div>
							</li>
							<li class="section-head__item nth-25">
								<div class="vertical">
									<h5 class="section-head__subject type-multi">셀룰라이트<br> 개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-10">
								<div class="vertical">
									<h5 class="section-head__subject">지방분해</h5>
								</div>
							</li>
							<li class="section-head__item nth-41">
								<div class="vertical">
									<h5 class="section-head__subject type-multi">리프팅<br>효과</h5>
								</div>
							</li>
						</ul>
						<div class="section-head__img">
							<img src="../../images/slim/ulfit/ulfit_bg_1.png" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="content-head2 type-ulfit">
				<div class="content-head2__wrap">
					<h2 class="content-head2__tit tit-v1">QUICK&<span class="color-slim">SIMPLE</span></h2>
					<p class="content-head2__txt subtit-v2">두 번 당겨주는 바디 타이트닝!<br> <span class="content-head2__point">피부탄력은 UP! 지방+셀룰라이트는 OUT!</span></p>				</div>
				<div class="explanation">
					<div class="explanation__img">
						<img src="../../images/slim/ulfit/ulfit_img_1.jpg" alt="">
					</div>
					<div class="explanation__box">
						<div class="explanation__wrap">
							<p class="explanation__txt">
								6mm, 9mm의 깊이에 고강도<br>
								집속초음파 에너지 전달로<br>
								<strong class="explanation__point">2번 당겨주는 타이트닝!</strong>
							</p>
						</div>
					</div>
				</div><!-- //explanation-->
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="need type-ulfit type-little">
				<div class="need__box">
					<h2 class="need__tit">ULFIT POINT!</h2>
					<ol class="need__list">
						<li class="need__item">
							<div class="need__wrap">피부 겉 <strong>처짐, 늘어짐 개선</strong></div>
						</li>
						<li class="need__item">
							<div class="need__wrap">피부 속 <strong>지방분해</strong></div>
						</li>
						<li class="need__item">
							<div class="need__wrap">울퉁불퉁 <strong>셀룰라이트 개선</strong></div>
						</li>
						<li class="need__item">
							<div class="need__wrap">비교적 <strong>안전하고 빠른 시술</strong></div>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="advantage">
				<div class="advantage__wrap">
					<div class="advantage__outer">
						<div class="advantage__inner">
							<p class="advantage__subtit">어떤 것도 놓칠 수 없다!</p>
							<h3 class="advantage__tit">
								<span class="advantage__plus"><span class="color-slim">피부</span>탄력</span>
								<span class="advantage__plus"><span class="color-slim">지방</span>분해</span>
							</h3>
							<div class="advantage__img">
								<div class="advantage__box">
									<div class="advantage__outer">
										<div class="advantage__inner">
											<div class="advantage__headline">울핏레이저</div>
										</div>
									</div>
								</div>
							</div><!-- //advantage__img-->
							<p class="advantage__caption">
								<span class="advantage__arrow type-down">지방은 줄이고</span><span class="advantage__arrow type-up"> 탄력은 올리고</span><br>
								피부를 쫀쫀하게 타이트닝하자!
							</p>
						</div>
					</div>
				</div><!-- //advantage__wrap-->
				<ul class="advantage__list">
					<li class="advantage__item">
						<div class="advantage__header">
							<div class="advantage__inner">
								<h4 class="advantage__subject">수술NO</h4>
							</div>
						</div>
						<div class="advantage__body">
							<div class="advantage__inner">
								<p class="advantage__txt">초음파레이저 만으로 <strong class="advantage__point">비교적 간편한 리프팅</strong></p>
							</div>
						</div>
					</li>
					<!--//advantage__item-->
					<li class="advantage__item">
						<div class="advantage__header">
							<div class="advantage__inner">
								<h4 class="advantage__subject">비교적<br>빠른 시술</h4>
							</div>
						</div>
						<div class="advantage__body">
							<div class="advantage__inner">
								<p class="advantage__txt">넓은 시술 팁, 보다 빠른 연속 에너지 조사로 <strong class="advantage__point">비교적 짧은 시술시간</strong></p>
							</div>
						</div>
					</li>
					<!--//advantage__item-->
					<li class="advantage__item">
						<div class="advantage__header">
							<div class="advantage__inner">
								<h4 class="advantage__subject">지방감소</h4>
							</div>
						</div>
						<div class="advantage__body">
							<div class="advantage__inner">
								<p class="advantage__txt">다이어트 후 남은 <strong class="advantage__point">잔여 지방 및 셀룰라이트까지 개선</strong></p>
							</div>
						</div>
					</li>
					<!--//advantage__item-->
					<li class="advantage__item">
						<div class="advantage__header">
							<div class="advantage__inner">
								<h4 class="advantage__subject">강력한<br>바디 리프팅</h4>
							</div>
						</div>
						<div class="advantage__body">
							<div class="advantage__inner">
								<p class="advantage__txt">초음파레이저 만으로 <strong class="advantage__point">교적 간편한 비침습방식의 리프팅</strong></p>
							</div>
						</div>
					</li>
					<!--//advantage__item-->
					<li class="advantage__item">
						<div class="advantage__header">
							<div class="advantage__inner">
								<h4 class="advantage__subject">2단계<br> 탄력 개선</h4>
							</div>
						</div>
						<div class="advantage__body">
							<div class="advantage__inner">
								<p class="advantage__txt">6mm, 9mm 깊이에 고강도 집속 초음파를 전달하여 <strong class="advantage__point">피하지방층 및 복부, 허벅지 등 두꺼운 부위 탄력 개선</strong></p>
							</div>
						</div>
					</li>
					<!--//advantage__item-->
					<li class="advantage__item">
						<div class="advantage__header">
							<div class="advantage__inner">
								<h4 class="advantage__subject">비교적<br>안전한 시술</h4>
							</div>
						</div>
						<div class="advantage__body">
							<div class="advantage__inner">
								<p class="advantage__txt">식품의약품안전처의 허가를 받은 <strong class="advantage__point">인증된 리프팅</strong></p>
							</div>
						</div>
					</li>
					<!--//advantage__item-->
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="procedure">
				<h2 class="procedure__tit tit-v1">2번 당겨주는 2단계 타이트닝!</h2>
				<ol class="procedure__list">
					<li class="procedure__item">
						<div class="procedure__img">
							<img src="../../images/slim/ulfit/ulfit_procedure_1.jpg" alt="" class="img-responsive">
						</div>
						<div class="procedure__box">
							<p class="procedure__txt">기존의 진피와 피하지방층</p>
						</div>
					</li>
					<li class="procedure__item">
						<div class="procedure__img">
							<img src="../../images/slim/ulfit/ulfit_procedure_2.jpg" alt="" class="img-responsive">
						</div>
						<div class="procedure__box">
							<p class="procedure__txt">6mm, 9mm의 깊이에 고강도집속초음파 에너지 전달</p>
						</div>
					</li>
					<li class="procedure__item">
						<div class="procedure__img">
							<img src="../../images/slim/ulfit/ulfit_procedure_3.jpg" alt="" class="img-responsive">
						</div>
						<div class="procedure__box">
							<p class="procedure__txt">진피와 피하지방층에 열 응고 구역을 유발시켜 응고괴사 유발</p>
						</div>
					</li>
					<li class="procedure__item">
						<div class="procedure__img">
							<img src="../../images/slim/ulfit/ulfit_procedure_4.jpg" alt="" class="img-responsive">
						</div>
						<div class="procedure__box">
							<p class="procedure__txt">신체의 두꺼운 부위인 복부 및 허벅지에 적용하여 피부탄력 개선</p>
						</div>
					</li>
				</ol>
			</div><!-- //procedure-->
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-ulfit">
				<h2 class="how__tit tit-v1">어떻게 날씬해질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 60분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-slim">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_11.png" alt="1:1 맞춤 프로그램 상담" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">1:1 맞춤 프로그램 상담</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_36.png" alt="시술 부위 체크 및 초음파 젤 도포" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술 부위 체크 및 초음파 젤 도포</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_37.png" alt="울핏 시술 진행" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">울핏 시술 진행</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_22.png" alt="시술 후 경과체크" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술 후 경과체크</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-ulfit">
				<h2 class="where__tit tit-v1">어디가 날씬해질까?</h2>
				<div class="where__img2">
					<img src="../../images/slim/ulfit/ulfit_bg_3_t.jpg" alt="어디가 날씬해질까? - 시술부위">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">1</span>
									<img src="../../images/slim/ulfit/ulfit_where_1.png" alt="팔뚝/브라라인" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔뚝/브라라인</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">2</span>
									<img src="../../images/slim/ulfit/ulfit_where_2.png" alt="복부/옆구리" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">복부/옆구리</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">3</span>
									<img src="../../images/slim/ulfit/ulfit_where_3.png" alt="허벅지" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">허벅지</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">4</span>
									<img src="../../images/slim/ulfit/ulfit_where_4.png" alt="종아리" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">종아리</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-ulfit">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 울핏
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">합리적인 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-component">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 노하우</h3>
								<p class="detail__txt txt-v2">서울대 출신의 다양한 경력을 가진 디테일리스트 의료진이 만족도 높은 시술을 제공합니다.</p>
							</div>
						</li>
						<li class="detail__item type-total">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">시술 효과를 높인 종합 노하우</h3>
								<p class="detail__txt txt-v2">지속적인 학술활동과 임상실험, 집도의의 섬세하고 전문화된 시술로 시술 효과를 높입니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 프로그램 구성</h3>
								<p class="detail__txt txt-v2">
									단순한 체중감량이 아닌, 바디라인의 아름다움을 살리기 위하여 지방분해, 라인교정, 셀룰라이트제거를 위한 프로그램을 제공합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">ONLY 시술, <span class="inline-block">비교적 빠른 효과!</span></h3>
								<p class="detail__txt txt-v2">
									비교적 빠른 회복이 가능하도록 시술을 통한 다이어트
									프로그램으로 일상생활 지장 없이 체중감량을 하실 수 있습니다.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
