<%
	type = "content"
	page = "slim"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-zeltiq">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="mark">
							<div class="mark__wrap">
								<p class="mark__txt">
									<span class="mark__point">젤틱 쿨 어드벤티지</span>
									<br>도입
								</p>
							</div>
						</div>
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">날씬해지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">젤틱</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							날씬해지는<br>
							<span class="color-slim">바노바기 젤틱</span>
						</h2>
						<h3 class="visual__tag">#지방분해 #다이어트 #셀룰라이트완화 #얼려서 빼자</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">400,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-zeltiq">
				<h2 class="section-head__tit tit-v1">
					바노바기 젤틱,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					약 30%까지 넓어진 시술 면적, 약 35분 내외로 보다 짧아진 시술 시간
					그리고 시술 부위의 굴곡과 면적에 맞게 적용할 수 있도록 더 다양해진
					어플리케이터까지. 바노바기는 젤틱 쿨 어드벤티지를 도입하여 비교적 확실하게 지방층을
					감소 시키고 보다 정교하게 바디라인을 다듬어 효과적으로 체형을 교정합니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- zeltiq-box1 -->
						<ul class="section-head__list type-black">
							<li class="section-head__item nth-0">
								<div class="vertical">
									<h5 class="section-head__subject">보통 한번의 시술로 지방감소!</h5>
								</div>
							</li>
							<li class="section-head__item nth-0">
								<div class="vertical">
									<h5 class="section-head__subject">딱딱하게<br> 뭉친 지방<br> 분해</h5>
								</div>
							</li>
							<li class="section-head__item nth-0">
								<div class="vertical">
									<h5 class="section-head__subject">울퉁불퉁한 셀룰라이트<br> 개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-0">
								<div class="vertical">
									<h5 class="section-head__subject">거의 없는<br> 통증, 멍,<br> 부기</h5>
								</div>
							</li>
						</ul>
						<div class="section-head__img">
							<img src="../../images/slim/zeltiq/zeltiq_bg_2.jpg" alt="">
						</div>
						<p class="section-head__caption3">
							미국 FDA, 유럽 CE, 한국 KFDA의 승인을 받은<br class="hidden-p"> 의료기기로<br class="hidden-tm">
							피부 표면이나 주변 조직 손상 없이, 지방세포만을 냉각시켜 파괴 합니다.
						</p>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->

	<!-- section-video-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-video">
				<h2 class="section-video__tit tit-v1">콕콕 영상</h2>
				<div class="section-video__outer">
					<div class="section-video__inner">
						<iframe class="section-video__iframe" src="https://www.youtube.com/embed/R3pToY1fv74?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="section-video__box type-slim"> <!-- type-petit,type-slim,type-young-->
						<a href="https://www.youtube.com/channel/UC2lzYQ5kXBK0gkVDe5StZzQ" class="section-video__btn txt-v1" target="_blank"><span>바노바기 tv채널 바로가기</span></a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->

	<!-- section-tv -->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-tv">
				<h2 class="section-tv__tit tit-v1">쁘띠 바노바기 TV</h2>

				<div class="section-tv__outer">
		            <div class="section-tv__area">
		                <div class="section-tv__video">
		                    <div id="section-tv-iframe"></div>
		                </div>
		            </div>

		            <div class="section-tv__wrap">
		                <div class="section-tv__box">
		                    <ul class="section-tv__list">
		                        <li class="section-tv__item">
		                            <a class="section-tv__link" data-ytb-id="1mUcybBjzKE">
		                                <div class="section-tv__thum">
		                                    <img src="../../images/content/video_sample_thum_1.jpg" loading="lazy" class="img-w100" alt="">
		                                </div>
		                                <div class="section-tv__txt">
		                                    <div class="section-tv__vertical">
		                                        쌍꺼풀 수술! 절개? 비절개?
		                                        [알려주세요! 원장님]
		                                    </div>
		                                </div>
		                            </a>
		                        </li>
		                        <li class="section-tv__item">
		                            <a class="section-tv__link" data-ytb-id="MYCs5vh7cME">
		                                <div class="section-tv__thum">
		                                    <img src="../../images/content/video_sample_thum_2.jpg" loading="lazy" class="img-w100" alt="">
		                                </div>
		                                <div class="section-tv__txt">
		                                    <div class="section-tv__vertical">
		                                        바노바기 아는의사 Dr.박신기
		                                        [눈성형, 어디까지 알고 있니?]
		                                    </div>
		                                </div>
		                            </a>
		                        </li>
		                        <li class="section-tv__item">
		                            <a class="section-tv__link" data-ytb-id="vZQNGlLI0d4">
		                                <div class="section-tv__thum">
		                                    <img src="../../images/content/video_sample_thum_3.jpg" loading="lazy" class="img-w100" alt="">
		                                </div>
		                                <div class="section-tv__txt">
		                                    <div class="section-tv__vertical">
		                                        [눈, 코 성형 QnA]
		                                        구독자가 묻고 바노바기가 답한다!
		                                    </div>
		                                </div>
		                            </a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
			    </div>

				<a href="https://www.youtube.com/channel/UC2lzYQ5kXBK0gkVDe5StZzQ" class="section-tv__btn txt-v1" target="_blank">
					<span class="section-tv__span">view more</span>
				</a>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid type-zeltiq type-static">

				<div class="section-mid__area">
					<div class="section-mid__img">젤틱 사진</div>
				</div>
				<div class="section-mid__wrap">
					<div class="section-mid__box">
						<h2 class="section-mid__tit tit-v1">QUICK&SLIM</h2>
						<h3 class="section-mid__subtit subtit-v1">
							내겐 너무 어렵고 귀찮기만 한 다이어트<br>
							이젠 내일로 미루지 마세요!
						</h3>
						<p class="highlight1 type-slim">편안하게 보다 확실한 사이즈 감소를 원한다면?</p><br>
						<p class="highlight2 type-slim">이젠 젤틱 쿨 어드벤티지로 관리하세요!</p>
						<p class="section-mid__txt txt-v1">
							젤틱 쿨어드벤티지를 도입하고 시술에 적용하는 이유는 지방흡입이 아닌
							젤틱을 선택하신 분들에게 그만큼의 편안함을 드리기 위해서 입니다.
							<br><br>

							수술이 아닌 시술인 만큼 비교적 편하게 받을 수 있지만 지방 제거 효과는
							보다 만족스러울 수 있도록, 바노바기는 시술 받는 분의 입장을 가장 먼저 생각합니다.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-zeltiq">
				<h2 class="how__tit tit-v1">어떻게 날씬해질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 50분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">마취없음</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">빠른 일상생활</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">2<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-slim">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_31.png" alt="시술 부위 및 적용할 어플리케이터 선택" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술 부위 및 적용할 어플리케이터 선택</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_32.png" alt="젤틱패치 부착" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">젤틱패치 부착</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_33.png" alt="조직 손상  거의 없이 지방세포를 선택적으로 냉각" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">조직 손상  거의 없이 지방세포를 선택적으로 냉각</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_34.png" alt="마사지" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">마사지</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-zeltiq">
				<h2 class="where__tit tit-v1">어디가 날씬해질까?</h2>
				<div class="where__img2">
					<img src="../../images/slim/zeltiq/zeltiq_bg_3_t.jpg" alt="어디가 날씬해질까?">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">1</span>
									<img src="../../images/slim/zeltiq/zeltiq_where_1.png" alt="이중턱" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">이중턱</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">2</span>
									<img src="../../images/slim/zeltiq/zeltiq_where_2.png" alt="팔/부유방/겨드랑이" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔/부유방/겨드랑이</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">3</span>
									<img src="../../images/slim/zeltiq/zeltiq_where_3.png" alt="여유증" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">여유증</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">4</span>
									<img src="../../images/slim/zeltiq/zeltiq_where_4.png" alt="상복부, 하복부" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">상복부, 하복부</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">5</span>
									<img src="../../images/slim/zeltiq/zeltiq_where_5.png" alt="옆구리(러브핸들)/등(브라라인)" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">옆구리(러브핸들)/등(브라라인)</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">6</span>
									<img src="../../images/slim/zeltiq/zeltiq_where_6.png" alt="엉덩이" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">엉덩이</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">7</span>
									<img src="../../images/slim/zeltiq/zeltiq_where_7.png" alt="바깥족 허벅지/안쪽허벅지" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">바깥족 허벅지/안쪽허벅지</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-slim">8</span>
									<img src="../../images/slim/zeltiq/zeltiq_where_8.png" alt="무릎, 종아리" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">무릎, 종아리</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- section-video-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-video">
				<h2 class="section-video__tit tit-v1">콕콕 영상</h2>
				<div class="section-video__outer">
					<div class="section-video__inner">
						<iframe class="section-video__iframe" src="https://www.youtube.com/embed/R3pToY1fv74?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="section-video__box type-slim"> <!-- type-petit,type-slim,type-young-->
						<a href="https://www.youtube.com/channel/UC2lzYQ5kXBK0gkVDe5StZzQ" class="section-video__btn txt-v1" target="_blank"><span>바노바기 tv채널 바로가기</span></a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="detail type-zeltiq">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 젤틱
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">합리적인 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-component">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">만족도를 높이는 <span class="inline-block">디테일한 시술</span></h3>
								<p class="detail__txt txt-v2">시술 집도 시 자칫하면 그냥 지나치기 쉬운 디테일한 부분까지 세심하게 체크하며 체계적으로 진행합니다.</p>
							</div>
						</li>
						<li class="detail__item type-total">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">시술 효과를 높인 종합 노하우</h3>
								<p class="detail__txt txt-v2">지속적인 학술활동과 임상실험, 집도의의 섬세하고 전문화된 시술로 시술 효과를 높입니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 프로그램 구성</h3>
								<p class="detail__txt txt-v2">단순한 체중감량이 아닌, 바디라인의 아름다움을 살리기 위하여 지방분해, 라인교정, 셀룰라이트제거를 위한 프로그램을 제공합니다.</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">ONLY 시술, <span class="inline-block">비교적 빠른 효과!</span></h3>
								<p class="detail__txt txt-v2">
									비교적 빠른 회복이 가능하도록 시술을 통한 다이어트 프로그램
									으로 일상생활 지장 없이 체중감량을 하실 수 있습니다.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
