<%
	type = "etcf"
	page = "etc"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="etc-visual type-etc2">
		<div class="etc-visual__outer">
			<div class="etc-visual__inner">
				<div class="etc-visual__box">
					<div class="etc-visual__wrap">
						<h2 class="etc-visual__tit">바노바기 <span class="color-petit">이용약관</span></h2>
						<p class="etc-visual__txt">바노바기 홈페이지 회원이용약관에 대해 알려드립니다.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="etc">
			<!-- 이용약관 Start -->
				<div class="etc__content is-active">
					<h2 class="etc__subject">
						이 약관은<br class="hidden-t">
						바노바기성형외과의원(이하 ‘회사’)가 제공하는 서비스 이용조건 및 절차에 대한 사항과 기타 필요한 사항을 전기통신사업법 및 동법 시형령이 정하는 대로 준수하고 규정함을 목적으로 합니다.
					</h2>
					<ul class="etc__list type-terms">
						<li class="etc__item" id="etc-tit1">
							<dl class="etc__dl">
								<dt class="etc__dt">
									<span class="etc__num">제 1조</span><br>
									목적
								</dt>
								<dd class="etc__dd">
									<div class="etc__para">
										바노바기성형외과의원(http://www.banobagi.co.kr) 이용자 약관(이하 "본 약관"이라 합니다)은 이용자가 바노바기성형외과의원에서 제공하는 인
										터넷 관련 서비스(이하 "서비스"라 합니다)를 이용함에 있어 회원과 바노바기성형외과의원의 권리·의무 및 책임사항을 규정함을 목적으로 합니다.
									</div>
								</dd>
							</dl>
						</li>
						<li class="etc__item" id="etc-tit2">
							<dl class="etc__dl">
								<dt class="etc__dt">
									<span class="etc__num">제 2 조</span><br>
									회원의 정의
								</dt>
								<dd class="etc__dd">
									<div class="etc__para">
										"회원"이란 바노바기성형외과의원에 접속하여 본 약관에 따라 바노바기성형외과의원 온라인 회원으로 가입하여 바노바기성형외과피부과의원이
										제공하는 서비스를 받는 자를 말합니다.
									</div>
								</dd>
							</dl>
						</li>
						<li class="etc__item" id="etc-tit3">
							<dl class="etc__dl">
								<dt class="etc__dt">
									<span class="etc__num">제 3 조</span><br>
									회원가입
								</dt>
								<dd class="etc__dd">
									<div class="etc__para">
										<ol class="bullet__list type-circle">
											<li class="bullet__item nth-1">회원이 되고자 하는 자는 바노바기성형외과의원이 정한 가입 양식에 따라 회원정보를 기입하고 "등록하기" 단추를 누르는 방법으로 회원 가입을 신청합니다.</li>
											<li class="bullet__item nth-2">회원가입계약의 성립시기는 바노바기성형외과의원의 승낙이 가입신청자에게 도달한 시점으로 합니다.</li>
										</ol>
									</div>
								</dd>
							</dl>
						</li>
						<li class="etc__item" id="etc-tit4">
							<dl class="etc__dl">
								<dt class="etc__dt">
									<span class="etc__num">제 4 조</span><br>
									서비스의 제공 및 변경
								</dt>
								<dd class="etc__dd">
									<div class="etc__para">
										<ol class="bullet__list type-circle">
											<li class="bullet__item nth-1">바노바기성형외과의원은 회원에게 아래와 같은 서비스를 제공합니다.
												<ol class="bullet__list type-num">
													<li class="bullet__item">바노바기성형외과의원 뉴스 메일 서비스</li>
													<li class="bullet__item">바노바기성형외과의원 온라인 상담실 /예약 이용 서비스</li>
													<li class="bullet__item">바노바기성형외과의원 온라인 회원을 위한 섹션 및 컨텐츠 서비스 </li>
													<li class="bullet__item">기타 바노바기성형외과의원이 타 업체와 제휴해서 제공하는 각종 서비스</li>
												</ol>
											</li>
											<li class="bullet__item nth-2">바노바기성형외과의원은 그 변경될 서비스의 내용 및 제공일자를 회원에게 통지하고, 서비스를 변경하여 제공할 수 있습니다. </li>
										</ol>
									</div>
								</dd>
							</dl>
						</li>
						<li class="etc__item" id="etc-tit5">
							<dl class="etc__dl">
								<dt class="etc__dt">
									<span class="etc__num">제 5 조</span><br>
									서비스의 중단
								</dt>
								<dd class="etc__dd">
									<div class="etc__para">
										바노바기성형외과의원은 컴퓨터 등 정보통신설비의 보수점검·교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로
										중단할 수 있고, 새로운 서비스로의 교체 기타 바노바기성형외과의원이 적절하다고 판단하는 사유에 기하여 현재 제공되는 서비스를 완전히 중단할
										수 있습니다.
									</div>
								</dd>
							</dl>
						</li>
						<li class="etc__item" id="etc-tit6">
							<dl class="etc__dl">
								<dt class="etc__dt">
									<span class="etc__num">제 6 조</span><br>
									회원 탈퇴 및 자격 상실
								</dt>
								<dd class="etc__dd">
									<div class="etc__para">
										<ol class="bullet__list type-circle">
											<li class="bullet__item nth-1">회원은 바노바기성형외과의원에 언제든지 자신의 회원 등록을 말소해 줄 것(회원 탈퇴)을 요청할 수 있으며, 바노바기성형외과의원은 위 요청을 받은 즉시 해당 회원의 회원 등록 말소를 위한 절차를 밟습니다.</li>
											<li class="bullet__item nth-2">회원이 다음 각 호의 사유에 해당하는 경우, 바노바기성형외과의원은 회원의 회원자격을 적절한 방법으로 제한 및 정지, 상실시킬 수 있습니다.
												<ol class="bullet__list type-num">
													<li class="bullet__item">가입 신청 시에 허위 내용을 등록한 경우</li>
													<li class="bullet__item">바노바기성형외과의원 사이트 이용을 방해하거나 그 정보를 도용하는 등 전자거래질서를 위협하는 경우</li>
													<li class="bullet__item">바노바기성형외과의원을 이용하여 법령과 본 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우</li>
												</ol>
											</li>
										</ol>
									</div>
								</dd>
							</dl>
						</li>
						<li class="etc__item" id="etc-tit7">
							<dl class="etc__dl">
								<dt class="etc__dt">
									<span class="etc__num">제 7 조</span><br>
									회원의 개인정보보호
								</dt>
								<dd class="etc__dd">
									<div class="etc__para">
										바노바기성형외과의원은 관련법령이 정하는 바에 따라서 회원 등록정보를 포함한 회원의 개인정보를 보호하기 위하여 노력합니다.
										회원의 개인정보보호에 관해서는 관련법령 및 바노바기성형외과의원이 정하는 "개인정보보호정책"에 정한 바에 의합니다.
									</div>
								</dd>
							</dl>
						</li>
						<li class="etc__item" id="etc-tit8">
							<dl class="etc__dl">
								<dt class="etc__dt">
									<span class="etc__num">제 8 조</span><br>
									바노바기성형외과의원의 의무
								</dt>
								<dd class="etc__dd">
									<div class="etc__para">
										<ol class="bullet__list type-circle">
											<li class="bullet__item nth-1">바노바기성형외과의원은 법령과 본 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 본 약관이 정하는 바에 따라 지속적이고, 안정적으로 서비스를 제공하기 위해서 노력합니다.</li>
											<li class="bullet__item nth-2">바노바기성형외과의원은 회원이 안전하게 인터넷 서비스를 이용할 수 있도록 회원의 개인정보(신용정보포함)보호를 위한 보안 시스템을 구축합니다.</li>
											<li class="bullet__item nth-3">바노바기성형외과의원은 회원이 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.</li>
										</ol>
									</div>
								</dd>
							</dl>
						</li>
						<li class="etc__item" id="etc-tit9">
							<dl class="etc__dl">
								<dt class="etc__dt">
									<span class="etc__num">제 9 조</span><br>
									회원의 ID 및 비밀번호에 대한 의무
								</dt>
								<dd class="etc__dd">
									<div class="etc__para">
										<ol class="bullet__list type-circle">
											<li class="bullet__item nth-1">바노바기성형외과의원이 관계법령, "개인정보보호정책"에 의해서 그 책임을 지는 경우를 제외하고, 자신의 ID와 비밀번호에 관한 관리책임은 각 회원에게 있습니다.</li>
											<li class="bullet__item nth-2">회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.</li>
											<li class="bullet__item nth-3"> 회원은 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 바노바기성형외과의원에 통보하고 바노바기성형외과의원의 안내가 있는 경우에는 그에 따라야 합니다.</li>
										</ol>
									</div>
								</dd>
							</dl>
						</li>
						<li class="etc__item" id="etc-tit10">
							<dl class="etc__dl">
								<dt class="etc__dt">
									<span class="etc__num">제 10 조</span><br>
									공개게시물의 삭제
								</dt>
								<dd class="etc__dd">
									<div class="etc__para">
										회원의 공개게시물의 내용이 공서양속에 위반되거나 범죄행위와 관련이 있거나 다른 회원 또는 제3자를 비방하여 명예를 손상시키는 내용에 해당하
										는 경우 바노바기성형외과의원은 회원에게 사전 통지 없이 해당 공개게시물을 삭제할 수 있고, 해당 회원의 회원 자격을 제한, 정지 또는 상실시킬 수
										있습니다.
									</div>
								</dd>
							</dl>
						</li>
						<li class="etc__item" id="etc-tit11">
							<dl class="etc__dl">
								<dt class="etc__dt">
									<span class="etc__num">제 11 조</span><br>
									저작권의 귀속 및 이용제한
								</dt>
								<dd class="etc__dd">
									<ol class="bullet__list type-circle">
										<li class="bullet__item nth-1">바노바기성형외과의원이 작성한 저작물에 대한 저작권 기타 지적재산권은 바노바기성형외과의원에 귀속합니다.</li>
										<li class="bullet__item nth-2">회원은 바노바기성형외과의원을 이용함으로써 얻은 정보를 바노바기성형외과의원의 사전승낙 없이 복제, 전송, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다. </li>
									</ol>
								</dd>
							</dl>
						</li>
						<li class="etc__item" id="etc-tit12">
							<dl class="etc__dl">
								<dt class="etc__dt">
									<span class="etc__num">제 12 조</span><br>
									약관의 개정
								</dt>
								<dd class="etc__dd">
									<div class="etc__para">
										바노바기성형외과의원은 약관의 규제 등에 관한 법률, 전자거래기본법, 전자서명법, 정보통신망 이용촉진 등에 관한 법률 등 관련법을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다. 변경된 약관에 이의가 있는 회원은 탈퇴할 수 있습니다.
									</div>
								</dd>
							</dl>
						</li>
						<li class="etc__item" id="etc-tit13">
							<dl class="etc__dl">
								<dt class="etc__dt">
									<span class="etc__num">제 13 조</span><br>
									재판 관할
								</dt>
								<dd class="etc__dd">
									<div class="etc__para">
										바노바기성형외과의원과 회원간에 발생한 서비스 이용에 관한 분쟁으로 인한 소는 민사소송법상의 관할을 가지는 대한민국의 법원에 제기합니다.
									</div>
								</dd>
							</dl>
						</li>
						<li class="etc__item" id="etc-tit14">
							<dl class="etc__dl">
								<dt class="etc__dt">
									부칙
								</dt>
								<dd class="etc__dd">
									<div class="etc__para">
										이 약관은 2002년 1월 1일을 시작으로 새로운 약관이 나오기 전까지 사용한다.
									</div>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div><!-- //etc -->
		</div>
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
