<%
	type = "membership"
	page = "join"
%>
<% include ../_include/_header %>
<div class="container type-bottom">
	<div class="etc-visual type-join1">
		<div class="etc-visual__outer">
			<div class="etc-visual__inner">
				<div class="etc-visual__box">
					<div class="etc-visual__wrap">
						<h2 class="etc-visual__tit">회원가입</h2>
						<p class="etc-visual__txt">고객님의 개인정보보호를 위해 개인정보 보호지침을<br> 마련하여 이를 준수하고 있습니다.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="join">
				<ul class="join-step__list">
					<li class="join-step__item is-active nth-1"><h2 class="join-step__tit">약관동의</h2></li>
					<li class="join-step__item nth-2"><h2 class="join-step__tit">정보입력</h2></li>
					<li class="join-step__item nth-3"><h2 class="join-step__tit">가입완료</h2></li>
				</ul>
				<form id="frmJoinStep1" name="frmJoinStep1" method="post" action="membershipJoinStep2.php">
					<div class="join__wrap">
						<!-- 개인정보보호 정책 -->
			            <div class="join-notice">
			                <h3 class="join-notice__tit">
			                    바노바기 성형외과 회원가입을 이용해주셔서 감사합니다. <br>본원은 고객님의 개인정보를 보호하기 위해 다음과 같은 정책을 준수하고 있습니다.
			                </h3>
			                <div class="join-notice__area">
			                    <!-- 개인정보 보호 정책 공통 -->
			                    <div class="policy-notice">
			                        <div class="policy-notice__box">
			                            <ol class="policy-notice__list">
			                                <li class="policy-notice__item">
			                                    <p class="policy-notice__tit">최소한의 정보(아이디, 비밀번호)만 수집합니다.</p>
			                                    <p class="policy-notice__txt">단, 회원가입시 입력하는 핸드폰 번호는 본인인증을 위한 수단으로 사용되며, 수집되지는 않습니다.</p>
			                                </li>
			                                <li class="policy-notice__item">
			                                    <p class="policy-notice__tit">수집된 정보는 암호화 하여 보관합니다.</p>
			                                    <p class="policy-notice__txt">이에, <span class="policy-notice__span">고객님께서 아이디와 비밀번호를 분실하셨을 경우 새롭게 회원가입을 진행</span>하셔야 합니다.</p>
			                                </li>
			                                <li class="policy-notice__item">
			                                    <p class="policy-notice__tit">로그인 시도가 10회를 넘어가는 경우 해당 계정은 바로 삭제됩니다.</p>
			                                </li>
			                                <li class="policy-notice__item">
			                                    <p class="policy-notice__tit">마지막 로그인이 1년이 지난 계정정보는 삭제합니다.</p>
			                                </li>
			                            </ol>
			                        </div>
			                    </div>
			                    <!-- // 개인정보 보호 정책 공통 -->

			                    <p class="join-notice__desc">
			                        고객님께서 서비스를 사용함에 있어 번거로움을 드려 죄송합니다.<br>
			                        고객님의 개인정보 보호를 위한 정책이므로 많은 양해 부탁드립니다.
			                    </p>
			                </div>
			            </div>
			            <!-- // 개인정보보호 정책 -->
						<ul class="join-agree__list">
							<li class="join-agree__item">
								<h3 class="join-agree__tit">바노바기 피부과 회원 이용약관에 <span class="inline-block"><span class="membership__point">모두 동의</span>합니다.</span></h3>
								<p class="join-agree__txt">회원가입 전 이용약관 및 개인정보 보호 정책을 반드시 확인하여 주시길 바랍니다.</p>
								<div class="join-agree__check">
									<input type="checkbox" name="join_chk_agree_all" id="join_chk_agree_all" class="checkbox01" value="Y"><label for="join_chk_agree_all" class="solo">전체동의</label>
								</div>
							</li>
							<li class="join-agree__item">
								<h3 class="join-agree__tit type-another">회원가입약관</h3>
								<div class="join-agree__box">
									<!--약관 -->
									<div class="termsTxt">
										<div class="box">
											<p>바노바기피부과의원 (이하 &lsquo;본원&rsquo;라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
											<br>
											<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
											<br>
											<p>본 개인정보처리방침은 정부의 법률 및 지침 변경이나 병원의 내부방침 변경 등으로 인하여 수시로 변경될 수 있으며, 변경사항이 있을 경우 즉시 관련 내용을 홈페이지 초기 화면에 게시된 개인정보처리방침에 반영하고 있습니다.</p>
											<br>
											<p>본 개인정보처리방침을 통하여 이용자는 수집된 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 어떻게 안전하게 보호되고 있는지 이해하실 수 있을 것입니다.</p>


											<p>이 개인정보처리방침의 순서는 다음과 같습니다. </p>
											<br><br>
											<p>1. 수집하는 개인정보의 항목 및 수집방법</p>
											<p>2. 개인정보의 수집 및 이용목적</p>
											<p>3. 개인정보의 보유 및 이용기간</p>
											<p>4. 개인정보의 파기절차 및 그 방법</p>
											<p>5. 개인정보 제공 및 공유</p>
											<p>6. 동의철회 방법</p>
											<p>7. 개인정보 자동 수집 장치의 설치/운영 및 그 거부에 관한 사항</p>
											<p>8. 개인정보관리책임자</p>
											<p>9. 개인정보의 안전성 확보조치</p>
											<p>10. 정책 변경에 따른 공지의무</p>
											<p>11. 정보의 취급위탁</p>
											<br><br><br>
											<p>1. 수집하는 개인정보의 항목 및 수집방법</p><br>
											<p>본원은 서비스 이용을 위해 필요한 최소한의 개인 정보만을 수집합니다. </p>
											<br>  <br>
											<p>[진료정보] </p>
											<p>- 수집항목 : 성명, 주민등록번호, 주소, 연락처, 진료기록</p>
											<p>※ 의료법에 의해 고유식별정보 및 진료정보를 의무적으로 보유하여야 하여야 함(별도 동의 불필요)</p><br>

											<p>[홈페이지 이용 시 수집항목] </p>
											<p>- 수집항목 : 이름, 연락처, 성형관심부위, 이메일</p>
											<p>- 서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다. : 서비스 이용기록, 접속 로그, 쿠키, 접속 IP 정보 </p>

											<br>
											<p>[개인정보 수집방법] </p>
											<p>- 다음과 같은 방법으로 개인정보를 수집합니다.</p>
											<p>홈페이지, 서면양식, 팩스, 전화, 이메일, 실시간상담 , 카카오톡상담, 비용상담, 영상기기</p>

											<br><br><br>
											<p>2. 개인정보의 수집 및 이용목적 </p><br>
											<p>본원은 수집한 개인정보를 다음의 목적을 위해 활용합니다.</p>
											<p>이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 것입니다.</p><br>

											<p>[진료정보]</p>
											<p>- 진단 및 치료를 위한 진료서비스와 청구, 수납 및 환급 등의 원무서비스 제공</p><br>
											<p>[홈페이지 수집정보]</p>
											<p>- 필수정보 : 홈페이지를 통한 진료 예약, 예약조회 등의 서비스 제공</p>
											<p>- 선택정보 : MMS, SNS, SMS, 이메일을 통한 본원소식 및 고지사항 전달, 질병정보 안내, 설문조사, 불만처리 등을 위한 원활한 의사소통 경로의 확보 등</p>
											<br><br><br>

											<p>[영상정보 처리기기 운영, 관리 방침]</p>
											<p>- 본원은 영상정보 처리기기 운영 관리방침을 통해 본원에서 처리하는 <br>영상정보가 어떠한 용도와 방식으로 이용, 관리 되고 있는지 알려드립니다.<br><br>
											<p>제1조 (영상정보처리기기의 설치 근거 및 설치 목적)</p>
											<p>본원은 개인정보보호법 제25조 제1항에 따라 다음과 같은 목적으로 영상정보 처리기기를 설치 운영합니다.
											<p>- 시설안전 및 화재 예방</p>
											<p>- 고객의 안전을 위한 범죄 예방</p>
											<br><br>
											<p>제2조 (설치대수, 설치위치 및 촬영범위)</p>
											<p>영상정보처리기기의 설치대수, 위치 및 촬영범위는 아래와 같습니다. </p><br><br>
											<p>- 설치대수 88대</p>
											<p>- 설치 위치 및 촬영범위 건물 로비 및 복도, 엘리베이터 내부 등</p><br><br>
											<p>제3조 (관리책임자 및 접근권한자)</p>
											<p>정보주체의 영상정보를 보호하고 개인영상정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인영상정보 보호 책임자를 두고 있습니다.</p>
											<p>- 관리책임자 : 이민영 총괄실장 (관리팀) 02-561-5510</p>
											<p>- 접근권한자 : 김경희 팀장 (관리팀) 02-552-0490</p><br><br>
											<p>제4조 (영상정보의 촬영시간, 보관기간)</p>
											<p>영상정보의 촬영 시간, 보관 기간 및 보관 장소는 아래와 같습니다. </p>
											<p>- 촬영시간 : 24시간</p>
											<p>- 보관기간 : 촬영일로부터 14일 이내</p>
											<p>- 보관장소 : 원내서버실</p><br><br>

											<p>제5조 (개인영상정보의 확인 방법 및 장소에 관한 사항)</p>
											<p>- 확인 방법 : 영상정보 관리책임자에게 미리 연락하고 본원에 방문하시면 확인 가능합니다.</p>
											<p>- 확인 장소 : 원내서버실</p><br><br>

											<p>제6조 (정보주체의 영상정보 열람 등 요구에 대한 조치)</p>
											<p>정보주체는 개인영상정보에 관하여 열람 또는 존재확인, 삭제를 원하는 경우 언제든지 영상정보 처리기기 운영자에게 요구하실 수 있습니다. <br>
											단, 귀하가 촬영된 개인영상정보 및 명백히 정보주체의 급박한 생명, 신체, 재산의 이익을 위하여 필요한 개인영상정보에 한정됩니다. <br>
											본원은 개인영상정보에 관하여 열람 또는 존재확인, 삭제를 요구한 경우 지체 없이 필요한 조치를 하겠습니다. <br>
											정보주체의 열람 등 요구에도 불구하고 아래와 같은 경우에는 개인영상정보 열람 등 요구를 거부할 수 있으며, <br>
											이 경우에 10일 이내에 서면 등으로 거부 사유 및 불복할 수 있는 방법을 정보주체에게 통지합니다.<br>
											<p>- 개인영상정보의 보관기간이 경과하여 파기한 경우</p>
											<p>- 기타 정보주체의 열람 등 요구를 거부할 만한 정당한 사유가 존재하는 경우 </p>
											<br> <br>
											<p>제7조 (영상정보의 안전성 확보 조치)</p>
											<p>본원에서 처리하는 영상정보는 암호화 조치 등을 통하여 안전하게 관리되고 있습니다. <br>
											또한 본원은 개인영상정보보호를 위한 관리적 대책으로서 개인정보에 대한 접근 권한을 차등 부여하고 있고, <br>
											개인영상정보의 위, 변조 방지를 위하여 개인영상정보의 생성 일시, 열람시 열람 목적, 열람자, 열람 일시 등을 기록하여 관리하고 있습니다.<br>
											이 외에도 개인영상정보의 안전한 물리적 보관을 위하여 잠금 장치를 설치하고 있습니다. </p>
											<br> <br>
											<p>제8조 (개인정보 취급방침 변경에 관한 사항)</p>
											<p>이 영상정보처리기기 운영, 관리방침은 2012년 3월 29일 제정 되었으며 법령, 정
											책 또는 보안기술의 변경에 따라 내용의 추가, 삭제 및 수정이 있을 시에는 시행하기 최소 7일전에 <br>
											본원 홈페이지를 통해 변경사유 및 내용 등을 공지하도록 하겠습니다.</p> <br><br><br>


											<p>3. 개인정보의 보유 및 이용기간 </p><br>
											<p>본원은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체 없이 파기합니다.</p><br>
											<p>[진료정보]</p>
											<p>- 의료법에 명시된 진료기록 보관 기준에 준하여 보관</p><br>
											<p>[홈페이지 정보]</p>
											<p>본원은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체 없이 파기합니다. 다만, 수집목적 또는 제공받은 목적이 달성된 경우에도 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우에는 귀하의 개인정보를 보유할 수 있습니다. </p><br>
											<p>- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래 등에서의 소비자보호에 관한 법률) </p>
											<p>- 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년 (신용정보의 이용 및 보호에 관한 법률) </p>
											<p>- 방문에 관한 기록 : 3개월 (통신비밀보호법)</p><br>
											<p>[영상정보 처리기기]</p>
											<p>본원은 영상정보 처리기기 운영 관리방침을 통해 본원에서 처리하는 영상정보가 어떠한 용도와 방식으로 이용, 관리 되고 있는지 알려드립니다. 본원은 개인정보보호법 제25조 제1항에 따라 다음과 같은 목적으로 영상정보 처리기기를 설치 운영합니다 </p><br>
											<p>- 시설안전 및 화재 예방 </p>
											<p>- 고객의 안전을 위한 범죄 예방 </p>>
											<p>- 촬영시간 : 24시간 </p>
											<p>- 보관기간 : 14일 이내 </p>
											<p>- 보관장소 : 서버실</p>
											<br><br><br>
											<p>4. 개인정보의 파기절차 및 그 방법 </p>
											<p>본원은 『개인정보의 수집 및 이용목적』이 달성된 후에는 즉시 파기합니다. 파기절차 및 방법은 </p>
											<p>다음과 같습니다.</p><br>
											<p>[파기절차]</p>
											<p>이용자가 상담신청 등을 위해 입력한 정보는 목적이 달성된 후 파기방법에 의하여 즉시 파기합니다.</p><br>
											<p>[파기방법]</p>
											<p>전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</p>
											<p>종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.</p>
											<br><br><br>
											<p>5. 개인정보 제공 및 공유 </p><br>
											<p>본원은 귀하의 동의가 있거나 관련법령의 규정에 의한 경우를 제외하고는 어떠한 경우에도 『개인정보의 수집 및 이용목적』에서 고지한 범위를 넘어 귀하의 개인정보를 이용하거나 타인 또는 타기업ㆍ기관에 제공하지 않습니다.</p><br>
											<p>- 국민건강보험법에 의해 건강보험심사평가원에 요양급여비용 청구를 위한 진료기록 제출</p>
											<p>- 통계작성ㆍ학술연구를 위하여 필요한 경우 특정 개인을 알아볼 수 없는 형태로 가공하여 제공</p>
											<p>- 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우 제출 등</p>
											<br><br><br>

											<br><br><br>
											<p>6. 동의철회 방법 </p><br>
											<p>귀하는 상담신청 시 개인정보의 수집ㆍ이용 및 제공에 대해 동의하신 내용을 언제든지 철회하실 수 있습니다. 개인정보관리책임자에게 서면, 전화 또는 Fax 등으로 연락하시면 지체 없이 귀하의 개인정보를 파기하는 등 필요한 조치를 하겠습니다.</p><br><br><br>

											<p>7. 개인정보 자동 수집 장치의 설치/운영 및 그 거부에 관한 사항 </p><br>
											<p>본원은 귀하의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)'를 운용합니다. 쿠키란 본원의 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다. 본원은 다음과 같은 목적을 위해 쿠키를 사용합니다.</p><br>
											<p>귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.</p><br>
											<p>회원님께서 쿠키 설치를 거부하셨을 경우 일부 서비스 제공에 어려움이 있습니다.</p>
											<br><br><br>
											<p>8. 개인정보관리책임자 </p><br>
											<p>귀하의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 본원은 아래와 같이 개인정보관리책임자를 두고 있습니다.</p>
											<br>
											<p>[개인정보 관리책임자] </p>
											<p>관리 책임자 : 반재상</p>
											<p>취급담당자 : 배은태</p>
											<p>직 위 : 통합 마케팅 총괄이사</p>
											<p>소 속 : 경영지원실</p>
											<p>연 락 처 : 1588-6508</p>
											<p>이 메 일 : manager@banobagi.com</p><br>
											<p>귀하께서는 본원의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자로 신고하실 수 있습니다. 본원은 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다. 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다. </p><br>
											<p>개인분쟁조정위원회 (http://www.1336.or.kr / 1336) </p>
											<p>정보보호마크인증위원회 (http://www.eprivacy.or.kr / (02) 580-0533~4)</p>
											<p>대검찰청 사이버범죄수사단 (http://www.spo.go.kr / (02) 3480-3573)</p>
											<p>경찰청 사이버테러대응센터 (http://www.ctrc.go.kr / (02) 392-0330)</p>
											<br><br><br>
											<p>9. 개인정보의 안전성 확보조치 </p><br>
											<p>본원은 이용자의 개인정보보호를 위한 기술적 대책으로서 여러 보안장치를 마련하고 있습니다. 이용자께서 보내시는 모든 정보는 방화벽장치에 의해 보호되는 보안시스템에 안전하게 보관/관리되고 있습니다.</p><br>
											<p>또한 본원은 이용자의 개인정보보호를 위한 관리적 대책으로서 이용자의 개인정보에 대한 접근 및 관리에 필요한 절차를 마련하고, 이용자의 개인정보를 취급하는 인원을 최소한으로 제한하여 지속적인 보안교육을 실시하고 있습니다. 또한 개인정보를 처리하는 시스템의 사용자를 지정하여 사용자 비밀번호를 부여하고 이를 정기적으로 갱신하겠습니다. </p>
											<br><br><br>
											<p>10. 정책 변경에 따른 공지의무 </p><br>
											<p>이 개인정보취급방침은 2012년 3월 20일에 제정되었으며 법령ㆍ정책 또는 보안기술의 변경에 따라 내용의 추가ㆍ삭제 및 수정이 있을 시에는 변경되는 개인정보취급방침을 시행하기 최소 7일전에 본원 홈페이지를 통해 변경이유 및 내용 등을 공지하도록 하겠습니다.</p><br>
											<p>공고일자 : 2012년 3월20일</p>
											<p>시행일자 : 2012년 4월 1일</p>
										</div>
									</div>
									<!--//약관 -->
								</div>
								<div class="join-agree__check2">
									<input type="checkbox" name="join_chk_agree1" id="join_chk_agree1" class="checkbox01 type-another"><label for="join_chk_agree1">이용약관에 동의합니다.</label>
								</div>
							</li>
							<li class="join-agree__item">
								<h3 class="join-agree__tit type-another">개인정보취급방침</h3>
								<div class="join-agree__box">
									<!--약관 -->
									<div class="termsTxt">
										<div class="box">
											<p>바노바기피부과의원 (이하 &lsquo;본원&rsquo;라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
											<br>
											<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
											<br>
											<p>본 개인정보처리방침은 정부의 법률 및 지침 변경이나 병원의 내부방침 변경 등으로 인하여 수시로 변경될 수 있으며, 변경사항이 있을 경우 즉시 관련 내용을 홈페이지 초기 화면에 게시된 개인정보처리방침에 반영하고 있습니다.</p>
											<br>
											<p>본 개인정보처리방침을 통하여 이용자는 수집된 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 어떻게 안전하게 보호되고 있는지 이해하실 수 있을 것입니다.</p>


											<p>이 개인정보처리방침의 순서는 다음과 같습니다. </p>
											<br><br>
											<p>1. 수집하는 개인정보의 항목 및 수집방법</p>
											<p>2. 개인정보의 수집 및 이용목적</p>
											<p>3. 개인정보의 보유 및 이용기간</p>
											<p>4. 개인정보의 파기절차 및 그 방법</p>
											<p>5. 개인정보 제공 및 공유</p>
											<p>6. 동의철회 방법</p>
											<p>7. 개인정보 자동 수집 장치의 설치/운영 및 그 거부에 관한 사항</p>
											<p>8. 개인정보관리책임자</p>
											<p>9. 개인정보의 안전성 확보조치</p>
											<p>10. 정책 변경에 따른 공지의무</p>
											<p>11. 정보의 취급위탁</p>
											<br><br><br>
											<p>1. 수집하는 개인정보의 항목 및 수집방법</p><br>
											<p>본원은 서비스 이용을 위해 필요한 최소한의 개인 정보만을 수집합니다. </p>
											<br>  <br>
											<p>[진료정보] </p>
											<p>- 수집항목 : 성명, 주민등록번호, 주소, 연락처, 진료기록</p>
											<p>※ 의료법에 의해 고유식별정보 및 진료정보를 의무적으로 보유하여야 하여야 함(별도 동의 불필요)</p><br>

											<p>[홈페이지 이용 시 수집항목] </p>
											<p>- 수집항목 : 이름, 연락처, 성형관심부위, 이메일</p>
											<p>- 서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다. : 서비스 이용기록, 접속 로그, 쿠키, 접속 IP 정보 </p>

											<br>
											<p>[개인정보 수집방법] </p>
											<p>- 다음과 같은 방법으로 개인정보를 수집합니다.</p>
											<p>홈페이지, 서면양식, 팩스, 전화, 이메일, 실시간상담 , 카카오톡상담, 비용상담, 영상기기</p>

											<br><br><br>
											<p>2. 개인정보의 수집 및 이용목적 </p><br>
											<p>본원은 수집한 개인정보를 다음의 목적을 위해 활용합니다.</p>
											<p>이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 것입니다.</p><br>

											<p>[진료정보]</p>
											<p>- 진단 및 치료를 위한 진료서비스와 청구, 수납 및 환급 등의 원무서비스 제공</p><br>
											<p>[홈페이지 수집정보]</p>
											<p>- 필수정보 : 홈페이지를 통한 진료 예약, 예약조회 등의 서비스 제공</p>
											<p>- 선택정보 : MMS, SNS, SMS, 이메일을 통한 본원소식 및 고지사항 전달, 질병정보 안내, 설문조사, 불만처리 등을 위한 원활한 의사소통 경로의 확보 등</p>
											<br><br><br>

											<p>[영상정보 처리기기 운영, 관리 방침]</p>
											<p>- 본원은 영상정보 처리기기 운영 관리방침을 통해 본원에서 처리하는 <br>영상정보가 어떠한 용도와 방식으로 이용, 관리 되고 있는지 알려드립니다.<br><br>
											<p>제1조 (영상정보처리기기의 설치 근거 및 설치 목적)</p>
											<p>본원은 개인정보보호법 제25조 제1항에 따라 다음과 같은 목적으로 영상정보 처리기기를 설치 운영합니다.
											<p>- 시설안전 및 화재 예방</p>
											<p>- 고객의 안전을 위한 범죄 예방</p>
											<br><br>
											<p>제2조 (설치대수, 설치위치 및 촬영범위)</p>
											<p>영상정보처리기기의 설치대수, 위치 및 촬영범위는 아래와 같습니다. </p><br><br>
											<p>- 설치대수 88대</p>
											<p>- 설치 위치 및 촬영범위 건물 로비 및 복도, 엘리베이터 내부 등</p><br><br>
											<p>제3조 (관리책임자 및 접근권한자)</p>
											<p>정보주체의 영상정보를 보호하고 개인영상정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인영상정보 보호 책임자를 두고 있습니다.</p>
											<p>- 관리책임자 : 이민영 총괄실장 (관리팀) 02-561-5510</p>
											<p>- 접근권한자 : 김경희 팀장 (관리팀) 02-552-0490</p><br><br>
											<p>제4조 (영상정보의 촬영시간, 보관기간)</p>
											<p>영상정보의 촬영 시간, 보관 기간 및 보관 장소는 아래와 같습니다. </p>
											<p>- 촬영시간 : 24시간</p>
											<p>- 보관기간 : 촬영일로부터 14일 이내</p>
											<p>- 보관장소 : 원내서버실</p><br><br>

											<p>제5조 (개인영상정보의 확인 방법 및 장소에 관한 사항)</p>
											<p>- 확인 방법 : 영상정보 관리책임자에게 미리 연락하고 본원에 방문하시면 확인 가능합니다.</p>
											<p>- 확인 장소 : 원내서버실</p><br><br>

											<p>제6조 (정보주체의 영상정보 열람 등 요구에 대한 조치)</p>
											<p>정보주체는 개인영상정보에 관하여 열람 또는 존재확인, 삭제를 원하는 경우 언제든지 영상정보 처리기기 운영자에게 요구하실 수 있습니다. <br>
											단, 귀하가 촬영된 개인영상정보 및 명백히 정보주체의 급박한 생명, 신체, 재산의 이익을 위하여 필요한 개인영상정보에 한정됩니다. <br>
											본원은 개인영상정보에 관하여 열람 또는 존재확인, 삭제를 요구한 경우 지체 없이 필요한 조치를 하겠습니다. <br>
											정보주체의 열람 등 요구에도 불구하고 아래와 같은 경우에는 개인영상정보 열람 등 요구를 거부할 수 있으며, <br>
											이 경우에 10일 이내에 서면 등으로 거부 사유 및 불복할 수 있는 방법을 정보주체에게 통지합니다.<br>
											<p>- 개인영상정보의 보관기간이 경과하여 파기한 경우</p>
											<p>- 기타 정보주체의 열람 등 요구를 거부할 만한 정당한 사유가 존재하는 경우 </p>
											<br> <br>
											<p>제7조 (영상정보의 안전성 확보 조치)</p>
											<p>본원에서 처리하는 영상정보는 암호화 조치 등을 통하여 안전하게 관리되고 있습니다. <br>
											또한 본원은 개인영상정보보호를 위한 관리적 대책으로서 개인정보에 대한 접근 권한을 차등 부여하고 있고, <br>
											개인영상정보의 위, 변조 방지를 위하여 개인영상정보의 생성 일시, 열람시 열람 목적, 열람자, 열람 일시 등을 기록하여 관리하고 있습니다.<br>
											이 외에도 개인영상정보의 안전한 물리적 보관을 위하여 잠금 장치를 설치하고 있습니다. </p>
											<br> <br>
											<p>제8조 (개인정보 취급방침 변경에 관한 사항)</p>
											<p>이 영상정보처리기기 운영, 관리방침은 2012년 3월 29일 제정 되었으며 법령, 정
											책 또는 보안기술의 변경에 따라 내용의 추가, 삭제 및 수정이 있을 시에는 시행하기 최소 7일전에 <br>
											본원 홈페이지를 통해 변경사유 및 내용 등을 공지하도록 하겠습니다.</p> <br><br><br>


											<p>3. 개인정보의 보유 및 이용기간 </p><br>
											<p>본원은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체 없이 파기합니다.</p><br>
											<p>[진료정보]</p>
											<p>- 의료법에 명시된 진료기록 보관 기준에 준하여 보관</p><br>
											<p>[홈페이지 정보]</p>
											<p>본원은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체 없이 파기합니다. 다만, 수집목적 또는 제공받은 목적이 달성된 경우에도 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우에는 귀하의 개인정보를 보유할 수 있습니다. </p><br>
											<p>- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래 등에서의 소비자보호에 관한 법률) </p>
											<p>- 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년 (신용정보의 이용 및 보호에 관한 법률) </p>
											<p>- 방문에 관한 기록 : 3개월 (통신비밀보호법)</p><br>
											<p>[영상정보 처리기기]</p>
											<p>본원은 영상정보 처리기기 운영 관리방침을 통해 본원에서 처리하는 영상정보가 어떠한 용도와 방식으로 이용, 관리 되고 있는지 알려드립니다. 본원은 개인정보보호법 제25조 제1항에 따라 다음과 같은 목적으로 영상정보 처리기기를 설치 운영합니다 </p><br>
											<p>- 시설안전 및 화재 예방 </p>
											<p>- 고객의 안전을 위한 범죄 예방 </p>>
											<p>- 촬영시간 : 24시간 </p>
											<p>- 보관기간 : 14일 이내 </p>
											<p>- 보관장소 : 서버실</p>
											<br><br><br>
											<p>4. 개인정보의 파기절차 및 그 방법 </p>
											<p>본원은 『개인정보의 수집 및 이용목적』이 달성된 후에는 즉시 파기합니다. 파기절차 및 방법은 </p>
											<p>다음과 같습니다.</p><br>
											<p>[파기절차]</p>
											<p>이용자가 상담신청 등을 위해 입력한 정보는 목적이 달성된 후 파기방법에 의하여 즉시 파기합니다.</p><br>
											<p>[파기방법]</p>
											<p>전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</p>
											<p>종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.</p>
											<br><br><br>
											<p>5. 개인정보 제공 및 공유 </p><br>
											<p>본원은 귀하의 동의가 있거나 관련법령의 규정에 의한 경우를 제외하고는 어떠한 경우에도 『개인정보의 수집 및 이용목적』에서 고지한 범위를 넘어 귀하의 개인정보를 이용하거나 타인 또는 타기업ㆍ기관에 제공하지 않습니다.</p><br>
											<p>- 국민건강보험법에 의해 건강보험심사평가원에 요양급여비용 청구를 위한 진료기록 제출</p>
											<p>- 통계작성ㆍ학술연구를 위하여 필요한 경우 특정 개인을 알아볼 수 없는 형태로 가공하여 제공</p>
											<p>- 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우 제출 등</p>
											<br><br><br>

											<br><br><br>
											<p>6. 동의철회 방법 </p><br>
											<p>귀하는 상담신청 시 개인정보의 수집ㆍ이용 및 제공에 대해 동의하신 내용을 언제든지 철회하실 수 있습니다. 개인정보관리책임자에게 서면, 전화 또는 Fax 등으로 연락하시면 지체 없이 귀하의 개인정보를 파기하는 등 필요한 조치를 하겠습니다.</p><br><br><br>

											<p>7. 개인정보 자동 수집 장치의 설치/운영 및 그 거부에 관한 사항 </p><br>
											<p>본원은 귀하의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)'를 운용합니다. 쿠키란 본원의 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다. 본원은 다음과 같은 목적을 위해 쿠키를 사용합니다.</p><br>
											<p>귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.</p><br>
											<p>회원님께서 쿠키 설치를 거부하셨을 경우 일부 서비스 제공에 어려움이 있습니다.</p>
											<br><br><br>
											<p>8. 개인정보관리책임자 </p><br>
											<p>귀하의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 본원은 아래와 같이 개인정보관리책임자를 두고 있습니다.</p>
											<br>
											<p>[개인정보 관리책임자] </p>
											<p>관리 책임자 : 반재상</p>
											<p>취급담당자 : 배은태</p>
											<p>직 위 : 통합 마케팅 총괄이사</p>
											<p>소 속 : 경영지원실</p>
											<p>연 락 처 : 1588-6508</p>
											<p>이 메 일 : manager@banobagi.com</p><br>
											<p>귀하께서는 본원의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자로 신고하실 수 있습니다. 본원은 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다. 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다. </p><br>
											<p>개인분쟁조정위원회 (http://www.1336.or.kr / 1336) </p>
											<p>정보보호마크인증위원회 (http://www.eprivacy.or.kr / (02) 580-0533~4)</p>
											<p>대검찰청 사이버범죄수사단 (http://www.spo.go.kr / (02) 3480-3573)</p>
											<p>경찰청 사이버테러대응센터 (http://www.ctrc.go.kr / (02) 392-0330)</p>
											<br><br><br>
											<p>9. 개인정보의 안전성 확보조치 </p><br>
											<p>본원은 이용자의 개인정보보호를 위한 기술적 대책으로서 여러 보안장치를 마련하고 있습니다. 이용자께서 보내시는 모든 정보는 방화벽장치에 의해 보호되는 보안시스템에 안전하게 보관/관리되고 있습니다.</p><br>
											<p>또한 본원은 이용자의 개인정보보호를 위한 관리적 대책으로서 이용자의 개인정보에 대한 접근 및 관리에 필요한 절차를 마련하고, 이용자의 개인정보를 취급하는 인원을 최소한으로 제한하여 지속적인 보안교육을 실시하고 있습니다. 또한 개인정보를 처리하는 시스템의 사용자를 지정하여 사용자 비밀번호를 부여하고 이를 정기적으로 갱신하겠습니다. </p>
											<br><br><br>
											<p>10. 정책 변경에 따른 공지의무 </p><br>
											<p>이 개인정보취급방침은 2012년 3월 20일에 제정되었으며 법령ㆍ정책 또는 보안기술의 변경에 따라 내용의 추가ㆍ삭제 및 수정이 있을 시에는 변경되는 개인정보취급방침을 시행하기 최소 7일전에 본원 홈페이지를 통해 변경이유 및 내용 등을 공지하도록 하겠습니다.</p><br>
											<p>공고일자 : 2012년 3월20일</p>
											<p>시행일자 : 2012년 4월 1일</p>
										</div>
									</div>
									<!--//약관 -->
								</div>
								<div class="join-agree__check2">
									<input type="checkbox" name="join_chk_agree2" id="join_chk_agree2" class="checkbox01 type-another"><label for="join_chk_agree2">개인정보취급방침에 동의합니다.</label>
								</div>
							</li>
							<li class="join-agree__item">
								<h3 class="join-agree__tit type-another">개인정보수집및이용동의</h3>
								<div class="join-agree__box">
									<!--약관 -->
									<div class="termsTxt">
										<div class="box">
											<p>바노바기피부과의원 (이하 &lsquo;본원&rsquo;라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
											<br>
											<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
											<br>
											<p>본 개인정보처리방침은 정부의 법률 및 지침 변경이나 병원의 내부방침 변경 등으로 인하여 수시로 변경될 수 있으며, 변경사항이 있을 경우 즉시 관련 내용을 홈페이지 초기 화면에 게시된 개인정보처리방침에 반영하고 있습니다.</p>
											<br>
											<p>본 개인정보처리방침을 통하여 이용자는 수집된 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 어떻게 안전하게 보호되고 있는지 이해하실 수 있을 것입니다.</p>


											<p>이 개인정보처리방침의 순서는 다음과 같습니다. </p>
											<br><br>
											<p>1. 수집하는 개인정보의 항목 및 수집방법</p>
											<p>2. 개인정보의 수집 및 이용목적</p>
											<p>3. 개인정보의 보유 및 이용기간</p>
											<p>4. 개인정보의 파기절차 및 그 방법</p>
											<p>5. 개인정보 제공 및 공유</p>
											<p>6. 동의철회 방법</p>
											<p>7. 개인정보 자동 수집 장치의 설치/운영 및 그 거부에 관한 사항</p>
											<p>8. 개인정보관리책임자</p>
											<p>9. 개인정보의 안전성 확보조치</p>
											<p>10. 정책 변경에 따른 공지의무</p>
											<p>11. 정보의 취급위탁</p>
											<br><br><br>
											<p>1. 수집하는 개인정보의 항목 및 수집방법</p><br>
											<p>본원은 서비스 이용을 위해 필요한 최소한의 개인 정보만을 수집합니다. </p>
											<br>  <br>
											<p>[진료정보] </p>
											<p>- 수집항목 : 성명, 주민등록번호, 주소, 연락처, 진료기록</p>
											<p>※ 의료법에 의해 고유식별정보 및 진료정보를 의무적으로 보유하여야 하여야 함(별도 동의 불필요)</p><br>

											<p>[홈페이지 이용 시 수집항목] </p>
											<p>- 수집항목 : 이름, 연락처, 성형관심부위, 이메일</p>
											<p>- 서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다. : 서비스 이용기록, 접속 로그, 쿠키, 접속 IP 정보 </p>

											<br>
											<p>[개인정보 수집방법] </p>
											<p>- 다음과 같은 방법으로 개인정보를 수집합니다.</p>
											<p>홈페이지, 서면양식, 팩스, 전화, 이메일, 실시간상담 , 카카오톡상담, 비용상담, 영상기기</p>

											<br><br><br>
											<p>2. 개인정보의 수집 및 이용목적 </p><br>
											<p>본원은 수집한 개인정보를 다음의 목적을 위해 활용합니다.</p>
											<p>이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 것입니다.</p><br>

											<p>[진료정보]</p>
											<p>- 진단 및 치료를 위한 진료서비스와 청구, 수납 및 환급 등의 원무서비스 제공</p><br>
											<p>[홈페이지 수집정보]</p>
											<p>- 필수정보 : 홈페이지를 통한 진료 예약, 예약조회 등의 서비스 제공</p>
											<p>- 선택정보 : MMS, SNS, SMS, 이메일을 통한 본원소식 및 고지사항 전달, 질병정보 안내, 설문조사, 불만처리 등을 위한 원활한 의사소통 경로의 확보 등</p>
											<br><br><br>

											<p>[영상정보 처리기기 운영, 관리 방침]</p>
											<p>- 본원은 영상정보 처리기기 운영 관리방침을 통해 본원에서 처리하는 <br>영상정보가 어떠한 용도와 방식으로 이용, 관리 되고 있는지 알려드립니다.<br><br>
											<p>제1조 (영상정보처리기기의 설치 근거 및 설치 목적)</p>
											<p>본원은 개인정보보호법 제25조 제1항에 따라 다음과 같은 목적으로 영상정보 처리기기를 설치 운영합니다.
											<p>- 시설안전 및 화재 예방</p>
											<p>- 고객의 안전을 위한 범죄 예방</p>
											<br><br>
											<p>제2조 (설치대수, 설치위치 및 촬영범위)</p>
											<p>영상정보처리기기의 설치대수, 위치 및 촬영범위는 아래와 같습니다. </p><br><br>
											<p>- 설치대수 88대</p>
											<p>- 설치 위치 및 촬영범위 건물 로비 및 복도, 엘리베이터 내부 등</p><br><br>
											<p>제3조 (관리책임자 및 접근권한자)</p>
											<p>정보주체의 영상정보를 보호하고 개인영상정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인영상정보 보호 책임자를 두고 있습니다.</p>
											<p>- 관리책임자 : 이민영 총괄실장 (관리팀) 02-561-5510</p>
											<p>- 접근권한자 : 김경희 팀장 (관리팀) 02-552-0490</p><br><br>
											<p>제4조 (영상정보의 촬영시간, 보관기간)</p>
											<p>영상정보의 촬영 시간, 보관 기간 및 보관 장소는 아래와 같습니다. </p>
											<p>- 촬영시간 : 24시간</p>
											<p>- 보관기간 : 촬영일로부터 14일 이내</p>
											<p>- 보관장소 : 원내서버실</p><br><br>

											<p>제5조 (개인영상정보의 확인 방법 및 장소에 관한 사항)</p>
											<p>- 확인 방법 : 영상정보 관리책임자에게 미리 연락하고 본원에 방문하시면 확인 가능합니다.</p>
											<p>- 확인 장소 : 원내서버실</p><br><br>

											<p>제6조 (정보주체의 영상정보 열람 등 요구에 대한 조치)</p>
											<p>정보주체는 개인영상정보에 관하여 열람 또는 존재확인, 삭제를 원하는 경우 언제든지 영상정보 처리기기 운영자에게 요구하실 수 있습니다. <br>
											단, 귀하가 촬영된 개인영상정보 및 명백히 정보주체의 급박한 생명, 신체, 재산의 이익을 위하여 필요한 개인영상정보에 한정됩니다. <br>
											본원은 개인영상정보에 관하여 열람 또는 존재확인, 삭제를 요구한 경우 지체 없이 필요한 조치를 하겠습니다. <br>
											정보주체의 열람 등 요구에도 불구하고 아래와 같은 경우에는 개인영상정보 열람 등 요구를 거부할 수 있으며, <br>
											이 경우에 10일 이내에 서면 등으로 거부 사유 및 불복할 수 있는 방법을 정보주체에게 통지합니다.<br>
											<p>- 개인영상정보의 보관기간이 경과하여 파기한 경우</p>
											<p>- 기타 정보주체의 열람 등 요구를 거부할 만한 정당한 사유가 존재하는 경우 </p>
											<br> <br>
											<p>제7조 (영상정보의 안전성 확보 조치)</p>
											<p>본원에서 처리하는 영상정보는 암호화 조치 등을 통하여 안전하게 관리되고 있습니다. <br>
											또한 본원은 개인영상정보보호를 위한 관리적 대책으로서 개인정보에 대한 접근 권한을 차등 부여하고 있고, <br>
											개인영상정보의 위, 변조 방지를 위하여 개인영상정보의 생성 일시, 열람시 열람 목적, 열람자, 열람 일시 등을 기록하여 관리하고 있습니다.<br>
											이 외에도 개인영상정보의 안전한 물리적 보관을 위하여 잠금 장치를 설치하고 있습니다. </p>
											<br> <br>
											<p>제8조 (개인정보 취급방침 변경에 관한 사항)</p>
											<p>이 영상정보처리기기 운영, 관리방침은 2012년 3월 29일 제정 되었으며 법령, 정
											책 또는 보안기술의 변경에 따라 내용의 추가, 삭제 및 수정이 있을 시에는 시행하기 최소 7일전에 <br>
											본원 홈페이지를 통해 변경사유 및 내용 등을 공지하도록 하겠습니다.</p> <br><br><br>


											<p>3. 개인정보의 보유 및 이용기간 </p><br>
											<p>본원은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체 없이 파기합니다.</p><br>
											<p>[진료정보]</p>
											<p>- 의료법에 명시된 진료기록 보관 기준에 준하여 보관</p><br>
											<p>[홈페이지 정보]</p>
											<p>본원은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체 없이 파기합니다. 다만, 수집목적 또는 제공받은 목적이 달성된 경우에도 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우에는 귀하의 개인정보를 보유할 수 있습니다. </p><br>
											<p>- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래 등에서의 소비자보호에 관한 법률) </p>
											<p>- 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년 (신용정보의 이용 및 보호에 관한 법률) </p>
											<p>- 방문에 관한 기록 : 3개월 (통신비밀보호법)</p><br>
											<p>[영상정보 처리기기]</p>
											<p>본원은 영상정보 처리기기 운영 관리방침을 통해 본원에서 처리하는 영상정보가 어떠한 용도와 방식으로 이용, 관리 되고 있는지 알려드립니다. 본원은 개인정보보호법 제25조 제1항에 따라 다음과 같은 목적으로 영상정보 처리기기를 설치 운영합니다 </p><br>
											<p>- 시설안전 및 화재 예방 </p>
											<p>- 고객의 안전을 위한 범죄 예방 </p>>
											<p>- 촬영시간 : 24시간 </p>
											<p>- 보관기간 : 14일 이내 </p>
											<p>- 보관장소 : 서버실</p>
											<br><br><br>
											<p>4. 개인정보의 파기절차 및 그 방법 </p>
											<p>본원은 『개인정보의 수집 및 이용목적』이 달성된 후에는 즉시 파기합니다. 파기절차 및 방법은 </p>
											<p>다음과 같습니다.</p><br>
											<p>[파기절차]</p>
											<p>이용자가 상담신청 등을 위해 입력한 정보는 목적이 달성된 후 파기방법에 의하여 즉시 파기합니다.</p><br>
											<p>[파기방법]</p>
											<p>전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</p>
											<p>종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.</p>
											<br><br><br>
											<p>5. 개인정보 제공 및 공유 </p><br>
											<p>본원은 귀하의 동의가 있거나 관련법령의 규정에 의한 경우를 제외하고는 어떠한 경우에도 『개인정보의 수집 및 이용목적』에서 고지한 범위를 넘어 귀하의 개인정보를 이용하거나 타인 또는 타기업ㆍ기관에 제공하지 않습니다.</p><br>
											<p>- 국민건강보험법에 의해 건강보험심사평가원에 요양급여비용 청구를 위한 진료기록 제출</p>
											<p>- 통계작성ㆍ학술연구를 위하여 필요한 경우 특정 개인을 알아볼 수 없는 형태로 가공하여 제공</p>
											<p>- 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우 제출 등</p>
											<br><br><br>

											<br><br><br>
											<p>6. 동의철회 방법 </p><br>
											<p>귀하는 상담신청 시 개인정보의 수집ㆍ이용 및 제공에 대해 동의하신 내용을 언제든지 철회하실 수 있습니다. 개인정보관리책임자에게 서면, 전화 또는 Fax 등으로 연락하시면 지체 없이 귀하의 개인정보를 파기하는 등 필요한 조치를 하겠습니다.</p><br><br><br>

											<p>7. 개인정보 자동 수집 장치의 설치/운영 및 그 거부에 관한 사항 </p><br>
											<p>본원은 귀하의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)'를 운용합니다. 쿠키란 본원의 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다. 본원은 다음과 같은 목적을 위해 쿠키를 사용합니다.</p><br>
											<p>귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.</p><br>
											<p>회원님께서 쿠키 설치를 거부하셨을 경우 일부 서비스 제공에 어려움이 있습니다.</p>
											<br><br><br>
											<p>8. 개인정보관리책임자 </p><br>
											<p>귀하의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 본원은 아래와 같이 개인정보관리책임자를 두고 있습니다.</p>
											<br>
											<p>[개인정보 관리책임자] </p>
											<p>관리 책임자 : 반재상</p>
											<p>취급담당자 : 배은태</p>
											<p>직 위 : 통합 마케팅 총괄이사</p>
											<p>소 속 : 경영지원실</p>
											<p>연 락 처 : 1588-6508</p>
											<p>이 메 일 : manager@banobagi.com</p><br>
											<p>귀하께서는 본원의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자로 신고하실 수 있습니다. 본원은 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다. 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다. </p><br>
											<p>개인분쟁조정위원회 (http://www.1336.or.kr / 1336) </p>
											<p>정보보호마크인증위원회 (http://www.eprivacy.or.kr / (02) 580-0533~4)</p>
											<p>대검찰청 사이버범죄수사단 (http://www.spo.go.kr / (02) 3480-3573)</p>
											<p>경찰청 사이버테러대응센터 (http://www.ctrc.go.kr / (02) 392-0330)</p>
											<br><br><br>
											<p>9. 개인정보의 안전성 확보조치 </p><br>
											<p>본원은 이용자의 개인정보보호를 위한 기술적 대책으로서 여러 보안장치를 마련하고 있습니다. 이용자께서 보내시는 모든 정보는 방화벽장치에 의해 보호되는 보안시스템에 안전하게 보관/관리되고 있습니다.</p><br>
											<p>또한 본원은 이용자의 개인정보보호를 위한 관리적 대책으로서 이용자의 개인정보에 대한 접근 및 관리에 필요한 절차를 마련하고, 이용자의 개인정보를 취급하는 인원을 최소한으로 제한하여 지속적인 보안교육을 실시하고 있습니다. 또한 개인정보를 처리하는 시스템의 사용자를 지정하여 사용자 비밀번호를 부여하고 이를 정기적으로 갱신하겠습니다. </p>
											<br><br><br>
											<p>10. 정책 변경에 따른 공지의무 </p><br>
											<p>이 개인정보취급방침은 2012년 3월 20일에 제정되었으며 법령ㆍ정책 또는 보안기술의 변경에 따라 내용의 추가ㆍ삭제 및 수정이 있을 시에는 변경되는 개인정보취급방침을 시행하기 최소 7일전에 본원 홈페이지를 통해 변경이유 및 내용 등을 공지하도록 하겠습니다.</p><br>
											<p>공고일자 : 2012년 3월20일</p>
											<p>시행일자 : 2012년 4월 1일</p>
										</div>
									</div>
									<!--//약관 -->
								</div>
								<div class="join-agree__check2">
									<input type="checkbox" name="join_chk_agree3" id="join_chk_agree3" class="checkbox01 type-another"><label for="join_chk_agree3">개인정보 수집 및 이용에 동의합니다.</label>
								</div>
							</li>
						</ul>
						<button type="submit" class="membership__btn type-black type-join">다음</a>
					</div><!-- //join-agree-->
				</form>
			</div>
		</div>
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
