<%
	type = "membership"
	page = "join"
%>
<% include ../_include/_header %>
<div class="container type-bottom">
	<div class="etc-visual type-join1">
		<div class="etc-visual__outer">
			<div class="etc-visual__inner">
				<div class="etc-visual__box">
					<div class="etc-visual__wrap">
						<h2 class="etc-visual__tit">회원가입</h2>
						<p class="etc-visual__txt">고객님의 개인정보보호를 위해 개인정보 보호지침을<br> 마련하여 이를 준수하고 있습니다.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="join">
				<ul class="join-step__list">
					<li class="join-step__item is-active nth-1"><h2 class="join-step__tit">약관동의</h2></li>
					<li class="join-step__item is-active nth-2"><h2 class="join-step__tit">정보입력</h2></li>
					<li class="join-step__item nth-3"><h2 class="join-step__tit">가입완료</h2></li>
				</ul>
				<div class="join__wrap">
					<form action="" id="joinForm">
						<table class="join-table__table">
							<tr class="join-table__tr">
								<th class="join-table__th">아이디</th>
								<td class="join-table__td">
									<div class="join-table__wrap">
										<input type="text" class="join-table__input" placeholder="5~12 자리의 영문,숫자 조합" required="">
										<button class="join-table__btn">중복확인</button>
									</div>
								</td>
							</tr>
							<tr class="join-table__tr">
								<th class="join-table__th">비밀번호</th>
								<td class="join-table__td">
									<div class="join-table__wrap">
										<input type="password" class="join-table__input type-full" placeholder="4자리 이상의 영문, 숫자 조합" required="">
									</div>
								</td>
							</tr>
							<tr class="join-table__tr">
								<th class="join-table__th">비밀번호 <span class="inline-block">확인</span></th>
								<td class="join-table__td">
									<div class="join-table__wrap">
										<input type="password" class="join-table__input type-full" required="">
									</div>
								</td>
							</tr>
							<tr class="join-table__tr">
								<th class="join-table__th">이름</th>
								<td class="join-table__td">
									<div class="join-table__wrap">
										<input type="text" class="join-table__input" required="">
									</div>
								</td>
							</tr>
							<tr class="join-table__tr">
								<th class="join-table__th">휴대전화</th>
								<td class="join-table__td">
									<div class="join-table__wrap">
										<input type="tel" class="join-table__input" required="">
										<button class="join-table__btn type-another">인증</button>
									</div>
								</td>
							</tr>
							<tr class="join-table__tr">
								<th class="join-table__th">인증번호</th>
								<td class="join-table__td">
									<div class="join-table__wrap">
										<input type="text" class="join-table__input" required="">
										<button class="join-table__btn type-another">확인</button>
									</div>
								</td>
							</tr>
							<tr class="join-table__tr">
								<th class="join-table__th">SMS수신</th>
								<td class="join-table__td">
									<div class="join-table__wrap">
										<input type="radio" name="agree1" value="" id="agree1_1" class="radio1" checked="checked"><label for="agree1_1">수신동의</label>
										<input type="radio" name="agree1" value="" id="agree1_2" class="radio1"><label for="agree1_2">수신거부</label>
									</div>
								</td>
							</tr>
							<tr class="join-table__tr">
								<th class="join-table__th">이메일</th>
								<td class="join-table__td">
									<div class="join-table__wrap">
										<input type="email" class="join-table__input" required="">
									</div>
								</td>
							</tr>
							<tr class="join-table__tr">
								<th class="join-table__th">이메일 수신</th>
								<td class="join-table__td">
									<div class="join-table__wrap">
										<input type="radio" name="agree2" value="" id="agree2_1" class="radio1" checked="checked"><label for="agree2_1">수신동의</label>
										<input type="radio" name="agree2" value="" id="agree2_2" class="radio1"><label for="agree2_2">수신거부</label>
									</div>
								</td>
							</tr>
						</table>
					</form>
					<a href="" class="membership__btn type-black type-join">완료</a>
				</div>
				<!--//join__wrap-->
			</div>
		</div>
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
