<%
	type = "membership"
	page = "join"
%>
<% include ../_include/_header %>
<div class="container type-bottom">
	<div class="etc-visual type-join1">
		<div class="etc-visual__outer">
			<div class="etc-visual__inner">
				<div class="etc-visual__box">
					<div class="etc-visual__wrap">
						<h2 class="etc-visual__tit">회원가입</h2>
						<p class="etc-visual__txt">고객님의 개인정보보호를 위해 개인정보 보호지침을<br> 마련하여 이를 준수하고 있습니다.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="join">
				<ul class="join-step__list">
					<li class="join-step__item is-active nth-1"><h2 class="join-step__tit">약관동의</h2></li>
					<li class="join-step__item is-active nth-2"><h2 class="join-step__tit">정보입력</h2></li>
					<li class="join-step__item is-active nth-3"><h2 class="join-step__tit">가입완료</h2></li>
				</ul>
				<div class="join__wrap">
					<h2 class="join__tit">
						<span class="membership__point">바노바기성형외과</span> 회원가입을<br>
						진심으로 환영합니다.
					</h2>
					<a href="" class="membership__btn type-black type-join">메인으로</a>
					<a href="" class="membership__btn type-join is-hover">로그인</a>
				</div>
			</div>
		</div>
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
