<%
	type = "membership"
	page = "join"
%>
<% include ../_include/_header %>
<div class="container type-bottom">
	<div class="etc-visual type-join1">
		<div class="etc-visual__outer">
			<div class="etc-visual__inner">
				<div class="etc-visual__box">
					<div class="etc-visual__wrap">
						<h2 class="etc-visual__tit">회원탈퇴</h2>
						<p class="etc-visual__txt">그동안 바노바기 성형외과를 이용해<br class="hidden-pt"> 주셔서 감사합니다.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="membership type-withdrawal">
				<h3 class="membership__tit type-withdrawal"><span class="membership__point">바노바기 성형외과 쁘띠</span>를 탈퇴하는<br class="hidden-pt"> 이유는 무엇인가요?</h3>
				<p class="membership__txt">회원님께서 바노바기 성형외과 쁘띠를 탈퇴하는<br class="hidden-pt"> 이유를 알려주시면<br class="hidden-m"> 보다 좋은 서비스 제공을 위해<br class="hidden-pt"> 노력하겠습니다.</p>
				<div class="withdrawal">
					<form action="">
						<ul class="withdrawal__list">
							<li class="withdrawal__item">
								<input type="radio" name="agree1" value="" id="option1_1" class="radio1" checked="checked"><label for="option1_1">사용의 불편</label>
							</li>
							<li class="withdrawal__item">
								<input type="radio" name="agree1" value="" id="option1_2" class="radio1"><label for="option1_2">필요한 정보 부재</label>
							</li>
							<li class="withdrawal__item">
								<input type="radio" name="agree1" value="" id="option1_3" class="radio1"><label for="option1_3">개인정보 유출 우려</label>
							</li>
							<li class="withdrawal__item">
								<input type="radio" name="agree1" value="" id="option1_4" class="radio1"><label for="option1_4">수술 후 이용이 불편</label>
							</li>
							<li class="withdrawal__item">
								<input type="radio" name="agree1" value="" id="option1_5" class="radio1"><label for="option1_5">기타의견</label>
							</li>
						</ul>
						<div class="withdrawal__box">
							<textarea name="opinion" id="" cols="30" rows="10" class="withdrawal__textarea" placeholder="사유를 입력해주세요."></textarea>
						</div>
					</form>
					<a href="" class="membership__btn type-join is-hover">회원탈퇴</a>
					<a href="" class="membership__btn type-black type-join">취소</a>
				</div>
			</div><!-- //membership-->
		</div>
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
