<!-- section-box (amazing) -->
<div class="section-box">
	<div class="content-wrap">
		<div class="amazing">
			<h2 class="amazing__tit tit-v1">몰라보게 예뻐지기</h2>
			<div class="amazing__wrap">
				<div class="amazing__slider js-slider">
					<div class="amazing__motion js-amazing">
						<p class="amazing__txt type-after">시술 후 3개월</p>
						<img src="../../images/temp/after1.jpg">
						<div class="amazing__resize">
							<!-- blind -->
							<div class="blind type-body"> <!-- 바디 type-body, 얼굴 type-face -->
								<div class="blind__outer">
									<div class="blind__inner">
										<h3 class="blind__tit">
											<span class="color-point">로그인을 하시면</span> 다양한 전후사진을<br> 확인하실 수 있습니다.
										</h3>
										<p class="blind__txt">바노바기성형외과는 의료법을 준수합니다.</p>
										<a href="" class="blind__btn btn4 js-login-open">
											<span>로그인</span>
										</a>
									</div>
								</div>
							</div>
							<!-- //blind -->
							<p class="amazing__txt type-before">시술 전</p>
							<img src="../../images/temp/before1.jpg" >
						</div>
						<span class="amazing__handle">마우스</span>
					</div>
					<div class="amazing__motion js-amazing">
						<p class="amazing__txt type-after">시술 후 3개월</p>
						<img src="../../images/temp/after2.jpg">
						<div class="amazing__resize">
							<p class="amazing__txt type-before">시술 전</p>
							<img src="../../images/temp/before2.jpg" >
						</div>
						<span class="amazing__handle">마우스</span>
					</div>
				</div>
				<a href="" class="amazing__btn type-prev js-slider-prev">이전</a>
				<a href="" class="amazing__btn type-next js-slider-next">다음</a>
				<p class="amazing__explain">마우스를 양쪽으로 움직여 주세요.</p>
			</div>
			<p class="amazing__noti">※본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, <span class="inline-block">환자 본인의 동의를 얻어 촬영 후 게재하였습니다.</span></p>
			<a href="" class="amazing__more btn3"><span>더 많은 사진보러가기</span></a>
		</div>
	</div>
</div>
<!-- //section-box (amazing) -->
