<!-- section-box (contact) -->
<div class="section-box type-contact is-contact">
	<div class="content-wrap">
		<div class="sub-contact">
			<div class="sub-contact__box">
				<h2 class="sub-contact__tit tit-v1">
					<span class="sub-contact__tit-wrap">예뻐지고 싶으면<br>
						<span class="color-petit">지금바로 연락해!</span>
					</span>
				</h2>
				<div class="contact__area">
					<form action="">
						<ul class="sub-contact__list">
							<li class="sub-contact__item">
								<div class="sub-contact__wrap">
									<lable class="label1" for="name">이름</lable>
									<input type="text" class="input1" id="name" placeholder="이름을 입력해 주세요.">
								</div>
							</li>
							<li class="sub-contact__item">
								<div class="sub-contact__wrap">
									<lable class="label1" for="phone">연락처</lable>
									<input type="tel" class="input1" id="phone" placeholder="휴대폰 번호를 입력해 주세요.">
								</div>
							</li>
							<li class="sub-contact__item">
								<div class="sub-contact__wrap">
									<lable class="label1">상담시간</lable>
									<div class="select">
										<a href="#" class="select__tit">상담시간을 선택해 주세요.</a>
										<div class="select__box">
											<!-- <p class="select2__subject type-another">관심부위</p> -->
											<ul class="select__list">
												<li class="select__item" id="online_01">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_02">오전 10 : 00 ~ 11 : 00</li>
												<li class="select__item" id="online_03">오전 11 : 00 ~ 12 : 00</li>
												<li class="select__item" id="online_04">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_05">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_06">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_07">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_08">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_09">오전 20 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_10">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_11">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_12">오전 20 : 00 ~ 10 : 00</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li class="sub-contact__item">
								<div class="sub-contact__wrap">
									<lable class="label1" for="phone">상담내용</lable>
									<textarea name="content" class="textarea1" placeholder="상담내용을 간략하게 적어 주세요."></textarea>
								</div>
							</li>
						</ul>
						<div class="sub-contact__check">
							<input type="checkbox" name="sl" id="test5" class="checkbox02">
							<label for="test5" class="">개인정보 수집 및 이용 동의(필수)</label>
							<a href="" class="sub-contact__link js-popup-open">[자세히보기]</a>
						</div>
						<div class="sub-contact__check">
							<input type="checkbox" name="sl" id="test6" class="checkbox02">
							<label for="test6" class=""> 마케팅 및 광고 활용 동의(선택)</label>
						</div>
						<ul class="sub-contact__list2">
							<li class="sub-contact__item2">
								<button class="sub-contact__btn btn1"><span>전화상담</span></button>
							</li>
							<li class="sub-contact__item2">
								<button class="sub-contact__btn btn1 type-katalk"><span>카카오톡 상담신청하기</span></button>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //section-box (contact) -->
