<!-- //section끝 -->
<!--footer시작-->
		<div class="footer">
			<div class="footer__box">
				<p class="footer__noti">수술 후 출혈, 감염, 염증 등의 합병증이 있을 수 있으며 주관적인 만족도는 <span class="inline-block">개인마다 차이가 있을 수 있으므로 의사와 상의하시기 바랍니다.</span></p>
			</div>
			<div class="footer__wrap">
				<div class="content-wrap">
					<p class="footer__logo">
						<img src="../../images/common/footer_logo.png" alt="바노바기성형외과의원 - petit" class="hidden-m">
						<img src="../../images/common/footer_logo_m.png" alt="바노바기성형외과의원 - petit" class="hidden-pt">
					</p>
					<ul class="footer__list">
						<li class="footer__item">서울특별시 강남구 논현로 519 4층</li>
						<li class="footer__item"><a href="tel:1588-6508" class="footer__link">CS CENTER 1588-6508</a></li>
						<li class="footer__item"><a href="tel:02-562-6001" class="footer__link">TEL 02-562-6001</a></li>
						<li class="footer__item">FAX 02-561-1755</li>
					</ul>
					<ul class="footer__list">
						<li class="footer__item">바노바기성형외과의원 박선재</li>
						<li class="footer__item">220-08-87096 </li>
						<li class="footer__item">통신판매업 신고번호 제2015-서울강남-03292호</li>
					</ul>
					<ul class="footer__list">
						<li class="footer__item color-black1">Copyright © 2014 banobagi beauty all rights reserved.</li>
					</ul>
					<ul class="footer__list2">
						<li class="footer__item2">
							<a href="../etc/etc1.html" class="footer__link2 color-black1"><span>개인정보 취급방침</span></a>
						</li>
						<li class="footer__item2">
							<a href="../etc/etc2.html" class="footer__link2"><span>이용약관</span></a>
						</li>
						<li class="footer__item2">
							<a href="../sitemap/sitemap.html" class="footer__link2"><span>사이트맵</span></a>
						</li>
						<li class="footer__item2">
							<a href="../membership/mbship_cookie.html" class="footer__link2"><span>쿠키 정책</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!--// common-->
	<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.touchSwipe.js"></script>
	<script type="text/javascript" src="../../js/libs/owl.carousel.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.validate.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript" src="../../js/libs/slick.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.bxslider.js"></script>
	<script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
	<script type="text/javascript" src="../../js/libs/cycle2.swipe.js"></script>
	<script type="text/javascript" src="../../js/libs/circle-progress.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery-progress-indicator-1.0.6.min.js"></script>
	<% if (type == "content") { %>
		<script type="text/javascript" src="../../js/amazing.js"></script>
		<script type="text/javascript" src="../../js/content.js"></script>
	<%} else if (type == "main") { %>
		<script type="text/javascript" src="../../js/main.js"></script>
	<%} else if (type == "review") { %>
		<script type="text/javascript" src="../../js/review.js"></script>
	<%} else if (type == "cart") { %>
		<script type="text/javascript" src="../../js/cart.js"></script>
	<%} else if (type == "cok") { %>
		<script type="text/javascript" src="../../js/cok.js"></script>
	<% } %>
	<% if (page == "introduce") { %>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=257d367d5a0070f35e1b7ddf7b4907a4"></script>
		<script type="text/javascript" src="../../js/introduce.js"></script>
	<% } %>
	<script type="text/javascript" src="../../js/common.js"></script>
</body>
</html>
<!--footer끝-->
