<%
	var data = jsonData
%>
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="쁘띠 바노바기">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title>쁘띠 바노바기</title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="../../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../../css/libs/owl.carousel.css">
<link rel="stylesheet" href="../../css/libs/slick.css">
<link rel="stylesheet" href="../../css/libs/slick-theme.css">
<!-- <link rel="stylesheet" href="../../css/libs/jquery.bxslider.css"> -->
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/gnb.css">
<link rel="stylesheet" href="../../css/login.css">
<link rel="stylesheet" href="../../css/popup.css">
<% if (type == "content") { %>
	<link rel="stylesheet" href="../../css/content_common.css">
<%} else if (type == "main") { %>
	<link rel="stylesheet" href="../../css/main.css">
<%} else if (type == "review") { %>
	<link rel="stylesheet" href="../../css/review.css">
<%} else if (type == "cok") { %>
	<link rel="stylesheet" href="../../css/cok.css">
<%} else if (type == "membership") { %>
	<link rel="stylesheet" href="../../css/membership.css">
<%} else if (type == "cart") { %>
	<link rel="stylesheet" href="../../css/introduce.css">
	<link rel="stylesheet" href="../../css/cart.css">
<% } %>
<% if (page == "petit") { %>
	<link rel="stylesheet" href="../../css/petit.css">
<%} else if (page == "slim") { %>
	<link rel="stylesheet" href="../../css/slim.css">
<%} else if (page == "young") { %>
	<link rel="stylesheet" href="../../css/young.css">
<%} else if (page == "sitemap") { %>
	<link rel="stylesheet" href="../../css/sitemap.css">
<%} else if (page == "etc") { %>
	<link rel="stylesheet" href="../../css/etc.css">
<%} else if (page == "introduce") { %>
	<link rel="stylesheet" href="../../css/introduce.css">
<%} else if (page == "medical") { %>
	<link rel="stylesheet" href="../../css/medical.css">
<% } %>
<link rel="icon" href="../../images/common/favicon.ico">
<!-- 공통 js -->

</head>
<body>
	<h1 class="hidden-tit">쁘띠 바노바기</h1>
	<div class="common">
		<!-- gnb-->
	<% if (type == "main") { %>
		<div class="header type-main">
	<% } else {%>
		<div class="header">
	<% } %>
			<div class="header__wrap">
				<p class="header__logo">
					<a href="../main/main.html" class="header__logo-link">
						<img src="../../images/common/logo.png" alt="쁘띠 바노바기" class="hidden-tm">
						<img src="../../images/common/logo_t.png" alt="쁘띠 바노바기" class="hidden-p">
					</a>
				</p>
				<div class="header__right">
					<a href="tel:1588-6508" class="mobile-menu__tel">전화</a>
					<div class="mobile-menu"><!-- 모바일 햄버거 -->
						<a href="#" class="mobile-menu__wrap js-open-m">
							<span class="mobile-menu__line"></span>
						</a>
					</div>
					<div class="header__area">
						<div class="gnb">
							<div class="gnb__scroll">
								<div class="gnb__wrap">
									<div class="gnb__logo">
										<img src="../../images/common/gnb/gnb_logo.png" alt="petit banobagi - be pretty">
									</div>
									<ul class="gnb__list">
										<li class="gnb__item">
											<a href="" class="gnb__link js-login-open"><span>login</span></a>
										</li>
										<li class="gnb__item">
											<a href="../membership/join_step1.html" class="gnb__link type-join"><span>join</span></a>
										</li>
									</ul>
									<ul class="gnb__depth1-list">
										<li class="gnb__depth1-item">
											<a href="" class="gnb__depth1-link">Best of Best</a>
											<ul class="gnb__depth2-list">
												<li class="gnb__depth2-item">
													<a href="../petit/linetox.html" class="gnb__depth2-link">라인톡스</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="" class="gnb__depth2-link">피팅주사</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../petit/mouth.html" class="gnb__depth2-link">입꼬리필러</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="" class="gnb__depth2-link">바디 슬렌더 주사</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../young/charm.html" class="gnb__depth2-link">참리프팅</a>
												</li>
											</ul>
										</li>
										<li class="gnb__depth1-item">
											<a href="" class="gnb__depth1-link">예뻐지기</a>
											<ul class="gnb__depth2-list">
												<li class="gnb__depth2-item">
													<a href="../petit/botox.html" class="gnb__depth2-link">보톡스</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../petit/filler.html" class="gnb__depth2-link">필러</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../petit/linetox.html" class="gnb__depth2-link">라인톡스</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../petit/vfit.html" class="gnb__depth2-link">브이핏주사</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../petit/egg.html" class="gnb__depth2-link">에그핏주사</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../petit/mouth.html" class="gnb__depth2-link">입꼬리 필러</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../petit/heart.html" class="gnb__depth2-link">하트라인 필러</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../petit/water.html" class="gnb__depth2-link">물광주사</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../petit/ultra.html" class="gnb__depth2-link">울트라핏주사</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../petit/peeling.html" class="gnb__depth2-link">PICK 스킨필링</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../petit/beauty.html" class="gnb__depth2-link">PICK 이너뷰티주사</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../petit/sparkle.html" class="gnb__depth2-link">광채주사</a>
												</li>
											</ul>
										</li>
										<li class="gnb__depth1-item">
											<a href="" class="gnb__depth1-link">날씬해지기</a>
											<ul class="gnb__depth2-list">
												<li class="gnb__depth2-item">
													<a href="../slim/dday.html" class="gnb__depth2-link">D-day 프로그램</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../slim/bodyfit.html" class="gnb__depth2-link">바디핏 주사</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../slim/zeltiq.html" class="gnb__depth2-link">젤틱</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="" class="gnb__depth2-link">바디보톡스</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../slim/cellulite.html" class="gnb__depth2-link">셀룰라이트OUT</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../slim/ulfit.html" class="gnb__depth2-link">울핏</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../slim/capsule.html" class="gnb__depth2-link">살쏙 캡슐테라피</a>
												</li>
											</ul>
										</li>
										<li class="gnb__depth1-item">
											<a href="" class="gnb__depth1-link">어려지기</a>
											<ul class="gnb__depth2-list">
												<li class="gnb__depth2-item">
													<a href="../young/charm.html" class="gnb__depth2-link">참리프팅</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../young/anti.html" class="gnb__depth2-link">동안보톡스</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../young/elastic.html" class="gnb__depth2-link">울트라탄력리프팅</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../young/laser.html" class="gnb__depth2-link">레이저리프팅</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../young/rejuran.html" class="gnb__depth2-link">리쥬란힐러</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../young/bebe.html" class="gnb__depth2-link">베베주사</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../young/hair.html" class="gnb__depth2-link">모발성장주사</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="" class="gnb__depth2-link">연어주사</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../young/prp.html" class="gnb__depth2-link">PRP주사</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../young/aura.html" class="gnb__depth2-link">스킨아우라</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../young/ulthera.html" class="gnb__depth2-link">울쎄라 리프팅</a>
												</li>
											</ul>
										</li>
										<li class="gnb__depth1-item type-1depth">
											<a href="../introduce/introduce.html" class="gnb__depth1-link">방문하기</a>
										</li>
										<li class="gnb__depth1-item type-1depth">
											<a href="../review/photo_gallery.html" class="gnb__depth1-link">REVIEW</a>
										</li>
										<li class="gnb__depth1-item">
											<a href="" class="gnb__depth1-link">쁘띠콕콕</a>
											<ul class="gnb__depth2-list">
												<li class="gnb__depth2-item">
													<a href="../cok/info_list.html" class="gnb__depth2-link">콕콕인포</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../cok/event.html" class="gnb__depth2-link">콕콕이벤트</a>
												</li>
												<li class="gnb__depth2-item">
													<a href="../cok/medical.html" class="gnb__depth2-link">의료진소개</a>
												</li>
											</ul>
										</li>
									</ul>
									<div class="quick">
										<ul class="quick__list">
											<li class="quick__item nth-1">
												<div class="quick__wrap">
													<a href="" class="quick__link type-another js-login-open">LOGIN</a>
													<a href="../membership/join_step1.html" class="quick__link type-another">JOIN</a>
												</div>
											</li>
											<li class="quick__item nth-2">
												<div class="quick__wrap">
													바노<br>바기
												</div>
												<a href="http://www.banobagi.com" class="quick__link" target="_blank">바로가기</a>
											</li>
											<li class="quick__item nth-3">
												<div class="quick__wrap">
													상담<br>하기
												</div>
												<a href="" class="quick__link js-content-link" data-tab="is-contact">바로가기</a>
											</li>
											<li class="quick__item nth-4">
												<div class="quick__wrap">
													견적<br>보기
												</div>
												<a href="../cart/cart.html" class="quick__link">바로가기</a>
											</li>
											<li class="quick__item nth-5 js-scroll-top">
												<a href="#" class="scroll-top">
											        <span class="scroll-top__progress">TOP</span>
											    </a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--레이어팝업 로그인 -->
			<% include ../_include/_login %>
			<!--//레이어팝업 로그인 -->
			<!--개인정보 팝업 -->
			<% include ../_include/_popup %>
			<!--//개인정보 팝업 -->
			<!-- 모바일 quick -->
			<div class="quick type-mobile">
				<ul class="quick__list">
					<li class="quick__item nth-3">
						<div class="quick__wrap">
							상담<br>하기
						</div>
						<a href="" class="quick__link js-content-link" data-tab="is-contact">바로가기</a>
					</li>
					<li class="quick__item nth-4">
						<div class="quick__wrap">
							견적<br>보기
						</div>
						<a href="../cart/cart.html" class="quick__link">바로가기</a>
					</li>
				</ul>
			</div>
			<!-- //모바일 quick -->
		</div><!--header-->
		<!-- //gnb-->
	<!-- //header끝 -->
<!-- section시작 -->
