<!--popup시작 -->
<div class="popup-t">
	<div class="popup-t__wrap">
		<a href="" class="popup-t__close js-popup-close">닫기</a>
		<div class="popup-t__outer">
			<h2 class="popup-t__tit">개인정보취급방침</h2>
			<div class="popup-t__box">
				바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보
				보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게
				제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.<br> <br>

				이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에
				관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로
				개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.
			</div>
			<h2 class="popup-t__tit">개인정보 수집 및 이용 동의</h2>
			<div class="popup-t__box">
				바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보
				보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게
				제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.<br> <br>

				이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에
				관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로
				개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.
			</div>
			<h2 class="popup-t__tit">마케팅 광고 활용 동의(선택)</h2>
			<div class="popup-t__box">
				바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보
				보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게
				제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.<br> <br>

				이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에
				관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로
				개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.
			</div>
		</div>
	</div>
</div>
<!--//popup끝-->
