<!-- section-box (price) -->
<div class="section-box is-price">
	<div class="content-wrap">
		<div class="price">
			<h2 class="price__tit tit-v4">바노바기 참리프팅 수가표</h2>
			<ul class="price__list">
				<li class="price__item">
					<div class="price__box type-subject">
						<div class="price__vertical">
							<span class="price__icon"><img src="../../images/content/price_icon2.png" alt="가격 아이콘"></span>
							<h3 class="price__subject tit-v5">
								참리프팅
							</h3>
						</div>
					</div>
					<div class="price__box type-content">
						<div class="price__outer">
							<div class="price__inner">
								<p class="price__won"><span class="price__align">60,000원</span> <a href="" class="price__btn">장바구니</a></p>
							</div>
						</div>
					</div>
					<div class="tooltip">
						<div class="tooltip__outer">
							<div class="tooltip__inner">
								<p class="tooltip__tit">
									<span class="color-petit">사각턱보톡스 국산</span> 상품이<br>
									추가되었습니다.
								</p>
								<ul class="tooltip__list">
									<li class="tooltip__item">
										<a href="" class="tooltip__link">
											장바구니 확인하기
										</a>
									</li>
									<li class="tooltip__item">
										<a href="" class="tooltip__link js-page">
											페이지 계속보기
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="price__item type-multi">
					<div class="price__box type-subject">
						<div class="price__vertical">
							<span class="price__icon"><img src="../../images/content/price_icon2.png" alt="상품 아이콘"></span>
							<h3 class="price__subject tit-v5">
								쿨어드밴티지
							</h3>
						</div>
					</div>
					<div class="price__box type-content">
						<div class="price__outer">
							<div class="price__inner">
								<ul class="price__list2">
									<li class="price__item2">
										<p class="price__subtit">국산 보툴렉스</p>
										<p class="price__won"><span class="price__align">100,000원</span> <a href="" class="price__btn">장바구니</a></p>
									</li>
									<li class="price__item2">
										<p class="price__subtit">국산 보툴렉스</p>
										<p class="price__won"><span class="price__align">100,000원</span> <a href="" class="price__btn">장바구니</a></p>
									</li>
									<li class="price__item2">
										<p class="price__subtit">국산 보툴렉스</p>
										<p class="price__won"><span class="price__align">100,000원</span> <a href="" class="price__btn">장바구니</a></p>
									</li>
									<li class="price__item2">
										<p class="price__subtit">국산 보툴렉스</p>
										<p class="price__won"><span class="price__align">100,000원</span> <a href="" class="price__btn">장바구니</a></p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tooltip">
						<div class="tooltip__outer">
							<div class="tooltip__inner">
								<p class="tooltip__tit">
									<span class="color-petit">사각턱보톡스 국산</span> 상품이<br>
									추가되었습니다.
								</p>
								<ul class="tooltip__list">
									<li class="tooltip__item">
										<a href="" class="tooltip__link">
											장바구니 확인하기
										</a>
									</li>
									<li class="tooltip__item">
										<a href="" class="tooltip__link js-page">
											페이지 계속보기
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
			</ul>

			<p class="price__noti">* VAT 별도</p>
		</div>
	</div>
</div>
<!-- //section-box (price) -->
