<%
	type = "sitemap"
	page = "sitemap"
%>
<% include ../_include/_header %>
<div class="container type-bottom">
	<div class="etc-visual type-sitemap">
		<div class="etc-visual__outer">
			<div class="etc-visual__inner">
				<div class="etc-visual__box">
					<div class="etc-visual__wrap">
						<h2 class="etc-visual__tit">바노바기 <span class="color-petit">사이트맵</span></h2>
						<p class="etc-visual__txt">바노바기 홈페이지를 한눈에 확인하세요.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-wrap">
		<div class="sitemap">
			<ul class="sitemap__list">
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt"><a href="" class="sitemap__link type-1depth">Best of Best</a></dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">라인톡스</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">에그핏주사</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">입꼬리필러</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">바디핏주사</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">참리프팅</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt"><a href="" class="sitemap__link type-1depth">예뻐지기</a></dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">보톡스</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">필러</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">라인톡스</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">브이핏주사</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">에그핏주사</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">입꼬리필러</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">하트라인필러</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">물광주사</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">울트라핏주사</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt"><a href="" class="sitemap__link type-1depth">날씬해지기</a></dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">D-day 프로그램</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">바디핏주사</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">젤틱</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">바디보톡스</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">셀룰라이트OUT</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt"><a href="" class="sitemap__link type-1depth">어려지기</a></dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">참리프팅</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">동안보톡스</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">울트라탄력리프팅</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">레이저리프팅</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">리쥬란힐러</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">베베주사</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">
							<a href="" class="sitemap__link type-1depth"><span class="sitemap__arrow">방문하기</span></a>
						</dt>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">
							<a href="" class="sitemap__link type-1depth"><span class="sitemap__arrow">상담하기</span></a>
						</dt>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">
							<a href="" class="sitemap__link type-1depth"><span class="sitemap__arrow">견적보기</span></a>
						</dt>
					</dl>
				</li>
				<!-- <li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">
							<a href="" class="sitemap__link type-1depth"><span class="sitemap__arrow">Review</span></a>
						</dt>
					</dl>
				</li> -->
			</ul>
		</div>
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
