<%
	type = "introduce"
	page = "introduce"
%>
<% include ../_include/_header %>
<div class="container type-bottom">
	<!-- popup-sms -->
	<div class="dim type-sms">딤처리</div>
	<div class="popup-sms">
		<div class="popup-sms__wrap">
			<div class="popup-sms__vertical">
				<p class="popup-sms__tit">
					연락처를 입력하시면<br>
					SMS로 <strong>약도를 전송</strong>해드립니다.
				</p>
				<form id="mobileForm" class="main-form__form" method="post" onsubmit="$.fnSMSLocationSend();return false;">
					<div class="popup-sms__box">
						<input type="tel" name="mobileSend" id="mobileSend" placeholder="연락처를 입력해주세요." required="" class="popup-sms__input">
						<button type="submit" class="popup-sms__button">전송</button>
					</div>
				</form>
				<a href="" class="popup-sms__close js-sms-close">닫기</a>
			</div>
		</div>
	</div>
	<!-- //popup-sms-->
	<div class="container-top type-introduce">
		<div class="container-top__box">
			<h2 class="container-top__tit tit-v1">
				HELLO!<br>
				BANOBAGI PETIT
			</h2>
			<p class="container-top__txt txt-v1">오늘보다 더 예뻐지는 내일! 바노바기와 함께하세요. </p>
		</div>
	</div>
	<div class="introduce">
		<div class="section-box">
			<div class="content-wrap">
				<h3 class="introduce__tit">HERE WE ARE, <span class="inline-block">바노바기쁘띠 여기에 있어요!</span></h3>
				<p class="introduce__subtit">서울특별시 강남구 논현로 519 4층</p>
				<p class="introduce__add">(바노바기성형외과 <span class="color-point">별관 4층</span>)</p>

				<div class="introduce__box">
					<p class="introduce__txt">지하철 2호선 역삼역 6번 출구로 <span class="inline-block">나와서 100m 정도 직진</span></p>
					<p class="introduce__txt">지하철 9호선 언주역 7번 출구로 <span class="inline-block">나와서 400m 정도 직진</span></p>
				</div>
				<ul class="introduce__list">
					<li class="introduce__item type-naver">
						<a href="" class="introduce__link"><span class="introduce__icon">네이버 길찾기</span></a>
					</li>
					<li class="introduce__item type-sms">
						<a href="" class="introduce__link js-sms-open"><span class="introduce__icon">약도 전송하기</span></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="location">
			<div class="location__box">
				<div class="location__area">
					<div class="location__outer">
						<ul class="location__list">
							<li class="location__item type-tel">
								<h3 class="location__tit">언제든지 연락해주세요!</h3>
								<div class="location__wrap">
									<div class="location__inner">
										<p class="location__tel">1588.6508</p>
										<p class="location__tel"><span class="hidden-p">/</span>02.562.6001</p>
									</div>
								</div>
							</li>
							<li class="location__item type-time">
								<h3 class="location__tit">바노바기와 함께 예뻐지는 시간!</h3>
								<div class="location__wrap">
									<div class="location__inner">
										<p class="location__txt">
											월,수,금 10:30 ~ 20:00<br>
											화,목 11:00 ~ 19:00<br>
											토요일 10:00 ~ 16:00
										</p>

										<!-- <p class="location__txt">
											월 ~ 금 9:30 ~ 18:30<br>
											화, 금 10:00 ~ 20:00 <span class="location__night">야간진료</span><br>
											토요일 9:30 ~ 16:00<br>
											(3/16, 4/20, 5/18, 6/15, 7/20 휴진)
										</p> -->
										<!-- <p class="location__txt">
											월,수,목 10:00 ~ 18:30 / 토요일 10:00 ~ 16:00<br>
											화,금 10:00 ~ 20:00 <span class="location__night">야간진료</span><br>
											주말 및 공휴일 휴진
										</p> -->
										<!-- <p class="location__txt">
											월 10:00 ~ 18:30 / 수,목 12:00 ~ 20:00<br>
											화,금 10:00 ~ 20:00 / 토요일 10:00 ~ 16:00<br>
											주말 및 공휴일 휴진
										</p> -->
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 다음지도 -->
			<div id="map" class="location__map">
				<div class="map-motion__fake">
					<div class="map-motion__bg">
						<p class="map-motion__noti">지도를 움직이려면 클릭해 주세요</p>
					</div>
				</div>
			</div>
			<!-- //다음지도 -->
		</div>
		<div class="advice is-contact">
			<div class="advice__bg">
				<h3 class="introduce__tit">예뻐지고 싶다면 <span class="inline-block">망설이지말고 상담신청 하기</span></h3>
				<p class="introduce__subtit type-another">부담없이 간단한 정보만으로도<br> 상담신청을 하실 수 있습니다.</p>
				<div class="advice__wrap">
					<ul class="sub-contact__list">
						<li class="sub-contact__item">
							<div class="sub-contact__wrap">
								<lable class="label1" for="name">이름</lable>
								<input type="text" class="input1" id="name" placeholder="이름을 입력해 주세요.">
							</div>
						</li>
						<li class="sub-contact__item">
							<div class="sub-contact__wrap">
								<lable class="label1" for="phone">연락처</lable>
								<input type="tel" class="input1" id="phone" placeholder="휴대폰 번호를 입력해 주세요.">
							</div>
						</li>
						<li class="sub-contact__item">
							<div class="sub-contact__wrap">
								<lable class="label1">상담시간</lable>
								<div class="select">
									<a href="#" class="select__tit">상담시간을 선택해 주세요.</a>
									<div class="select__box">
										<!-- <p class="select2__subject type-another">관심부위</p> -->
										<ul class="select__list">
											<li class="select__item" id="online_01">오전 09 : 00 ~ 10 : 00</li>
											<li class="select__item" id="online_02">오전 10 : 00 ~ 11 : 00</li>
											<li class="select__item" id="online_03">오전 11 : 00 ~ 12 : 00</li>
											<li class="select__item" id="online_04">오전 09 : 00 ~ 10 : 00</li>
											<li class="select__item" id="online_05">오전 09 : 00 ~ 10 : 00</li>
											<li class="select__item" id="online_06">오전 09 : 00 ~ 10 : 00</li>
											<li class="select__item" id="online_07">오전 09 : 00 ~ 10 : 00</li>
											<li class="select__item" id="online_08">오전 09 : 00 ~ 10 : 00</li>
											<li class="select__item" id="online_09">오전 20 : 00 ~ 10 : 00</li>
											<li class="select__item" id="online_10">오전 09 : 00 ~ 10 : 00</li>
											<li class="select__item" id="online_11">오전 09 : 00 ~ 10 : 00</li>
											<li class="select__item" id="online_12">오전 20 : 00 ~ 10 : 00</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li class="sub-contact__item">
							<div class="sub-contact__wrap">
								<lable class="label1" for="phone">상담내용</lable>
								<textarea name="content" class="textarea1" placeholder="상담내용을 간략하게 적어 주세요."></textarea>
							</div>
						</li>
					</ul>
					<div class="sub-contact__check">
						<input type="checkbox" name="sl" id="test5" class="checkbox02">
						<label for="test5" class="">개인정보 수집 및 이용 동의(필수)</label>
						<a href="" class="sub-contact__link js-popup-open">[자세히보기]</a>
					</div>
					<ul class="advice__list">
						<li class="advice__item">
							<a href="" class="advice__link"><span>상담신청하기</span></a>
						</li>
						<li class="advice__item">
							<a href="" class="advice__link"><span>카카오톡 상담신청하기</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div><!-- //container-->
<% include ../_include/_footer %>
