<%
	type = "content"
	page = "young"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-anti">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">어려지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">동안보톡스</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							어려지는<br class="hidden-tm">
							<span class="color-young">바노바기 동안보톡스</span>
						</h2>
						<h3 class="visual__tag">#모공축소 #잔주름해결 #피부톤개선 #리프팅효과</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">30,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-anti">
				<h2 class="section-head__tit tit-v1">
					바노바기 동안보톡스,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					동안보톡스는 보톡스의 원리를 이용하여 피부를 가볍게 리프팅하는 시술입니다.<br class="hidden-tm">
					특히 피부 잔주름 개선과 리프팅, 턱의 라인을 당겨주는 효과가 있습니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- section-head -->
						<div class="section-head__inline">
							<div class="section-head__vertical">
								<p class="section-head__rl">
									<span class="section-head__rl-line">BANOBAGI ANTI-AGING BOTOX</span>
								</p>
							</div>
						</div>
						<div class="section-head__inline type-another">
							<div class="section-head__vertical">
								<ul class="section-head__list type-black">
							<li class="section-head__item nth-2">
								<div class="vertical">
									<h5 class="section-head__subject">모공축소</h5>
								</div>
							</li>
							<li class="section-head__item nth-17">
								<div class="vertical">
									<h5 class="section-head__subject">피부톤개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-5">
								<div class="vertical">
									<h5 class="section-head__subject">턱선개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-18">
								<div class="vertical">
									<h5 class="section-head__subject">리프팅효과</h5>
								</div>
							</li>
						</ul>
							</div>
						</div>
						<div class="section-head__img">
							<img src="../../images/young/anti/anti_bg_2.png" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
				<div class="kind">
					<ul class="kind__list">
						<li class="kind__item">
							<h3 class="kind__tit">스킨보톡스</h3>
							<p class="kind__txt">
								모공 축소, 피부톤 개선, 잔주름개선, 여름에
								땀 분비 억제 및 피부 리프팅 효과를 볼 수
								있습니다.
							</p>
						</li>
						<li class="kind__item">
							<h3 class="kind__tit">턱라인보톡스</h3>
							<p class="kind__txt">
								턱선을 아래로 잡아당기는 힘줄 근육에 보톡스를 주사하여 턱선 라인을
								예쁘게 개선 하며 리프팅 효과도 볼 수 있습니다.
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid type-anti type-static">

				<div class="section-mid__area">
					<div class="section-mid__img">동안보톡스 사진</div>
				</div>
				<div class="section-mid__wrap">
					<div class="section-mid__box">
						<h2 class="section-mid__tit tit-v1">QUICK&YOUNG</h2>
						<h3 class="section-mid__subtit subtit-v1">
							어려 보이고 싶지만<br>
							<strong>복잡한 건 싫잖아요!</strong>
						</h3>
						<p class="highlight1 type-young">보다 간단하게 어려보이고 싶다면?</p><br>
						<p class="highlight2 type-young">바노바기 동안보톡스 하세요!</p>
						<p class="section-mid__txt txt-v1">
							누구나 다 어려 보이고 싶은 마음은 똑같지만 부기나 멍에 대한 부담
							때문에 쉽게 하진 못하죠. 보기 싫게 늘어진 피부를 쫀쫀하게 조여주고,
							처진 턱 라인을 타이트하게 당겨주고.바노바기에서는 보톡스로도
							가능합니다.<br><br>

							비교적 간단한 시술이라고 다 똑같지 않습니다. 주사 시술에서도 결과의 차이는
							분명히 나타나니까요. 결과의 차이를 눈으로 확인해 보세요.
							<br class="hidden-tm">
							<span class="section-mid__point">지금 쁘띠 바노바기를 선택하세요.</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-anti">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 10~20분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">마취크림</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-young">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_1.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_10.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">마취크림</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_3.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_4.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">보톡스 시술</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-anti type-center">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/young/anti/anti_bg_3_t.jpg" alt="">
				</div>
				<div class="where__wrap">
					<div class="where__box">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">1</span>
									<img src="../../images/young/anti/anti_where_1.png" alt="스킨보톡스" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">스킨보톡스</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">2</span>
									<img src="../../images/young/anti/anti_where_2.png" alt="턱라인보톡스" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">턱라인보톡스</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-anti">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 동안보톡스
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">

					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-brand">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 브랜드 선택 가능</h3>
								<p class="detail__txt txt-v2">국산부터 수입까지 다양한 보톡스 브랜드 제품을 자유롭게 선택할 수 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
