<%
	type = "content"
	page = "young"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-aura">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">예뻐지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">스킨아우라</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							내 피부의 아우라가 다르다!<br class="hidden-tm">
                            볼륨과 리프팅을 동시에,<br class="hidden-tm">
							<span class="color-young">스킨아우라</span>
						</h2>
						<h3 class="visual__tag">론칭 기념 혜택! 기간 10월 1일 ~ 11월 30일</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">350,000~</span>
						</p>
                        <p class="visual__remark">( 300샷 / 디테일탄력케어1회 포함 )</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-aura">
				<h2 class="section-head__tit tit-v1">
					탄력과 볼륨은 더하고 자극은 빼다!<br class="hidden-tm">
					바노바기 스킨아우라 리프팅 너는 누구니?
				</h2>
			<h3 class="section-head__txt subtit-v1">
				비침습적인 바이폴라 고주파 치료의 특허 기술을 이용한 스킨아우라는 개인의 얼굴형과 피부 상태에 따라
				3개의 팁을 사용하여 피부 탄력 뿐만 아니라 볼륨까지 개선해줍니다.<br class="hidden-tm">
                콜라겐에만 집중하는 기존 리프팅과는 피하지방층에 고온의 레이저 에너지를 조사하는 신개념 안티에이징 시술입니다.
			</h3>
			<div class="section-head__area">
				<div class="section-head__box">
					<!-- aura-box1 -->
					<p class="section-head__rl">
						<span class="section-head__rl-line">BANOBAGI SKINAURA</span>
					</p>
					<ul class="section-head__list type-top">
						<li class="section-head__item nth-18">
							<div class="vertical">
								<h5 class="section-head__subject">리프팅효과</h5>
							</div>
						</li>
						<li class="section-head__item nth-49">
							<div class="vertical">
								<h5 class="section-head__subject">얼굴볼륨<br>개선</h5>
							</div>
						</li>
						<li class="section-head__item nth-50">
							<div class="vertical">
								<h5 class="section-head__subject">노화방지</h5>
							</div>
						</li>
                        <li class="section-head__item nth-32">
                            <div class="vertical">
                                <h5 class="section-head__subject">피부재생</h5>
                            </div>
                        </li>
                        <li class="section-head__item nth-8">
                            <div class="vertical">
                                <h5 class="section-head__subject">콜라겐재생</h5>
                            </div>
                        </li>
                        <li class="section-head__item nth-0">
    						<div class="vertical">
    							<h5 class="section-head__subject">얇은 피부도<br> OK!</h5>
    						</div>
    					</li>
					</ul>
					<h4 class="aura-box1__tit">
						BANOBAGI<br>
						skinaura
					</h4>
					<div class="section-head__img">
						<img src="../../images/young/aura/aura_bg_2.jpg" alt="">
					</div>
					<!-- //section-head -->
				</div>
			</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->

    <div class="section-box">
        <div class="content-wrap">
            <div class="aura-box2">
				<h2 class="aura-box2__tit tit-v1">[ 채우고 당긴다 ]</h2>
				<p class="aura-box2__subtit subtit-v1">다운타임, 피부자극이 거의 없어 어떤 피부에도 OK!</p>

				<div class="aura-box2__outer">
					<div class="aura-box2__inner">
						<ul class="aura-box2__list">
							<li class="aura-box2__item">
								<div class="aura-box2__img">
									<img src="../../images/young/aura/aura_img_2.png" alt="" class="img-responsive"/>
								</div>
								<p class="aura-box2__txt">
									비교적 확실한 리프팅 효과로<br class="hidden-tm">
									피부 탄력 개선!
								</p>
							</li>
							<li class="aura-box2__item">
								<div class="aura-box2__img">
									<img src="../../images/young/aura/aura_img_3.png" alt="" class="img-responsive"/>
								</div>
								<p class="aura-box2__txt">
									부족한 얼굴의 볼륨을 채워<br class="hidden-tm">
									얼굴살 고민 해결!
								</p>
							</li>
						</ul>
					</div>
					<div class="aura-box2__area">
						<img src="../../images/young/aura/aura_img_1.jpg" alt="" class="img-w100 hidden-tm"/>
						<img src="../../images/young/aura/aura_img_1_t.jpg" alt="" class="img-w100 hidden-p"/>
					</div>
				</div>
            </div>
			<div class="compare">
				<h2 class="compare__tit">
					기존 레이저 리프팅 VS<br class="hidden-p">
					스킨 아우라 리프팅
				</h2>

				<ul class="compare__list">
					<li class="compare__item">
						<div class="compare__wrap">
							<div class="compare__img">
								<img src="../../images/young/aura/aura_compare_1.jpg" alt="기존 레이저 리프팅" class="hidden-t img-w100"/>
								<img src="../../images/young/aura/aura_compare_1_t.jpg" alt="기존 레이저 리프팅" class="hidden-pm img-w100"/>
							</div>
							<h3 class="compare__caption">
								<span class="compare__span">기존 레이저 기기</span>
							</h3>
						</div>
						<ul class="compare__list2">
							<li class="compare__item2">
								<div class="compare__vertical">
									지방 손실로 인하여<br>
									볼살이 꺼지는 경우가 있음
								</div>
							</li>
							<li class="compare__item2">
								<div class="compare__vertical">
									효과가 높을수록<br>
									더해지는 통증
								</div>
							</li>
							<li class="compare__item2">
								<div class="compare__vertical">
									얇은 피부, 예민한 피부는<br>
									적용 불가능
								</div>
							</li>
							<li class="compare__item2">
								<div class="compare__vertical">
									콜라겐 재생, 피부 볼륨 중<br>
									한가지 개선만 가능
								</div>
							</li>
						</ul>
					</li>
					<li class="compare__item type-aura">
						<div class="compare__wrap">
							<div class="compare__img">
								<img src="../../images/young/aura/aura_compare_2.jpg" alt="스킨 아우라 리프팅" class="hidden-t img-w100"/>
								<img src="../../images/young/aura/aura_compare_2_t.jpg" alt="스킨 아우라 리프팅" class="hidden-pm img-w100"/>
							</div>
							<h3 class="compare__caption">
								<span class="compare__span">스킨 아우라</span>
							</h3>
						</div>
						<ul class="compare__list2">
							<li class="compare__item2">
								<div class="compare__vertical">
									자연스럽게<br>
									속부터 차오르는 볼륨
								</div>
							</li>
							<li class="compare__item2">
								<div class="compare__vertical">
									저자극 리프팅으로<br>
									편안하게
								</div>
							</li>
							<li class="compare__item2">
								<div class="compare__vertical">
									얇고 예민한 피부도<br>
									타이트닝 OK!
								</div>
							</li>
							<li class="compare__item2">
								<div class="compare__vertical">
									콜라겐 재생, 피부 재생,<br>
									보습, 피부 방어력까지 OK!
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
        </div>
    </div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="best type-single type-young type-aura">
				<h2 class="best__tit tit-v1">스킨아우라 POINT <span class="tit-v7__num">3</span></h2>
				<p class="best__subtit subtit-v2">피부층, 민감성, 두께까지 생각한 나만의 맞춤 안티에이징</p>
				<ul class="best__list">
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">01</span>
							<div class="best__img">
								<img src="../../images/young/aura/aura_best_1.jpg" class="img-w100 hidden-tm" alt="3개의 팁으로 더욱 섬세하게!">
								<img src="../../images/young/aura/aura_best_1_t.jpg" class="img-w100 hidden-pm" alt="3개의 팁으로 더욱 섬세하게!">
								<img src="../../images/young/aura/aura_best_1_m.jpg" class="img-w100 hidden-pt" alt="3개의 팁으로 더욱 섬세하게!">
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											3개의 팁으로<br>
											더욱 섬세하게!
										</p>
									</div>
								</div>
							</div>
						</div>
						<ul class="best__list2">
							<li class="best__item2">
								<div class="best__vertical">
									피부 두께와 민감도, 시술 부위에<br class="hidden-tm">
									따른 맞춤 시술이 가능합니다.
								</div>
							</li>
						</ul>
					</li>
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">02</span>
							<div class="best__img">
								<img src="../../images/young/aura/aura_best_2.jpg" class="img-w100 hidden-tm" alt="콜라겐이 아닌 지방세포에 적용!">
								<img src="../../images/young/aura/aura_best_2_t.jpg" class="img-w100 hidden-pm" alt="콜라겐이 아닌 지방세포에 적용!">
								<img src="../../images/young/aura/aura_best_2_m.jpg" class="img-w100 hidden-pt" alt="콜라겐이 아닌 지방세포에 적용!">
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											콜라겐이 아닌<br>
											지방세포에 적용!
										</p>
									</div>
								</div>
							</div>
						</div>
						<ul class="best__list2">
							<li class="best__item2">
								<div class="best__vertical">
									콜라겐에만 초첨을 두었던 기존<br class="hidden-tm">
									리프팅과는 달리 피하지방층의<br class="hidden-tm">
									노화방지 및 피부 재생까지 고려한<br class="hidden-tm">
									안티에이징 시술입니다.
								</div>
							</li>
						</ul>
					</li>
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">03</span>
							<div class="best__img">
								<img src="../../images/young/aura/aura_best_3.jpg" class="img-w100 hidden-tm" alt="저자극 리프팅!">
								<img src="../../images/young/aura/aura_best_3_t.jpg" class="img-w100 hidden-pm" alt="저자극 리프팅!">
								<img src="../../images/young/aura/aura_best_3_m.jpg" class="img-w100 hidden-pt" alt="저자극 리프팅!">
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											저자극 리프팅!
										</p>
									</div>
								</div>
							</div>
						</div>
						<ul class="best__list2">
							<li class="best__item2">
								<div class="best__vertical">
									고온의 레이저 에너지에 의한 피부<br class="hidden-tm">
									손상과 자극이 거의 없어 얇고 예민한<br class="hidden-tm">
									피부에도 비교적 효과적으로 적용<br class="hidden-tm">
									가능합니다.
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
        <div class="content-wrap">
			<div class="difference">
				<h2 class="difference__tit tit-v1">쁘띠도 역시 바노바기!</h2>
				<p class="difference__subtit subtit-v1">디테일의 차이가 결과의 차이를 만들어 냅니다.</p>

				<div class="difference__img">
					<img src="../../images/young/aura/aura_img_4.png" alt="" class="hidden-tm img-w100"/>
					<img src="../../images/young/aura/aura_img_4_t.png" alt="" class="hidden-p img-w100"/>
				</div>

				<div class="difference__wrap">
					<ul class="difference__list">
						<li class="difference__item">
							<div class="difference__box">
								<div class="difference__vertical">
									피부 두께, 시술 부위,<br class="hidden-tm">
									노화 진행 정도, 피부 타입에<br class="hidden-tm">
									따른 1:1 맞춤 스킨케어 컨설팅
								</div>
							</div>
						</li>
						<li class="difference__item">
							<div class="difference__box">
								<div class="difference__vertical">
									3가지 시술 팁, 에너지 및<br class="hidden-tm">
									펄스폭을 피부타입에 맞게<br class="hidden-tm">
									조절하여 비교적 빠른 개선
								</div>
							</div>
						</li>
						<li class="difference__item">
							<div class="difference__box">
								<div class="difference__vertical">
									개인의 얼굴형,고민 부위에 따른<br class="hidden-tm">
									시술 플랜으로 한 눈에 보이는<br class="hidden-tm">
									리프팅 효과!
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-ulfit">
				<h2 class="how__tit tit-v1">스킨아우라 CARE PROSESS</h2>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_9.png" alt="피부 상태를 꼼꼼하게 체크합니다." class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">피부 상태를 꼼꼼하게 체크합니다.</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_38.png" alt="클렌징 후 피부 표면 마취를 진행합니다." class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징 후 피부 표면 마취를 진행합니다.</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_39.png" alt="스킨 아우라 시술을 진행합니다." class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">스킨 아우라 시술을 진행합니다.</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_40.png" alt="디테일 탄력케어로 효과를 높여주며 피부를 진정시켜 줍니다." class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">디테일 탄력케어로 효과를 높여주며 피부를 진정시켜 줍니다.</h3>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="caution type-young">
				<div class="caution__head">
					<h2 class="caution__tit tit-v1">
						<span class="color-young">스킨아우라</span> 시술 후<br>
						주의사항
					</h2>
					<p class="caution__subtit subtit-v2">
						효과를 높이기 위해서는 셀프케어도<br class="hidden-m">
						무엇보다 중요합니다. 주의사항을 꼭 지켜주세요.
					</p>
					<div class="caution__img">
						<img src="../../images/young/aura/aura_caution_1.png" class="img-w100" alt="스킨 아우라"/>
					</div>
				</div>
				<div class="caution__body">
					<ol class="caution__list">
						<li class="caution__item">
							<div class="caution__wrap">시술 직후 해당 부위가 붉어지거나 붓기가 발생할 수 있습니다.</div>
						</li>
						<li class="caution__item">
							<div class="caution__wrap">음주와 흡연은 시술 효과를 떨어트릴 수 있으니 피하시는 것이 좋습니다.</div>
						</li>
						<li class="caution__item">
							<div class="caution__wrap">시술 다음날부터 세안 및 가벼운 화장은 가능합니다.</div>
						</li>
						<li class="caution__item">
							<div class="caution__wrap">시술 후에는 자외선차단제를 꼼꼼하게 발라주셔야 합니다.</div>
						</li>
						<li class="caution__item">
							<div class="caution__wrap">약 7일 정도는 찜질방, 사우나 등을 피해주셔야 합니다.</div>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-ulfit">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 40분 이내</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">마취크림</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">없음</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-young">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box type-mt">
		<div class="detail type-aura">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br class="hidden-m">
						바노바기<br>
						스킨아우라
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 숙련된 노하우로<br> 더 만족스러운 결과를 드립니다.</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-various">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 시술 선택 가능</h3>
								<p class="detail__txt txt-v2">리프팅도 여러 종류가 있습니다. 1:1 디테일한 맞춤 상담을 통해 본인에게 맞는 시술을 선택할 수 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, 오래 가는 결과</h3>
								<p class="detail__txt txt-v2">
									<?php echo $sinceYear;?>년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
