<%
	type = "content"
	page = "young"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-bebe">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">어려지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">베베주사</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							어려지는<br class="hidden-tm">
							<span class="color-young">바노바기 베베주사</span>
						</h2>
						<h3 class="visual__tag">#피부미백 #피부재생 #노화예방 #콜라겐생성촉진</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">150,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-bebe">
				<h2 class="section-head__tit tit-v1">
					바노바기 베베주사,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					베베주사는 천연단백질 성분을 포함하고 있는 앰플을 피부에 직접 침투시켜 피부재생과 미백, 보습을 시켜주는
					시술입니다. 앰플에 포함된 성장인자는 피부보호막을 만들고 세포활성화를 촉진시키는 등 중요한 역할을 합니다.
					피부 세포 영양 공급, 손상된 세포 재생, 콜라겐과 엘라스틴 생성까지 다양한 효과를 기대할 수 있어 보다 건강한
					피부를 유지할 수 있도록 도와 줍니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<p class="section-head__rl">
							<span class="section-head__rl-line">BANOBAGI BEBE-INJECTION</span>
						</p>
						<!-- bebe-box1 -->
						<ul class="section-head__list">
							<li class="section-head__item nth-8">
								<div class="vertical">
									<h5 class="section-head__subject">피부재생</h5>
								</div>
							</li>
							<li class="section-head__item nth-4">
								<div class="vertical">
									<h5 class="section-head__subject">주름개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-1">
								<div class="vertical">
									<h5 class="section-head__subject">피부탄력</h5>
								</div>
							</li>
							<li class="section-head__item nth-27">
								<div class="vertical">
									<h5 class="section-head__subject">피부보습</h5>
								</div>
							</li>
						</ul>
						<div class="section-head__img">
							<img src="../../images/young/bebe/bebe_bg_2.png" alt="">
						</div>
						<div class="section-head__img-txt">
							<img src="../../images/young/bebe/bebe_txt_1.png" alt="Bebe-injection">
						</div>
						<img src="../../images/young/bebe/bebe_wave_1.png" alt="" class="section-head__wave nth-1">
						<img src="../../images/young/bebe/bebe_wave_1.png" alt="" class="section-head__wave nth-2">
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid type-bebe type-static">
				<div class="section-mid__area">
					<div class="section-mid__img">베베주사 사진</div>
				</div>
				<div class="section-mid__wrap">
					<div class="section-mid__box">
						<div class="content-head2 type-bebe">
							<div class="content-head2__wrap">
								<h2 class="content-head2__tit tit-v1">QUICK&<span class="color-young">YOUNG</span></h2>
								<p class="content-head2__txt subtit-v2">내 피부 나이는 300살? <span class="content-head2__point">생기 없이 칙칙한</span> 미운 내 피부!</p>
							</div>
						</div>
						<p class="highlight1 type-young">세 살 같은 새살 피부를 원한다면?</p><br>
						<p class="highlight2 type-young">바노바기 베베주사 하세요!</p>
						<p class="section-mid__txt txt-v1">
							누구나 바라는 아기 같은 피부를 원한다면 성장인자를 기억하세요.
							앰플을 피부에 직접 침투 시키기 때문에 비교적 빠르게 달라지는 피부를
							확인할 수 있어요.<br><br>

							모두가 다르고, 까다롭고 복잡한 피부에 대한 이해가 없다면
							어떤 시술을 받는다 해도 효과가 떨어질 수 밖에 없습니다.<br>
							<span class="section-mid__point">디테일한 바노바기 의료진은 당신의 피부를 지속적으로 연구합니다.</span>
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-bebe">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 40~50분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">마취크림</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-young">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_1.png" alt="클렌징" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_15.png" alt="마취크림" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">마취크림</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_16.png" alt="시술부위확인" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_17.png" alt="앰플도포" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">앰플도포</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<!--d-day꺼사용-->
			<div class="where type-bebe">
				<h2 class="where__tit tit-v1">어디가 예뻐질까??</h2>
				<div class="where__img2">
					<img src="../../images/young/bebe/bebe_bg_3_t.jpg" alt="어디가 예뻐질까??">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">1</span>
									<img src="../../images/young/bebe/bebe_where_1.png" alt="잔주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">잔주름</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">2</span>
									<img src="../../images/young/bebe/bebe_where_2.png" alt="미백/피부보습" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">미백/피부보습</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">3</span>
									<img src="../../images/young/bebe/bebe_where_3.png" alt="피부재생" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">피부재생</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">4</span>
									<img src="../../images/young/bebe/bebe_where_4.png" alt="피부탄력" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">피부탄력</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
			<!--//d-day꺼사용-->
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-bebe">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 베베주사
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다.</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-component">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 주사시술 선택 가능</h3>
								<p class="detail__txt txt-v2">주사시술에도 여러 종류가 있습니다. 1:1 디테일한 맞춤 상담을 통해 본인 피부에 맞는 시술을 선택할 수 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, 오래 가는 결과</h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
