<%
	type = "content"
	page = "young"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-charm">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">어려지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">참리프팅</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							어려지는<br class="hidden-tm">
							<span class="color-young">바노바기 참리프팅</span>
						</h2>
						<h3 class="visual__tag">#주름개선 #탄력증가 #V라인 #피부재생</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">60,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-charm">
				<h2 class="section-head__tit tit-v1">
					바노바기 참리프팅,<br>
					너는 누구니?
				</h2>
			<h3 class="section-head__txt subtit-v1">
				리프팅, 주름 개선, 탄력증가 등 여러 가지 효과를 가지고 있는 참리프팅은<br class="hidden-m">
				숙련된 의료진을 통해 시술하는 경우, 둔해 보이는 얼굴라인과 얼굴처짐 등을 개선할 수 있습니다.<br>
				수술 없이 비교적 짧고 빠른 시술이 가능하며 실밥이 없고 부기나 멍 등이 거의 없어<br>
				부담 없이 시술이 가능합니다.
			</h3>
			<div class="section-head__area">
				<div class="section-head__box">
					<!-- section-head -->
					<div class="section-head__inline">
						<div class="section-head__vertical">
							<p class="section-head__rl">
								<span class="section-head__rl-line">BANOBAGI charm LIFTING</span>
							</p>
						</div>
					</div>
					<div class="section-head__inline type-another">
						<div class="section-head__vertical">
							<ul class="section-head__list type-black">
								<li class="section-head__item nth-4">
									<div class="vertical">
										<h5 class="section-head__subject">잔주름개선</h5>
									</div>
								</li>
								<li class="section-head__item nth-8">
									<div class="vertical">
										<h5 class="section-head__subject">피부재생</h5>
									</div>
								</li>
								<li class="section-head__item nth-1">
									<div class="vertical">
										<h5 class="section-head__subject">탄력증가</h5>
									</div>
								</li>
								<li class="section-head__item nth-5">
									<div class="vertical">
										<h5 class="section-head__subject">V라인</h5>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="section-head__img">
						<img src="../../images/young/charm/charm_bg_1_t.jpg" alt="">
					</div>
					<!-- //section-head -->
				</div>
			</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid">
				<div class="section-st1 type-charm">
					<div class="content-head">
						<div class="content-head__wrap">
							<h3 class="content-head__tit">BE PRETTY!</h3>
							<p class="content-head__txt">BANOBAGI CHARM LIFTING</p>
						</div>
					</div>
					<div class="section-st1__wrap">
						<div class="section-st1__box">
							<div class="section-st1__img">
								<img src="../../images/young/charm/charm_bg_4_t.jpg" alt="참 리프팅">
							</div>
							<h2 class="section-st1__tit tit-v1">
								Charm Lifting<br>
								<span class="section-st1__small">For all 2030</span>
							</h2>
							<h3 class="section-st1__subtit subtit-v1">
								<strong>참</strong> 예쁜 나를 위한<br>
								지금의 아름다움을 유지할 수 있도록
							</h3>
							<p class="highlight1 type-young">오늘의 나를 사랑한다면</p><br>
							<p class="highlight2 type-young">참리프팅 하세요.</p>
						</div>
						<p class="section-st1__txt txt-v1">
							실리프팅이라고 똑같지 않고, 같은 실이라도 결과는 같지 않습니다. 얼굴의 구조와 조직에 대한 이해가 기본이며
							의료진의 숙련도에 따라 결과가 다르죠. 쁘띠 바노바기에서 시술의 차이를 눈으로 확인 해보세요.<br><br>

							남다른 기술력! 시술 받는 이의 통증이 거의 없도록 배려하며 진행하는 섬세함까지! 비교적 간단한 시술도 제대로 하고
							싶다면? <span class="section-mid__point">쁘띠도 바노바기를 선택하세요.</span>
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-charm">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 15분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">국소마취</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-young">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_9.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">전문가 상담</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_3.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위 디자인</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_7.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">소독 및 국소마취</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_8.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">참리프팅 시술</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-charm type-center">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/young/charm/charm_bg_5_t.jpg" alt="">
				</div>
				<div class="where__wrap">
					<div class="where__box">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">1</span>
									<img src="../../images/young/charm/charm_where_1.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">볼처짐</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">2</span>
									<img src="../../images/young/charm/charm_where_2.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">이중턱</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">3</span>
									<img src="../../images/young/charm/charm_where_3.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">턱라인</h3>
							</li>
						</ol>
					</div>
				</div>
				<div class="need">
					<div class="need__box">
						<h2 class="need__tit">YOU NEED IT!</h2>
						<ol class="need__list">
							<li class="need__item">
								<div class="need__wrap"><span class="need__arrow"><strong>볼살 처짐</strong>이 생긴 경우</span> <span class="inline-block">팔자필러 병행 시 효과 UP<i>!</i></span></div>
							</li>
							<li class="need__item">
								<div class="need__wrap"><span class="need__arrow"><strong>이중턱</strong>이 고민인 경우</span> <span class="inline-block">윤곽주사 병행 시 효과 UP<i>!</i></span></div>
							</li>
							<li class="need__item">
								<div class="need__wrap"><span class="need__arrow"><strong>빠른V라인</strong>을 원하는 경우</span> <span class="inline-block">윤곽주사,턱보톡스 병행 시 효과 UP<i>!</i></span></div>
							</li>
							<li class="need__item">
								<div class="need__wrap"><strong>얼굴 볼륨</strong>이 없어 <strong>나이 들어 보이는</strong> 경우</div>
							</li>
							<li class="need__item">
								<div class="need__wrap"><strong>흉터,회복기간이 부담</strong>되는 경우</div>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-charm">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 참리프팅
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">

					<ul class="detail__list">
						<li class="detail__item type-thread">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품 몰딩실 사용</h3>
								<p class="detail__txt txt-v2">강력한 인장력과 지탱력으로 비교적 오랜 기간 효과가 유지되는 특허 받은 정품 몰딩실만을 사용합니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-natural">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">과도하지 않은 자연스러움</h3>
								<p class="detail__txt txt-v2">얼굴 구조와 조직에 대한 이해를 기본으로 숙련된 의료진이 직접 진행하기 때문에 더 자연스럽습니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
