<%
	type = "content"
	page = "young"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-dna">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">어려지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">DNA 연어주사</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							어려지는<br class="hidden-tm">
							<span class="color-young">바노바기<br class="hidden-pt"> DNA 연어주사</span>
						</h2>
						<h3 class="visual__tag">#피부재생 #잔주름개선 #모공축소 #흉터재생</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">120,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-dna">
				<h2 class="section-head__tit tit-v1">
					바노바기 DNA 연어주사,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					연어주사는 PDRN성분을 포함하고 있어 세포 재생 및 성장을<br class="hidden-tm">
					촉진하는 효과를 기대할 수 있습니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<ul class="section-head__list type-black">
							<li class="section-head__item nth-2">
								<div class="vertical">
									<h5 class="section-head__subject">모공축소</h5>
								</div>
							</li>
							<li class="section-head__item nth-38">
								<div class="vertical">
									<h5 class="section-head__subject">흉터재생</h5>
								</div>
							</li>
							<li class="section-head__item nth-4">
								<div class="vertical">
									<h5 class="section-head__subject">잔주름개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-30">
								<div class="vertical">
									<h5 class="section-head__subject">피부톤개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-17">
								<div class="vertical">
									<h5 class="section-head__subject">피부재생</h5>
								</div>
							</li>
						</ul>
						<div class="section-head__img">
							<img src="../../images/young/dna/dna_bg_2.png" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
				<div class="caption">
					<div class="caption__wrap">
						<p class="caption__txt">
							이외에도 보습, 탄력, 피부결 및 톤 개선 등의 다양한 효과가 있기 때문에<br class="hidden-m">
							평소 피부에 대한 고민이 있으신 분들께 적합한 시술입니다.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid type-dna type-static">
				<div class="section-mid__wrap">
					<div class="section-mid__box">
						<h2 class="section-mid__tit tit-v1">QUICK&YOUNG</h2>
						<h3 class="section-mid__subtit subtit-v1">
							나이 먹을 수록 어렵게만 느껴지는 손상된 피부 관리
						</h3>
						<p class="highlight1 type-young">흐르는 세월을 거슬러 올라가고 싶다면?</p><br>
						<p class="highlight2 type-young">바노바기 DNA 연어주사 하세요!</p>
						<p class="section-mid__txt txt-v1">
							나이를 먹을 수록 더 신경 써야 할 것들이 많아지는 어려운 피부관리,
							연어 DNA 속에 숨겨진 PDRN 성분으로 이제 보다 편하고,
							비교적 빠르게 개선할 수 있어요.<br><br>

							시간이 많이 들어서, 비용에 대한 부담 때문에 선뜻 하지 못하던
							체계적인 피부관리. 바노바기는 한분, 한번의 시술도 보다 디테일하게 진행합니다.
							만족스러운 미소를 위해 꼭 필요한 과정이기 때문입니다.
						</p>
					</div>
				</div>
				<div class="section-mid__area">
					<div class="section-mid__img">DNA연어주사 사진</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-dna">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 30~40분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">마취크림</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-young">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_1.png" alt="클렌징" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_29.png" alt="마취크림" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">마취크림</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_16.png" alt="시술부위확인" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_30.png" alt="연어주사 시술" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">연어주사 시술</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-dna">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/young/dna/dna_bg_3_t.jpg" alt="어디가 예뻐질까? - 시술부위">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">1</span>
									<img src="../../images/young/dna/dna_where_1.png" alt="탈모/혈액순환" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">탈모/혈액순환</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">2</span>
									<img src="../../images/young/dna/dna_where_2.png" alt="잔주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">잔주름</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">3</span>
									<img src="../../images/young/dna/dna_where_3.png" alt="피부톤개선" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">피부톤개선</h3>
							</li>
							<!-- mobile용 -->
							<li class="where__item hidden-p">
								<div class="where__img">
									<span class="where__num type-young">4</span>
									<img src="../../images/young/dna/dna_where_4.png" alt="모공, 홍조" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">모공, 홍조</h3>
							</li>
							<!-- //mobile용 -->
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<!-- //pc용 -->
							<li class="where__item hidden-tm">
								<div class="where__img">
									<span class="where__num type-young">4</span>
									<img src="../../images/young/dna/dna_where_4.png" alt="모공, 홍조" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">모공, 홍조</h3>
							</li>
							<!-- //pc용 -->
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">5</span>
									<img src="../../images/young/dna/dna_where_5.png" alt="여드름 흉터/튼살" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">여드름 흉터/튼살</h3>
							</li>
							<li class="where__item type-another">
								<div class="where__img">
									<span class="where__num type-young">6</span>
									<img src="../../images/young/dna/dna_where_6.png" alt="피부재생" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">피부재생</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-dna">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한 바노바기<br>
						DNA 연어주사
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-brand">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 시술 선택 가능</h3>
								<p class="detail__txt txt-v2">주사 시술에도 여러 종류가 있습니다. 1:1 디테일한 맞춤 상담을 통해 본인에게 맞는 시술을 선택할 수 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
