<%
	type = "content"
	page = "young"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-elastic">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">어려지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">울트라탄력리프팅</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							어려지는<br class="hidden-tm">
							<span class="color-young">바노바기 울트라탄력리프팅</span>
						</h2>
						<h3 class="visual__tag">#주름개선 #V라인 #콜라겐재생 #탄력향상</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">80,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-elastic">
				<h2 class="section-head__tit tit-v1">
					바노바기 울트라탄력리프팅,<br>
					너는 누구니?
				</h2>
			<h3 class="section-head__txt subtit-v1">
				울트라 탄력 리프팅은 인체 무해한 의료용 녹는 실로 노화, 생활 습관 외 다양한 원인에 의해
				처진 피부를 당겨주는 리프팅 시술입니다. 턱, 볼, 입가 등 다양한 부위에 적용 가능하며,
				시술 후 이물감이 거의 없어 비교적 빠른 일상 복귀가 가능합니다.<br><br>
				콜라겐 생성 유도 효과가 있어 을 통해 피부 탄력 및 주름 개선 효과까지 확인할 수 있습니다.
			</h3>
			<div class="section-head__area">
				<div class="section-head__box">
					<!-- elastic-box1 -->
					<ul class="section-head__list type-black">
						<li class="section-head__item nth-0">
							<div class="vertical">
								<h5 class="section-head__subject">V라인<br> 리프팅</h5>
							</div>
						</li>
						<li class="section-head__item nth-38">
							<div class="vertical">
								<h5 class="section-head__subject">콜라겐재생</h5>
							</div>
						</li>
						<li class="section-head__item nth-4">
							<div class="vertical">
								<h5 class="section-head__subject">주름개선</h5>
							</div>
						</li>
						<li class="section-head__item nth-1">
							<div class="vertical">
								<h5 class="section-head__subject">탄력증대</h5>
							</div>
						</li>
					</ul>
					<div class="inner-box type-elastic">
						<p class="inner-box__txt">
							피부 탄력 및 주름 개선 효과
						</p>
						<h4 class="inner-box__tit">
							<span class="inner-box__highlight1">BANOBAGI</span><br>
							<span class="inner-box__highlight2">LIFTING</span>
						</h4>
					</div>
					<div class="section-head__img">
						<img src="../../images/young/elastic/elastic_bg_2.jpg" alt="">
					</div>
					<!-- //section-head -->
				</div>
			</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid type-elastic">
				<div class="section-mid__wrap">
					<h2 class="section-mid__tit tit-v1 type-white">QUICK&YOUNG</h2>
					<div class="section-mid__box">
						<h2 class="section-mid__tit tit-v1">QUICK&YOUNG</h2>
						<h3 class="section-mid__subtit subtit-v1">
							숨기고 싶은 나이<br>
							<strong>하지만 그대로 드러나는 얼굴</strong>
						</h3>
						<p class="highlight1 type-young">진짜 나이를 숨기고 싶다면?</p><br>
						<p class="highlight2 type-young">바노바기 울트라 탄력 리프팅하세요!</p>
						<p class="section-mid__txt txt-v1">
							누구나 한번쯤은 고려하게 되는 리프팅, 안전한 정품 실 사용과 수년간 쌓인
							임상경험과 노하우까지 울트라 탄력 리프팅이라면 비교적 빠르고 보다
							쉬운 방법으로 만족스러운 결과를 확인할 수 있을 거에요.<br><br>

							개인의 현재 상태를 파악해 디테일하게 진행하는 바노바기의 리프팅 시술,
							직접 그 차이를 느껴보세요. 결과는 곧 실력을 증명하니까요.
						</p>
					</div>
				</div>
				<div class="section-mid__area">
					<div class="section-mid__img">울트라탄력리프팅 사진</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-elastic">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 30분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">국소마취</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">빠른 일상생활</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-young">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_1.png" alt="클렌징" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_5.png" alt="국소마취" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">국소마취</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_3.png" alt="시술부위확인" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_28.png" alt="리프팅 시술" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">리프팅 시술</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-elastic">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/young/elastic/elastic_bg_3_t.jpg" alt="">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">1</span>
									<img src="../../images/young/elastic/elastic_where_1.png" alt="이마" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">이마</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">2</span>
									<img src="../../images/young/elastic/elastic_where_2.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">눈가/처진볼살</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">3</span>
									<img src="../../images/young/elastic/elastic_where_3.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔자주름/입가주름</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">4</span>
									<img src="../../images/young/elastic/elastic_where_4.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">늘어진 턱선/턱라인</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-elastic">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한 바노바기<br>
						울트라 탄력 리프팅
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-thread">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품 실 사용</h3>
								<p class="detail__txt txt-v2">미국 FDA 및 국내 KFDA에서 허가 받은 정품 실만을 사용해 보다 안전한 시술이 가능합니다.</p>
							</div>
						</li>
						<li class="detail__item type-over">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">과도하지 않은 자연스러움</h3>
								<p class="detail__txt txt-v2">얼굴 구조와 조직에 대한 이해를 기본으로 숙련된 의료진이 직접 진행하기 때문에 더 자연스럽습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
