<%
	type = "content"
	page = "young"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-hair">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">어려지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">모발성장주사</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							어려지는<br class="hidden-tm">
							<span class="color-young">바노바기 모발성장주사</span>
						</h2>
						<h3 class="visual__tag">#탈모치료 #모낭재생 #모낭세포활성화 #모낭영양공급</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">150,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-hair">
				<h2 class="section-head__tit tit-v1">
					바노바기 모발성장주사,<br>
					너는 누구니?
				</h2>
			<h3 class="section-head__txt subtit-v1">
				모발성장주사는 탈모를 개선하는 주사시술입니다. 성장인자는 피부 내의 혈관을 신생시켜 모낭에 영양을
				공급하여 모낭 세포, 모낭의 표피 세포의 성장을 촉진 시켜 노화되고 손상된 모낭을 튼튼하게 합니다.
				PRP주사 또는 레이저치료를 병행 하시면 효과를 더욱 증대시킬 수 있으며, 시술 후 바로 일상 생활이
				가능해 부담 없이 시술이 가능합니다.
			</h3>
			<div class="section-head__area">
				<div class="section-head__box">
					<!-- hair-box1 -->
					<ul class="section-head__list type-multi">
						<li class="section-head__item nth-29">
							<div class="vertical">
								<h5 class="section-head__subject">탈모치료</h5>
							</div>
						</li>
						<li class="section-head__item nth-32">
							<div class="vertical">
								<h5 class="section-head__subject">모낭재생</h5>
							</div>
						</li>
						<li class="section-head__item nth-36">
							<div class="vertical">
								<h5 class="section-head__subject type-multi">표피세포<br> 활성화</h5>
							</div>
						</li>
						<li class="section-head__item nth-37">
							<div class="vertical">
								<h5 class="section-head__subject">영양공급</h5>
							</div>
						</li>
					</ul>
					<div class="inner-box type-hair">
						<h4 class="inner-box__tit">
							BANOBAGI<br>
							PETIT
						</h4>
					</div>
					<div class="section-head__img">
						<img src="../../images/young/hair/hair_bg_2.jpg" alt="">
					</div>
					<!-- //section-head -->
				</div>
			</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid type-hair">
				<div class="section-mid__wrap">
					<h2 class="section-mid__tit tit-v1 type-white">QUICK&YOUNG</h2>
					<div class="section-mid__box">
						<h2 class="section-mid__tit tit-v1">QUICK&YOUNG</h2>
						<h3 class="section-mid__subtit subtit-v1">
							자꾸만 빠지는 <strong>머리카락</strong>부터<br>
							하루가 다르게 휑 해지는 <strong>두피</strong>까지
						</h3>
						<p class="highlight1 type-young">탈모 고민으로 괴롭다면?</p><br>
						<p class="highlight2 type-young">바노바기 모발성장주사 하세요!</p>
						<p class="section-mid__txt txt-v1">
							고민하는 사이에도 빠지고 있는 머리카락, 탈모 치료도 타이밍이
							있습니다. 모발성장주사로 탈모의 스트레스를 날려버리세요.<br><br>

							체계적이고 정밀하게 진행하는 <span class="section-mid__point">섬세한 실력까지 갖춘 쁘띠 바노바기.</span>
							풍부한 임상경험과 노하우로 체계적인 1:1 맞춤 시술을 합니다.
							지금 모발성장주사를 선택하세요!
						</p>
					</div>
				</div>
				<div class="section-mid__area">
					<div class="section-mid__img">모발성장 사진</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-hair">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 10~15분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">국소마취</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-young">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_24.png" alt="진단" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">진단</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_25.png" alt="국소마취" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">국소마취</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_26.png" alt="시술부위확인" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_27.png" alt="주사시술" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">주사시술</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-hair type-center">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/young/hair/hair_bg_3_t.jpg" alt="">
				</div>
				<div class="where__wrap">
					<div class="where__box">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">1</span>
									<img src="../../images/young/hair/hair_where_1.png" alt="모낭재생" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">모낭재생</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">2</span>
									<img src="../../images/young/hair/hair_where_2.png" alt="세포 활성화" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">세포 활성화</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">3</span>
									<img src="../../images/young/hair/hair_where_3.png" alt="세포성장 촉진" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">세포성장 촉진</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-hair">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 모발성장주사
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-component">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 주사시술 선택 가능</h3>
								<p class="detail__txt txt-v2">주사시술에도 여러 종류가 있습니다. 1:1 디테일한 맞춤 상담을 통해 본인에게 맞는 시술을 선택할 수 있습니다</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
