<%
	type = "content"
	page = "young"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-laser">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">어려지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">레이저리프팅</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							어려지는<br class="hidden-tm">
							<span class="color-young">바노바기 레이저리프팅</span>
						</h2>
						<h3 class="visual__tag">#피부리프팅 #주름개선 #얼굴지방감소 #콜라겐재생</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">120,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-laser">
				<h2 class="section-head__tit tit-v1">
					바노바기 레이저리프팅,<br>
					너는 누구니?
				</h2>
			<h3 class="section-head__txt subtit-v1">
				레이저 리프팅은 비수술, 비절개 방식의 고강도 초음파로 피부에 비교적 손상을 주지 않으면서, 보통 한 번의
				시술로 보다 빠르게 주름을 개선하여 리프팅 효과를 기대할 수 있습니다.
				더블로 리프팅 시술은 피부 처짐의 원인이 되는 진피층에서 근막층(SMAS)까지 침투하여 지방층을 수축하고
				피부의 탄력을 높여 늘어지거나 처진 피부조직 리프팅 합니다. 턱라인보톡스와 함께 시술 시 효과를 더욱
				증대시킬 수 있으며, 시술 직후 바로 일상 생활이 가능해 부담 없이 시술이 가능합니다.
			</h3>
			<div class="section-head__area">
				<div class="section-head__box">
					<!-- laser-box1 -->
					<ul class="section-head__list type-white">
						<li class="section-head__item nth-8">
							<div class="vertical">
								<h5 class="section-head__subject">콜라겐재생</h5>
							</div>
						</li>
						<li class="section-head__item nth-4">
							<div class="vertical">
								<h5 class="section-head__subject type-tight">잔주름/탄력<br> 개선</h5>
							</div>
						</li>
						<li class="section-head__item nth-10">
							<div class="vertical">
								<h5 class="section-head__subject type-tight">얼굴지방<br> 감소</h5>
							</div>
						</li>
						<li class="section-head__item nth-35">
							<div class="vertical">
								<h5 class="section-head__subject type-tight">리프팅효과</h5>
							</div>
						</li>
					</ul>
					<div class="line-box">
						<div class="line-box__wrap">
							<div class="line-box__inner">
								<h4 class="line-box__tit tit-v1">BE PRETTY<br> BANOBAGI PETIT</h4>
								<p class="line-box__txt">BANOBAGI laser lifting</p>
							</div>
						</div>
					</div>
					<div class="section-head__img">
						<img src="../../images/young/laser/laser_bg_2_t.png" alt="레이저리프팅 사진">
					</div>
					<!-- //section-head -->
				</div>
			</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid type-laser">
				<div class="section-mid__wrap">
					<h2 class="section-mid__tit tit-v1 type-white">QUICK&YOUNG</h2>
					<div class="section-mid__box">
						<h2 class="section-mid__tit tit-v1">QUICK&YOUNG</h2>
						<h3 class="section-mid__subtit subtit-v1">
							<strong>나이는 20대지만 피부는 40대</strong><br>
							내 마음도 모르고 자꾸만 탄력 없이 처지는 피부!
						</h3>
						<p class="highlight1 type-young">피부 겉과 속을 보다 확실하게 당기고 싶다면?</p><br>
						<p class="highlight2 type-young">바노바기 레이저리프팅 하세요!</p>
						<p class="section-mid__txt txt-v1">
							바노바기의 레이저 리프팅은 안전한 정품 기기와 정품 팁을 사용합니다.
							비수술적 비교적 간단한 레이저 시술이지만 누구나 똑같이 잘 할 수 있는 것은 아니죠.
							풍부한 임상경험과 노하우로 얼굴별, 피부별 최적화된 1:1 맞춤 시술을 합니다.
							눈으로 확인 가능한 결과의 차이를 느껴 볼 수 있습니다.<br><br>

							정확하고 정밀하게 진행하는 <span class="section-mid__point">섬세한 실력까지 갖춘 쁘띠 바노바기.</span>
							비교적 간단해도 제대로 하고 싶다면? 지금 레이저 리프팅을 선택하세요!
						</p>
					</div>
				</div>
				<div class="section-mid__area">
					<div class="section-mid__img">레이저리프팅 사진</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-laser">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 20~30분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">마취크림</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-young">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_1.png" alt="클렌징" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_10.png" alt="마취크림" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">마취크림</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_3.png" alt="시술부위확인" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_23.png" alt="레이저시술" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">레이저시술</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-laser">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/young/laser/laser_bg_3_t.jpg" alt="">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">1</span>
									<img src="../../images/young/laser/laser_where_1.png" alt="눈가주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">눈가주름</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">2</span>
									<img src="../../images/young/laser/laser_where_2.png" alt="처진볼/피부" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">처진볼/피부</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">3</span>
									<img src="../../images/young/laser/laser_where_3.png" alt="팔자주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔자주름</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">4</span>
									<img src="../../images/young/laser/laser_where_4.png" alt="늘어진 턱선/이중턱" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">늘어진 턱선/이중턱</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-laser">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 레이저리프팅
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-various">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 시술 선택 가능</h3>
								<p class="detail__txt txt-v2">리프팅도 여러 종류가 있습니다. 1:1 디테일한 맞춤 상담을 통해 본인에게 맞는 시술을 선택할 수 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
