<%
	type = "content"
	page = "young"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-prp">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">어려지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">PRP주사</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							어려지는<br class="hidden-tm">
							<span class="color-young">바노바기 PRP주사</span>
						</h2>
						<h3 class="visual__tag">#피부재생 #콜라겐생성 #잔주름개선 #홍조 #모공</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">500,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-prp">
				<h2 class="section-head__tit tit-v1">
					바노바기 PRP주사,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					PRP주사는 자신의 혈액 속 성장인자들이 세포를 촉진시키고 손상된 조직의 비교적 빠른 회복을
					유도하여, 건강하고 젊어보이는 피부를 되찾을 수 있도록 도와주는 시술입니다.
					피부 재생이나 리프팅 뿐만 아니라 여드름, 주름, 흉터 그리고 탈모 개선 효과에 이르기까지
					다양한 효과를 기대할 수 있습니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- section-st1 -->
						<ul class="section-head__list type-white">
							<li class="section-head__item nth-28">
								<div class="vertical">
									<h5 class="section-head__subject">여드름,흉터</h5>
								</div>
							</li>
							<li class="section-head__item nth-29">
								<div class="vertical">
									<h5 class="section-head__subject">탈모치료</h5>
								</div>
							</li>
							<li class="section-head__item nth-4">
								<div class="vertical">
									<h5 class="section-head__subject">잔주름개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-30">
								<div class="vertical">
									<h5 class="section-head__subject">피부톤개선</h5>
								</div>
							</li>
						</ul>
						<h4 class="inner-box__tit type-prp">
							Do you want to pretty?
						</h4>
						<div class="section-head__img">
							<img src="../../images/young/prp/prp_bg_2_t.jpg" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid">
				<div class="section-st1 type-prp">
					<div class="content-head">
						<div class="content-head__wrap">
							<h3 class="content-head__tit">BE PRETTY!</h3>
							<p class="content-head__txt">BANOBAGI PRP INJECTION</p>
						</div>
					</div>
					<div class="section-st1__wrap">
						<div class="section-st1__box">
							<div class="section-st1__img">
								<img src="../../images/young/prp/prp_img_1.jpg" alt="PRP주사">
							</div>
							<h2 class="section-st1__tit tit-v1">
								QUICK&YOUNG
							</h2>
							<h3 class="section-st1__subtit subtit-v1">
								촉촉하게 <strong>수분감</strong> 넘치는 피부<br>
								탱탱하게 <strong>탄력</strong> 넘치는 피부
							</h3>
							<p class="highlight1 type-young">나에게 안티에이징이 필요하다 느껴질 때?</p><br>
							<p class="highlight2 type-young">바노바기 PRP 주사 하세요!</p>
						</div>
						<p class="section-st1__txt txt-v1">
							매일 매일 하루가 다르게 변덕을 부리는 피부, 관리하기가 참 어렵죠? PRP주사는 피부 보습력을 강화시킬 뿐
							아니라 피부 세포까지 재생 시킬 수 있는 비수술적 시술입니다. 피부를 보다 건강하게 만들어주죠.
							<br><br>

							나의 생활을 좀 더 편하게 해줄 보다 근본적인 안티에이징, 바노바기의 디테일하고 꼼꼼한 주사 시술이라면 내 마음에 드는 효과를 확인할 수 있을 거에요.
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-prp">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 20~30분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">마취크림</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-young">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_1.png" alt="클렌징" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_15.png" alt="마취크림" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">마취크림</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_18.png" alt="채혈 후 혈소판 분리 및 추출" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">채혈 후 혈소판 분리 및 추출</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_19.png" alt="PRP 시술" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">PRP 시술</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-prp">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/young/prp/prp_bg_6_t.jpg" alt="어디가 예뻐질까? - 시술부위">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">1</span>
									<img src="../../images/young/prp/prp_where_1.png" alt="탈모" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">탈모</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">2</span>
									<img src="../../images/young/prp/prp_where_2.png" alt="잔주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">잔주름</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">3</span>
									<img src="../../images/young/prp/prp_where_3.png" alt="칙칙한 피부" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">칙칙한 피부</h3>
							</li>
							<!--mobile용-->
							<li class="where__item hidden-p">
								<div class="where__img">
									<span class="where__num type-young">4</span>
									<img src="../../images/young/prp/prp_where_4.png" alt="모공, 홍조" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">모공, 홍조</h3>
							</li>
							<!--//mobile용-->
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<!-- pc용-->
							<li class="where__item hidden-tm">
								<div class="where__img">
									<span class="where__num type-young">4</span>
									<img src="../../images/young/prp/prp_where_4.png" alt="모공, 홍조" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">모공, 홍조</h3>
							</li>
							<!-- //pc용-->
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">5</span>
									<img src="../../images/young/prp/prp_where_5.png" alt="여드름 흉터, 튼살" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">여드름 흉터, 튼살</h3>
							</li>
							<li class="where__item type-another">
								<div class="where__img">
									<span class="where__num type-young">6</span>
									<img src="../../images/young/prp/prp_where_6.png" alt="피부탄력" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">피부탄력</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-prp">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 PRP주사
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-brand">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 주사시술 선택 가능</h3>
								<p class="detail__txt txt-v2">주사시술에도 여러 종류가 있습니다. 1:1 디테일한 맞춤 상담을 통해 본인 피부에 맞는 시술을 선택할 수 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
