<%
	type = "content"
	page = "young"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-rejuran">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">어려지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">리쥬란힐러</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							어려지는<br class="hidden-tm">
							<span class="color-young">바노바기 리쥬란힐러</span>
						</h2>
						<h3 class="visual__tag">#잔주름개선 #모공축소 #피부결개선 #탄력증가</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">230,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-rejuran">
				<h2 class="section-head__tit tit-v1">
					바노바기 리쥬란힐러,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					리쥬란힐러는 노화나 손상으로 얇아진 진피 재생에 도움을 주는 피부 시술 입니다. 일반적인 필러는 채워서
					윤곽과 볼륨에 변화를 준다면, 리쥬란 힐러는 피부 재생 능력을 활성화 하여 피부 속 환경을 개선합니다.
					또한 표피 및 진피를 건강하게 하여 피부 탄력을 증가시키고 노화 및 피부 자극으로 손상된 피부를 회복시켜
					줍니다. 물광주사 또는 베베주사와 함께 시술시 효과를 더욱 증대시킬 수 있으며, 시술 비교적 빠르게 일상 생활이
					가능해 부담 없이 시술이 가능합니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- rejuran-box1 -->
						<ul class="section-head__list type-white type-basic">
							<li class="section-head__item nth-4">
								<div class="vertical">
									<h5 class="section-head__subject">잔주름개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-30">
								<div class="vertical">
									<h5 class="section-head__subject">피부결개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-39">
								<div class="vertical">
									<h5 class="section-head__subject type-multi">유,수분<br> 밸런스</h5>
								</div>
							</li>
							<li class="section-head__item nth-28">
								<div class="vertical">
									<h5 class="section-head__subject">피지감소</h5>
								</div>
							</li>
							<li class="section-head__item nth-3">
								<div class="vertical">
									<h5 class="section-head__subject">각질감소</h5>
								</div>
							</li>
							<li class="section-head__item type-combine nth-2">
								<div class="vertical">
									<h5 class="section-head__subject">모공축소</h5>
								</div>
							</li>
							<li class="section-head__item type-combine nth-17">
								<div class="vertical">
									<h5 class="section-head__subject">피부톤정화</h5>
								</div>
							</li>
							<li class="section-head__item type-combine nth-1">
								<div class="vertical">
									<h5 class="section-head__subject">탄력증가</h5>
								</div>
							</li>
							<li class="section-head__item type-combine nth-18">
								<div class="vertical">
									<h5 class="section-head__subject">리프팅효과</h5>
								</div>
							</li>
							<li class="section-head__item type-combine nth-8">
								<div class="vertical">
									<h5 class="section-head__subject type-multi">피부 보호막<br> 재생</h5>
								</div>
							</li>
						</ul>
						<!--pc 용-->
						<ul class="section-head__list type-white type-sub">
							<li class="section-head__item nth-2">
								<div class="vertical">
									<h5 class="section-head__subject">모공축소</h5>
								</div>
							</li>
							<li class="section-head__item nth-17">
								<div class="vertical">
									<h5 class="section-head__subject">피부톤정화</h5>
								</div>
							</li>
							<li class="section-head__item nth-1">
								<div class="vertical">
									<h5 class="section-head__subject">탄력증가</h5>
								</div>
							</li>
							<li class="section-head__item nth-18">
								<div class="vertical">
									<h5 class="section-head__subject">리프팅효과</h5>
								</div>
							</li>
							<li class="section-head__item nth-8">
								<div class="vertical">
									<h5 class="section-head__subject type-multi">피부 보호막<br> 재생</h5>
								</div>
							</li>
						</ul>
						<!-- //pc용 -->
						<div class="section-head__img">
							<img src="../../images/young/rejuran/rejuran_bg_2.png" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid type-rejuran type-static">
				<div class="section-mid__wrap">
					<div class="section-mid__box">
						<h2 class="section-mid__tit tit-v1">QUICK&YOUNG</h2>
						<h3 class="section-mid__subtit subtit-v1">
							나이가 들수록 <strong>쉽게 지치는 피부,</strong><br>
							값 비싼 화장품도 큰 효과가 없을 때
						</h3>
						<p class="highlight1 type-young">다양한 피부 고민에 도움을 줄 수 있는 방법은?</p><br>
						<p class="highlight2 type-young">바노바기 리쥬란힐러 하세요!</p>
						<p class="section-mid__txt txt-v1">
							노화된 피부는 피부 자체의 보습력이 떨어지고 이로 인해 주름, 탄력저하,
							기미 등이 본격적으로 나타납니다. 이젠 근본적인 피부 속 부터 집중해야
							합니다.<br><br>

							정확하고 정밀하게 섬세한 실력까지 갖춘 바노바기는 풍부한 임상경험과
							노하우로 얼굴별, 피부별 최적화된 1:1 맞춤 시술을 진행합니다. 간단하지만
							제대로 하고 싶다면? <span class="section-mid__point">쁘띠 바노바기에서 리쥬란 힐러 하세요!</span>
						</p>
					</div>
				</div>
				<div class="section-mid__area">
					<div class="section-mid__img">리쥬란힐러 사진</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-rejuran">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 30분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">마취크림</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-young">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_1.png" alt="클렌징" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_29.png" alt="마취크림" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">마취크림</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_16.png" alt="시술부위확인" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_30.png" alt="리쥬란힐러 시술" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">리쥬란힐러 시술</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-rejuran type-center">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/young/rejuran/rejuran_bg_4_t.jpg" alt="어디가 예뻐질까? - 시술부위">
				</div>
				<div class="where__wrap">
					<div class="where__box">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">1</span>
									<img src="../../images/young/rejuran/rejuran_where_1.png" alt="얼굴 노화, 피부손상, 탄력" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">얼굴 노화, 피부손상, 탄력</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">2</span>
									<img src="../../images/young/rejuran/rejuran_where_2.png" alt="목주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">목주름</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">3</span>
									<img src="../../images/young/rejuran/rejuran_where_3.png" alt="손등 잔주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">손등 잔주름</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-rejuran">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 리쥬란힐러
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-component">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 시술 선택 가능</h3>
								<p class="detail__txt txt-v2">주사 시술에도 여러 종류가 있습니다. 1:1 디테일한 맞춤 상담을 통해 본인에게 맞는 시술을 선택할 수 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
