<%
	type = "content"
	page = "young"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-ulthera">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">어려지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">울쎄라 리프팅</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							피부 깊은 곳부터<br class="hidden-tm">
                            차오르는 탄력<br class="hidden-tm">
							<span class="color-young">울쎄라 리프팅</span>
						</h2>
						<h3 class="visual__tag">#얼굴리프팅 #주름개선 #콜라겐재생 #미국FDA승인</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">550,000</span>
						</p>
						<p class="visual__noti">* 부분셀카 제공 조건 / 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% include ../_include/_price %>

    <div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-ulthera">
				<h2 class="section-head__tit tit-v1">
					울쎄라 리프팅<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					미국식약청(FDA) 승인을 받은 울쎄라 리프팅은
                    고강도 초음파 에너지를 피부 속 4.5MM의 근막층(SMAS)까지 도달하여
                    피부 속 표피 및 진피 층과 더불어 가장 깊은 곳의 늘어진 조직까지 리프팅을 해주는 시술입니다.
                    기존의 리프팅레이저로는 개선이  어려워 안면거상술로만 가능했던 부위까지 타이트닝이
                    가능하며 피부를 중력 반대 방향으로 서서히 당겨주어 절개 없이도 자연스럽게 피부탄력을 높여줍니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<div class="section-head__img">
							<img src="../../images/young/ulthera/ulthera_bg_2.jpg" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
                <div class="explain type-ulthera">
                    <div class="section-head__caption3">
						<div class="section-head__img-txt">
                        	<img src="../../images/young/ulthera/ulthera_txt_1.png" class="img-normal" alt="ulthera"/>
						</div>
                        <p class="section-head__txt subtit-v1">
                           절개 없이 고강도 집속 초음파 에너지로 레이저만으로 자연스럽게 차오르는 탄력!
                        </p>
                    </div>

                    <ul class="section-head__list type-bottom">
                        <li class="section-head__item nth-0">
                            <div class="vertical">
                                <h5 class="section-head__subject">
                                    피부 탄력<br>
                                    증진 및<br>
                                    콜라겐 재생
                                </h5>
                            </div>
                        </li>
    					<li class="section-head__item nth-0">
    						<div class="vertical">
    							<h5 class="section-head__subject">
                                    1년에 1회<br>
                                    비교적<br>
                                    긴 유지기간
                                </h5>
    						</div>
    					</li>
    					<li class="section-head__item nth-0">
    						<div class="vertical">
    							<h5 class="section-head__subject">
                                    처진 볼살 및<br>
                                    이중턱<br>
                                    리프팅
                                </h5>
    						</div>
    					</li>
    					<li class="section-head__item nth-4">
    						<div class="vertical">
    							<h5 class="section-head__subject">
                                    주름개선
                                </h5>
    						</div>
    					</li>
    					<li class="section-head__item nth-18">
    						<div class="vertical">
    							<h5 class="section-head__subject type-tight">
                                    안면거상<br>
                                    효과
                                </h5>
    						</div>
    					</li>
    				</ul>
                </div>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-ulthera">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
                <p class="where__subtit subtit-v2">부위별 피부 구조에 맞춘 타겟팅 치료!</p>
                <h3 class="where__part tit-v1">[ face ]</h3>

				<div class="where__img2">
					<img src="../../images/young/ulthera/ulthera_bg_3_t.jpg" alt="어디가 예뻐질까? - face">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">1</span>
									<img src="../../images/young/ulthera/ulthera_where_1.png" alt="이마, 미간 주름 개선" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">
                                    이마, 미간<br>
                                    주름 개선
                                </h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">2</span>
									<img src="../../images/young/ulthera/ulthera_where_2.png" alt="눈가주름, 다크서클 개선" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">
                                    눈가주름,<br>
                                    다크서클 개선
                                </h3>
							</li>
							<!-- pc -->
							<li class="where__item hidden-tm">
								<div class="where__img">
									<span class="where__num type-young">3</span>
									<img src="../../images/young/ulthera/ulthera_where_3.png" alt="팔자주름 개선" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔자주름 개선</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<!-- t/m -->
							<li class="where__item hidden-p">
								<div class="where__img">
									<span class="where__num type-young">3</span>
									<img src="../../images/young/ulthera/ulthera_where_3.png" alt="팔자주름 개선" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔자주름 개선</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">4</span>
									<img src="../../images/young/ulthera/ulthera_where_4.png" alt="V라인 리프팅 효과" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">V라인 리프팅 효과</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">5</span>
									<img src="../../images/young/ulthera/ulthera_where_5.png" alt="목주름, 이중턱 개선" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">
                                    목주름,<br>
                                    이중턱 개선
                                </h3>
							</li>
						</ol>
					</div>
				</div>
			</div>

            <div class="where type-ulthera2">
                <h3 class="where__part tit-v1">[ body ]</h3>

				<div class="where__img2">
					<img src="../../images/young/ulthera/ulthera_bg_4_t.jpg" alt="어디가 예뻐질까? - body">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">1</span>
									<img src="../../images/young/ulthera/ulthera_where_6.png" alt="가슴 주름/탄력 개선" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">
									가슴 주름/<br>
									탄력 개선
								</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">2</span>
									<img src="../../images/young/ulthera/ulthera_where_7.png" alt="처진 뱃살 탄력 증진" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">
									처진 뱃살<br>
									탄력 증진
								</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">3</span>
									<img src="../../images/young/ulthera/ulthera_where_8.png" alt="엉덩이 아래 튼살 및 탄력 개선" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">
									엉덩이 아래 튼살
									및 탄력 개선
								</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">4</span>
									<img src="../../images/young/ulthera/ulthera_where_9.png" alt="팔꿈치, 무릎 주름 및 탄력 개선" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">
									팔꿈치, 무릎 주름
									및 탄력 개선
								</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
        <div class="content-wrap">
            <div class="ulthera-box">
                <div class="ulthera-box__wrap">
                    <div class="compare-table type-young">
                        <ul class="compare-table__list nth-1">
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
									기존 레이저 리프팅
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    지속적인 효과를 위해서는<br class="hidden-m">
									여러 차례의 시술 필요
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    진피층
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    3~6개월
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    표피를 통하여 에너지 감소 후 전달
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    잔주름 개선 및 피부탄력
                                </div>
                            </li>
                        </ul>
                        <ul class="compare-table__list nth-2">
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    VS
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    시술 횟수
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    피부 도달층
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    지속기간
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    에너지 전달
                                </div>
                            </li>
							<li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    시술 효과
                                </div>
                            </li>
                        </ul>
                        <ul class="compare-table__list nth-3">
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    울쎄라 리프팅
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    1회 시술만으로도 약 1년 유지
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    4.5MM의 근막층까지 도달 가능
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    1년~1년 6개월
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    에너지 손실 거의 없이 직접 전달
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    리프팅, 잔주름 및 깊은 주름개선, 피부탄력
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="best type-young type-ulthera">
				<h2 class="best__tit tit-v7">CHECK! 정품 울쎄라</h2>

				<div class="best__wide">
					<div class="best__inner">
						<div class="best__wrap type-wide">
							<span class="best__num">01</span>
							<div class="best__img">
								<img src="../../images/young/ulthera/ulthera_img_1.jpg" class="img-w100" alt="울쎄라 최신버전"/>
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											울쎄라 최신버전
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="best__box">
						<div class="best__explain">
							<div class="best__vertical">
								업그레이드된 울쎄라버전은 불법 재생팁 사용이
								불가능하도록 되어 있습니다.
								기계 모니터에 ULTHERAPY로 되어 있는지 확인하세요!
							</div>
						</div>
					</div>
				</div>
				<ul class="best__list">
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">02</span>
							<div class="best__img">
								<img src="../../images/young/ulthera/ulthera_img_2.jpg" class="img-w100 hidden-tm" alt="금색 정품 테두리"/>
								<img src="../../images/young/ulthera/ulthera_img_2_t.jpg" class="img-w100 hidden-p" alt="금색 정품 테두리"/>
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											금색 정품 테두리
										</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">03</span>
							<div class="best__img">
								<img src="../../images/young/ulthera/ulthera_img_3.jpg" class="img-w100 hidden-tm" alt="다양한 정품팁 사용"/>
								<img src="../../images/young/ulthera/ulthera_img_3_t.jpg" class="img-w100 hidden-p" alt="다양한 정품팁 사용"/>
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											다양한 정품팁 사용
										</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">04</span>

							<div class="best__img">
								<img src="../../images/young/ulthera/ulthera_img_4.jpg" class="img-w100 hidden-tm" alt="시술 후 시리얼 넘버 정품 인증서 발급"/>
								<img src="../../images/young/ulthera/ulthera_img_4_t.jpg" class="img-w100 hidden-p" alt="시술 후 시리얼 넘버 정품 인증서 발급"/>
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt">
											시술 후 시리얼 넘버<br>
											정품 인증서 발급
										</p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
        <div class="content-wrap">
			<div class="difference">
				<h2 class="difference__tit tit-v1">
					울쎄라,<br>
					누가 어떻게 어떤 방향으로<br class="hidden-tm">
					레이저를 조사하는냐에<br class="hidden-tm">
					따라 효과의 차이가 있습니다.
				</h2>

				<div class="difference__img">
					<img src="../../images/young/aura/aura_img_4.png" alt="" class="hidden-tm img-w100"/>
					<img src="../../images/young/aura/aura_img_4_t.png" alt="" class="hidden-p img-w100"/>
				</div>

				<div class="difference__wrap">
					<ul class="difference__list">
						<li class="difference__item">
							<div class="difference__box">
								<div class="difference__vertical">
									섬세하고 정확한 분석으로<br class="hidden-tm">
									비교적 안전한 시술
								</div>
							</div>
						</li>
						<li class="difference__item">
							<div class="difference__box">
								<div class="difference__vertical">
									정품 정샷 원칙 준수.<br class="hidden-tm">
									부위별 맞춤팁 및 모니터 체크로<br class="hidden-tm">
									비교적 정확한 시술
								</div>
							</div>
						</li>
						<li class="difference__item">
							<div class="difference__box">
								<div class="difference__vertical">
									초음파의 강도를 유지하여<br class="hidden-tm">
									더욱 또렷한 개선 효과
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-ulfit">
				<h2 class="how__tit tit-v1">울쎄라 CARE PROSESS</h2>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_9.png" alt="1:1 전문의와 피부상태체크" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">1:1 전문의와 피부상태체크</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_38.png" alt="시술 부위 마취" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술 부위 마취</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_42.png" alt="울쎄라 시술" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">울쎄라 시술</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_40.png" alt="진정케어" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">진정케어</h3>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="caution type-young type-ulthera">
				<div class="caution__head">
					<h2 class="caution__tit tit-v1">
						<span class="color-young">울쎄라 리프팅</span><br>
						시술 후<br class="hidden-tm">
						주의사항
					</h2>
					<div class="caution__img">
						<img src="../../images/young/ulthera/ulthera_caution_1_t.jpg" class="img-w100" alt="울쎄라 리프팅"/>
					</div>
				</div>
				<div class="caution__body">
					<ol class="caution__list">
						<li class="caution__item">
							<div class="caution__wrap">시술 직후 해당 부위가 약간 붉어지거나 따가운 느낌이 있을 수 있습니다</div>
						</li>
						<li class="caution__item">
							<div class="caution__wrap">음주와 흡연은 시술 효과를 저하시킬 수 있어 약 2주간 금연/금주하시는 것이 좋습니다.</div>
						</li>
						<li class="caution__item">
							<div class="caution__wrap">시술 후 가벼운 세안 및 가벼운 화장은 가능합니다.</div>
						</li>
						<li class="caution__item">
							<div class="caution__wrap">시술 후 최소 30+ 이상의 자외선 차단제를 꼼꼼히 발라주시는 것이 좋습니다.</div>
						</li>
						<li class="caution__item">
							<div class="caution__wrap">샤워는 시술 이튿날부터 권장하며 약 7일 정도는 찜질방, 사우나 등을 피해주셔야 합니다.</div>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-ulfit">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 30분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">마취크림</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">없음</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-young">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- //section-box-->

	<!-- section-tv -->
	<div class="section-box type-mt">
		<div class="content-wrap">
			<div class="section-tv">
				<h2 class="section-tv__tit tit-v1">쁘띠 바노바기 TV</h2>

				<div class="section-tv__outer">
		            <div class="section-tv__area">
		                <div class="section-tv__video">
		                    <div id="section-tv-iframe"></div>
		                </div>
		            </div>

		            <div class="section-tv__wrap">
		                <div class="section-tv__box">
		                    <ul class="section-tv__list">
		                        <li class="section-tv__item">
		                            <a class="section-tv__link" data-ytb-id="6-_28UQ2ebE">
		                                <div class="section-tv__thum">
		                                    <img src="../../images/young/ulthera/ulthera_thum_1.jpg" loading="lazy" class="img-w100" alt="">
		                                </div>
		                                <div class="section-tv__txt">
		                                    <div class="section-tv__vertical">
		                                        바노바기 울쎄라리프팅 체험기!
		                                    </div>
		                                </div>
		                            </a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
			    </div>

				<a href="https://www.youtube.com/channel/UC2lzYQ5kXBK0gkVDe5StZzQ" class="section-tv__btn txt-v1" target="_blank">
					<span class="section-tv__span">view more</span>
				</a>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="detail type-ulthera">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 울쎄라리프팅
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-various">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 시술 선택 가능</h3>
								<p class="detail__txt txt-v2">리프팅도 여러 종류가 있습니다. 1:1 디테일한 맞춤 상담을 통해 본인에게 맞는 시술을 선택할 수 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">19년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼 오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
