<%
	type = "review"
	page = "photo"
%>
<% include ../_include/_header %>

<div class="container type-bottom">
	<div class="container-top type-photo">
		<div class="container-top__box">
			<h2 class="container-top__tit tit-v1">
				BANOBAGI PETIT<br>
				PHOTO GALLERY
			</h2>
			<p class="container-top__txt txt-v1">오늘보다 더 예뻐지는 내일! 바노바기와 함께하세요. </p>
		</div>
	</div>
	<div class="review">
		<div class="section-box">
			<div class="content-wrap">
				<div class="tab-v2">
					<ul class="tab-v2__list">
						<li class="tab-v2__item is-active" data-tab="petit"><a href="" class="tab-v2__link">전체보기</a></li>
						<li class="tab-v2__item" data-tab="petit"><a href="" class="tab-v2__link">예뻐지기</a></li>
						<li class="tab-v2__item" data-tab="slim"><a href="" class="tab-v2__link">날씬해지기</a></li>
						<li class="tab-v2__item" data-tab="young"><a href="" class="tab-v2__link">어려지기</a></li>
					</ul>
				</div>
				<!--검색결과값 -->
				<div class="keyword-result">
					<div class="keyword-result__inner"><span class="color-point">올포원사각턱</span>에 대한 <span class="color-point">6건</span>의 검색 결과가 있습니다. </div>
				</div>
				<!--검색결과값 -->
				<div class="photo-keyword">
					<div class="photo-keyword__box">
						<div class="photo-keyword__wrap">
							<label for="p_keyword" class="photo-keyword__label">검색어</label>
							<div class="photo-keyword__area">
								<input type="text" class="photo-keyword__input" id="p_keyword" name="p_keyword" placeholder="궁금한 시술 전후 사진을 검색해보세요">
								<button type="submit" class="photo-keyword__btn">검색</button>
							</div>
						</div>
					</div>
				</div>
				<!--검색결과 없을시 -->
				<div class="no-data text-center">
					<p class="no-data__txt"><span class="point-color">안녕하세요</span>에 대한 검색 결과가 없습니다.</p>
				</div>
				<!--//검색결과 없을시 -->
				<div class="tab-v2__content is-active">
					<div class="photo-slide">
						<!-- 첫번째 이미지 -->
						<div class="photo-slide__wrap type-big is-active">
							<div class="photo-slide__area">
								<div class="photo-slide__box type-before">
									<!-- dim box -->
									<div class="photo-dim">
										<div class="photo-dim__box">
											<div class="photo-dim__vertical">
												<p class="photo-dim__txt">[바노바기성형외과는 의료법을 준수합니다]</p>
												<h3 class="photo-dim__tit">
													<span class="photo-dim__point">로그인을 하시면</span> 다양한<br class="hidden-pt"> 전후사진을<br class="hidden-m"> 확인하실 수 있습니다
												</h3>
												<a href="" class="photo-dim__btn js-login-open">login</a>
											</div>
										</div>
									</div>
									<!-- //dim box -->
									<span class="photo-slide__cate">BEFORE</span>
									<div class="photo-slide__img is-active">
										<img src="../../images/review/photo/before_img_01_01.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/before_img_01_02.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/before_img_01_03.jpg" alt="" class="img-responsive">
									</div>
								</div>
								<div class="photo-slide__box type-after">
									<span class="photo-slide__cate">시술 후 6개월</span>
									<div class="photo-slide__img is-active">
										<img src="../../images/review/photo/after_img_01_01.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/after_img_01_02.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/after_img_01_03.jpg" alt="" class="img-responsive">
									</div>
								</div>
								<ul class="photo-slide__list">
									<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">정면</a></li>
									<li class="photo-slide__item"><a href="" class="photo-slide__link">반측면</a></li>
									<li class="photo-slide__item"><a href="" class="photo-slide__link">측면</a></li>
								</ul>
							</div>
							<div class="photo-slide__txtarea">
								<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
							</div>
						</div>
						<!-- 두번째 이미지 -->
						<div class="photo-slide__wrap type-big">
							<div class="photo-slide__area">
								<div class="photo-slide__box type-before">
									<span class="photo-slide__cate">BEFORE</span>
									<div class="photo-slide__img is-active">
										<img src="../../images/review/photo/before_img_02_01.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/before_img_01_02.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/before_img_01_03.jpg" alt="" class="img-responsive">
									</div>
								</div>
								<div class="photo-slide__box type-after">
									<span class="photo-slide__cate">시술 후 6개월</span>
									<div class="photo-slide__img is-active">
										<img src="../../images/review/photo/after_img_02_01.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/after_img_01_02.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/after_img_01_03.jpg" alt="" class="img-responsive">
									</div>
								</div>
								<ul class="photo-slide__list">
									<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">정면</a></li>
									<li class="photo-slide__item"><a href="" class="photo-slide__link">반측면</a></li>
									<li class="photo-slide__item"><a href="" class="photo-slide__link">측면</a></li>
								</ul>
							</div>
							<div class="photo-slide__txtarea">
								<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
							</div>
						</div>
						<!-- 세번째 이미지 -->
						<div class="photo-slide__wrap type-big">
							<div class="photo-slide__area">
								<div class="photo-slide__box type-before">
									<span class="photo-slide__cate">BEFORE</span>
									<div class="photo-slide__img is-active">
										<img src="../../images/review/photo/before_img_03_01.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/before_img_01_02.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/before_img_01_03.jpg" alt="" class="img-responsive">
									</div>
								</div>
								<div class="photo-slide__box type-after">
									<span class="photo-slide__cate">시술 후 6개월</span>
									<div class="photo-slide__img is-active">
										<img src="../../images/review/photo/after_img_03_01.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/after_img_01_02.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/after_img_01_03.jpg" alt="" class="img-responsive">
									</div>
								</div>
								<ul class="photo-slide__list">
									<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">정면</a></li>
								</ul>
							</div>
							<div class="photo-slide__txtarea">
								<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
							</div>
						</div>
						<!-- 네번째 이미지 -->
						<div class="photo-slide__wrap type-big">
							<div class="photo-slide__area">
								<div class="photo-slide__box type-before">
									<span class="photo-slide__cate">BEFORE</span>
									<div class="photo-slide__img is-active">
										<img src="../../images/review/photo/before_img_04_01.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/before_img_01_02.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/before_img_01_03.jpg" alt="" class="img-responsive">
									</div>
								</div>
								<div class="photo-slide__box type-after">
									<span class="photo-slide__cate">시술 후 6개월</span>
									<div class="photo-slide__img is-active">
										<img src="../../images/review/photo/after_img_04_01.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/after_img_01_02.jpg" alt="" class="img-responsive">
									</div>
									<div class="photo-slide__img">
										<img src="../../images/review/photo/after_img_01_03.jpg" alt="" class="img-responsive">
									</div>
								</div>
								<ul class="photo-slide__list">
									<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">정면</a></li>
									<li class="photo-slide__item"><a href="" class="photo-slide__link">반측면</a></li>
								</ul>
							</div>
							<div class="photo-slide__txtarea">
								<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마) 양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마) 양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,</p>
							</div>
						</div>
						<a href="" class="photo-slide__btn type-prev js-slide-prev">이전</a>
						<a href="" class="photo-slide__btn type-next js-slide-next">다음</a>
					</div>
					<!-- <p class="photo-slide__noti">※ 시술 부위를 클릭하시면 해당 부위 전후사진으로 이동합니다</p> -->
					<!--self -->
					<div class="self"> <!-- 5개이상시 type-left추가 -->
						<ul class="self__list">
							<% for(var i = 1; i<= 3; i++){%>
							<li class="self__item">
								<div class="self__box">
									<img src="../../images/temp/review<%= i %>.jpg" alt="" class="img-responsive">
								</div>
							</li>
							<% } %>
						</ul>
					</div>
					<!-- //self -->
					<div class="photo-thum">
						<ul class="photo-thum__list">
							<li class="photo-thum__item is-active">
								<div class="photo-slide type-thum">
									<div class="photo-slide__wrap">
										<div class="photo-slide__area">
											<div class="photo-slide__box type-before">
												<span class="photo-slide__cate">BEFORE</span>
												<!-- before 가리기 -->
												<div class="photo-dim-s">
													<div class="photo-dim-s__box">
														<div class="photo-dim-s__vertical">
															<p class="photo-dim-s__txt">Before</p>
														</div>
													</div>
												</div>
												<!-- //before 가리기 -->
												<div class="photo-slide__img">
													<img src="../../images/review/photo/before_img_01_01.jpg" alt="" class="img-responsive">
												</div>
											</div>
											<div class="photo-slide__box type-after">
												<span class="photo-slide__cate">시술 후 6개월</span>
												<div class="photo-slide__img">
													<img src="../../images/review/photo/after_img_01_01.jpg" alt="" class="img-responsive">
												</div>
											</div>
										</div>
										<div class="photo-slide__txtarea">
											<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
										</div>
									</div>
									<a href="" class="photo-thum__link">상세보기</a>
								</div>
							</li>
							<li class="photo-thum__item">
								<div class="photo-slide type-thum">
									<div class="photo-slide__wrap">
										<div class="photo-slide__area">
											<div class="photo-slide__box type-before">
												<span class="photo-slide__cate">BEFORE</span>
												<!-- before 가리기 -->
												<div class="photo-dim-s">
													<div class="photo-dim-s__box">
														<div class="photo-dim-s__vertical">
															<p class="photo-dim-s__txt">Before</p>
														</div>
													</div>
												</div>
												<!-- //before 가리기 -->
												<div class="photo-slide__img">
													<img src="../../images/review/photo/before_img_02_01.jpg" alt="" class="img-responsive">
												</div>
											</div>
											<div class="photo-slide__box type-after">
												<span class="photo-slide__cate">시술 후 6개월</span>
												<div class="photo-slide__img">
													<img src="../../images/review/photo/after_img_02_01.jpg" alt="" class="img-responsive">
												</div>
											</div>
										</div>
										<div class="photo-slide__txtarea">
											<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
										</div>
									</div>
									<a href="" class="photo-thum__link">상세보기</a>
								</div>
							</li>
							<li class="photo-thum__item">
								<div class="photo-slide type-thum">
									<div class="photo-slide__wrap">
										<div class="photo-slide__area">
											<div class="photo-slide__box type-before">
												<span class="photo-slide__cate">BEFORE</span>
												<!-- before 가리기 -->
												<div class="photo-dim-s">
													<div class="photo-dim-s__box">
														<div class="photo-dim-s__vertical">
															<p class="photo-dim-s__txt">Before</p>
														</div>
													</div>
												</div>
												<!-- //before 가리기 -->
												<div class="photo-slide__img">
													<img src="../../images/review/photo/before_img_03_01.jpg" alt="" class="img-responsive">
												</div>
											</div>
											<div class="photo-slide__box type-after">
												<span class="photo-slide__cate">시술 후 6개월</span>
												<div class="photo-slide__img">
													<img src="../../images/review/photo/after_img_03_01.jpg" alt="" class="img-responsive">
												</div>
											</div>
										</div>
										<div class="photo-slide__txtarea">
											<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
										</div>
									</div>
									<a href="" class="photo-thum__link">상세보기</a>
								</div>
							</li>
							<li class="photo-thum__item">
								<div class="photo-slide type-thum">
									<div class="photo-slide__wrap">
										<div class="photo-slide__area">
											<div class="photo-slide__box type-before">
												<span class="photo-slide__cate">BEFORE</span>
												<!-- before 가리기 -->
												<div class="photo-dim-s">
													<div class="photo-dim-s__box">
														<div class="photo-dim-s__vertical">
															<p class="photo-dim-s__txt">Before</p>
														</div>
													</div>
												</div>
												<!-- //before 가리기 -->
												<div class="photo-slide__img">
													<img src="../../images/review/photo/before_img_04_01.jpg" alt="" class="img-responsive">
												</div>
											</div>
											<div class="photo-slide__box type-after">
												<span class="photo-slide__cate">시술 후 6개월</span>
												<div class="photo-slide__img">
													<img src="../../images/review/photo/after_img_04_01.jpg" alt="" class="img-responsive">
												</div>
											</div>
										</div>
										<div class="photo-slide__txtarea">
											<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
										</div>
									</div>
									<a href="" class="photo-thum__link">상세보기</a>
								</div>
							</li>
						</ul>
					</div>
					<p class="review__noti">
						<span class="review__point">위의 게시물을 무단 도용 시 저작권 및 초상권 침해로 <span class="inline-block">법적 제재를 받으실 수 있습니다.</span></span>
						본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, <span class="inline-block">환자 본인의 동의를 얻어 촬영 후 게재하였습니다.</span>
					</p>
				</div>
			</div>
		</div>
	</div><!-- //review-->
	<!--paginatin-->
	<div class="pagination">
		<ul class="pagination__list">
			<li class="pagination__item pagination__item-first">
				<a href="" class="pagination__link">처음</a>
			</li>
			<li class="pagination__item pagination__item-prev">
				<a href="" class="pagination__link">이전</a>
			</li>
			<li class="pagination__item pagination__item-num is-active">
				<a href="" class="pagination__link">1</a>
			</li>
			<li class="pagination__item pagination__item-num is-acitve">
				<a href="" class="pagination__link">2</a>
			</li>
			<li class="pagination__item pagination__item-num">
				<a href="" class="pagination__link">3</a>
			</li>
			<li class="pagination__item pagination__item-num">
				<a href="" class="pagination__link">4</a>
			</li>
			<li class="pagination__item pagination__item-num">
				<a href="" class="pagination__link">5</a>
			</li>
			<li class="pagination__item pagination__item-next">
				<a href="" class="pagination__link">다음</a>
			</li>
			<li class="pagination__item pagination__item-last">
				<a href="" class="pagination__link">마지막</a>
			</li>
		</ul>
	</div>
	<!--//pagination-->
</div><!-- //container-->
<% include ../_include/_footer %>
