<%
	type = "main"
	page = "main"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="main-visual">
		<!--메인팝업-->
		<!-- 첫번째 팝업 -->
		<!-- <div class="popup-m type-first">
			<div class="popup-m__wrap">
				<img src="../../images/main/popup/popup_20181226_1.jpg" alt="" class="popup-m__img">
				<div class="popup-m__bottom">
					<a href="" class="popup-m__close type-left  js-popup-m-today">오늘 하루 이 창을 열지 않습니다.</a>
					<a href="" class="popup-m__close type-right js-popup-m-close">닫기</a>
				</div>
			</div>
		</div> -->
		<!-- 두번째 팝업 -->
		<!-- <div class="popup-m type-second">
			<div class="popup-m__wrap">
				<img src="../../images/main/popup/popup_20181226_2.jpg" alt="" class="popup-m__img">
				<div class="popup-m__bottom">
					<a href="" class="popup-m__close type-left  js-popup-m-today2">오늘 하루 이 창을 열지 않습니다.</a>
					<a href="" class="popup-m__close type-right js-popup-m-close">닫기</a>
				</div>
			</div>
		</div> -->
		<!-- 세번째 팝업 -->
		<!-- <div class="popup-m type-third">
			<div class="popup-m__wrap">
				<img src="../../images/main/popup/popup_20181226_3.jpg" alt="" class="popup-m__img">
				<div class="popup-m__bottom">
					<a href="" class="popup-m__close type-left  js-popup-m-today3">오늘 하루 이 창을 열지 않습니다.</a>
					<a href="" class="popup-m__close type-right js-popup-m-close">닫기</a>
				</div>
			</div>
		</div> -->
		<!--//메인팝업-->

		<ul class="main-visual__list js-main-slider">
			<!-- 겨울 이벤트 -->
			<li class="main-visual__item type-1912">
				<div class="main-visual__wrap">
					<div class="main-visual__box">
						설레는
						겨울 혜택!
					</div>
				</div>
				<a href="../cok/cokEvent.php" class="main-visual__link">바로가기</a>
			</li>

			<!-- 9월 이벤트 -->
			<!-- <li class="main-visual__item type-1909">
				<div class="main-visual__wrap">
					<div class="main-visual__box">
						썸 타는
						가을 혜택!
					</div>
				</div>
				<a href="../cok/cokEvent.php" class="main-visual__link">바로가기</a>
			</li> -->

			<!-- 7월 이벤트 -->
			<!-- <li class="main-visual__item type-1907">
				<div class="main-visual__wrap">
					<div class="main-visual__box">
						HOT
						SUMMER
						혜택!
					</div>
				</div>
				<a href="../cok/cokEvent.php" class="main-visual__link">바로가기</a>
			</li> -->

			<!-- 7월 이벤트 -->
			<!-- <li class="main-visual__item type-1906">
				<div class="main-visual__wrap">
					<div class="main-visual__box">
						여름이 온다!
						예뻐지기
						딱 좋은 6월!
					</div>
				</div>
				<a href="../cok/cokEvent.php" class="main-visual__link">바로가기</a>
			</li> -->

			<!-- 5월 이벤트 -->
			<!-- <li class="main-visual__item type-1905 type-black">
				<div class="main-visual__wrap">
					<div class="main-visual__box">
						Full of joy and youth In May
						예쁨과 젊음으로
						가/득/한
						5월 혜택!!
						쁘띠도 역시
						banobagi
					</div>
				</div>
				<a href="../cok/cokEvent.php" class="main-visual__link">바로가기</a>
			</li> -->

			<!-- 4월 이벤트 -->
			<!-- <li class="main-visual__item type-1904">
				<div class="main-visual__wrap">
					<div class="main-visual__box">
						Event that came in spring
						봄 타고 날아온
						러블리 4월 혜택!!
						쁘띠도 역시
						banobagi
					</div>
				</div>
				<a href="" class="main-visual__link">바로가기</a>
			</li> -->

			<li class="main-visual__item nth-1">
				<div class="main-visual__wrap">
					<div class="main-visual__box">
						Do you want to pretty?
						바노바기 is 뭔들!
						쁘띠도 역시
						바노바기 에서!
					</div>
				</div>
			</li>
			<li class="main-visual__item nth-2">
				<div class="main-visual__wrap">
					<div class="main-visual__box">
						BANOBAGI PETIT BEAUTY PICK!
						어떤걸 좋아할지
						몰라서 다 준비해봤어,
						나에게 딱 맞는
						BEAUTY PICK!
					</div>
				</div>
			</li>
			<li class="main-visual__item nth-3">
				<div class="main-visual__wrap">
					<div class="main-visual__box">
						BANOBAGI PETIT
						매일 매일 미모
						리즈 갱신!
						바노바기에서
						쁘띠해봐
					</div>
				</div>
			</li>
			<li class="main-visual__item nth-4">
				<div class="main-visual__wrap">
					<div class="main-visual__box">
						Be Pretty, BANOBAGI PETIT
						어제보다
						오늘 더 예쁘게,
						오늘보다
						내일 더 날씬하게
					</div>
				</div>
			</li>

			<!-- <li class="main-visual__item nth-5">
				<div class="main-visual__wrap">
					<div class="main-visual__box type-spring">
						<div class="main-visual__spring">
							<span class="flower type-left"><img src="../../images/main/spring/flower_left.png" alt=""/></span>
							<span class="flower type-right"><img src="../../images/main/spring/flower_right.png" alt=""/></span>
							<span class="flower type-bottom"><img src="../../images/main/spring/flower_bottom.png" alt=""/></span>
							<p class="main-visual__subtit">Event that came in spring</p>
							<h2 class="main-visual__tit">
								봄 타고 날아온<br>
								러블리 4월 혜택!!<br>
								쁘띠도 역시<br>
								BANOBAGI
							</h2>
							<div class="flower__btn"><span class="flower__wrap">자세히보기</span></div>
						</div>
					</div>
				</div>
				<a href="" class="main-visual__link">바로가기</a>
			</li>
			<li class="main-visual__item nth-1">
				<div class="main-visual__wrap">
					<div class="main-visual__box">
						<p class="main-visual__subtit">Do you want to pretty?</p>
						<h2 class="main-visual__tit">
							바노바기 is 뭔들!<br>
							쁘띠도 역시<br>
							바노바기 에서!
						</h2>
					</div>
				</div>
			</li>
			<li class="main-visual__item nth-2">
				<div class="main-visual__wrap">
					<div class="main-visual__box">
						<p class="main-visual__subtit">BANOBAGI PETIT BEAUTY PICK!</p>
						<h2 class="main-visual__tit">
							어떤걸 좋아할지<br>
							몰라서 다 준비해봤어,<br>
							나에게 딱 맞는<br>
							BEAUTY PICK!
						</h2>
					</div>
				</div>
			</li>
			<li class="main-visual__item nth-3">
				<div class="main-visual__wrap">
					<div class="main-visual__box">
						<p class="main-visual__subtit">BANOBAGI PETIT</p>
						<h2 class="main-visual__tit">
							매일 매일 미모<br>
							리즈 갱신!<br>
							바노바기에서<br>
							쁘띠해봐
						</h2>
					</div>
				</div>
			</li>
			<li class="main-visual__item nth-4">
				<div class="main-visual__wrap">
					<div class="main-visual__box">
						<p class="main-visual__subtit">Be Pretty, BANOBAGI PETIT</p>
						<h2 class="main-visual__tit">
							어제보다<br>
							오늘 더 예쁘게,<br>
							오늘보다<br>
							내일 더 날씬하게,
						</h2>
					</div>
				</div>
			</li> -->
		</ul>
		<div class="main-visual__group">
			<div class="main-visual__group-wrap">
				<div class="main-visual__inner">
					<a href="" class="main-visual__btn type-prev js-main-prev">이전</a>
					<a href="" class="main-visual__btn type-next js-main-next">다음</a>
				</div>
				<div class="main-page__group">
					<span class="main-page__now">01</span>
					<span class="main-page__total">/ 05</span>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="focus">
			<h2 class="focus__tit">FOCUS PETIT</h2>
			<!-- pc용 -->
			<ul class="focus__list hidden-tm js-motion">
				<% for(var i = 1; i<= 6; i++){%>
					<li class="focus__item js-hover">
					<div class="focus__img">
						<img src="../../images/main/focus_img_<%= i %>.jpg" alt="" class="img-responsive">
					</div>
					<div class="focus__wrap">
						<div class="focus__box">
							<div class="focus__inner">
								<p class="focus__subtit">예뻐지는 바노바기</p> <!-- max 28자 -->
								<h3 class="focus__subject">윤곽주사</h3> <!-- max 12자 -->
								<p class="focus__txt">100unit</p> <!-- max 30자 -->
								<div class="focus__price">
									<span class="focus__price-icon">￦</span>
									<span class="focus__price-won font-hans">50,000</span>
								</div>
								<div class="focus__bottom">
									<div class="focus__alarm">
										<span>상품이 추가되었습니다.</span>
									</div>
									<a href="" class="focus__link type-page">상세보기</a>
									<a href="" class="focus__link type-contact js-alarm">상담하러가기</a>
									<p class="focus__noti">
										* 쁘띠바노바기의 모든 시술은 부가세가 별도입니다.
									</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<% } %>
			</ul>
			<!-- //pc용 -->
			<!-- mobile용 -->
			<ul class="focus__list js-motion hidden-p js-focus-slider">
				<% for(var i = 1; i<= 6; i++){%>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/main/focus_img_<%= i %>.jpg" alt="" class="img-responsive">
						</div>
						<div class="focus__wrap">
							<div class="focus__box">
								<div class="focus__inner">
									<p class="focus__subtit">예뻐지는 바노바기</p>
									<h3 class="focus__subject">윤곽주사</h3>
									<p class="focus__txt">100unit</p>
									<div class="focus__price">
										<span class="focus__price-icon">￦</span>
										<span class="focus__price-won font-hans">50,000</span>
									</div>
									<div class="focus__bottom">
										<div class="focus__alarm">
											<span>상품이 추가되었습니다.</span>
										</div>
										<a href="" class="focus__link type-page">상세보기</a>
										<a href="" class="focus__link type-contact js-alarm">상담하러가기</a>
										<p class="focus__noti">
											* 쁘띠바노바기의 모든 시술은 부가세가 별도입니다.
										</p>
									</div>
								</div>
							</div>
						</div>
					</li>
				<% } %>
			</ul>
			<a href="" class="focus__btn type-prev js-focus-prev">이전</a>
			<a href="" class="focus__btn type-next js-focus-next">다음</a>
			<!-- //mobile용 -->
		</div>
		<div class="time">
			<div class="time__box">
				<div class="time__outer">
					<div class="time__inner">
						<h2 class="time__tit">
							<span class="time__point">BANOBAGI</span><br>
							Dr. Barn's <span class="time__point type-red">TIME</span>
						</h2>
						<div class="clock">
							<h3 class="clock__tit">next</h3><br>
							<div class="clock__box">
								<div class="clock__wrap">
									<span class="clock__num" id="time-day">02</span>
									<span class="clock__txt">DAYS</span>
									<span class="clock__num" id="time-hour">02</span>
									<span class="clock__txt">HRS</span>
									<span class="clock__num" id="time-minute">02</span>
									<span class="clock__txt">MIN</span>
									<span class="clock__num" id="time-second">02</span>
									<span class="clock__txt">SEC</span>
								</div>
							</div>
						</div>
						<p class="time__txt">
							<span class="time__black">매주 화요일, 금요일 오후 3시~6시</span><br>
							바노바기 반재상원장의 특별한 시간이 찾아옵니다!
						</p>
						<a href="" class="time__link js-content-link" data-tab="is-contact">상담신청 하러가기</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="main-review">
			<div class="content-wrap">
				<h2 class="main-review__tit">@PETIT IN BANOBAGI </h2>
				<ul class="main-review__list js-motion">
					<% for(var i = 1; i<= 8; i++){%>
						<li class="main-review__item js-hover js-click-m">
							<div class="main-review__wrap">
								<img src="../../images/temp/review<%= i %>.jpg" alt="" class="img-responsive">
								<div class="main-review__box">
									<div class="main-review__outer">
										<div class="main-review__inner">
											<p class="main-review__txt">
												시술 전 모습이<br>
												궁금하다면?
											</p>
											<a href="http://www.naver.com" class="main-review__link btn2"><span>CLICK</span></a>
										</div>
									</div>
								</div>
							</div>
						</li>
					<%}%>
				</ul>
			</div>
		</div>
	</div>
	<!-- //section-box-->
	<% include ../_include/_contact %>
</div>
<% include ../_include/_footer %>
