<%
	type = "cok"
	page = "event"
%>
<% include ../_include/_header %>

<div class="container type-bottom">
	<div class="container-top type-cok">
		<div class="container-top__box">
			<h2 class="container-top__tit tit-v1">
				BANOBAGI<br>
				쁘띠콕콕
			</h2>
			<p class="container-top__txt txt-v1">널 위해 준비했어! 바노바기 쁘띠가 당신을 위해 준비한 쁘띠콕콕!</p>
		</div>
	</div>
	<div class="cok">
		<div class="content-wrap">
			<div class="tab-v3">
				<button type="button" title="같은 레벨 메뉴 보기" class="tab-v3__btn js-tab-btn">밝밝밝밝밝<!--5자-->밝밝밝밝밝<!--5자-->밝밝밝밝밝<!--5자-->안안</button>
				<ul class="tab-v3__list">
					<li class="tab-v3__item "><a href="" class="tab-v3__link">밝밝밝밝밝<!--5자-->밝밝밝밝밝<!--5자-->밝밝밝밝밝<!--5자-->안안</a></li>
					<li class="tab-v3__item is-active"><a href="" class="tab-v3__link">2월 이벤트</a></li>
					<li class="tab-v3__item"><a href="" class="tab-v3__link">3월 이벤트</a></li>
					<li class="tab-v3__item"><a href="" class="tab-v3__link">4월 이벤트</a></li>
					<li class="tab-v3__item"><a href="" class="tab-v3__link">5월 이벤트</a></li>
					<li class="tab-v3__item"><a href="" class="tab-v3__link">6월 이벤트</a></li>
				</ul><!-- //tab-v3 -->
			</div>
			<div class="tab-v3__content">
				<div class="cok__top">
					<h3 class="cok__tit">
						콕콕INFO
					</h3>
					<p class="cok__vat">VAT별도</p>
				</div>
				<div class="cok__list">
					<div class="cok__item">
						<div class="cok__header">
							<h4 class="cok__subject">다리미 보톡스 자유이용권 택 1</h4>
							<p class="cok__txt">사각턱, 눈가, 미간, 자갈턱, 콧볼, 사각턱, 눈가, 미간, 자갈턱, 콧볼 , 사각턱, 눈가, 미간, 자갈턱, 콧볼</p>
							<p class="cok__price">
								<span class="cok__default">45,000</span>
								<span class="cok__sale">45,000원</span>
							</p>
							<a href="" class="cok__btn js-cok-btn">
								<span class="js-cok-txt">자세히보기</span>
							</a>
						</div>
						<div class="cok__body">
							<div class="cok__box">
								<h5 class="cok__subtit">플로리스 리프팅케어 장점</h5>
								<div class="circle-style">
									<ul class="circle-style__list">
										<li class="circle-style__item">
											<div class="circle-style__outer">
												<div class="circle-style__inner">
													<div class="circle-style__vertical">밝밝밝밝밝<!--5자-->밝밝밝밝밝<!--5자-->밝밝밝밝밝<!--5자-->밝밝밝밝밝<!--5자-->밝밝밝밝밝<!--5자-->밝밝밝밝밝<!--5자--></div>
												</div>
											</div>
										</li>
										<li class="circle-style__item">
											<div class="circle-style__outer">
												<div class="circle-style__inner">
													<div class="circle-style__vertical">피부 속 탄력 증가</div>
												</div>
											</div>
										</li>
										<li class="circle-style__item">
											<div class="circle-style__outer">
												<div class="circle-style__inner">
													<div class="circle-style__vertical">피부 속 탄력 증가</div>
												</div>
											</div>
										</li>
										<li class="circle-style__item">
											<div class="circle-style__outer">
												<div class="circle-style__inner">
													<div class="circle-style__vertical">피부 속 탄력 증가</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div><!-- //cok__box -->
							<div class="cok__box">
								<h5 class="cok__subtit">시술과정</h5>
								<div class="cok-list">
									<ul class="cok-list__list type-number">
										<li class="cok-list__item">
											<div class="cok-list__box">밝밝밝밝밝<!--5자-->밝밝밝밝밝<!--5자--> 밝밝밝밝밝<!--5자-->밝밝밝밝밝<!--5자--></div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
									</ul>
								</div>
							</div><!-- //cok__box -->
							<div class="cok__box">
								<h5 class="cok__subtit">시술 추천 대상</h5>
								<div class="cok-list">
									<ul class="cok-list__list type-check">
										<li class="cok-list__item">
											<div class="cok-list__box">자가세안</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
									</ul>
								</div>
							</div><!-- //cok__box -->
							<div class="cok__box">
								<h5 class="cok__subtit">플로리스 리프팅케어 Q&A</h5>
								<div class="qna">
									<ul class="qna__list">
										<li class="qna__item">
											<div class="qna__box type-q">
												플로리스 리프팅케어가 뭔가요?
											</div>
											<div class="qna__box type-d">
												초음파를 이용한 스킨케어로 피부 속 탄력, 리프팅, 안색정화 (브라이트닝) 효과가 있는 관리입니다.
												슈링크, 울쎄라 등등 리프팅 레이저와 병행할시 시너지 효과가 발생됩니다.
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cok__item">
						<div class="cok__header">
							<h4 class="cok__subject">다리미 보톡스 자유이용권 택 1</h4>
							<p class="cok__txt">사각턱, 눈가, 미간, 자갈턱, 콧볼, 사각턱, 눈가, 미간, 자갈턱, 콧볼 , 사각턱, 눈가, 미간, 자갈턱, 콧볼</p>
							<p class="cok__price">
								<span class="cok__default">45,000</span>
								<span class="cok__sale">45,000원</span>
							</p>
							<a href="" class="cok__btn js-cok-btn">
								<span class="js-cok-txt">자세히보기</span>
							</a>
						</div>
						<div class="cok__body">
							<div class="cok__box">
								<h5 class="cok__subtit">플로리스 리프팅케어 장점</h5>
								<div class="circle-style">
									<ul class="circle-style__list">
										<li class="circle-style__item">
											<div class="circle-style__outer">
												<div class="circle-style__inner">
													<div class="circle-style__vertical">피부 속 탄력 증가</div>
												</div>
											</div>
										</li>
										<li class="circle-style__item">
											<div class="circle-style__outer">
												<div class="circle-style__inner">
													<div class="circle-style__vertical">피부 속 탄력 증가</div>
												</div>
											</div>
										</li>
										<li class="circle-style__item">
											<div class="circle-style__outer">
												<div class="circle-style__inner">
													<div class="circle-style__vertical">피부 속 탄력 증가</div>
												</div>
											</div>
										</li>
										<li class="circle-style__item">
											<div class="circle-style__outer">
												<div class="circle-style__inner">
													<div class="circle-style__vertical">피부 속 탄력 증가</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div><!-- //cok__box -->
							<div class="cok__box">
								<h5 class="cok__subtit">시술과정</h5>
								<div class="cok-list">
									<ul class="cok-list__list type-number">
										<li class="cok-list__item">
											<div class="cok-list__box">자가세안</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
									</ul>
								</div>
							</div><!-- //cok__box -->
							<div class="cok__box">
								<h5 class="cok__subtit">시술 추천 대상</h5>
								<div class="cok-list">
									<ul class="cok-list__list type-check">
										<li class="cok-list__item">
											<div class="cok-list__box">자가세안</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
									</ul>
								</div>
							</div><!-- //cok__box -->
							<div class="cok__box">
								<h5 class="cok__subtit">플로리스 리프팅케어 Q&A</h5>
								<div class="qna">
									<ul class="qna__list">
										<li class="qna__item">
											<div class="qna__box type-q">
												플로리스 리프팅케어가 뭔가요?
											</div>
											<div class="qna__box type-d">
												초음파를 이용한 스킨케어로 피부 속 탄력, 리프팅, 안색정화 (브라이트닝) 효과가 있는 관리입니다.
												슈링크, 울쎄라 등등 리프팅 레이저와 병행할시 시너지 효과가 발생됩니다.
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="cok__item">
						<div class="cok__header">
							<h4 class="cok__subject">다리미 보톡스 자유이용권 택 1</h4>
							<p class="cok__txt">사각턱, 눈가, 미간, 자갈턱, 콧볼, 사각턱, 눈가, 미간, 자갈턱, 콧볼 , 사각턱, 눈가, 미간, 자갈턱, 콧볼</p>
							<p class="cok__price">
								<span class="cok__default">45,000</span>
								<span class="cok__sale">45,000원</span>
							</p>
							<a href="" class="cok__btn js-cok-btn">
								<span class="js-cok-txt">자세히보기</span>
							</a>
						</div>
						<div class="cok__body">
							<div class="cok__box">
								<h5 class="cok__subtit">플로리스 리프팅케어 장점</h5>
								<div class="circle-style">
									<ul class="circle-style__list">
										<li class="circle-style__item">
											<div class="circle-style__outer">
												<div class="circle-style__inner">
													<div class="circle-style__vertical">피부 속 탄력 증가</div>
												</div>
											</div>
										</li>
										<li class="circle-style__item">
											<div class="circle-style__outer">
												<div class="circle-style__inner">
													<div class="circle-style__vertical">피부 속 탄력 증가</div>
												</div>
											</div>
										</li>
										<li class="circle-style__item">
											<div class="circle-style__outer">
												<div class="circle-style__inner">
													<div class="circle-style__vertical">피부 속 탄력 증가</div>
												</div>
											</div>
										</li>
										<li class="circle-style__item">
											<div class="circle-style__outer">
												<div class="circle-style__inner">
													<div class="circle-style__vertical">피부 속 탄력 증가</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div><!-- //cok__box -->
							<div class="cok__box">
								<h5 class="cok__subtit">시술과정</h5>
								<div class="cok-list">
									<ul class="cok-list__list type-number">
										<li class="cok-list__item">
											<div class="cok-list__box">자가세안</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
									</ul>
								</div>
							</div><!-- //cok__box -->
							<div class="cok__box">
								<h5 class="cok__subtit">시술 추천 대상</h5>
								<div class="cok-list">
									<ul class="cok-list__list type-check">
										<li class="cok-list__item">
											<div class="cok-list__box">자가세안</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
										<li class="cok-list__item">
											<div class="cok-list__box">플로리스 리프팅케어</div>
										</li>
									</ul>
								</div>
							</div><!-- //cok__box -->
							<div class="cok__box">
								<h5 class="cok__subtit">플로리스 리프팅케어 Q&A</h5>
								<div class="qna">
									<ul class="qna__list">
										<li class="qna__item">
											<div class="qna__box type-q">
												플로리스 리프팅케어가 뭔가요?
											</div>
											<div class="qna__box type-d">
												초음파를 이용한 스킨케어로 피부 속 탄력, 리프팅, 안색정화 (브라이트닝) 효과가 있는 관리입니다.
												슈링크, 울쎄라 등등 리프팅 레이저와 병행할시 시너지 효과가 발생됩니다.
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--//tab-v3__contint -->
		</div>
	</div><!-- //cok-->
</div><!-- //container-->
<% include ../_include/_footer %>
