<%
	type = "cok"
	page = "info"
%>
<% include ../_include/_header %>

<div class="container type-bottom">
	<div class="container-top type-cok">
		<div class="container-top__box">
			<h2 class="container-top__tit tit-v1">
				BANOBAGI<br>
				쁘띠콕콕
			</h2>
			<p class="container-top__txt txt-v1">널 위해 준비했어! 바노바기 쁘띠가 당신을 위해 준비한 쁘띠콕콕!</p>
		</div>
	</div>
	<div class="cok">
		<div class="content-wrap">
			<div class="cok__top">
				<h3 class="cok__tit">
					콕콕INFO
				</h3>
			</div>
			<div class="cok-info">
				<div class="cok-info__box">
					<h4 class="cok-info__subject"><a href="info_view.html" class="cok-info__link">게시물타이틀</a></h4>
					<div class="cok-info__img">
						<a href="info_view.html" class="cok-info__link">
							<img src="../../images/cok/cok_info_1.jpg" class="img-w100 hidden-tm" alt=""/>
							<img src="../../images/cok/cok_info_1_t.jpg" class="img-w100 hidden-p" alt=""/>
						</a>
					</div>
				</div>
				<div class="cok-info__box">
					<h4 class="cok-info__subject"><a href="info_view.html" class="cok-info__link">게시물타이틀</a></h4>
					<div class="cok-info__img">
						<a href="info_view.html" class="cok-info__link">
							<img src="../../images/cok/cok_info_1.jpg" class="img-w100 hidden-tm" alt=""/>
							<img src="../../images/cok/cok_info_1_t.jpg" class="img-w100 hidden-p" alt=""/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- //cok-->
</div><!-- //container-->
<% include ../_include/_footer %>
