<%
	type = "cok"
	page = "medical"
%>
<% include ../_include/_header %>

<div class="container type-bottom">
	<div class="container-top type-medical">
		<div class="container-top__box">
			<h2 class="container-top__tit tit-v1">
				바노바기 쁘띠<br>
				의료진소개
			</h2>
			<p class="container-top__txt txt-v1">오늘보다 더 예뻐지는 내일! 바노바기와 함께하세요. </p>
		</div>
	</div>
	<div class="cok type-medical">
		<div class="content-wrap">
			<div class="medical">
				<ul class="medical__list">
					<li class="medical__item">
						<div class="medical__img">
							<img src="../../images/cok/medical/medical_1.jpg" class="img-responsive" alt="복아름 원장"/>
						</div>
						<h3 class="medical__name tit-v5">복아름 원장</h3>
						<ul class="medical__list2 txt-v1">
							<li class="medical__item2">바노바기성형외과 원장</li>
							<li class="medical__item2">고려대학교 의과대학 졸업</li>
							<li class="medical__item2">고려대학교 의과대학 대학원 석사</li>
							<li class="medical__item2">고려대학교 의료원 수련의</li>
							<li class="medical__item2">고려대학교 의료원 가정의학과 전문의 </li>
							<li class="medical__item2">The Johns Hopkins University of Medicine<br> - Symptomatic management in the postmenopausal women 과정수료 </li>
							<li class="medical__item2">대한 가정의학회 정회원</li>
							<li class="medical__item2">대한 미용성형레이저의학회 정회원</li>
							<li class="medical__item2">대한 비만미용치료학회 정회원</li>
							<li class="medical__item2">일동제약 Belbig 자문위원 </li>
							<li class="medical__item2">Coolsculpting University 수료</li>
						</ul>
					</li>
					<li class="medical__item">
						<div class="medical__img">
							<img src="../../images/cok/medical/medical_3.jpg" class="img-responsive" alt="양민주 원장"/>
						</div>
						<h3 class="medical__name tit-v5">양민주 원장</h3>
						<ul class="medical__list2 txt-v1">
							<li class="medical__item2">바노바기성형외과 원장</li>
							<li class="medical__item2">가톨릭의과대학교 의학과 졸업</li>
							<li class="medical__item2">가톨릭중앙의료원 서울성모병원 인턴</li>
							<li class="medical__item2">가톨릭중앙의료원 여의도성모병원 가정의학과 전문의</li>
							<li class="medical__item2">전 리뉴미 피부과 부원장</li>
							<li class="medical__item2">전 휴먼 피부과 부원장</li>
						</ul>
					</li>

					<!-- <li class="medical__item">
						<div class="medical__img">
							<img src="../../images/cok/medical/medical_2.jpg" class="img-responsive" alt="이호종 원장"/>
						</div>
						<h3 class="medical__name tit-v5">이호종 원장</h3>
						<ul class="medical__list2 txt-v1">
							<li class="medical__item2">바노바기성형외과 원장</li>
							<li class="medical__item2">서울대학교 의과대학 졸업</li>
							<li class="medical__item2">서울대학교병원 수련</li>
						</ul>
					</li> -->
				</ul>
			</div>
		</div>
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
