<%
	type = "cok"
	page = "info"
%>
<% include ../_include/_header %>

<div class="container type-bottom">
	<div class="container-top type-cok">
		<div class="container-top__box">
			<h2 class="container-top__tit tit-v1">
				BANOBAGI<br>
				쁘띠콕콕
			</h2>
			<p class="container-top__txt txt-v1">널 위해 준비했어! 바노바기 쁘띠가 당신을 위해 준비한 쁘띠콕콕!</p>
		</div>
	</div>
	<div class="cok">
		<div class="content-wrap">
			<div class="cok__top">
				<h3 class="cok__tit">
					콕콕INFO
				</h3>
			</div>
			<div class="cok-info">
				<div class="cok-info__box">
					<h4 class="cok-info__subject">게시물타이틀</h4>
					<div class="cok-info__img">
                        <img src="../../images/cok/saxenda/saxenda_img_1.jpg" class="img-normal" alt="삭센다 그것이 알고싶다, 바노바기 쁘띠에서 알려주는 삭센다의 모든 것"/>
                        <img src="../../images/cok/saxenda/saxenda_img_2.jpg" class="img-normal" alt="삭센다 그것이 알고싶다, 바노바기 쁘띠에서 알려주는 삭센다의 모든 것"/>
                        <img src="../../images/cok/saxenda/saxenda_img_3.jpg" class="img-normal" alt="삭센다는 식욕억제를 유도하여 체중 감량을 도와주는 비만치료제입니다."/>
					</div>
                    <div class="cok-info__video">
                        <iframe src="https://www.youtube.com/embed/ZxvXm-VDEGs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
				</div>
				<div class="btn-group">
					<ul class="btn-group__list">
						<li class="btn-group__item type-prev">
							<a href="" class="btn-group__link"><span class="btn-group__prev">이전</span></a>
						</li>
						<li class="btn-group__item type-list">
							<a href="" class="btn-group__link"><span>목록으로</span></a>
						</li>
						<li class="btn-group__item type-next">
							<a href="" class="btn-group__link"><span class="btn-group__next">다음</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- //cok-->
</div><!-- //container-->
<% include ../_include/_footer %>
