<%
	type = "content"
	page = "petit"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-beauty">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">예뻐지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">PICK 이너뷰티주사</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							예뻐지는 바노바기<br class="hidden-tm">
							<span class="color-petit">PICK 이너뷰티주사</span>
						</h2>
						<h3 class="visual__tag">#내_피부타입에_맞게_PICK! #다양한필링 #피부솔루션</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">30,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-beauty">
				<h2 class="section-head__tit tit-v1">
					바노바기 PICK 이너뷰티주사<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					피부 속부터 건강을 가꾸고 아름다움을 채워주는 이너뷰티주사.<br class="hidden-tm">
					혈액순환, 피로회복, 면역력 증가,영양소 보충 등<br class="hidden-tm">
					컨디션에 따라 맞춤형으로 수액을 배합하여<br class="hidden-tm">
					신체의 밸런스를 개선하는 정맥주사케어 입니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- beauty-box1 -->
						<div class="section-head__img">
							<img src="../../images/petit/beauty/beauty_bg_1.jpg" alt="">
						</div>
						<div class="section-head__img-txt">
							<img src="../../images/petit/beauty/beauty_txt_1.png" alt="innerbeauty">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
				<ul class="section-head__list type-bottom type-white">
					<li class="section-head__item nth-0">
						<div class="vertical">
							<h5 class="section-head__subject">웰에이징<br> 테라피</h5>
						</div>
					</li>
					<li class="section-head__item nth-44">
						<div class="vertical">
							<h5 class="section-head__subject type-tight">스트레스<br> 개선</h5>
						</div>
					</li>
					<li class="section-head__item nth-45">
						<div class="vertical">
							<h5 class="section-head__subject">면역력개선</h5>
						</div>
					</li>
					<li class="section-head__item nth-30">
						<div class="vertical">
							<h5 class="section-head__subject">피부톤UP</h5>
						</div>
					</li>
					<li class="section-head__item nth-46">
						<div class="vertical">
							<h5 class="section-head__subject">컨디션회복</h5>
						</div>
					</li>
					<li class="section-head__item nth-32">
						<div class="vertical">
							<h5 class="section-head__subject type-tight">피부진정/<br>재생</h5>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="surgery type-beauty type-petit">
				<h2 class="surgery__tit tit-v1">PICK 이너뷰티주사</h2>
				<div class="surgery__area">
					<ul class="surgery__list">
						<li class="surgery__item">
							<div class="surgery__img">
								<img src="../../images/petit/beauty/beauty_img_1.jpg" alt="스무스 쉐이프XV" class="img-responsive">
							</div>
							<div class="surgery__box">
								<h3 class="surgery__subject">화이트주사</h3>
								<p class="surgery__txt">
									멜라닌 색소를 억제시키고
									피부 톤을 개선해주며
									고용량의 글루타치온으로
									체내 면역을 높여줍니다.
								</p>
								<p class="surgery__hash">
									#피부톤 개선 #간기능 개선<br>
									#컨디션 회복 #면역력 개선<br>
									#체내 효소 활성화
								</p>
							</div>
						</li>
						<li class="surgery__item">
							<div class="surgery__img">
								<img src="../../images/petit/beauty/beauty_img_2.jpg" alt="신데렐라주사" class="img-responsive">
							</div>
							<div class="surgery__box">
								<h3 class="surgery__subject">신데렐라주사</h3>
								<p class="surgery__txt">
									항노화 작용과
									동시에 혈액순환과 피로 개선 및
									다이어트에 도움을 줍니다.
								</p>
								<p class="surgery__hash">
									#혈액순환 개선 #피로 회복<br>
									#안티에이징 #피부탄력 개선<br>
									#체지방 감소 및  부종개선
								</p>
							</div>
						</li>
						<li class="surgery__item">
							<div class="surgery__img">
								<img src="../../images/petit/beauty/beauty_img_3.jpg" alt="웰에이징주사" class="img-responsive">
							</div>
							<div class="surgery__box">
								<h3 class="surgery__subject">웰에이징주사</h3>
								<p class="surgery__txt">
									웰에이징에 도움을 주는
									영양성분을 배합하여
									결핍되는 영양소 보충은
									물론 노화 예방과
									갱년기에 도움을 줍니다.
								</p>
								<p class="surgery__hash">
									#항노화 작용 #필수영양소 공급<br>
									#갱년기 개선 #면역력 및 활력 증가<br>
									#피부탄력 개선
								</p>
							</div>
						</li>
						<li class="surgery__item">
							<div class="surgery__img">
								<img src="../../images/petit/beauty/beauty_img_4.jpg" alt="비타민주사" class="img-responsive">
							</div>
							<div class="surgery__box">
								<h3 class="surgery__subject">비타민주사</h3>
								<p class="surgery__txt">
									고용량의 비타민을
									주사하여 체내 흡수율을
									높게 하여 비교적 빠른 시간 안에
									피로회복을 도와줍니다.
								</p>
								<p class="surgery__hash">
									#피로 회복 #스트레스 감소<br>
									#면역력 증진 #피부 미백<br>
									#비타민 보충
								</p>
							</div>
						</li>
						<li class="surgery__item">
							<div class="surgery__img">
								<img src="../../images/petit/beauty/beauty_img_5.jpg" alt="간해독주사" class="img-responsive">
							</div>
							<div class="surgery__box">
								<h3 class="surgery__subject">간해독주사</h3>
								<p class="surgery__txt">
									잦은 약물 및 음주로  인한
									간기능 개선, 해독, 면역력 강화,
									비교적 높은 항산화 효과를 보여줍니다.
								</p>
								<p class="surgery__hash">
									#간기능 개선 #만성피로 개선<br>
									#면역력 강화 #항산화<br>
									#숙취해소
								</p>
							</div>
						</li>
					</ul>
					<a href="" class="slider__btn slider__btn-prev js-surgery-prev type-petit">이전</a>
					<a href="" class="slider__btn slider__btn-next js-surgery-next type-petit">다음</a>
				</div>
			</div>
		</div>
	</div>

	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-heart">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 40분이내</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">없음</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">없음</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-petit">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="section-box type-mt">
		<div class="detail type-beauty">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한 바노바기<br>
						PICK 이너뷰티주사
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다.</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-component">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">안전한 성분 배합</h3>
								<p class="detail__txt txt-v2">지속적인 연구를 통해 안전이 입증된 성분만을 배합한 윤곽주사만을 시술에 적용하고 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, 오래 가는 결과</h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
