<%
	type = "content"
	page = "petit"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-botox">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">예뻐지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">보톡스</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							예뻐지는<br class="hidden-tm">
							<span class="color-petit">바노바기 톡톡스</span>
						</h2>
						<h3 class="visual__tag">#근육축소 #주름개선 #모공축소 #탄력증가</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">40,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-botox">
				<h2 class="section-head__tit tit-v1">
					바노바기 Toctox,<br>
					너는 누구니?
				</h2>
			<h3 class="section-head__txt subtit-v1">
				근육 축소, 주름 개선 등 여러 가지 효과를 가지고 있는 보톡스는<br class="hidden-m">
				숙련된 의료진을 통해 시술하는 경우 얼굴의 다양한 부위를 개선할 수 있습니다.
			</h3>
			<div class="section-head__area">
				<div class="section-head__box">
					<!-- botox-box1 -->
					<p class="section-head__rl">
						<span class="section-head__rl-line">BANOBAGI BOTOX</span>
					</p>
					<ul class="section-head__list">
						<li class="section-head__item nth-1">
							<div class="vertical">
								<h5 class="section-head__subject">탄력증가</h5>
							</div>
						</li>
						<li class="section-head__item nth-2">
							<div class="vertical">
								<h5 class="section-head__subject">모공축소</h5>
							</div>
						</li>
						<li class="section-head__item nth-3">
							<div class="vertical">
								<h5 class="section-head__subject">근육축소</h5>
							</div>
						</li>
						<li class="section-head__item nth-4">
							<div class="vertical">
								<h5 class="section-head__subject">주름개선</h5>
							</div>
						</li>
					</ul>
					<h4 class="botox-box1__tit">
						BANOBAGI<br>
						Toctox
					</h4>
					<div class="section-head__img">
						<img src="../../images/petit/botox/botox_bg_2.jpg" alt="">
					</div>
					<!-- //section-head -->
				</div>
			</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid type-botox">
				<div class="section-mid__wrap">
					<h2 class="section-mid__tit tit-v1 type-white">QUICK&SIMPLE</h2>
					<div class="section-mid__box">
						<h2 class="section-mid__tit tit-v1">QUICK&SIMPLE</h2>
						<h3 class="section-mid__subtit subtit-v1">
							<strong>쓱</strong> 하면 지워지는 메이크업보다,<br>
							<strong>툭</strong> 하면 망가지는 헤어스타일보다
						</h3>
						<p class="highlight1 type-petit">더 확실한 변화가 필요할 땐?</p><br>
						<p class="highlight2 type-petit">바노바기 톡톡스로 관리하세요!</p>
						<p class="section-mid__txt txt-v1">
							비교적 간단한 시술이라고 누구나 똑같이 잘 할 수 있는 것은 아니죠.
							근육인지, 피부인지 어떤 층에 어떤 제품을 주입하느냐에 따라서
							눈으로 확인 가능할 정도의 결과 차이가 나타날 수 있어요.<br><br>

							정확한 주입층과 주입량 그리고 시술 받는 분의 통증이 거의 없도록
							진행하는 섬세한 실력까지 간단해도 제대로 하고 싶다면?<br class="hidden-tm">
							<span class="section-mid__point">쁘띠도 바노바기를 선택하세요.</span>
						</p>
					</div>
				</div>
				<div class="section-mid__area">
					<div class="section-mid__img">보톡스 사진</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-botox">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 10분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">아이스팩</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-petit">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_1.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_2.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">아이스팩 마취</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_3.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_4.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">보톡스주입</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-botox">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/petit/botox/botox_bg_3_t.jpg" alt="">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">1</span>
									<img src="../../images/petit/botox/botox_where_1.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">이마주름</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">2</span>
									<img src="../../images/petit/botox/botox_where_2.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">미간주름</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">3</span>
									<img src="../../images/petit/botox/botox_where_3.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">코(콧등주름)</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">4</span>
									<img src="../../images/petit/botox/botox_where_4.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">눈가주름</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">5</span>
									<img src="../../images/petit/botox/botox_where_5.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">입꼬리</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">6</span>
									<img src="../../images/petit/botox/botox_where_6.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">턱(사각턱)</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">7</span>
									<img src="../../images/petit/botox/botox_where_7.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">턱끝</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">8</span>
									<img src="../../images/petit/botox/botox_where_8.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">목주름</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-botox">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 보톡스
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-brand">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 브랜드 선택 가능</h3>
								<p class="detail__txt txt-v2">국산부터 수입까지 다양한 보톡스 브랜드 제품을 자유롭게 선택할 수 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
