<%
	type = "content"
	page = "petit"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-egg">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">예뻐지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">에그핏주사</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							예뻐지는<br class="hidden-tm">
							<span class="color-petit">바노바기 에그핏주사</span>
						</h2>
						<h3 class="visual__tag">#얼굴지방분해 #강력V라인효과 #리프팅 #윤곽주사</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">30,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-egg">
				<h2 class="section-head__tit tit-v1">
					바노바기 에그핏주사,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					에그핏주사는 바노바기 의료진이 직접 고농축의 성분을 배합하여<br class="hidden-tm">
					<span class="section-head__point">기존 윤곽주사보다 비교적 뛰어난 효과를 기대할 수 있는 얼굴 지방 분해 주사</span>입니다.<br class="hidden-tm">
					<span class="section-head__point">볼살, 이중턱, 턱라인 지방은 파괴하고 처진 살까지 리프팅</span> 해주어 또렷하고
					갸름한 V라인 효과를 확인할 수 있는 쁘띠 시술입니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- egg-box1 -->
						<ul class="section-head__list">
							<li class="section-head__item nth-0">
								<div class="vertical">
									<h5 class="section-head__subject">지방흡입<br> 효과</h5>
								</div>
							</li>
							<li class="section-head__item nth-0">
								<div class="vertical">
									<h5 class="section-head__subject">새로운 개념<br> 윤곽주사</h5>
								</div>
							</li>
							<li class="section-head__item nth-10">
								<div class="vertical">
									<h5 class="section-head__subject">지방파괴</h5>
								</div>
							</li>
							<li class="section-head__item nth-0">
								<div class="vertical">
									<h5 class="section-head__subject">에그라인<br> 리프팅</h5>
								</div>
							</li>
						</ul>
						<div class="inner-box type-right type-border">
							<h4 class="inner-box__tit">
								BANOBAGI<br>
								egg-fit
							</h4>
						</div>
						<div class="section-head__img">
							<img src="../../images/petit/egg/egg_bg_2.jpg" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="content-head2">
				<div class="content-head2__wrap">
					<h2 class="content-head2__tit tit-v1">QUICK&<span class="color-petit">SIMPLE</span></h2>
					<p class="content-head2__txt subtit-v2">윤곽 메이크업, 쉐딩 메이크업 <span class="content-head2__point">가려봤자 달라지지 않는 현실</span></p>
				</div>
			</div>
			<div class="section-mid type-egg type-static">
				<div class="section-mid__wrap">
					<div class="section-mid__box">
						<p class="highlight1 type-petit">메이크업 없이도 당당하고 싶다면?</p><br>
						<p class="highlight2 type-petit">바노바기 에그핏주사로 관리하세요!</p>
						<p class="section-mid__txt txt-v1">
							에그핏주사는 바노바기 의료진이 안전성이 검증된 고농축 성분을
							배합하여 주사하기 때문에  과도한 볼살, 이중턱, 늘어진 턱 라인의
							지방을 효과적으로 제거하며 리프팅 효과까지 기대할 수 있습니다.<br><br>

							비교적 짧은 시간 내에 진행된다고 해도 보톡스와 윤곽주사 역시 주사를 통해
							이루어지는 시술입니다. 어떤 시술도 제대로 받는 것이 좋습니다.
							쁘띠 역시 바노바기 입니다.
							<span class="section-mid__point">쁘띠 역시 바노바기 입니다.</span>
						</p>
					</div>
				</div>
				<div class="section-mid__area">
					<div class="section-mid__img">필러 사진</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-egg">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 10분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">아이스팩</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-petit">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_1.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_2.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">아이스팩 마취</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_3.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_4.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">에그핏주사 주입</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-egg">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/petit/egg/egg_bg_3_t.jpg" alt="어디가 예뻐질까? - 시술부위">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">1</span>
									<img src="../../images/petit/egg/egg_where_1.png" alt="앞광대" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">앞광대</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">2</span>
									<img src="../../images/petit/egg/egg_where_2.png" alt="처진 볼" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">처진 볼</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">3</span>
									<img src="../../images/petit/egg/egg_where_3.png" alt="턱라인, 사각턱" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">턱라인, 사각턱</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">4</span>
									<img src="../../images/petit/egg/egg_where_4.png" alt="이중턱" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">이중턱</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-egg">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 에그핏주사
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-component">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">안전한 성분 배합</h3>
								<p class="detail__txt txt-v2">지속적인 연구를 통해 안전이 입증된 성분만을 배합한 윤곽주사만을 시술에 적용하고 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
