<%
	type = "content"
	page = "petit"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-filler">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">예뻐지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">필러</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							예뻐지는<br class="hidden-tm">
							<span class="color-petit">바노바기 필러</span>
						</h2>
						<h3 class="visual__tag">#볼륨개선 #윤곽교정 #주름해결 #탄력증가</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">150,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-filler">
				<h2 class="section-head__tit tit-v1">
					바노바기 필러,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					이름부터 채운다는 의미를 가진 필러는 다양한 성분의 제품을 필요 부위에 주입하여<br class="hidden-tm">
					함몰된 곳을 채워주거나 볼륨을 형성하여 주름이나 윤곽을 교정하는 주사 시술입니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- filler-box1 -->
						<p class="section-head__rl">
							<span class="section-head__rl-line">BANOBAGI filler</span>
						</p>
						<ul class="section-head__list">
							<li class="section-head__item nth-1">
								<div class="vertical">
									<h5 class="section-head__subject">탄력증가</h5>
								</div>
							</li>
							<li class="section-head__item nth-7">
								<div class="vertical">
									<h5 class="section-head__subject">윤곽교정</h5>
								</div>
							</li>
							<li class="section-head__item nth-6">
								<div class="vertical">
									<h5 class="section-head__subject">볼륨개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-4">
								<div class="vertical">
									<h5 class="section-head__subject">주름개선</h5>
								</div>
							</li>
						</ul>
						<div class="inner-box">
							<h4 class="inner-box__tit">
								BANOBAGI<br>
								FILLER
							</h4>
							<p class="inner-box__txt">
								필러 제품에 따라 차이가 있을 수 있으나 대부분<br>
								시술 직후 즉각적으로 변화된 모습을 확인할 수 있어<br>
								최근 많은 분들의 큰 관심을 받고 있습니다.
							</p>
						</div>
						<div class="section-head__img">
							<img src="../../images/petit/filler/filler_bg_2.jpg" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
				<p class="section-head__caption">BANOBAGI PETIT FILLER</p>
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid type-filler type-static">
				<div class="section-mid__wrap">
					<div class="section-mid__box">
						<h2 class="section-mid__tit tit-v1">QUICK&SIMPLE</h2>
						<h3 class="section-mid__subtit subtit-v1">
							낮은 코, 보기 싫은 팔자 주름, 밋밋한 이마<br>
							<strong>나는 언제 예뻐질까…</strong>
						</h3>
						<p class="highlight1 type-petit">기다리기 지루하다면?</p><br>
						<p class="highlight2 type-petit">바노바기 필러로 관리하세요!</p>
						<p class="section-mid__txt txt-v1">
							아테콜과 같이 전문성을 보유한 곳에서만 가능한
							필러도 있다는 사실 알고 계신가요? HA필러에서 비교적 까다로운 반영구 필러까지 바노바기에서는 다양한 종류의 필러 시술이 가능합니다.<br><br>

							비교적 간단한 시술 같지만 시술자가 누구냐에 따라 그 결과가 크게
							좌우되는 만큼 거의 즉각적으로 나타나는 효과가 몇 개월 이상
							유지되는 만큼
							<span class="section-mid__point">필러도 역시 바노바기 입니다.</span>
						</p>
					</div>
				</div>
				<div class="section-mid__area">
					<div class="section-mid__img">필러 사진</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-filler">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 10분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">마취크림</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-petit">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_1.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_5.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">마취크림</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_6.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_7.png" alt="" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">필러주입 및 몰딩</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-filler">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/petit/filler/filler_bg_3_t.jpg" alt="어디가 예뻐질까? - 시술부위">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">1</span>
									<img src="../../images/petit/filler/filler_where_1.png" alt="이마" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">이마</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">2</span>
									<img src="../../images/petit/filler/filler_where_2.png" alt="관자놀이" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">관자놀이</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">3</span>
									<img src="../../images/petit/filler/filler_where_3.png" alt="눈밑" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">눈밑</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">4</span>
									<img src="../../images/petit/filler/filler_where_4.png" alt="콧대, 코끝" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">콧대, 코끝</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">5</span>
									<img src="../../images/petit/filler/filler_where_5.png" alt="인디언주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">인디언주름</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">6</span>
									<img src="../../images/petit/filler/filler_where_6.png" alt="팔자주름, 볼" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔자주름, 볼</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">7</span>
									<img src="../../images/petit/filler/filler_where_7.png" alt="입술라인" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">입술라인</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">8</span>
									<img src="../../images/petit/filler/filler_where_8.png" alt="턱끝" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">턱끝</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-filler">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 필러
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-brand">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 브랜드 선택 가능</h3>
								<p class="detail__txt txt-v2">국산부터 수입까지 다양한 필러 브랜드 제품을 자유롭게 선택할 수 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
