<%
	type = "content"
	page = "petit"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-linetox">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">예뻐지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">라인톡스</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							예뻐지는<br class="hidden-tm">
							<span class="color-petit">바노바기 라인톡스</span>
						</h2>
						<h3 class="visual__tag">#보톡스+윤곽주사 #교근축소 #지방파괴 #V라인</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">60,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-linetox">
				<h2 class="section-head__tit tit-v1">
					바노바기 라인톡스,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					라인톡스는 사각턱보톡스와 윤곽주사를 동시에 주사하는 쁘띠 시술입니다.<br class="hidden-tm">
					바노바기의 레시피가 담긴 주사시술로, <span class="section-head__point">얼굴을 커 보이게 만드는
					근육과 지방을 동시에 줄여 한 번에 V라인을 만들어줍니다.</span>
				</h3>
    			<div class="section-head__area">
					<div class="section-head__over">라인톡스 이미지</div>
    				<div class="section-head__box">
    					<!-- linetox-box1 -->
    					<p class="section-head__rl">
    						<span class="section-head__rl-line">BANOBAGI LINETOX</span>
    					</p>
    					<ul class="section-head__list">
    						<li class="section-head__item nth-0">
    							<div class="vertical">
    								<h5 class="section-head__subject">
                                        <span class="section-head__subject-span">보톡스</span>
                                        <span class="section-head__subject-span">+</span>
                                        <span class="section-head__subject-span">윤곽주사</span>
                                    </h5>
    							</div>
    						</li>
    						<li class="section-head__item nth-9">
    							<div class="vertical">
    								<h5 class="section-head__subject">교근축소</h5>
    							</div>
    						</li>
    						<li class="section-head__item nth-10">
    							<div class="vertical">
    								<h5 class="section-head__subject">지방파괴</h5>
    							</div>
    						</li>
    						<li class="section-head__item nth-5">
    							<div class="vertical">
    								<h5 class="section-head__subject">V라인얼굴</h5>
    							</div>
    						</li>
    					</ul>
						<div class="inner-box">
	    					<h4 class="inner-box__tit">
	    						BANOBAGI<br>
	    						linetox
	    					</h4>
	                        <p class="inner-box__txt">뼈를 깎지 않고 1:1 맞춤형 주사시술로 작고 예쁜<br>V라인으로 개선할 수 있습니다.</p>
						</div>
    					<div class="section-head__bg">
							<div class="section-head__img">라인톡스 이미지</div>
    					</div>
    					<!-- //section-head -->
    				</div>
    			</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid type-linetox">
				<div class="section-mid__wrap">
					<h2 class="section-mid__tit tit-v1 type-white">QUICK&SIMPLE</h2>
					<div class="section-mid__box">
						<h2 class="section-mid__tit tit-v1">QUICK&SIMPLE</h2>
						<h3 class="section-mid__subtit subtit-v1">
							<strong>왠지 커 보이는</strong> 사진 속 내 얼굴
						</h3>
						<p class="highlight1 type-petit type-linetox">사진에서도 작고 갸름한 얼굴이고 싶다면?</p><br>
						<p class="highlight2 type-petit">바노바기 라인톡스로 관리하세요!</p>
						<p class="section-mid__txt txt-v1">
							작고 갸름한 얼굴을 위해 꼭 부담스러운 수술이나 수 많은 시술이
							필요한 것은 아니에요. 라인톡스는 바노바기 의료진이 직접 배합
							성분의 윤곽주사와 사각턱 보톡스만으로 각진 턱을 개선하고
							V라인 효과를 확인할 수 있습니다.<br><br>

                            비교적 짧은 시간 내에 진행된다고 해도 보톡스와 윤곽주사 역시 주사를 통해
							이루어지는 시술입니다. 어떤 시술도 제대로 받는 것이 좋습니다.<br class="hidden-tm">
                            <span class="section-mid__point">쁘띠 역시 바노바기 입니다.</span>
						</p>
					</div>
				</div>
				<div class="section-mid__area">
					<div class="section-mid__img">라인톡스 사진</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-linetox">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 10분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">아이스팩</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-petit">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_1.png" alt="클렌징" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_2.png" alt="아이스팩 마취" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">아이스팩 마취</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_3.png" alt="시술부위확인" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_4.png" alt="라인톡스 주입" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">라인톡스 주입</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-linetox type-center">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/petit/linetox/linetox_bg_4_t.jpg" alt="어디가 예뻐질까 - 시술부위">
				</div>
                <div class="where__wrap">
                    <div class="where__box">
                        <ol class="where__list">
                            <li class="where__item">
                                <div class="where__img">
                                    <span class="where__num">1</span>
                                    <img src="../../images/petit/linetox/linetox_where_1.png" alt="사각턱근육" class="img-responsive">
                                </div>
                                <h3 class="where__subject subtit-v1">사각턱근육</h3>
                            </li>
                            <li class="where__item">
                                <div class="where__img">
                                    <span class="where__num">2</span>
                                    <img src="../../images/petit/linetox/linetox_where_2.png" alt="이중턱" class="img-responsive">
                                </div>
                                <h3 class="where__subject subtit-v1">이중턱</h3>
                            </li>
                            <li class="where__item">
                                <div class="where__img">
                                    <span class="where__num">3</span>
                                    <img src="../../images/petit/linetox/linetox_where_3.png" alt="얼굴살" class="img-responsive">
                                </div>
                                <h3 class="where__subject subtit-v1">얼굴살</h3>
                            </li>
                        </ol>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-linetox">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 라인톡스
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-component">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">안정한 성분 배합</h3>
								<p class="detail__txt txt-v2">지속적인 연구를 통해 안전이 입증된 성분만을 배합한 윤곽주사만을 시술에 적용하고 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
