<%
	type = "content"
	page = "petit"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-mouth">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">예뻐지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">입술필러</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							예뻐지는<br class="hidden-tm">
							<span class="color-petit">바노바기 입술필러</span>
						</h2>
						<h3 class="visual__tag">#예쁜미소 #비대칭교정 #처진입꼬리해결 #호감형인상</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">190,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-mouth">
				<h2 class="section-head__tit tit-v1">
					바노바기 입술필러,<br>
					왜 특별하지?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					일자 또는 아래 쪽으로 처진 입꼬리 부분에 적정량의 필러를 주입하여 무표정 일 때도
					약간 위쪽으로 올라가, 살짝 미소 짓는 것처럼 보이도록 교정하는 시술입니다.
					비교적 시술이 간단하고, 효과는 거의 즉각적으로 확인이 가능하며 이미지 개선 효과가
					뛰어난 것이 특징입니다.

				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- section-st1 -->
						<ul class="section-head__list">
							<li class="section-head__item nth-13">
								<div class="vertical">
									<h5 class="section-head__subject">입매개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-14">
								<div class="vertical">
									<h5 class="section-head__subject type-multi">입꼬리<br> 리프팅</h5>
								</div>
							</li>
							<li class="section-head__item nth-15">
								<div class="vertical">
									<h5 class="section-head__subject">비대칭개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-16">
								<div class="vertical">
									<h5 class="section-head__subject">이미지변화</h5>
								</div>
							</li>
						</ul>
						<h4 class="inner-box__tit type-mouth">
							<span class="inner-box__line">PETIT</span><br>
							<span class="inner-box__line">BANOBAGI</span>
						</h4>
						<div class="section-head__img">
							<img src="../../images/petit/mouth/mouth_bg_3.jpg" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid">
				<div class="section-st1 type-mouth">
					<div class="content-head">
						<div class="content-head__wrap">
							<h3 class="content-head__tit">BE PRETTY!</h3>
							<p class="content-head__txt">BANOBAGI LIP-FILLER</p>
						</div>
					</div>
					<div class="section-st1__wrap">
						<div class="section-st1__box">
							<div class="section-st1__img">
								<img src="../../images/petit/mouth/mouth_img_1.jpg" alt="입꼬리 필러">
							</div>
							<h2 class="section-st1__tit tit-v1">
								QUICK&SIMPLE
							</h2>
							<h3 class="section-st1__subtit subtit-v1">
								내 기분에 관계없이<br>
								<strong>우울</strong>하거나 <strong>피곤해</strong> 보이는 이유
							</h3>
							<p class="highlight1 type-petit">밝은 호감형 이미지가 필요할 땐?</p><br>
							<p class="highlight2 type-petit">바노바기 입술필러 하세요.</p>
						</div>
						<p class="section-st1__txt txt-v1">
							미묘한 입꼬리 각도의 차이만으로도 이미지는 크게 달라질 수 있습니다. 자연스러우면서 매력적인 입꼬리를 위한
							필러 시술은 다년간의 시술 경험뿐만 아니라 개인의 전체적인 얼굴 요소를 고려하는 미적감각 역시 필수적입니다.<br><br>

							당신에게 어울리는 입꼬리를 만드는 미적감각 역시 바노바기이기에 가능합니다.<span class="section-mid__point">쁘띠도 역시 바노바기 입니다.</span>
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-mouth">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 10분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">마취크림</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-petit">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_1.png" alt="클렌징" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_5.png" alt="마취크림" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">마취크림</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_6.png" alt="입꼬리 시술부위확인" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">입꼬리 시술부위확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_8.png" alt="입꼬리 필러 주입" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">입술 필러 주입</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-mouth type-center">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/petit/mouth/mouth_bg_5_t.jpg" alt="어디가 예뻐질까? - 시술부위">
				</div>
				<div class="where__wrap">
					<div class="where__box">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">1</span>
									<img src="../../images/petit/mouth/mouth_where_1.png" alt="일자 입꼬리" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">일자 입꼬리</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">2</span>
									<img src="../../images/petit/mouth/mouth_where_2.png" alt="처진 입꼬리" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">처진 입꼬리</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-mouth">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 입술필러
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-brand">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 브랜드 선택 가능</h3>
								<p class="detail__txt txt-v2">국산부터 수입까지 다양한 필러 브랜드 제품을 자유롭게 선택할 수 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
