<%
	type = "content"
	page = "petit"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-peeling">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">예뻐지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">PICK 스킨필링</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							예뻐지는 바노바기<br class="hidden-tm">
							<span class="color-petit">PICK 스킨필링</span>
						</h2>
						<h3 class="visual__tag">#내_피부타입에_찰떡 #다양한필링 #피부솔루션</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">70,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-peeling">
				<h2 class="section-head__tit tit-v1">
					바노바기 PICK 스킨필링,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					수분, 피부결, 모공축소, 각질제거 등 의료진이 피부의 상태에 면밀하게 체크하여<br class="hidden-tm">
					피부타입에 맞는 필링 제품을 찾아 전문 관리사가 정품 제품으로 꼼꼼하게 케어를 진행합니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- peeling-box1 -->
						<div class="section-head__img">
							<img src="../../images/petit/peeling/peeling_bg_2.png" alt="">
						</div>
						<div class="section-head__img-txt">
							<img src="../../images/petit/peeling/peeling_txt_1.png" alt="peelingPeeling">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
				<ul class="section-head__list type-bottom type-white">
					<li class="section-head__item nth-31">
						<div class="vertical">
							<h5 class="section-head__subject">피부보습</h5>
						</div>
					</li>
					<li class="section-head__item nth-42">
						<div class="vertical">
							<h5 class="section-head__subject">피지제거</h5>
						</div>
					</li>
					<li class="section-head__item nth-30">
						<div class="vertical">
							<h5 class="section-head__subject">피부톤UP</h5>
						</div>
					</li>
					<li class="section-head__item nth-43">
						<div class="vertical">
							<h5 class="section-head__subject">각질제거</h5>
						</div>
					</li>
					<li class="section-head__item nth-2">
						<div class="vertical">
							<h5 class="section-head__subject">모공축소</h5>
						</div>
					</li>
					<li class="section-head__item nth-32">
						<div class="vertical">
							<h5 class="section-head__subject">피부진정/<br>재생</h5>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="best">
				<h2 class="best__tit tit-v7">PICK 스킨필링 BEST <span class="tit-v7__num">3</span>!</h2>
				<ul class="best__list">
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">01</span>
							<div class="best__img">
								<img src="../../images/petit/peeling/peeling_img_1.jpg" class="img-w100" alt="밀크필"/>
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<h3 class="best__subject tit-v7">밀크필</h3>
										<p class="best__txt subtit-v2">
											모공 가득한 노폐물을 개선!<br>
											<span class="weight-ebold">부드러운 밀키텍스처</span>로<br>
											시술 후 <span class="weight-ebold">촉촉하고 반짝이는 피부!</span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<ul class="best__list2">
							<li class="best__item2">
								<div class="best__vertical">안티에이징</div>
							</li>
							<li class="best__item2">
								<div class="best__vertical">좁쌀여드름개선</div>
							</li>
							<li class="best__item2">
								<div class="best__vertical">색소 / 모공</div>
							</li>
							<li class="best__item2">
								<div class="best__vertical">화이트 / 블랙헤드</div>
							</li>
							<li class="best__item2">
								<div class="best__vertical">수분공급</div>
							</li>
						</ul>
					</li>
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">02</span>
							<div class="best__img">
								<img src="../../images/petit/peeling/peeling_img_2.jpg" class="img-w100" alt="산소필"/>
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<h3 class="best__subject tit-v7">산소필</h3>
										<p class="best__txt subtit-v2">
											<span class="weight-ebold">산소입자와 활성물질을 침투</span>시켜<br>
											피부를 매끈하고 촉촉하게,<br>
											화사해지는 피부톤!<br>
											<span class="weight-ebold">비타민C 공급</span>으로 기미주근깨 생성억제!
										</p>
									</div>
								</div>
							</div>
						</div>
						<ul class="best__list2">
							<li class="best__item2">
								<div class="best__vertical">화이트닝</div>
							</li>
							<li class="best__item2">
								<div class="best__vertical">보습</div>
							</li>
							<li class="best__item2">
								<div class="best__vertical">색소 / 모공</div>
							</li>
							<li class="best__item2">
								<div class="best__vertical">트러블 완화</div>
							</li>
							<li class="best__item2">
								<div class="best__vertical">수분공급</div>
							</li>
						</ul>
					</li>
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">03</span>

							<div class="best__img">
								<img src="../../images/petit/peeling/peeling_img_3.jpg" class="img-w100" alt="펌킨필"/>
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<h3 class="best__subject tit-v7">펌킨필</h3>
										<p class="best__txt">
											<span class="weight-ebold">고농출 영양성분</span>으로 피부재생!<br>
											<span class="weight-ebold">묵은각질과 피지제거</span>로<br>
											깨끗해지는 피부결, 피부탄력 UP!
										</p>
									</div>
								</div>
							</div>
						</div>
						<ul class="best__list2">
							<li class="best__item2">
								<div class="best__vertical">영양공급</div>
							</li>
							<li class="best__item2">
								<div class="best__vertical">피부재생</div>
							</li>
							<li class="best__item2">
								<div class="best__vertical">묵은 각질 / 피지제거</div>
							</li>
							<li class="best__item2">
								<div class="best__vertical">촉촉한 피부</div>
							</li>
							<li class="best__item2">
								<div class="best__vertical">피부탄력</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-heart">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 30분이내</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">없음</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-petit">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="section-box type-mt">
		<div class="detail type-peeling">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기<br>
						PICK 스킨필링
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다.</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-component">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">안전한 성분 배합</h3>
								<p class="detail__txt txt-v2">지속적인 연구를 통해 안전이 입증된 성분만을 배합한 윤곽주사만을 시술에 적용하고 있습니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, 오래 가는 결과</h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
