<%
	type = "content"
	page = "petit"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-sparkle">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">예뻐지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">광채주사</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							보습/모공축소/<br class="hidden-tm">
                            탄력을 동시에!<br>
							<span class="color-petit">광채주사</span>
						</h2>
						<h3 class="visual__tag">#물광주사+스킨보톡스</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">99,000~</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% include ../_include/_price %>

    <div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-sparkle">
				<h2 class="section-head__tit tit-v1">
					바노바기 광채주사,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					수분 밸런스와 리프팅을 동시에 개선해주는 광채주사는<br class="hidden-tm">
					히알루론산(레스틸렌비탈) 성분을 얼굴 전체에 직접 주입하는 시술입니다.<br class="hidden-tm">
                    즉각적인 보습 효과로 수분으로 가득 찬 듯 건조한 피부를 촉촉하게 만들고<br class="hidden-tm">
                    스킨보톡스를 함께 진행하여 모공 축소와 리프팅 효과를 가져다 줍니다.<br class="hidden-tm">
                    한번의 시술 만으로도 긴 유지 기간과 보습, 탄력, 미백이 동시에 가능한 스킨 부스터 입니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- peeling-box1 -->
						<div class="section-head__img">
							<img src="../../images/petit/sparkle/sparkle_bg_2.jpg" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
				<ul class="section-head__list type-bottom type-black">
                    <li class="section-head__item nth-0">
                        <div class="vertical">
                            <h5 class="section-head__subject">
                                1회 시술로<br>
                                롱래스팅
                            </h5>
                        </div>
                    </li>
					<li class="section-head__item nth-46">
						<div class="vertical">
							<h5 class="section-head__subject">
                                각질 및<br>
                                피부결 케어
                            </h5>
						</div>
					</li>
					<li class="section-head__item nth-30">
						<div class="vertical">
							<h5 class="section-head__subject">
                                피부미백 및 톤,<br>
                                피부결 개선
                            </h5>
						</div>
					</li>
					<li class="section-head__item nth-4">
						<div class="vertical">
							<h5 class="section-head__subject">
                                주름개선<br>
                                리프팅 케어
                            </h5>
						</div>
					</li>
					<li class="section-head__item nth-51">
						<div class="vertical">
							<h5 class="section-head__subject">
                                즉각적인<br>
                                보습효과
                            </h5>
						</div>
					</li>
					<li class="section-head__item nth-52">
						<div class="vertical">
							<h5 class="section-head__subject">
                                비교적<br>
                                적은 통증
                            </h5>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- //section-box-->

    <div class="section-box">
        <div class="content-wrap">
            <div class="sparkle-box">
				<h2 class="sparkle-box__tit tit-v1">피부에 광채를 가득 담다</h2>
				<p class="sparkle-box__subtit subtit-v1">
                    건조하고 메마른 피부에 즉각적인 보습효과!<br>
                    잔주름 케어와 수분 밸런스를 동시에!
                </p>

				<div class="sparkle-box__outer">
					<div class="sparkle-box__inner">
						<ul class="sparkle-box__list">
							<li class="sparkle-box__item">
								<div class="sparkle-box__img">
									<img src="../../images/petit/sparkle/sparkle_img_1.png" alt="건조한 피부에 수분공급을 하여 피부 속까지 촉촉하게!" class="img-w100"/>
								</div>
								<p class="sparkle-box__txt">
									건조한 피부에 수분공급을 하여<br class="hidden-m">
                                    피부 속까지 촉촉하게!
								</p>
							</li>
							<li class="sparkle-box__item">
								<div class="sparkle-box__img">
									<img src="../../images/petit/sparkle/sparkle_img_2.png" alt="화장으로도 가려지지 않던 모공을 쫀쫀하게!" class="img-w100"/>
								</div>
								<p class="sparkle-box__txt">
									화장으로도 가려지지 않던<br class="hidden-m">
                                    모공을 쫀쫀하게!
								</p>
							</li>
                            <li class="sparkle-box__item">
								<div class="sparkle-box__img">
									<img src="../../images/petit/sparkle/sparkle_img_3.png" alt="스킨보톡스로 피부 잔주름 개선!" class="img-w100"/>
								</div>
								<p class="sparkle-box__txt">
									스킨보톡스로<br class="hidden-m">
                                    피부 잔주름 개선!
								</p>
							</li>
						</ul>
					</div>
					<div class="sparkle-box__area">
                        <img src="../../images/petit/sparkle/sparkle_bg_3_t.png" alt="" class="img-w100 hidden-p"/>
						<!-- <img src="../../images/petit/sparkle/sparkle_bg_3_t.jpg" alt="" class="img-w100 hidden-p"/> -->
					</div>
				</div>
            </div>
        </div>
    </div><!-- //section-box-->

    <div class="section-box">
        <div class="content-wrap">
            <div class="sparkle-box2">
                <h2 class="sparkle-box2__tit tit-v7">
                    촉촉한 피부 + 잔주름 케어<br>
                    <span class="sparkle-box2__point">물광주사에 보톡스를 더하다!</span>
                </h2>

                <div class="sparkle-box2__wrap">
                    <div class="compare-table">
                        <ul class="compare-table__list nth-1">
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    기존<br class="hidden-pt">
                                    물광주사
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    피부 수분함량을 증가
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    탄력개선
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    ★★
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    2주~1개월
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    한달에 1회씩,<br>
                                    3회 이상 반복 시술
                                </div>
                            </li>
                        </ul>
                        <ul class="compare-table__list nth-2">
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    VS
                                </div>
                            </li>
                            <li class="compare-table__item type-merge">
                                <div class="compare-table__vertical">
                                    효과
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    보습정도
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    지속기간
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    지속력
                                </div>
                            </li>
                        </ul>
                        <ul class="compare-table__list nth-3">
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    바노바기 광채주사
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    보습, 탄력 주름 개선
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    탄력과 잔주름 동시 개선
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    ★★★★
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    3~6개월
                                </div>
                            </li>
                            <li class="compare-table__item">
                                <div class="compare-table__vertical">
                                    1회 시술로도 긴 유지기간
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="best type-simple type-petit">
				<h2 class="best__tit tit-v1">광채주사 POINT</h2>

				<ul class="best__list">
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">01</span>
							<div class="best__img">
								<img src="../../images/petit/sparkle/sparkle_best_1.jpg" class="img-w100" alt="피부 수분 충전 피부톤 거친 피부결 개선">
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											피부 수분 충전<br>
											피부톤 거친 피부결 개선
										</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">02</span>
							<div class="best__img">
								<img src="../../images/petit/sparkle/sparkle_best_2.jpg" class="img-w100" alt="엘라스틴, 콜라겐 생성 촉진">
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											엘라스틴,<br>
											콜라겐 생성 촉진
										</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="best__item">
						<div class="best__wrap">
							<span class="best__num">03</span>
							<div class="best__img">
								<img src="../../images/petit/sparkle/sparkle_best_3.jpg" class="img-w100" alt="스킨보톡스로 잔주름개선!">
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											스킨보톡스로<br>
                                            잔주름개선!
										</p>
									</div>
								</div>
							</div>
						</div>
					</li>
                    <li class="best__item">
						<div class="best__wrap">
							<span class="best__num">04</span>
							<div class="best__img">
								<img src="../../images/petit/sparkle/sparkle_best_4.jpg" class="img-w100" alt="전용 인젝터를 이용한 균일한 시술">
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											전용 인젝터를<br>
                                            이용한 균일한 시술
										</p>
									</div>
								</div>
							</div>
						</div>
					</li>
                    <li class="best__item">
						<div class="best__wrap">
							<span class="best__num">05</span>
							<div class="best__img">
								<img src="../../images/petit/sparkle/sparkle_best_5.jpg" class="img-w100" alt="미국 FDA 승인을 받은 정품 레스틸렌 비탈 정량 사용">
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											미국 FDA 승인을 받은<br>
                                            정품 레스틸렌 비탈 정량 사용
										</p>
									</div>
								</div>
							</div>
						</div>
					</li>
                    <li class="best__item">
						<div class="best__wrap">
							<span class="best__num">06</span>
							<div class="best__img">
								<img src="../../images/petit/sparkle/sparkle_best_6.jpg" class="img-w100" alt="개인 상태에 맞는 맞춤 케어">
							</div>
							<div class="best__area">
								<div class="best__outer">
									<div class="best__vertical">
										<p class="best__txt subtit-v2">
											개인 상태에 맞는<br>
                                            맞춤 케어
										</p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- //section-box-->

    <div class="section-box">
		<div class="content-wrap">
			<div class="need type-sparkle type-little">
				<div class="need__box">
					<h2 class="need__tit">누가 필요할까?</h2>

					<ol class="need__list">
						<li class="need__item">
							<div class="need__wrap"><strong>피부가 건조</strong>해서 화장이 뜨는 분</div>
						</li>
						<li class="need__item">
							<div class="need__wrap">피부탄력이 떨어져 <strong>잔주름이 있으신 분</strong></div>
						</li>
						<li class="need__item">
							<div class="need__wrap"><strong>모공이 넓어서</strong> 고민이신 분</div>
						</li>
						<li class="need__item">
							<div class="need__wrap"><strong>밝고 환한 피부톤</strong>을 갖고 싶은 분</div>
						</li>
                        <li class="need__item">
							<div class="need__wrap"><strong>반짝이는 물광피부</strong>를 갖고 싶은 분</div>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->

    <div class="section-box">
		<div class="content-wrap">
			<div class="where type-sparkle">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/petit/sparkle/sparkle_bg_4_t.jpg" alt="어디가 예뻐질까? - 광채주사">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">1</span>
									<img src="../../images/petit/sparkle/sparkle_where_1.png" alt="이마" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">이마</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">2</span>
									<img src="../../images/petit/sparkle/sparkle_where_2.png" alt="미간" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">미간</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">3</span>
									<img src="../../images/petit/sparkle/sparkle_where_3.png" alt="입가" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">입가</h3>
							</li>
							<!-- mobile 용-->
							<li class="where__item hidden-p">
								<div class="where__img">
									<span class="where__num">4</span>
									<img src="../../images/petit/sparkle/sparkle_where_4.png" alt="눈가/눈밑주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">눈가/눈밑주름</h3>
							</li>
							<!-- //mobile 용-->
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<!-- pc용-->
							<li class="where__item hidden-tm">
								<div class="where__img">
									<span class="where__num">4</span>
									<img src="../../images/petit/sparkle/sparkle_where_4.png" alt="눈가/눈밑주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">눈가/눈밑주름</h3>
							</li>
							<!-- //pc용-->
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">5</span>
									<img src="../../images/petit/sparkle/sparkle_where_5.png" alt="팔자주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔자주름</h3>
							</li>
							<li class="where__item type-another">
								<div class="where__img">
									<span class="where__num">6</span>
									<img src="../../images/petit/sparkle/sparkle_where_6.png" alt="사각턱 V 라인" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">사각턱 V 라인</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
        <div class="content-wrap">
			<div class="difference">
				<h2 class="difference__tit tit-v1">쁘띠도 역시 바노바기!</h2>
				<p class="difference__subtit subtit-v1">디테일의 차이가 결과의 차이를 만들어 냅니다.</p>

				<div class="difference__img">
					<img src="../../images/petit/aura/aura_img_4.png" alt="" class="hidden-tm img-w100"/>
					<img src="../../images/petit/aura/aura_img_4_t.png" alt="" class="hidden-p img-w100"/>
				</div>

				<div class="difference__wrap">
					<ul class="difference__list">
						<li class="difference__item">
							<div class="difference__box">
								<div class="difference__vertical">
									1:1 상담을 통해 진행되는 개인<br class="hidden-tm">
									피부타입별 맞춤 시술
								</div>
							</div>
						</li>
						<li class="difference__item">
							<div class="difference__box">
								<div class="difference__vertical">
									보습, 미백, 잔주름 케어 등<br class="hidden-tm">
									복합적인 피부고민을<br class="hidden-tm">
									광채주사로 개선
								</div>
							</div>
						</li>
						<li class="difference__item">
							<div class="difference__box">
								<div class="difference__vertical">
									지속적인 연구를 통하여<br class="hidden-tm">
									안전이 입증된 성분만을<br class="hidden-tm">
									배합한 광채주사
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-ulfit">
				<h2 class="how__tit tit-v1">광채주사 CARE PROSESS</h2>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_9.png" alt="피부 맞춤 상담" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">피부 맞춤 상담</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_38.png" alt="클렌징 후 피부 표면 마취" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징 후 피부 표면 마취</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_41.png" alt="광채주사 시술" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">광채주사 시술</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_40.png" alt="진정 마스크팩 케어" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">진정 마스크팩 케어</h3>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="caution type-sparkle">
				<div class="caution__head">
					<h2 class="caution__tit tit-v1">
						<span class="color-point">광채주사</span><br class="hidden-tm">
                        시술 후<br>
						주의사항
					</h2>
				</div>
				<div class="caution__body">
					<ol class="caution__list">
						<li class="caution__item">
							<div class="caution__wrap">시술 후 7일간은 사우나, 음주, 흡연 등을 삼가해주세요.</div>
						</li>
						<li class="caution__item">
							<div class="caution__wrap">시술 부위 자국이 2~3일정도 붉을 수 있으나 이내 사라지므로 안심해도 괜찮습니다.</div>
						</li>
						<li class="caution__item">
							<div class="caution__wrap">시술 당일 자외선 차단제를 꼼꼼하게 발라주세요.</div>
						</li>
						<li class="caution__item">
							<div class="caution__wrap">메이크업은 다음날부터 가능합니다.</div>
						</li>
						<li class="caution__item">
							<div class="caution__wrap">시술부위에 각질이 일어날 경우 보습제(수분크림)를 발라주세요.</div>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-ulfit">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 40분 이내</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">마취크림</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">1일 이내</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-petit">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- //section-box-->

	<div class="section-box type-mt">
		<div class="detail type-sparkle">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한 바노바기<br>
						광채주사
					</h2>
					<p class="detail__subtit subtit-v1">검증된 제품과 숙련된 노하우로<br> 더 만족스러운 결과를 보여드립니다.</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-various">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">다양한 시술 선택 가능</h3>
								<p class="detail__txt txt-v2">1:1 디테일한 맞춤 상담을 통해 본인에게 맞는시술을 선택할 수 있습니다. </p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, 오래 가는 결과</h3>
								<p class="detail__txt txt-v2">
									<?php echo $sinceYear;?>년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
                                    오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
