<%
	type = "content"
	page = "petit"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="visual type-water">
		<div class="visual__wrap">
			<div class="visual__inner">
				<div class="visual__vertical">
					<div class="visual__box">
						<div class="breadcrumb">
							<ul class="breadcrumb__list">
								<li class="breadcrumb__item type-home">
									<a href="" class="breadcrumb__link">home</a>
								</li>
								<li class="breadcrumb__item type-1depth">
									<a href="" class="breadcrumb__link">예뻐지기</a>
								</li>
								<li class="breadcrumb__item type-2depth">
									<a href="" class="breadcrumb__link">물광주사</a>
								</li>
							</ul>
						</div>
						<h2 class="visual__tit font-hans">
							예뻐지는<br class="hidden-tm">
							<span class="color-petit">바노바기 물광주사</span>
						</h2>
						<h3 class="visual__tag">#수분보충 #탱탱피부 #피부재생 #주름개선</h3>
						<p class="visual__price">
							<span class="visual__price-icon">￦</span>
							<span class="visual__price-won font-hans">100,000</span>
						</p>
						<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
						<ul class="visual__list">
							<li class="visual__item type-basket">
								<a href="" class="visual__btn js-content-link" data-tab="is-price">
									<span class="visual__btn-wrap">견적내기</span>
								</a>
							</li>
							<li class="visual__item type-counseling">
								<a href="" class="visual__btn js-content-link" data-tab="is-contact">
									<span class="visual__btn-wrap">상담신청</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_price %>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-water">
					<h2 class="section-head__tit tit-v1">
						바노바기 물광주사,<br>
						너는 누구니?
					</h2>
					<h3 class="section-head__txt subtit-v1">
						다년간 시술되어온 물광주사는 우리 몸보다 약 200~300배 이상의 수분을 지니고 있는
						히알루론산(HA) 성분을 피부 진피 층에 직접 주사하여 보습뿐만 아니라
						피부톤 개선 및 노화 방지 효과를 볼 수 있는 대표적인 스킨케어 시술입니다.
					</h3>
					<div class="section-head__border">
						<div class="section-head__area">
							<div class="section-head__box">
								<!-- water-box1 -->
								<ul class="section-head__list type-black">
									<li class="section-head__item nth-31">
										<div class="vertical">
											<h5 class="section-head__subject">수분보충</h5>
										</div>
									</li>
									<li class="section-head__item nth-32">
										<div class="vertical">
											<h5 class="section-head__subject">피부재생</h5>
										</div>
									</li>
									<li class="section-head__item nth-4">
										<div class="vertical">
											<h5 class="section-head__subject">주름개선</h5>
										</div>
									</li>
									<li class="section-head__item nth-1">
										<div class="vertical">
											<h5 class="section-head__subject">탄력향상</h5>
										</div>
									</li>
								</ul>
								<div class="section-head__img">
									<img src="../../images/petit/water/water_bg_2.png" alt="">
								</div>
								<!-- //section-head -->
							</div>
						</div><!--//section-head__area-->
						<div class="explain">
							<h4 class="explain__tit"><strong>WATER LIGHT</strong> INJECTION</h4>
							<p class="explain__txt">
								비교적 짧은 시간의 관리를 통해 다양한 피부 개선 효과를 확인할 수 있지만
								어떤 제품을 피부에 주입하는지에 따라 효과 및 유지 기간이 달라질 수 있습니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-mid type-water type-static">

				<div class="section-mid__area">
					<div class="section-mid__img">물광 사진</div>
				</div>
				<div class="section-mid__wrap">
					<div class="section-mid__box">
						<h2 class="section-mid__tit tit-v1">QUICK&SIMPLE</h2>
						<h3 class="section-mid__subtit subtit-v1">
							하루면 효과가 사라지는 마스크팩 보다<br>
							내겐 너무 부담스러운 에스테틱 관리 보다
						</h3>
						<p class="highlight1 type-petit">지금 내 피부에 필요한 것은?</p><br>
						<p class="highlight2 type-petit">바노바기 물광주사로 관리하세요!</p>
						<p class="section-mid__txt txt-v1">
							언제 어디서나 받을 수 있는 물광주사지만 어느 곳에서 어떤 방법으로
							받는지에 따라 나타나는 효과부터 유지되는 기간까지,
							정말 하나부터 열까지 모두 달라질 수 있어요. 그만큼 작은 차이가
							큰 변화를 만든다는 거죠.<br><br>

							흔하게 여겨지는 물광주사 역시 바노바기는 바른 방법으로,
							제대로 진행합니다. 디테일을 추구하는 바노바기니까.<br class="hidden-tm">
							<span class="section-mid__point">쁘띠도 바노바기니까.</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="how type-water">
				<h2 class="how__tit tit-v1">어떻게 예뻐질까?</h2>
				<ul class="how__list">
					<li class="how__item nth-1">
						<div class="how__wrap">
							<h3 class="how__subject">시술시간</h3>
							<p class="how__txt">약 30분</p>
						</div>
					</li>
					<li class="how__item nth-2">
						<div class="how__wrap">
							<h3 class="how__subject">마취방법</h3>
							<p class="how__txt">마취크림</p>
						</div>
					</li>
					<li class="how__item nth-3">
						<div class="how__wrap">
							<h3 class="how__subject">회복기간</h3>
							<p class="how__txt">빠른 일상생활</p>
						</div>
					</li>
					<li class="how__item nth-4">
						<div class="how__wrap">
							<h3 class="how__subject">내원치료</h3>
							<p class="how__txt">필요없음</p>
						</div>
					</li>
					<li class="how__item type-pain">
						<div class="how__box">
							<div class="how__wrap">
								<h3 class="how__subject">통증</h3>
								<p class="how__txt">1<span class="how__max">/10</span></p>
							</div>
						</div>
						<div class="how__pain">
							<div class="status-bar type-petit">
								<ul class="status-bar__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="status-bar__item is-active nth-"+i%>" ><span class="status-bar__bg">통증수치</span></li>
										<%}else{%>
											<li class="<%="status-bar__item nth-"+i%>"><span class="status-bar__bg">통증수치</span></li>
										<%}%>
									<%}%>
								</ul>
							</div>
						</div>
						<p class="how__noti">* 시술 시 체감 통증은 개인에 따라<br class="hidden-pt"> 차이가 있을 수 있습니다.</p>
					</li>
				</ul>
				<ul class="how__list2">
					<li class="how__item2 nth-1">
						<div class="how__img">
							<img src="../../images/content/how_1.png" alt="클렌징" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">클렌징</h3>
					</li>
					<li class="how__item2 nth-2">
						<div class="how__img">
							<img src="../../images/content/how_5.png" alt="마취크림" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">마취크림</h3>
					</li>
					<li class="how__item2 nth-3">
						<div class="how__img">
							<img src="../../images/content/how_6.png" alt="시술부위확인" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">시술부위확인</h3>
					</li>
					<li class="how__item2 nth-4">
						<div class="how__img">
							<img src="../../images/content/how_20.png" alt="물광주사 시술 진행" class="img-responsive">
						</div>
						<h3 class="how__tit2 subtit-v1">물광주사 시술 진행</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="where type-water">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/petit/water/water_bg_3_t.jpg" alt="어디가 예뻐질까? - 광댓">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">1</span>
									<img src="../../images/petit/water/water_where_1.png" alt="이마" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">이마</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">2</span>
									<img src="../../images/petit/water/water_where_2.png" alt="미간" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">미간</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">3</span>
									<img src="../../images/petit/water/water_where_3.png" alt="입가" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">입가</h3>
							</li>
							<!-- mobile 용-->
							<li class="where__item hidden-p">
								<div class="where__img">
									<span class="where__num">4</span>
									<img src="../../images/petit/water/water_where_4.png" alt="눈가/눈밑주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">눈가/눈밑주름</h3>
							</li>
							<!-- //mobile 용-->
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<!-- pc용-->
							<li class="where__item hidden-tm">
								<div class="where__img">
									<span class="where__num">4</span>
									<img src="../../images/petit/water/water_where_4.png" alt="눈가/눈밑주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">눈가/눈밑주름</h3>
							</li>
							<!-- //pc용-->
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">5</span>
									<img src="../../images/petit/water/water_where_5.png" alt="팔자주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔자주름</h3>
							</li>
							<li class="where__item type-another">
								<div class="where__img">
									<span class="where__num">6</span>
									<img src="../../images/petit/water/water_where_6.png" alt="사각턱 V 라인" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">사각턱 V 라인</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="detail type-water">
			<div class="detail__box">
				<div class="detail__inner">
					<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
					<h2 class="detail__tit tit-v1">
						디테일한<br>
						바노바기 물광주사
					</h2>
					<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
				</div>
			</div>
			<div class="detail__area">
				<div class="detail__wrap">
					<ul class="detail__list">
						<li class="detail__item type-quantitative">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
								<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
							</div>
						</li>
						<li class="detail__item type-component">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">정교한 시술 진행</h3>
								<p class="detail__txt txt-v2">의료진이 세심하게 시술 부위를 확인한 뒤 개인의 피부 상태를 고려하여 정교하게 시술을 진행합니다.</p>
							</div>
						</li>
						<li class="detail__item type-cost">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
								<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
							</div>
						</li>
						<li class="detail__item type-check">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
								<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.
								</p>
							</div>
						</li>
						<li class="detail__item type-long">
							<div class="detail__vertical">
								<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
								<p class="detail__txt txt-v2">
									18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
									오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% include ../_include/_amazing %>
	<% include ../_include/_contact %>
</div><!-- //container-->
<% include ../_include/_footer %>
