<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>쁘띠바노바기</title>
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="../../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../../css/libs/owl.carousel.css">
<link rel="stylesheet" href="../../css/libs/slick.css">
<link rel="stylesheet" href="../../css/libs/slick-theme.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/gnb.css">
<link rel="stylesheet" href="../../css/content_common.css">
<link rel="stylesheet" href="../../css/petit.css">
<link rel="stylesheet" href="../../css/slim.css">
<link rel="stylesheet" href="../../css/guide.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCoreDefault.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shAutoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCss.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushXml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.js"></script>
<script type="text/javascript">
SyntaxHighlighter.all();
</script>
<style>

	.guide-body { height:auto; margin:20px; }
	.guide-tit { margin-top:1em; font-size:26px; color:#333; font-weight:500;  }
	.guide-wrap { margin:10px 0; padding:10px; border:1px solid #aaa; }
	.syntaxhighlighter{overflow:visible !important}
</style>
</head>
<body class="guide-body">

<div class="guide-tit">어디가 예뻐질까? - 3개이하</div>
<div class="guide-wrap">

	<div>
		<div class="content-wrap">
			<div class="where type-guide type-center">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/young/charm/charm_bg_5_t.jpg" alt="">
				</div>
				<div class="where__wrap">
					<div class="where__box">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">1</span>
									<img src="../../images/young/charm/charm_where_1.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">볼처짐</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">2</span>
									<img src="../../images/young/charm/charm_where_2.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">이중턱</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">3</span>
									<img src="../../images/young/charm/charm_where_3.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">턱라인</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<pre class="brush: html;">
		<!-- //where type-center 추가, where__box에 type-left,type-right 제거 4개이상시 추가 -->
		<div class="content-wrap">
			<div class="where type-guide type-center">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/young/charm/charm_bg_5_t.jpg" alt="">
				</div>
				<div class="where__wrap">
					<div class="where__box">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">1</span>
									<img src="../../images/young/charm/charm_where_1.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">볼처짐</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">2</span>
									<img src="../../images/young/charm/charm_where_2.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">이중턱</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num type-young">3</span>
									<img src="../../images/young/charm/charm_where_3.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">턱라인</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</pre>

</div>

<div class="guide-tit">어디가 예뻐질까? - 4개이상</div>
<div class="guide-wrap">

	<div>
		<div class="content-wrap">
			<div class="where type-botox">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/petit/botox/botox_bg_3_t.jpg" alt="">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">1</span>
									<img src="../../images/petit/botox/botox_where_1.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">이마주름</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">2</span>
									<img src="../../images/petit/botox/botox_where_2.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">미간주름</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">3</span>
									<img src="../../images/petit/botox/botox_where_3.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">코(콧등주름)</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">4</span>
									<img src="../../images/petit/botox/botox_where_4.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">눈가주름</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">5</span>
									<img src="../../images/petit/botox/botox_where_5.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">입꼬리</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">6</span>
									<img src="../../images/petit/botox/botox_where_6.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">턱(사각턱)</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">7</span>
									<img src="../../images/petit/botox/botox_where_7.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">턱끝</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">8</span>
									<img src="../../images/petit/botox/botox_where_8.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">목주름</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<pre class="brush: html;">
		<div class="content-wrap">
			<div class="where type-botox">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/petit/botox/botox_bg_3_t.jpg" alt="">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">1</span>
									<img src="../../images/petit/botox/botox_where_1.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">이마주름</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">2</span>
									<img src="../../images/petit/botox/botox_where_2.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">미간주름</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">3</span>
									<img src="../../images/petit/botox/botox_where_3.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">코(콧등주름)</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">4</span>
									<img src="../../images/petit/botox/botox_where_4.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">눈가주름</h3>
							</li>
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">5</span>
									<img src="../../images/petit/botox/botox_where_5.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">입꼬리</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">6</span>
									<img src="../../images/petit/botox/botox_where_6.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">턱(사각턱)</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">7</span>
									<img src="../../images/petit/botox/botox_where_7.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">턱끝</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">8</span>
									<img src="../../images/petit/botox/botox_where_8.png" alt="" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">목주름</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</pre>

</div>


<div class="guide-tit">어디가 예뻐질까? - 4개이상 or 좌우 홀수</div>
<div class="guide-wrap">

	<div>
		<div class="content-wrap">
			<div class="where type-water">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/petit/water/water_bg_3_t.jpg" alt="어디가 예뻐질까? - 광댓">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">1</span>
									<img src="../../images/petit/water/water_where_1.png" alt="이마" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">이마</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">2</span>
									<img src="../../images/petit/water/water_where_2.png" alt="미간" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">미간</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">3</span>
									<img src="../../images/petit/water/water_where_3.png" alt="입가" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">입가</h3>
							</li>
							<!-- mobile 용-->
							<li class="where__item hidden-p">
								<div class="where__img">
									<span class="where__num">4</span>
									<img src="../../images/petit/water/water_where_4.png" alt="눈가/눈밑주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">눈가/눈밑주름</h3>
							</li>
							<!-- //mobile 용-->
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<!-- pc용-->
							<li class="where__item hidden-tm">
								<div class="where__img">
									<span class="where__num">4</span>
									<img src="../../images/petit/water/water_where_4.png" alt="눈가/눈밑주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">눈가/눈밑주름</h3>
							</li>
							<!-- //pc용-->
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">5</span>
									<img src="../../images/petit/water/water_where_5.png" alt="팔자주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔자주름</h3>
							</li>
							<li class="where__item type-another">
								<div class="where__img">
									<span class="where__num">6</span>
									<img src="../../images/petit/water/water_where_6.png" alt="사각턱 V 라인" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">사각턱 V 라인</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<pre class="brush: html;">
		<!-- 모바일서 2개씩 정렬이 안되기에 ex:)4번째꺼는 좌우에 똑같이 만들고 한쪽을 삭제해준다 마지막엔 type-another 클래스추가-->
		<div class="content-wrap">
			<div class="where type-water">
				<h2 class="where__tit tit-v1">어디가 예뻐질까?</h2>
				<div class="where__img2">
					<img src="../../images/petit/water/water_bg_3_t.jpg" alt="어디가 예뻐질까? - 광댓">
				</div>
				<div class="where__wrap">
					<div class="where__box type-left">
						<ol class="where__list">
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">1</span>
									<img src="../../images/petit/water/water_where_1.png" alt="이마" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">이마</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">2</span>
									<img src="../../images/petit/water/water_where_2.png" alt="미간" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">미간</h3>
							</li>
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">3</span>
									<img src="../../images/petit/water/water_where_3.png" alt="입가" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">입가</h3>
							</li>
							<!-- mobile 용-->
							<li class="where__item hidden-p">
								<div class="where__img">
									<span class="where__num">4</span>
									<img src="../../images/petit/water/water_where_4.png" alt="눈가/눈밑주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">눈가/눈밑주름</h3>
							</li>
							<!-- //mobile 용-->
						</ol>
					</div>
					<div class="where__box type-right">
						<ol class="where__list">
							<!-- pc용-->
							<li class="where__item hidden-tm">
								<div class="where__img">
									<span class="where__num">4</span>
									<img src="../../images/petit/water/water_where_4.png" alt="눈가/눈밑주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">눈가/눈밑주름</h3>
							</li>
							<!-- //pc용-->
							<li class="where__item">
								<div class="where__img">
									<span class="where__num">5</span>
									<img src="../../images/petit/water/water_where_5.png" alt="팔자주름" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">팔자주름</h3>
							</li>
							<li class="where__item type-another">
								<div class="where__img">
									<span class="where__num">6</span>
									<img src="../../images/petit/water/water_where_6.png" alt="사각턱 V 라인" class="img-responsive">
								</div>
								<h3 class="where__subject subtit-v1">사각턱 V 라인</h3>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</pre>

</div>




<div class="guide-tit">디테일</div>
<div class="guide-wrap">

	<div>
		<div class="section-box">
			<div class="detail type-guide">
				<div class="detail__box">
					<div class="detail__inner">
						<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
						<h2 class="detail__tit tit-v1">
							디테일한<br>
							바노바기 물광주사
						</h2>
						<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
					</div>
				</div>
				<div class="detail__area">
					<div class="detail__wrap">
						<ul class="detail__list">
							<li class="detail__item type-quantitative">
								<div class="detail__vertical">
									<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
									<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
								</div>
							</li>
							<li class="detail__item type-component">
								<div class="detail__vertical">
									<h3 class="detail__subject tit-v2">정교한 시술 진행</h3>
									<p class="detail__txt txt-v2">의료진이 세심하게 시술 부위를 확인한 뒤 개인의 피부 상태를 고려하여 정교하게 시술을 진행합니다.</p>
								</div>
							</li>
							<li class="detail__item type-cost">
								<div class="detail__vertical">
									<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
									<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
								</div>
							</li>
							<li class="detail__item type-check">
								<div class="detail__vertical">
									<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
									<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.
									</p>
								</div>
							</li>
							<li class="detail__item type-long">
								<div class="detail__vertical">
									<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
									<p class="detail__txt txt-v2">
										18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
										오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<pre class="brush: html;">
		<!-- 각페이지에 맞게 타입추가  ex:type-petit-->
		<div class="section-box">
			<div class="detail type-guide">
				<div class="detail__box">
					<div class="detail__inner">
						<p class="detail__eng eng-v1">DETAIL BANOBAGI</p>
						<h2 class="detail__tit tit-v1">
							디테일한<br>
							바노바기 물광주사
						</h2>
						<p class="detail__subtit subtit-v1">바노바기는 검증된 제품, 오래된 노하우로<br> 더 만족스러운 결과를 드립니다</p>
					</div>
				</div>
				<div class="detail__area">
					<div class="detail__wrap">
						<ul class="detail__list">
							<li class="detail__item type-quantitative">
								<div class="detail__vertical">
									<h3 class="detail__subject tit-v2">정품/정량만 사용</h3>
									<p class="detail__txt txt-v2">다년간 검증된 정품으로만 시술하며 기준보다 소량만 시술하거나 양을 늘리기 위해 희석하지 않습니다.</p>
								</div>
							</li>
							<li class="detail__item type-component">
								<div class="detail__vertical">
									<h3 class="detail__subject tit-v2">정교한 시술 진행</h3>
									<p class="detail__txt txt-v2">의료진이 세심하게 시술 부위를 확인한 뒤 개인의 피부 상태를 고려하여 정교하게 시술을 진행합니다.</p>
								</div>
							</li>
							<li class="detail__item type-cost">
								<div class="detail__vertical">
									<h3 class="detail__subject tit-v2">부담 없는 시술 비용</h3>
									<p class="detail__txt txt-v2">바르고 안전한 시술 제공을 목표로 합리적인 시술 비용을 책정합니다.</p>
								</div>
							</li>
							<li class="detail__item type-check">
								<div class="detail__vertical">
									<h3 class="detail__subject tit-v2">디테일한 전후체크</h3>
									<p class="detail__txt txt-v2">시술 전뿐만 아니라 시술 후에도 불편한 점은 없는지 디테일하게 확인합니다.
									</p>
								</div>
							</li>
							<li class="detail__item type-long">
								<div class="detail__vertical">
									<h3 class="detail__subject tit-v2">오래 가는 바노바기, <span class="inline-block">오래 가는 결과</span></h3>
									<p class="detail__txt txt-v2">
										18년 이상 전문화된 수/시술로 제공해온 바노바기의 역사만큼
										오랫동안 유지되는, 더 만족스러운 결과를 확인하세요.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</pre>

</div>

<div class="guide-tit">몰라보게 예뻐지기</div>
<div class="guide-wrap">
	<div>
		<div class="section-box">
			<div class="content-wrap">
				<div class="amazing">
					<h2 class="amazing__tit tit-v1">몰라보게 예뻐지기</h2>
					<div class="amazing__wrap">
						<div class="amazing__slider js-slider">
							<div class="amazing__motion js-amazing">
								<p class="amazing__txt type-after">시술 후 3개월</p>
								<img src="../../images/temp/after1.jpg">
								<div class="amazing__resize">
									<p class="amazing__txt type-before">시술 전</p>
									<img src="../../images/temp/before1.jpg" >
								</div>
								<span class="amazing__handle">마우스</span>
							</div>
							<div class="amazing__motion js-amazing">
								<p class="amazing__txt type-after">시술 후 3개월</p>
								<img src="../../images/temp/after2.jpg">
								<div class="amazing__resize">
									<p class="amazing__txt type-before">시술 전</p>
									<img src="../../images/temp/before2.jpg" >
								</div>
								<span class="amazing__handle">마우스</span>
							</div>
						</div>
						<a href="" class="amazing__btn type-prev js-slider-prev">이전</a>
						<a href="" class="amazing__btn type-next js-slider-next">다음</a>
						<p class="amazing__explain">마우스를 양쪽으로 움직여 주세요.</p>
					</div>
					<p class="amazing__noti">※본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, <span class="inline-block">환자 본인의 동의를 얻어 촬영 후 게재하였습니다.</span></p>
					<a href="" class="amazing__more btn3"><span>더 많은 사진보러가기</span></a>
				</div>
			</div>
		</div>
	</div>
	<pre class="brush: html;">
		<div class="section-box">
			<div class="content-wrap">
				<div class="amazing">
					<h2 class="amazing__tit tit-v1">몰라보게 예뻐지기</h2>
					<div class="amazing__wrap">
						<div class="amazing__slider"><!-- 슬라이드효과 줄시 js-slider 클래스추가 -->
							<div class="amazing__motion js-amazing">
								<p class="amazing__txt type-after">시술 후 3개월</p>
								<img src="../../images/temp/after1.jpg">
								<div class="amazing__resize">
									<p class="amazing__txt type-before">시술 전</p>
									<img src="../../images/temp/before1.jpg" >
								</div>
								<span class="amazing__handle">마우스</span>
							</div>
							<div class="amazing__motion js-amazing">
								<p class="amazing__txt type-after">시술 후 3개월</p>
								<img src="../../images/temp/after2.jpg">
								<div class="amazing__resize">
									<p class="amazing__txt type-before">시술 전</p>
									<img src="../../images/temp/before2.jpg" >
								</div>
								<span class="amazing__handle">마우스</span>
							</div>
						</div>
						<a href="" class="amazing__btn type-prev js-slider-prev">이전</a>
						<a href="" class="amazing__btn type-next js-slider-next">다음</a>
						<p class="amazing__explain">마우스를 양쪽으로 움직여 주세요.</p>
					</div>
					<p class="amazing__noti">※본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, <span class="inline-block">환자 본인의 동의를 얻어 촬영 후 게재하였습니다.</span></p>
					<a href="" class="amazing__more btn3"><span>더 많은 사진보러가기</span></a>
				</div>
			</div>
		</div>
	</pre>
</div>

<!-- 개발적용시 제거 -->
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
<script type="text/javascript" src="../../js/libs/cycle2.swipe.js"></script>
<script type="text/javascript" src="../../js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.bxslider.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/amazing.js"></script>
<script type="text/javascript" src="../../js/content.js"></script>
</body>
</html>
