<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>쁘띠바노바기</title>
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="../../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../../css/libs/owl.carousel.css">
<link rel="stylesheet" href="../../css/libs/slick.css">
<link rel="stylesheet" href="../../css/libs/slick-theme.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/gnb.css">
<link rel="stylesheet" href="../../css/content_common.css">
<link rel="stylesheet" href="../../css/petit.css">
<link rel="stylesheet" href="../../css/slim.css">
<link rel="stylesheet" href="../../css/guide.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCoreDefault.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shAutoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCss.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushXml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.js"></script>
<script type="text/javascript">
SyntaxHighlighter.all();
</script>
<style>

	.guide-body { height:auto; margin:20px; }
	.guide-tit { margin-top:1em; font-size:26px; color:#333; font-weight:500;  }
	.guide-wrap { margin:10px 0; padding:10px; border:1px solid #aaa; }
	.syntaxhighlighter{overflow:visible !important}
</style>
</head>
<body class="guide-body">

<div class="guide-tit">비쥬얼</div>
<div class="guide-wrap">

	<div>
		<div class="visual type-guide">
			<div class="visual__wrap">
				<div class="visual__inner">
					<div class="visual__vertical">
						<div class="visual__box">
							<div class="breadcrumb">
								<ul class="breadcrumb__list">
									<li class="breadcrumb__item type-home">
										<a href="" class="breadcrumb__link">home</a>
									</li>
									<li class="breadcrumb__item type-1depth">
										<a href="" class="breadcrumb__link">어려지기</a>
									</li>
									<li class="breadcrumb__item type-2depth">
										<a href="" class="breadcrumb__link">참리프팅</a>
									</li>
								</ul>
							</div>
							<h2 class="visual__tit font-hans">
								어려지는<br class="hidden-tm">
								<span class="color-young">바노바기 참리프팅</span>
							</h2>
							<h3 class="visual__tag">#주름개선 #탄력증가 #V라인 #피부재생</h3>
							<p class="visual__price">
								<span class="visual__price-icon">￦</span>
								<span class="visual__price-won font-hans">60,000</span>
							</p>
							<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
							<ul class="visual__list">
								<li class="visual__item type-basket">
									<a href="" class="visual__btn">
										<span class="visual__btn-wrap">견적내기</span>
									</a>
								</li>
								<li class="visual__item type-counseling">
									<a href="" class="visual__btn">
										<span class="visual__btn-wrap">상담신청</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<pre class="brush: html;">
		<!-- 각페이지에 맞게 타입추가  ex:type-charm-->
		<div class="visual type-charm">
			<div class="visual__wrap">
				<div class="visual__inner">
					<div class="visual__vertical">
						<div class="visual__box">
							<div class="breadcrumb">
								<ul class="breadcrumb__list">
									<li class="breadcrumb__item type-home">
										<a href="" class="breadcrumb__link">home</a>
									</li>
									<li class="breadcrumb__item type-1depth">
										<a href="" class="breadcrumb__link">어려지기</a>
									</li>
									<li class="breadcrumb__item type-2depth">
										<a href="" class="breadcrumb__link">참리프팅</a>
									</li>
								</ul>
							</div>
							<h2 class="visual__tit font-hans">
								어려지는<br class="hidden-tm">
								<span class="color-young">바노바기 참리프팅</span>
							</h2>
							<h3 class="visual__tag">#주름개선 #탄력증가 #V라인 #피부재생</h3>
							<p class="visual__price">
								<span class="visual__price-icon">￦</span>
								<span class="visual__price-won font-hans">60,000</span>
							</p>
							<p class="visual__noti">* 시술에 따라 가격이 변동될 수 있습니다.</p>
							<ul class="visual__list">
								<li class="visual__item type-basket">
									<a href="" class="visual__btn">
										<span class="visual__btn-wrap">견적내기</span>
									</a>
								</li>
								<li class="visual__item type-counseling">
									<a href="" class="visual__btn">
										<span class="visual__btn-wrap">상담신청</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</pre>

</div>

<div class="guide-tit">수가표</div>
<div class="guide-wrap">

	<div>
		<div class="content-wrap">
			<div class="price">
				<h2 class="price__tit tit-v4">바노바기 참리프팅 수가표</h2>
				<ul class="price__list">
					<li class="price__item">
						<div class="price__box type-subject">
							<div class="price__vertical">
								<span class="price__icon"><img src="../../images/content/price_icon2.png" alt="상품 아이콘"></span>
								<h3 class="price__subject tit-v5">
									참리프팅
								</h3>
							</div>
						</div>
						<div class="price__box type-content">
							<div class="price__outer">
								<div class="price__inner">
									<p class="price__won"><span class="price__align">60,000원</span> <a href="" class="price__btn">장바구니</a></p>
								</div>
							</div>
						</div>
						<div class="tooltip">
							<div class="tooltip__outer">
								<div class="tooltip__inner">
									<p class="tooltip__tit">
										<span class="color-petit">사각턱보톡스 국산</span> 상품이<br>
										추가되었습니다.
									</p>
									<ul class="tooltip__list">
										<li class="tooltip__item">
											<a href="" class="tooltip__link">
												장바구니 확인하기
											</a>
										</li>
										<li class="tooltip__item">
											<a href="" class="tooltip__link js-page">
												페이지 계속보기
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="price__item type-multi">
						<div class="price__box type-subject">
							<div class="price__vertical">
								<span class="price__icon"><img src="../../images/content/price_icon2.png" alt=""></span>
								<h3 class="price__subject tit-v5">
									쿨어드밴티지
								</h3>
							</div>
						</div>
						<div class="price__box type-content">
							<div class="price__outer">
								<div class="price__inner">
									<ul class="price__list2">
										<li class="price__item2">
											<p class="price__subtit">국산 보툴렉스</p>
											<p class="price__won"><span class="price__align">100,000원</span> <a href="" class="price__btn">장바구니</a></p>
										</li>
										<li class="price__item2">
											<p class="price__subtit">국산 보툴렉스</p>
											<p class="price__won"><span class="price__align">100,000원</span> <a href="" class="price__btn">장바구니</a></p>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tooltip">
							<div class="tooltip__outer">
								<div class="tooltip__inner">
									<p class="tooltip__tit">
										<span class="color-petit">사각턱보톡스 국산</span> 상품이<br>
										추가되었습니다.
									</p>
									<ul class="tooltip__list">
										<li class="tooltip__item">
											<a href="" class="tooltip__link">
												장바구니 확인하기
											</a>
										</li>
										<li class="tooltip__item">
											<a href="" class="tooltip__link js-page">
												페이지 계속보기
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<pre class="brush: html;">
		<!-- 2개 이상일시 price__item에 type-multi 추가해야합니다.-->
		<div class="content-wrap">
			<div class="price">
				<h2 class="price__tit tit-v4">바노바기 참리프팅 수가표</h2>
				<ul class="price__list">
					<li class="price__item">
						<div class="price__box type-subject">
							<div class="price__vertical">
								<span class="price__icon"><img src="../../images/content/price_icon2.png" alt=""></span>
								<h3 class="price__subject tit-v5">
									참리프팅
								</h3>
							</div>
						</div>
						<div class="price__box type-content">
							<div class="price__outer">
								<div class="price__inner">
									<p class="price__won"><span class="price__align">60,000원</span> <a href="" class="price__btn">장바구니</a></p>
								</div>
							</div>
						</div>
						<div class="tooltip">
							<div class="tooltip__outer">
								<div class="tooltip__inner">
									<p class="tooltip__tit">
										<span class="color-petit">사각턱보톡스 국산</span> 상품이<br>
										추가되었습니다.
									</p>
									<ul class="tooltip__list">
										<li class="tooltip__item">
											<a href="" class="tooltip__link">
												장바구니 확인하기
											</a>
										</li>
										<li class="tooltip__item">
											<a href="" class="tooltip__link js-page">
												페이지 계속보기
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="price__item type-multi">
						<div class="price__box type-subject">
							<div class="price__vertical">
								<span class="price__icon"><img src="../../images/content/price_icon2.png" alt=""></span>
								<h3 class="price__subject tit-v5">
									쿨어드밴티지
								</h3>
							</div>
						</div>
						<div class="price__box type-content">
							<div class="price__outer">
								<div class="price__inner">
									<ul class="price__list2">
										<li class="price__item2">
											<p class="price__subtit">국산 보툴렉스</p>
											<p class="price__won"><span class="price__align">100,000원</span> <a href="" class="price__btn">장바구니</a></p>
										</li>
										<li class="price__item2">
											<p class="price__subtit">국산 보툴렉스</p>
											<p class="price__won"><span class="price__align">100,000원</span> <a href="" class="price__btn">장바구니</a></p>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tooltip">
							<div class="tooltip__outer">
								<div class="tooltip__inner">
									<p class="tooltip__tit">
										<span class="color-petit">사각턱보톡스 국산</span> 상품이<br>
										추가되었습니다.
									</p>
									<ul class="tooltip__list">
										<li class="tooltip__item">
											<a href="" class="tooltip__link">
												장바구니 확인하기
											</a>
										</li>
										<li class="tooltip__item">
											<a href="" class="tooltip__link js-page">
												페이지 계속보기
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</pre>

</div>

<div class="guide-tit">상단 컨텐츠 type-1</div>
<div class="guide-wrap">

	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-filler">
				<h2 class="section-head__tit tit-v1">
					바노바기 필러,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					이름부터 채운다는 의미를 가진 필러는 다양한 성분의 제품을 필요 부위에 주입하여<br class="hidden-tm">
					함몰된 곳을 채워주거나 볼륨을 형성하여 주름이나 윤곽을 교정하는 주사 시술입니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- filler-box1 -->
						<p class="section-head__rl">
							<span class="section-head__rl-line">BANOBAGI filler</span>
						</p>
						<ul class="section-head__list">
							<li class="section-head__item nth-1">
								<div class="vertical">
									<h5 class="section-head__subject">탄력증가</h5>
								</div>
							</li>
							<li class="section-head__item nth-7">
								<div class="vertical">
									<h5 class="section-head__subject">윤곽교정</h5>
								</div>
							</li>
							<li class="section-head__item nth-6">
								<div class="vertical">
									<h5 class="section-head__subject">볼륨개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-4">
								<div class="vertical">
									<h5 class="section-head__subject">주름개선</h5>
								</div>
							</li>
						</ul>
						<div class="inner-box">
							<h4 class="inner-box__tit">
								BANOBAGI<br>
								FILLER
							</h4>
							<p class="inner-box__txt">
								필러 제품에 따라 차이가 있을 수 있으나 대부분<br>
								시술 직후 즉각적으로 변화된 모습을 확인할 수 있어<br>
								최근 많은 분들의 큰 관심을 받고 있습니다.
							</p>
						</div>
						<div class="section-head__img">
							<img src="../../images/petit/filler/filler_bg_2.jpg" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
				<p class="section-head__caption">BANOBAGI PETIT FILLER</p>
			</div>
		</div>
	</div><!-- //section-box-->
	<pre class="brush: html;">
		<!-- 기본구성 페이지별로 커스터마이징-->
		<div class="section-box">
			<div class="content-wrap">
				<div class="section-head type-filler">
					<h2 class="section-head__tit tit-v1">
						바노바기 필러,<br>
						너는 누구니?
					</h2>
					<h3 class="section-head__txt subtit-v1">
						이름부터 채운다는 의미를 가진 필러는 다양한 성분의 제품을 필요 부위에 주입하여<br class="hidden-tm">
						함몰된 곳을 채워주거나 볼륨을 형성하여 주름이나 윤곽을 교정하는 주사 시술입니다.
					</h3>
					<div class="section-head__area">
						<div class="section-head__box">
							<!-- filler-box1 -->
							<p class="section-head__rl">
								<span class="section-head__rl-line">BANOBAGI filler</span>
							</p>
							<ul class="section-head__list">
								<li class="section-head__item nth-1">
									<div class="vertical">
										<h5 class="section-head__subject">탄력증가</h5>
									</div>
								</li>
								<li class="section-head__item nth-7">
									<div class="vertical">
										<h5 class="section-head__subject">윤곽교정</h5>
									</div>
								</li>
								<li class="section-head__item nth-6">
									<div class="vertical">
										<h5 class="section-head__subject">볼륨개선</h5>
									</div>
								</li>
								<li class="section-head__item nth-4">
									<div class="vertical">
										<h5 class="section-head__subject">주름개선</h5>
									</div>
								</li>
							</ul>
							<div class="inner-box">
								<h4 class="inner-box__tit">
									BANOBAGI<br>
									FILLER
								</h4>
								<p class="inner-box__txt">
									필러 제품에 따라 차이가 있을 수 있으나 대부분<br>
									시술 직후 즉각적으로 변화된 모습을 확인할 수 있어<br>
									최근 많은 분들의 큰 관심을 받고 있습니다.
								</p>
							</div>
							<div class="section-head__img">
								<img src="../../images/petit/filler/filler_bg_2.jpg" alt="">
							</div>
							<!-- //section-head -->
						</div>
					</div><!--//section-head__area-->
					<p class="section-head__caption">BANOBAGI PETIT FILLER</p>
				</div>
			</div>
		</div><!-- //section-box-->
	</pre>

</div>

<div class="guide-tit">상단 컨텐츠 type-2</div>
<div class="guide-wrap">
	<div>

	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="section-head type-anti">
				<h2 class="section-head__tit tit-v1">
					바노바기 동안보톡스,<br>
					너는 누구니?
				</h2>
				<h3 class="section-head__txt subtit-v1">
					동안보톡스는 보톡스의 원리를 이용하여 피부를 가볍게 리프팅하는 시술입니다.<br class="hidden-tm">
					특히 피부 잔주름 개선과 리프팅, 턱의 라인을 당겨주는 효과가 있습니다.
				</h3>
				<div class="section-head__area">
					<div class="section-head__box">
						<!-- section-head -->
						<div class="section-head__inline">
							<div class="section-head__vertical">
								<p class="section-head__rl">
									<span class="section-head__rl-line">BANOBAGI ANTI-AGING BOTOX</span>
								</p>
							</div>
						</div>
						<div class="section-head__inline type-another">
							<div class="section-head__vertical">
								<ul class="section-head__list type-black">
							<li class="section-head__item nth-2">
								<div class="vertical">
									<h5 class="section-head__subject">모공축소</h5>
								</div>
							</li>
							<li class="section-head__item nth-17">
								<div class="vertical">
									<h5 class="section-head__subject">피부톤개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-5">
								<div class="vertical">
									<h5 class="section-head__subject">턱선개선</h5>
								</div>
							</li>
							<li class="section-head__item nth-18">
								<div class="vertical">
									<h5 class="section-head__subject">리프팅효과</h5>
								</div>
							</li>
						</ul>
							</div>
						</div>
						<div class="section-head__img">
							<img src="../../images/young/anti/anti_bg_2.png" alt="">
						</div>
						<!-- //section-head -->
					</div>
				</div><!--//section-head__area-->
				<div class="kind">
					<ul class="kind__list">
						<li class="kind__item">
							<h3 class="kind__tit">스킨보톡스</h3>
							<p class="kind__txt">
								모공 축소, 피부톤 개선, 잔주름개선, 여름에
								땀 분비 억제 및 피부 리프팅 효과를 볼 수
								있습니다.
							</p>
						</li>
						<li class="kind__item">
							<h3 class="kind__tit">턱라인보톡스</h3>
							<p class="kind__txt">
								턱선을 아래로 잡아당기는 힘줄 근육에 보톡스를 주사하여 턱선 라인을
								예쁘게 개선 하며 리프팅 효과도 볼 수 있습니다.
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- //section-box-->
	<pre class="brush: html;">
		<div class="section-box">
			<div class="content-wrap">
				<div class="section-head type-anti">
					<h2 class="section-head__tit tit-v1">
						바노바기 동안보톡스,<br>
						너는 누구니?
					</h2>
					<h3 class="section-head__txt subtit-v1">
						동안보톡스는 보톡스의 원리를 이용하여 피부를 가볍게 리프팅하는 시술입니다.<br class="hidden-tm">
						특히 피부 잔주름 개선과 리프팅, 턱의 라인을 당겨주는 효과가 있습니다.
					</h3>
					<div class="section-head__area">
						<div class="section-head__box">
							<!-- section-head -->
							<div class="section-head__inline">
								<div class="section-head__vertical">
									<p class="section-head__rl">
										<span class="section-head__rl-line">BANOBAGI ANTI-AGING BOTOX</span>
									</p>
								</div>
							</div>
							<div class="section-head__inline type-another">
								<div class="section-head__vertical">
									<ul class="section-head__list type-black">
								<li class="section-head__item nth-2">
									<div class="vertical">
										<h5 class="section-head__subject">모공축소</h5>
									</div>
								</li>
								<li class="section-head__item nth-17">
									<div class="vertical">
										<h5 class="section-head__subject">피부톤개선</h5>
									</div>
								</li>
								<li class="section-head__item nth-5">
									<div class="vertical">
										<h5 class="section-head__subject">턱선개선</h5>
									</div>
								</li>
								<li class="section-head__item nth-18">
									<div class="vertical">
										<h5 class="section-head__subject">리프팅효과</h5>
									</div>
								</li>
							</ul>
								</div>
							</div>
							<div class="section-head__img">
								<img src="../../images/young/anti/anti_bg_2.png" alt="">
							</div>
							<!-- //section-head -->
						</div>
					</div><!--//section-head__area-->
					<div class="kind">
						<ul class="kind__list">
							<li class="kind__item">
								<h3 class="kind__tit">스킨보톡스</h3>
								<p class="kind__txt">
									모공 축소, 피부톤 개선, 잔주름개선, 여름에
									땀 분비 억제 및 피부 리프팅 효과를 볼 수
									있습니다.
								</p>
							</li>
							<li class="kind__item">
								<h3 class="kind__tit">턱라인보톡스</h3>
								<p class="kind__txt">
									턱선을 아래로 잡아당기는 힘줄 근육에 보톡스를 주사하여 턱선 라인을
									예쁘게 개선 하며 리프팅 효과도 볼 수 있습니다.
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //section-box-->
	</pre>

</div>

<div class="guide-tit">상단 컨텐츠 세로글쓰기</div>
<div class="guide-wrap">

	<div>
		<p class="section-head__rl" style="position:static">
			<span class="section-head__rl-line">BANOBAGI BOTOX</span>
		</p>
	</div>
	<pre class="brush: html;">
		<!-- 각페이지에 맞게 타입추가  ex:type-charm-->
		<p class="section-head__rl">
			<span class="section-head__rl-line">BANOBAGI BOTOX</span>
		</p>
	</pre>

</div>

<div class="guide-tit">상단 컨텐츠 원</div>
<div class="guide-wrap">
	<div style="background:skyblue;">
		<ul class="section-head__list" style="position:static; display:inline-block;  text-align:center;">
			<li class="section-head__item nth-1">
				<div class="vertical">
					<h5 class="section-head__subject">탄력증가</h5>
				</div>
			</li>
			<li class="section-head__item nth-2">
				<div class="vertical">
					<h5 class="section-head__subject">모공축소</h5>
				</div>
			</li>
			<li class="section-head__item nth-3">
				<div class="vertical">
					<h5 class="section-head__subject">근육축소</h5>
				</div>
			</li>
			<li class="section-head__item nth-4">
				<div class="vertical">
					<h5 class="section-head__subject">주름개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-5">
				<div class="vertical">
					<h5 class="section-head__subject">V라인</h5>
				</div>
			</li>
			<li class="section-head__item nth-6">
				<div class="vertical">
					<h5 class="section-head__subject">윤곽교정</h5>
				</div>
			</li>
			<li class="section-head__item nth-7">
				<div class="vertical">
					<h5 class="section-head__subject">볼륨개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-8">
				<div class="vertical">
					<h5 class="section-head__subject">피부재생</h5>
				</div>
			</li>
			<li class="section-head__item nth-9">
				<div class="vertical">
					<h5 class="section-head__subject">교근축소</h5>
				</div>
			</li>
			<li class="section-head__item nth-10">
				<div class="vertical">
					<h5 class="section-head__subject">지방파괴</h5>
				</div>
			</li>
		</ul>
		<ul class="section-head__list type-black" style="position:static; display:inline-block;  text-align:center;">
			<li class="section-head__item nth-1">
				<div class="vertical">
					<h5 class="section-head__subject">탄력증가</h5>
				</div>
			</li>
			<li class="section-head__item nth-2">
				<div class="vertical">
					<h5 class="section-head__subject">모공축소</h5>
				</div>
			</li>
			<li class="section-head__item nth-3">
				<div class="vertical">
					<h5 class="section-head__subject">근육축소</h5>
				</div>
			</li>
			<li class="section-head__item nth-4">
				<div class="vertical">
					<h5 class="section-head__subject">주름개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-5">
				<div class="vertical">
					<h5 class="section-head__subject">V라인</h5>
				</div>
			</li>
			<li class="section-head__item nth-6">
				<div class="vertical">
					<h5 class="section-head__subject">윤곽교정</h5>
				</div>
			</li>
			<li class="section-head__item nth-7">
				<div class="vertical">
					<h5 class="section-head__subject">볼륨개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-8">
				<div class="vertical">
					<h5 class="section-head__subject">피부재생</h5>
				</div>
			</li>
			<li class="section-head__item nth-9">
				<div class="vertical">
					<h5 class="section-head__subject">교근축소</h5>
				</div>
			</li>
			<li class="section-head__item nth-10">
				<div class="vertical">
					<h5 class="section-head__subject">지방파괴</h5>
				</div>
			</li>
		</ul>
		<ul class="section-head__list" style="position:static; display:inline-block;  text-align:center;">
			<li class="section-head__item nth-11">
				<div class="vertical">
					<h5 class="section-head__subject">볼살/이중턱제거</h5>
				</div>
			</li>
			<li class="section-head__item nth-12">
				<div class="vertical">
					<h5 class="section-head__subject">반영구적효과</h5>
				</div>
			</li>
			<li class="section-head__item nth-13">
				<div class="vertical">
					<h5 class="section-head__subject">입매개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-14">
				<div class="vertical">
					<h5 class="section-head__subject">입꼬리 리프팅</h5>
				</div>
			</li>
			<li class="section-head__item nth-15">
				<div class="vertical">
					<h5 class="section-head__subject">비대칭개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-16">
				<div class="vertical">
					<h5 class="section-head__subject">이미지변화</h5>
				</div>
			</li>
			<li class="section-head__item nth-17">
				<div class="vertical">
					<h5 class="section-head__subject">피부톤개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-18">
				<div class="vertical">
					<h5 class="section-head__subject">리프팅효과</h5>
				</div>
			</li>
			<li class="section-head__item nth-19">
				<div class="vertical">
					<h5 class="section-head__subject">입체감형성</h5>
				</div>
			</li>
			<li class="section-head__item nth-20">
				<div class="vertical">
					<h5 class="section-head__subject">동안효과</h5>
				</div>
			</li>
		</ul>
		<ul class="section-head__list type-black" style="position:static; display:inline-block;  text-align:center;">
			<li class="section-head__item nth-11">
				<div class="vertical">
					<h5 class="section-head__subject">볼살/이중턱제거</h5>
				</div>
			</li>
			<li class="section-head__item nth-12">
				<div class="vertical">
					<h5 class="section-head__subject">반영구적효과</h5>
				</div>
			</li>
			<li class="section-head__item nth-13">
				<div class="vertical">
					<h5 class="section-head__subject">입매개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-14">
				<div class="vertical">
					<h5 class="section-head__subject">입꼬리 리프팅</h5>
				</div>
			</li>
			<li class="section-head__item nth-15">
				<div class="vertical">
					<h5 class="section-head__subject">비대칭개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-16">
				<div class="vertical">
					<h5 class="section-head__subject">이미지변화</h5>
				</div>
			</li>
			<li class="section-head__item nth-17">
				<div class="vertical">
					<h5 class="section-head__subject">피부톤개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-18">
				<div class="vertical">
					<h5 class="section-head__subject">리프팅효과</h5>
				</div>
			</li>
			<li class="section-head__item nth-19">
				<div class="vertical">
					<h5 class="section-head__subject">입체감형성</h5>
				</div>
			</li>
			<li class="section-head__item nth-20">
				<div class="vertical">
					<h5 class="section-head__subject">동안효과</h5>
				</div>
			</li>
		</ul>
		<ul class="section-head__list" style="position:static; display:inline-block;  text-align:center;">
			<li class="section-head__item nth-21">
				<div class="vertical">
					<h5 class="section-head__subject">이미지개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-22">
				<div class="vertical">
					<h5 class="section-head__subject">업그레이드 레시피</h5>
				</div>
			</li>
			<li class="section-head__item nth-23">
				<div class="vertical">
					<h5 class="section-head__subject">부종부기 감소</h5>
				</div>
			</li>
			<li class="section-head__item nth-24">
				<div class="vertical">
					<h5 class="section-head__subject">라인개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-25">
				<div class="vertical">
					<h5 class="section-head__subject">셀룰라이트 개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-26">
				<div class="vertical">
					<h5 class="section-head__subject">군살 제거</h5>
				</div>
			</li>
			<li class="section-head__item nth-27">
				<div class="vertical">
					<h5 class="section-head__subject">피부 보습</h5>
				</div>
			</li>
			<li class="section-head__item nth-28">
				<div class="vertical">
					<h5 class="section-head__subject">여드름, 흉터</h5>
				</div>
			</li>
			<li class="section-head__item nth-29">
				<div class="vertical">
					<h5 class="section-head__subject">탈모치료</h5>
				</div>
			</li>
			<li class="section-head__item nth-30">
				<div class="vertical">
					<h5 class="section-head__subject">피부재생</h5>
				</div>
			</li>
		</ul>
		<ul class="section-head__list type-black" style="position:static; display:inline-block;  text-align:center;">
			<li class="section-head__item nth-21">
				<div class="vertical">
					<h5 class="section-head__subject">이미지개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-22">
				<div class="vertical">
					<h5 class="section-head__subject">업그레이드 레시피</h5>
				</div>
			</li>
			<li class="section-head__item nth-23">
				<div class="vertical">
					<h5 class="section-head__subject">부종부기 감소</h5>
				</div>
			</li>
			<li class="section-head__item nth-24">
				<div class="vertical">
					<h5 class="section-head__subject">라인개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-25">
				<div class="vertical">
					<h5 class="section-head__subject">셀룰라이트 개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-26">
				<div class="vertical">
					<h5 class="section-head__subject">군살 제거</h5>
				</div>
			</li>
			<li class="section-head__item nth-27">
				<div class="vertical">
					<h5 class="section-head__subject">피부 보습</h5>
				</div>
			</li>
			<li class="section-head__item nth-28">
				<div class="vertical">
					<h5 class="section-head__subject">여드름, 흉터</h5>
				</div>
			</li>
			<li class="section-head__item nth-29">
				<div class="vertical">
					<h5 class="section-head__subject">탈모치료</h5>
				</div>
			</li>
			<li class="section-head__item nth-30">
				<div class="vertical">
					<h5 class="section-head__subject">피부재생</h5>
				</div>
			</li>
		</ul>
		<ul class="section-head__list" style="position:static; display:inline-block;  text-align:center;">
			<li class="section-head__item nth-31">
				<div class="vertical">
					<h5 class="section-head__subject">피부톤 개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-32">
				<div class="vertical">
					<h5 class="section-head__subject">수분보충</h5>
				</div>
			</li>
			<li class="section-head__item nth-33">
				<div class="vertical">
					<h5 class="section-head__subject">부종개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-34">
				<div class="vertical">
					<h5 class="section-head__subject">튼살개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-35">
				<div class="vertical">
					<h5 class="section-head__subject">리프팅효과</h5>
				</div>
			</li>
			<li class="section-head__item nth-36">
				<div class="vertical">
					<h5 class="section-head__subject">표피세포 활성화</h5>
				</div>
			</li>
			<li class="section-head__item nth-37">
				<div class="vertical">
					<h5 class="section-head__subject">영양공급</h5>
				</div>
			</li>
			<li class="section-head__item nth-38">
				<div class="vertical">
					<h5 class="section-head__subject">콜라겐재생</h5>
				</div>
			</li>
			<li class="section-head__item nth-39">
				<div class="vertical">
					<h5 class="section-head__subject">유,수분 밸런스조정</h5>
				</div>
			</li>
			<li class="section-head__item nth-40">
				<div class="vertical">
					<h5 class="section-head__subject">피지감소</h5>
				</div>
			</li>
		</ul>
		<ul class="section-head__list type-black" style="position:static; display:inline-block;  text-align:center;">
			<li class="section-head__item nth-31">
				<div class="vertical">
					<h5 class="section-head__subject">피부톤 개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-32">
				<div class="vertical">
					<h5 class="section-head__subject">수분보충</h5>
				</div>
			</li>
			<li class="section-head__item nth-33">
				<div class="vertical">
					<h5 class="section-head__subject">부종개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-34">
				<div class="vertical">
					<h5 class="section-head__subject">튼살개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-35">
				<div class="vertical">
					<h5 class="section-head__subject">리프팅효과</h5>
				</div>
			</li>
			<li class="section-head__item nth-36">
				<div class="vertical">
					<h5 class="section-head__subject">표피세포 활성화</h5>
				</div>
			</li>
			<li class="section-head__item nth-37">
				<div class="vertical">
					<h5 class="section-head__subject">영양공급</h5>
				</div>
			</li>
			<li class="section-head__item nth-38">
				<div class="vertical">
					<h5 class="section-head__subject">콜라겐재생</h5>
				</div>
			</li>
			<li class="section-head__item nth-39">
				<div class="vertical">
					<h5 class="section-head__subject">유,수분 밸런스조정</h5>
				</div>
			</li>
			<li class="section-head__item nth-40">
				<div class="vertical">
					<h5 class="section-head__subject">피지감소</h5>
				</div>
			</li>
		</ul>
	</div>
	<pre class="brush: html;">
		<!-- default= pc:화이트 t,m:검은색, 검은색은 section-head__list에 type-black 추가, p,t,m 화이트는 type-white 추가-->
		<ul class="section-head__list" style="position:static; display:inline-block;  text-align:center;">
			<li class="section-head__item nth-1">
				<div class="vertical">
					<h5 class="section-head__subject">탄력증가</h5>
				</div>
			</li>
			<li class="section-head__item nth-2">
				<div class="vertical">
					<h5 class="section-head__subject">모공축소</h5>
				</div>
			</li>
			<li class="section-head__item nth-3">
				<div class="vertical">
					<h5 class="section-head__subject">근육축소</h5>
				</div>
			</li>
			<li class="section-head__item nth-4">
				<div class="vertical">
					<h5 class="section-head__subject">주름개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-5">
				<div class="vertical">
					<h5 class="section-head__subject">V라인</h5>
				</div>
			</li>
			<li class="section-head__item nth-6">
				<div class="vertical">
					<h5 class="section-head__subject">윤곽교정</h5>
				</div>
			</li>
			<li class="section-head__item nth-7">
				<div class="vertical">
					<h5 class="section-head__subject">볼륨개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-8">
				<div class="vertical">
					<h5 class="section-head__subject">피부재생</h5>
				</div>
			</li>
			<li class="section-head__item nth-9">
				<div class="vertical">
					<h5 class="section-head__subject">교근축소</h5>
				</div>
			</li>
			<li class="section-head__item nth-10">
				<div class="vertical">
					<h5 class="section-head__subject">지방파괴</h5>
				</div>
			</li>
			<li class="section-head__item nth-11">
				<div class="vertical">
					<h5 class="section-head__subject">볼살/이중턱제거</h5>
				</div>
			</li>
			<li class="section-head__item nth-12">
				<div class="vertical">
					<h5 class="section-head__subject">반영구적효과</h5>
				</div>
			</li>
			<li class="section-head__item nth-13">
				<div class="vertical">
					<h5 class="section-head__subject">입매개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-14">
				<div class="vertical">
					<h5 class="section-head__subject">입꼬리 리프팅</h5>
				</div>
			</li>
			<li class="section-head__item nth-15">
				<div class="vertical">
					<h5 class="section-head__subject">비대칭개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-16">
				<div class="vertical">
					<h5 class="section-head__subject">이미지변화</h5>
				</div>
			</li>
			<li class="section-head__item nth-17">
				<div class="vertical">
					<h5 class="section-head__subject">피부톤개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-18">
				<div class="vertical">
					<h5 class="section-head__subject">리프팅효과</h5>
				</div>
			</li>
			<li class="section-head__item nth-19">
				<div class="vertical">
					<h5 class="section-head__subject">입체감형성</h5>
				</div>
			</li>
			<li class="section-head__item nth-20">
				<div class="vertical">
					<h5 class="section-head__subject">동안효과</h5>
				</div>
			</li>
			<li class="section-head__item nth-21">
				<div class="vertical">
					<h5 class="section-head__subject">이미지개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-22">
				<div class="vertical">
					<h5 class="section-head__subject">업그레이드 레시피</h5>
				</div>
			</li>
			<li class="section-head__item nth-23">
				<div class="vertical">
					<h5 class="section-head__subject">부종부기 감소</h5>
				</div>
			</li>
			<li class="section-head__item nth-24">
				<div class="vertical">
					<h5 class="section-head__subject">라인개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-25">
				<div class="vertical">
					<h5 class="section-head__subject">셀룰라이트 개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-26">
				<div class="vertical">
					<h5 class="section-head__subject">군살 제거</h5>
				</div>
			</li>
			<li class="section-head__item nth-27">
				<div class="vertical">
					<h5 class="section-head__subject">피부 보습</h5>
				</div>
			</li>
			<li class="section-head__item nth-28">
				<div class="vertical">
					<h5 class="section-head__subject">여드름, 흉터</h5>
				</div>
			</li>
			<li class="section-head__item nth-29">
				<div class="vertical">
					<h5 class="section-head__subject">탈모치료</h5>
				</div>
			</li>
			<li class="section-head__item nth-30">
				<div class="vertical">
					<h5 class="section-head__subject">피부재생</h5>
				</div>
			</li>
			<li class="section-head__item nth-31">
				<div class="vertical">
					<h5 class="section-head__subject">피부톤 개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-32">
				<div class="vertical">
					<h5 class="section-head__subject">수분보충</h5>
				</div>
			</li>
			<li class="section-head__item nth-33">
				<div class="vertical">
					<h5 class="section-head__subject">부종개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-34">
				<div class="vertical">
					<h5 class="section-head__subject">튼살개선</h5>
				</div>
			</li>
			<li class="section-head__item nth-35">
				<div class="vertical">
					<h5 class="section-head__subject">리프팅효과</h5>
				</div>
			</li>
			<li class="section-head__item nth-36">
				<div class="vertical">
					<h5 class="section-head__subject">표피세포 활성화</h5>
				</div>
			</li>
			<li class="section-head__item nth-37">
				<div class="vertical">
					<h5 class="section-head__subject">영양공급</h5>
				</div>
			</li>
			<li class="section-head__item nth-38">
				<div class="vertical">
					<h5 class="section-head__subject">콜라겐재생</h5>
				</div>
			</li>
			<li class="section-head__item nth-39">
				<div class="vertical">
					<h5 class="section-head__subject">유,수분 밸런스조정</h5>
				</div>
			</li>
			<li class="section-head__item nth-40">
				<div class="vertical">
					<h5 class="section-head__subject">피지감소</h5>
				</div>
			</li>
		</ul>
	</pre>

</div>


<!-- 개발적용시 제거 -->
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
<script type="text/javascript" src="../../js/libs/cycle2.swipe.js"></script>
<script type="text/javascript" src="../../js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
</body>
</html>
