<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>쁘띠바노바기</title>
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="../../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../../css/libs/owl.carousel.css">
<link rel="stylesheet" href="../../css/libs/slick.css">
<link rel="stylesheet" href="../../css/libs/slick-theme.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/gnb.css">
<link rel="stylesheet" href="../../css/content_common.css">
<link rel="stylesheet" href="../../css/petit.css">
<link rel="stylesheet" href="../../css/slim.css">
<link rel="stylesheet" href="../../css/guide.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCoreDefault.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shAutoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCss.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushXml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.js"></script>
<script type="text/javascript">
SyntaxHighlighter.all();
</script>
<style>

	.guide-body { height:auto; margin:20px; }
	.guide-tit { margin-top:1em; font-size:26px; color:#333; font-weight:500;  }
	.guide-wrap { margin:10px 0; padding:10px; border:1px solid #aaa; }
	.syntaxhighlighter{overflow:visible !important}
</style>
</head>
<body class="guide-body">

<div class="guide-tit">중단 컨텐츠 type-1</div>
<div class="guide-wrap">
	<div>
		<div class="section-box">
			<div class="content-wrap">
				<div class="section-mid type-botox">
					<div class="section-mid__wrap">
						<h2 class="section-mid__tit tit-v1 type-white">QUICK&SIMPLE</h2>
						<div class="section-mid__box">
							<h2 class="section-mid__tit tit-v1">QUICK&SIMPLE</h2>
							<h3 class="section-mid__subtit subtit-v1">
								<strong>쓱</strong> 하면 지워지는 메이크업보다,<br>
								<strong>툭</strong> 하면 망가지는 헤어스타일보다
							</h3>
							<p class="highlight1 type-petit">더 확실한 변화가 필요할 땐?</p><br>
							<p class="highlight2 type-petit">바노바기 톡톡스로 관리하세요!</p>
							<p class="section-mid__txt txt-v1">
								간단한 시술이라고 누구나 똑같이 잘 할 수 있는 것은 아니죠.
								근육인지, 피부인지 어떤 층에 어떤 제품을 주입하느냐에 따라서
								눈으로 확인 가능할 정도의 결과 차이가 나타날 수 있어요.<br><br>

								정확한 주입층과 주입량 그리고 시술 받는 분의 통증이 거의 없도록
								진행하는 섬세한 실력까지 간단해도 제대로 하고 싶다면?<br class="hidden-tm">
								<span class="section-mid__point">쁘띠도 바노바기를 선택하세요.</span>
							</p>
						</div>
					</div>
					<div class="section-mid__area">
						<div class="section-mid__img">보톡스 사진</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<pre class="brush: html;">
		<div class="section-box">
			<div class="content-wrap">
				<div class="section-mid type-botox">
					<div class="section-mid__wrap">
						<h2 class="section-mid__tit tit-v1 type-white">QUICK&SIMPLE</h2>
						<div class="section-mid__box">
							<h2 class="section-mid__tit tit-v1">QUICK&SIMPLE</h2>
							<h3 class="section-mid__subtit subtit-v1">
								<strong>쓱</strong> 하면 지워지는 메이크업보다,<br>
								<strong>툭</strong> 하면 망가지는 헤어스타일보다
							</h3>
							<p class="highlight1 type-petit">더 확실한 변화가 필요할 땐?</p><br>
							<p class="highlight2 type-petit">바노바기 톡톡스로 관리하세요!</p>
							<p class="section-mid__txt txt-v1">
								간단한 시술이라고 누구나 똑같이 잘 할 수 있는 것은 아니죠.
								근육인지, 피부인지 어떤 층에 어떤 제품을 주입하느냐에 따라서
								눈으로 확인 가능할 정도의 결과 차이가 나타날 수 있어요.<br><br>

								정확한 주입층과 주입량 그리고 시술 받는 분의 통증이 거의 없도록
								진행하는 섬세한 실력까지 간단해도 제대로 하고 싶다면?<br class="hidden-tm">
								<span class="section-mid__point">쁘띠도 바노바기를 선택하세요.</span>
							</p>
						</div>
					</div>
					<div class="section-mid__area">
						<div class="section-mid__img">보톡스 사진</div>
					</div>
				</div>
			</div>
		</div>
	</pre>
</div>

<div class="guide-tit">중단 컨텐츠 type-2</div>
<div class="guide-wrap">
	<div>
		<div class="section-box">
			<div class="content-wrap">
				<div class="section-mid type-filler type-static">
					<div class="section-mid__wrap">
						<div class="section-mid__box">
							<h2 class="section-mid__tit tit-v1">QUICK&SIMPLE</h2>
							<h3 class="section-mid__subtit subtit-v1">
								낮은 코, 보기 싫은 팔자 주름, 밋밋한 이마<br>
								<strong>나는 언제 예뻐질까…</strong>
							</h3>
							<p class="highlight1 type-petit">기다리기 지루하다면?</p><br>
							<p class="highlight2 type-petit">바노바기 필러로 관리하세요!</p>
							<p class="section-mid__txt txt-v1">
								아테콜과 같이 전문성을 보유한 곳에서만 가능한
								필러도 있다는 사실 알고 계신가요? HA필러에서 비교적 까다로운 반영구 필러까지 바노바기에서는 다양한 종류의 필러 시술이 가능합니다.<br><br>

								간단한 시술 같지만 시술자가 누구냐에 따라 그 결과가 크게
								좌우되는 만큼 거의 즉각적으로 나타나는 효과가 몇 개월 이상
								유지되는 만큼
								<span class="section-mid__point">필러도 역시 바노바기 입니다.</span>
							</p>
						</div>
					</div>
					<div class="section-mid__area">
						<div class="section-mid__img">필러 사진</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<pre class="brush: html;">
		<div class="section-box">
			<div class="content-wrap">
				<div class="section-mid type-filler type-static">
					<div class="section-mid__wrap">
						<div class="section-mid__box">
							<h2 class="section-mid__tit tit-v1">QUICK&SIMPLE</h2>
							<h3 class="section-mid__subtit subtit-v1">
								낮은 코, 보기 싫은 팔자 주름, 밋밋한 이마<br>
								<strong>나는 언제 예뻐질까…</strong>
							</h3>
							<p class="highlight1 type-petit">기다리기 지루하다면?</p><br>
							<p class="highlight2 type-petit">바노바기 필러로 관리하세요!</p>
							<p class="section-mid__txt txt-v1">
								아테콜과 같이 전문성을 보유한 곳에서만 가능한
								필러도 있다는 사실 알고 계신가요? HA필러에서 비교적 까다로운 반영구 필러까지 바노바기에서는 다양한 종류의 필러 시술이 가능합니다.<br><br>

								간단한 시술 같지만 시술자가 누구냐에 따라 그 결과가 크게
								좌우되는 만큼 거의 즉각적으로 나타나는 효과가 몇 개월 이상
								유지되는 만큼
								<span class="section-mid__point">필러도 역시 바노바기 입니다.</span>
							</p>
						</div>
					</div>
					<div class="section-mid__area">
						<div class="section-mid__img">필러 사진</div>
					</div>
				</div>
			</div>
		</div>
	</pre>
</div>

<div class="guide-tit">중단 컨텐츠 type-3</div>
<div class="guide-wrap">
	<div>
		<div class="section-box">
			<div class="content-wrap">
				<div class="section-mid type-vfit type-static">

					<div class="section-mid__area">
						<div class="section-mid__img">v핏 사진</div>
					</div>
					<div class="section-mid__wrap">
						<div class="section-mid__box">
							<h2 class="section-mid__tit tit-v1">QUICK&SIMPLE</h2>
							<h3 class="section-mid__subtit subtit-v1">
								얼굴 작아 보이는 법 검색 말고<br>
								<strong>이젠 진짜 작은 얼굴로</strong>
							</h3>
							<p class="highlight1 type-petit">메이크업 없이도 당당하고 싶다면?</p><br>
							<p class="highlight2 type-petit">바노바기 V핏주사로 관리하세요!</p>
							<p class="section-mid__txt txt-v1">
								윤곽주사는 다양한 성분 배합에 따라 그 효과가 크게 달라진다는 사실
								알고 계신가요? V핏주사는 바노바기 의료진이 안전성이 검증된
								성분만으로 직접 배합하고 시술 하기 때문에 윤곽 고민을 좀 더 빠르고,
								편하게 해결할 수 있습니다.<br><br>

								짧은 시간 내에 진행된다고 해도 윤곽주사 역시 주사를 통해 이루어지는
								시술입니다. 어떤 시술도 제대로 받는 것이 좋습니다.<br class="hidden-tm">
								<span class="section-mid__point">쁘띠 역시 바노바기 입니다.</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<pre class="brush: html;">
		<div class="section-box">
			<div class="content-wrap">
				<div class="section-mid type-vfit type-static">

					<div class="section-mid__area">
						<div class="section-mid__img">v핏 사진</div>
					</div>
					<div class="section-mid__wrap">
						<div class="section-mid__box">
							<h2 class="section-mid__tit tit-v1">QUICK&SIMPLE</h2>
							<h3 class="section-mid__subtit subtit-v1">
								얼굴 작아 보이는 법 검색 말고<br>
								<strong>이젠 진짜 작은 얼굴로</strong>
							</h3>
							<p class="highlight1 type-petit">메이크업 없이도 당당하고 싶다면?</p><br>
							<p class="highlight2 type-petit">바노바기 V핏주사로 관리하세요!</p>
							<p class="section-mid__txt txt-v1">
								윤곽주사는 다양한 성분 배합에 따라 그 효과가 크게 달라진다는 사실
								알고 계신가요? V핏주사는 바노바기 의료진이 안전성이 검증된
								성분만으로 직접 배합하고 시술 하기 때문에 윤곽 고민을 좀 더 빠르고,
								편하게 해결할 수 있습니다.<br><br>

								짧은 시간 내에 진행된다고 해도 윤곽주사 역시 주사를 통해 이루어지는
								시술입니다. 어떤 시술도 제대로 받는 것이 좋습니다.<br class="hidden-tm">
								<span class="section-mid__point">쁘띠 역시 바노바기 입니다.</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</pre>
</div>

<div class="guide-tit">중단 컨텐츠 type-4</div>
<div class="guide-wrap">
	<div>
		<div class="section-box">
			<div class="content-wrap">
				<div class="content-head2">
					<div class="content-head2__wrap">
						<h2 class="content-head2__tit tit-v1">QUICK&<span class="color-petit">SIMPLE</span></h2>
						<p class="content-head2__txt subtit-v2">윤곽 메이크업, 쉐딩 메이크업 <span class="content-head2__point">가려봤자 달라지지 않는 현실</span></p>
					</div>
				</div>
				<div class="section-mid type-egg type-static">
					<div class="section-mid__wrap">
						<div class="section-mid__box">
							<p class="highlight1 type-petit">메이크업 없이도 당당하고 싶다면?</p><br>
							<p class="highlight2 type-petit">바노바기 에그핏주사로 관리하세요!</p>
							<p class="section-mid__txt txt-v1">
								에그핏주사는 바노바기 의료진이 안전성이 검증된 고농축 성분을
								배합하여 주사하기 때문에  과도한 볼살, 이중턱, 늘어진 턱 라인의
								지방을 효과적으로 제거하며 리프팅 효과까지 기대할 수 있습니다.<br><br>

								짧은 시간 내에 진행된다고 해도 보톡스와 윤곽주사 역시 주사를 통해
								이루어지는 시술입니다. 어떤 시술도 제대로 받는 것이 좋습니다.
								쁘띠 역시 바노바기 입니다.
								<span class="section-mid__point">쁘띠 역시 바노바기 입니다.</span>
							</p>
						</div>
					</div>
					<div class="section-mid__area">
						<div class="section-mid__img">필러 사진</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<pre class="brush: html;">
		<div class="section-box">
			<div class="content-wrap">
				<div class="content-head2">
					<div class="content-head2__wrap">
						<h2 class="content-head2__tit tit-v1">QUICK&<span class="color-petit">SIMPLE</span></h2>
						<p class="content-head2__txt subtit-v2">윤곽 메이크업, 쉐딩 메이크업 <span class="content-head2__point">가려봤자 달라지지 않는 현실</span></p>
					</div>
				</div>
				<div class="section-mid type-egg type-static">
					<div class="section-mid__wrap">
						<div class="section-mid__box">
							<p class="highlight1 type-petit">메이크업 없이도 당당하고 싶다면?</p><br>
							<p class="highlight2 type-petit">바노바기 에그핏주사로 관리하세요!</p>
							<p class="section-mid__txt txt-v1">
								에그핏주사는 바노바기 의료진이 안전성이 검증된 고농축 성분을
								배합하여 주사하기 때문에  과도한 볼살, 이중턱, 늘어진 턱 라인의
								지방을 효과적으로 제거하며 리프팅 효과까지 기대할 수 있습니다.<br><br>

								짧은 시간 내에 진행된다고 해도 보톡스와 윤곽주사 역시 주사를 통해
								이루어지는 시술입니다. 어떤 시술도 제대로 받는 것이 좋습니다.
								쁘띠 역시 바노바기 입니다.
								<span class="section-mid__point">쁘띠 역시 바노바기 입니다.</span>
							</p>
						</div>
					</div>
					<div class="section-mid__area">
						<div class="section-mid__img">필러 사진</div>
					</div>
				</div>
			</div>
		</div>
	</pre>
</div>

<div class="guide-tit">중단 컨텐츠 type-5</div>
<div class="guide-wrap">
	<div>
		<div class="section-box">
			<div class="content-wrap">
				<div class="section-mid">
					<div class="section-st1 type-mouth">
						<div class="content-head">
							<div class="content-head__wrap">
								<h3 class="content-head__tit">BE PRETTY!</h3>
								<p class="content-head__txt">BANOBAGI LIP-FILLER</p>
							</div>
						</div>
						<div class="section-st1__wrap">
							<div class="section-st1__box">
								<div class="section-st1__img">
									<img src="../../images/petit/mouth/mouth_img_1.jpg" alt="입꼬리 필러">
								</div>
								<h2 class="section-st1__tit tit-v1">
									QUICK&SIMPLE
								</h2>
								<h3 class="section-st1__subtit subtit-v1">
									내 기분에 관계없이<br>
									<strong>우울</strong>하거나 <strong>피곤해</strong> 보이는 이유
								</h3>
								<p class="highlight1 type-petit">밝은 호감형 이미지가 필요할 땐?</p><br>
								<p class="highlight2 type-petit">바노바기 입꼬리필러 하세요.</p>
							</div>
							<p class="section-st1__txt txt-v1">
								미묘한 입꼬리 각도의 차이만으로도 이미지는 크게 달라질 수 있습니다. 자연스러우면서 매력적인 입꼬리를 위한
								필러 시술은 다년간의 시술 경험뿐만 아니라 개인의 전체적인 얼굴 요소를 고려하는 미적감각 역시 필수적입니다.<br><br>

								당신에게 어울리는 입꼬리를 만드는 미적감각 역시 바노바기이기에 가능합니다.<span class="section-mid__point">쁘띠도 역시 바노바기 입니다.</span>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<pre class="brush: html;">
		<div class="section-box">
			<div class="content-wrap">
				<div class="section-mid">
					<div class="section-st1 type-mouth">
						<div class="content-head">
							<div class="content-head__wrap">
								<h3 class="content-head__tit">BE PRETTY!</h3>
								<p class="content-head__txt">BANOBAGI LIP-FILLER</p>
							</div>
						</div>
						<div class="section-st1__wrap">
							<div class="section-st1__box">
								<div class="section-st1__img">
									<img src="../../images/petit/mouth/mouth_img_1.jpg" alt="입꼬리 필러">
								</div>
								<h2 class="section-st1__tit tit-v1">
									QUICK&SIMPLE
								</h2>
								<h3 class="section-st1__subtit subtit-v1">
									내 기분에 관계없이<br>
									<strong>우울</strong>하거나 <strong>피곤해</strong> 보이는 이유
								</h3>
								<p class="highlight1 type-petit">밝은 호감형 이미지가 필요할 땐?</p><br>
								<p class="highlight2 type-petit">바노바기 입꼬리필러 하세요.</p>
							</div>
							<p class="section-st1__txt txt-v1">
								미묘한 입꼬리 각도의 차이만으로도 이미지는 크게 달라질 수 있습니다. 자연스러우면서 매력적인 입꼬리를 위한
								필러 시술은 다년간의 시술 경험뿐만 아니라 개인의 전체적인 얼굴 요소를 고려하는 미적감각 역시 필수적입니다.<br><br>

								당신에게 어울리는 입꼬리를 만드는 미적감각 역시 바노바기이기에 가능합니다.<span class="section-mid__point">쁘띠도 역시 바노바기 입니다.</span>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</pre>
</div>

<div class="guide-tit">중단 컨텐츠 type-6</div>
<div class="guide-wrap">
	<div>
		<div class="section-box">
			<div class="content-wrap">
				<div class="section-mid type-bodyfit type-static">
					<div class="section-mid__area">
						<div class="section-mid__img">바디핏 사진</div>
					</div>
					<div class="section-mid__wrap">
						<div class="section-mid__box">
							<div class="content-head2 type-bodyfit">
								<div class="content-head2__wrap">
									<h2 class="content-head2__tit tit-v1">QUICK&<span class="color-slim">SLIM</span></h2>
									<p class="content-head2__txt subtit-v2">단단하게 뭉친 <span class="content-head2__point">지방</span><br class="hidden-pt"> 보기 싫은 <span class="content-head2__point">셀룰라이트</span></p>
								</div>
							</div>
							<p class="highlight1 type-slim">매일 운동해도 달라지지 않는 부위는?</p><br>
							<p class="highlight2 type-slim">이젠 바디핏 주사로 관리하세요!</p>
							<p class="section-mid__txt txt-v1">
								지속적인 식이요법이나 꾸준한 운동을 통해서도 살이 빠지지 않는
								부위의 군살과 셀룰라이트! 이를 파괴하여 자연스럽게 배출시키는
								주사를 바노바기가 만들었습니다. 원하는 부위를 주사 시술로 관리할 수
								있으니 참 편하겠죠?<br><br>

								라인은 살리고 지방은 파괴하는, 그리고 비교적 간단한 주사 시술도
								혼자가 아니라 1:1 다이어트 컨설팅으로 디테일하게 진행하는
								<span class="section-mid__point">바노바기와 함께 하세요.</span>
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<pre class="brush: html;">
		<div class="section-box">
			<div class="content-wrap">
				<div class="section-mid type-bodyfit type-static">
					<div class="section-mid__area">
						<div class="section-mid__img">바디핏 사진</div>
					</div>
					<div class="section-mid__wrap">
						<div class="section-mid__box">
							<div class="content-head2 type-bodyfit">
								<div class="content-head2__wrap">
									<h2 class="content-head2__tit tit-v1">QUICK&<span class="color-slim">SLIM</span></h2>
									<p class="content-head2__txt subtit-v2">단단하게 뭉친 <span class="content-head2__point">지방</span><br class="hidden-pt"> 보기 싫은 <span class="content-head2__point">셀룰라이트</span></p>
								</div>
							</div>
							<p class="highlight1 type-slim">매일 운동해도 달라지지 않는 부위는?</p><br>
							<p class="highlight2 type-slim">이젠 바디핏 주사로 관리하세요!</p>
							<p class="section-mid__txt txt-v1">
								지속적인 식이요법이나 꾸준한 운동을 통해서도 살이 빠지지 않는
								부위의 군살과 셀룰라이트! 이를 파괴하여 자연스럽게 배출시키는
								주사를 바노바기가 만들었습니다. 원하는 부위를 주사 시술로 관리할 수
								있으니 참 편하겠죠?<br><br>

								라인은 살리고 지방은 파괴하는, 그리고 비교적 간단한 주사 시술도
								혼자가 아니라 1:1 다이어트 컨설팅으로 디테일하게 진행하는
								<span class="section-mid__point">바노바기와 함께 하세요.</span>
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</pre>
</div>


<div class="guide-tit">중단 컨텐츠 하이라이트</div>
<div class="guide-wrap">

	<div>
		<p class="highlight1 type-petit">더 확실한 변화가 필요할 땐?</p><br>
		<p class="highlight2 type-petit">바노바기 톡톡스로 관리하세요!</p>
	</div>
	<pre class="brush: html;">
		<!-- 각페이지에 맞게 타입추가  ex:type-petit-->
		<p class="highlight1 type-petit">더 확실한 변화가 필요할 땐?</p><br>
		<p class="highlight2 type-petit">바노바기 톡톡스로 관리하세요!</p>
	</pre>

</div>

<div class="guide-tit">중단 컨텐츠 기본텍스트</div>
<div class="guide-wrap">

	<div>
		<p class="section-mid__txt txt-v1">
			간단한 시술이라고 누구나 똑같이 잘 할 수 있는 것은 아니죠.
			근육인지, 피부인지 어떤 층에 어떤 제품을 주입하느냐에 따라서
			눈으로 확인 가능할 정도의 결과 차이가 나타날 수 있어요.<br><br>

			정확한 주입층과 주입량 그리고 시술 받는 분의 통증이 거의 없도록
			진행하는 섬세한 실력까지 간단해도 제대로 하고 싶다면?<br class="hidden-tm">
			<span class="section-mid__point">쁘띠도 바노바기를 선택하세요.</span>
		</p>
	</div>
	<pre class="brush: html;">
		<!-- 각페이지에 맞게 타입추가  ex:type-charm-->
		<p class="section-mid__txt txt-v1">
			간단한 시술이라고 누구나 똑같이 잘 할 수 있는 것은 아니죠.
			근육인지, 피부인지 어떤 층에 어떤 제품을 주입하느냐에 따라서
			눈으로 확인 가능할 정도의 결과 차이가 나타날 수 있어요.<br><br>

			정확한 주입층과 주입량 그리고 시술 받는 분의 통증이 거의 없도록
			진행하는 섬세한 실력까지 간단해도 제대로 하고 싶다면?<br class="hidden-tm">
			<span class="section-mid__point">쁘띠도 바노바기를 선택하세요.</span>
		</p>
	</pre>

</div>




<!-- 개발적용시 제거 -->
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
<script type="text/javascript" src="../../js/libs/cycle2.swipe.js"></script>
<script type="text/javascript" src="../../js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
</body>
</html>
