<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>쁘띠바노바기</title>
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="../../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../../css/libs/owl.carousel.css">
<link rel="stylesheet" href="../../css/libs/slick.css">
<link rel="stylesheet" href="../../css/libs/slick-theme.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/gnb.css">
<link rel="stylesheet" href="../../css/content_common.css">
<link rel="stylesheet" href="../../css/petit.css">
<link rel="stylesheet" href="../../css/guide.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCoreDefault.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shAutoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCss.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushXml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.js"></script>
<script type="text/javascript">
SyntaxHighlighter.all();
</script>
<style>

	.guide-body { height:auto; margin:20px; }
	.guide-tit { margin-top:1em; font-size:26px; color:#333; font-weight:500;  }
	.guide-wrap { margin:10px 0; padding:10px; border:1px solid #aaa; }
	.syntaxhighlighter{overflow:visible !important}
	p{margin:0}
</style>
</head>
<body class="guide-body">

<div class="guide-tit">font-color</div>
<div class="guide-wrap">
	<div>
		<p class="color-petit">$petit</p>
		<p class="color-young">$young</p>
		<p class="color-slim">$slim</p>
		<p class="color-black1">$black1</p>
		<p class="color-black2">$black2</p>
		<p class="color-black3">$black3</p>
	</div>
	<pre class="brush: html;">
		<p class="color-petit">$petit</p>
		<p class="color-young">$young</p>
		<p class="color-slim">$slim</p>
		<p class="color-black1">$black1</p>
		<p class="color-black2">$black2</p>
		<p class="color-black3">$black3</p>
	</pre>
</div>

<div class="guide-tit">font-style - tit</div>
<div class="guide-wrap">
	<div style="background:skyblue;">
		<p class="tit-v1">안녕하세요 tit-v1</p>
		<p class="tit-v2">안녕하세요 tit-v2</p>
		<p class="tit-v3">안녕하세요 tit-v3</p>
		<p class="tit-v4">안녕하세요 tit-v4</p>
		<p class="tit-v5">안녕하세요 tit-v5</p>
	</div>
	<pre class="brush: html;">
		<p class="tit-v1">안녕하세요 tit-v1</p>
		<p class="tit-v2">안녕하세요 tit-v2</p>
		<p class="tit-v3">안녕하세요 tit-v3</p>
		<p class="tit-v4">안녕하세요 tit-v4</p>
		<p class="tit-v5">안녕하세요 tit-v5</p>
	</pre>
</div>

<div class="guide-tit">font-style - subtit, eng</div>
<div class="guide-wrap">
	<div>
		<p class="subtit-v1">안녕하세요 subtit-v1</p>
		<p class="subtit-v2">안녕하세요 subtit-v2</p>
		<p class="eng-v1">Hello eng-v1</p>
	</div>
	<pre class="brush: html;">
		<p class="subtit-v1">안녕하세요 subtit-v1</p>
		<p class="subtit-v2">안녕하세요 subtit-v2</p>
		<p class="eng-v1">Hello eng-v1</p>
	</pre>
</div>

<div class="guide-tit">font-style - txt</div>
<div class="guide-wrap">
	<div style="background:skyblue;">
		<p class="txt-v1">안녕하세요 txt-v1</p>
		<p class="txt-v2">안녕하세요 txt-v2</p>
	</div>
	<pre class="brush: html;">
		<p class="txt-v1">안녕하세요 txt-v1</p>
		<p class="txt-v2">안녕하세요 txt-v2</p>
	</pre>
</div>

<div class="guide-tit">btn type-1 (컨텐츠 contact 에서만 사용)</div>
<div class="guide-wrap">
	<div>
		<ul class="sub-contact__list2">
			<li class="sub-contact__item2">
				<button class="sub-contact__btn btn1"><span>상담신청하기</span></button>
			</li>
			<li class="sub-contact__item2">
				<button class="sub-contact__btn btn1 type-katalk"><span>카카오톡 상담신청하기</span></button>
			</li>
		</ul>
	</div>
	<pre class="brush: html;">
		<ul class="sub-contact__list2">
			<li class="sub-contact__item2">
				<button class="sub-contact__btn btn1"><span>상담신청하기</span></button>
			</li>
			<li class="sub-contact__item2">
				<button class="sub-contact__btn btn1 type-katalk"><span>카카오톡 상담신청하기</span></button>
			</li>
		</ul>
	</pre>
</div>

<div class="guide-tit">input(text)</div>
<div class="guide-wrap">
	<div style="background:skyblue; padding:10px; box-sizing:border-box;">
		<input type="text" class="input1" id="name" name="name">
	</div>
	<pre class="brush: html;">
		<input type="text" class="input1" id="name" name="name">
	</pre>
</div>
<div class="guide-tit">input(checkbox)</div>
<div class="guide-wrap">
	<div style="background:skyblue; padding:10px; box-sizing:border-box;">
		<input type="checkbox" name="sl" id="test5" class="checkbox02">
		<label for="test5" class="">개인정보 수집 및 이용 동의(필수)</label>
	</div>
	<pre class="brush: html;">
		<input type="checkbox" name="sl" id="test5" class="checkbox02">
		<label for="test5" class="">개인정보 수집 및 이용 동의(필수)</label>
	</pre>
</div>
<div class="guide-tit">tab-v1</div>
<div class="guide-wrap">
	<div>
		<div class="tab-v1">
			<ul class="tab-v1__list">
				<li data-tab="etc1" class="tab-v1__item is-active"><a class="tab-v1__link js-tab-link" href="">개인정보취급방침</a></li>
				<li data-tab="etc2" class="tab-v1__item"><a class="tab-v1__link js-tab-link" href="">개인정보 수집 및 이용 동의</a></li>
			</ul>
		</div>
		<pre class="brush: html;">
			<div class="tab-v1">
				<ul class="tab-v1__list">
					<li data-tab="etc1" class="tab-v1__item is-active"><a class="tab-v1__link js-tab-link" href="">개인정보취급방침</a></li>
					<li data-tab="etc2" class="tab-v1__item"><a class="tab-v1__link js-tab-link" href="">개인정보 수집 및 이용 동의</a></li>
				</ul>
			</div>
		</pre>
	</div>
</div>


<div class="guide-tit">tab-v2</div>
<div class="guide-wrap">
	<div>
		<div class="tab-v2">
			<ul class="tab-v2__list">
				<li class="tab-v2__item is-active" data-tab="petit"><a href="" class="tab-v2__link">전체보기</a></li>
				<li class="tab-v2__item" data-tab="petit"><a href="" class="tab-v2__link">예뻐지기</a></li>
				<li class="tab-v2__item" data-tab="slim"><a href="" class="tab-v2__link">날씬해지기</a></li>
				<li class="tab-v2__item" data-tab="young"><a href="" class="tab-v2__link">어려지기</a></li>
			</ul>
		</div>
		<pre class="brush: html;">
			<div class="tab-v2">
				<ul class="tab-v2__list">
					<li class="tab-v2__item is-active" data-tab="petit"><a href="" class="tab-v2__link">전체보기</a></li>
					<li class="tab-v2__item" data-tab="petit"><a href="" class="tab-v2__link">예뻐지기</a></li>
					<li class="tab-v2__item" data-tab="slim"><a href="" class="tab-v2__link">날씬해지기</a></li>
					<li class="tab-v2__item" data-tab="young"><a href="" class="tab-v2__link">어려지기</a></li>
				</ul>
			</div>
		</pre>
	</div>
</div>


<div class="guide-tit">페이징</div>
<div class="guide-wrap">
	<div>
		<div class="pagination">
			<ul class="pagination__list">
				<li class="pagination__item pagination__item-first">
					<a href="" class="pagination__link">처음</a>
				</li>
				<li class="pagination__item pagination__item-prev">
					<a href="" class="pagination__link">이전</a>
				</li>
				<li class="pagination__item pagination__item-num is-active">
					<a href="" class="pagination__link">1</a>
				</li>
				<li class="pagination__item pagination__item-num is-acitve">
					<a href="" class="pagination__link">2</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">3</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">4</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">5</a>
				</li>
				<li class="pagination__item pagination__item-next">
					<a href="" class="pagination__link">다음</a>
				</li>
				<li class="pagination__item pagination__item-last">
					<a href="" class="pagination__link">마지막</a>
				</li>
			</ul>
		</div>
		<pre class="brush: html;">
			<div class="pagination">
				<ul class="pagination__list">
					<li class="pagination__item pagination__item-first">
						<a href="" class="pagination__link">처음</a>
					</li>
					<li class="pagination__item pagination__item-prev">
						<a href="" class="pagination__link">이전</a>
					</li>
					<li class="pagination__item pagination__item-num is-active">
						<a href="" class="pagination__link">1</a>
					</li>
					<li class="pagination__item pagination__item-num is-acitve">
						<a href="" class="pagination__link">2</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">3</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">4</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">5</a>
					</li>
					<li class="pagination__item pagination__item-next">
						<a href="" class="pagination__link">다음</a>
					</li>
					<li class="pagination__item pagination__item-last">
						<a href="" class="pagination__link">마지막</a>
					</li>
				</ul>
			</div>
		</pre>
	</div>
</div>

<!-- 개발적용시 제거 -->
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
<script type="text/javascript" src="../../js/libs/cycle2.swipe.js"></script>
<script type="text/javascript" src="../../js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
</body>
</html>
