<%
	type = "cart"
	page = "cart"
%>
<% include ../_include/_header %>


<div class="container">
	<!-- 팝업-->
	<div class="popup-sms">
		<div class="popup-sms__wrap">
			<div class="popup-sms__vertical">
				<p class="popup-sms__tit">
					이메일을 입력하시면<br>
					<strong>견적내용</strong>을 메일로 발송해 드립니다.
				</p>
				<form class="main-form__form">
					<div class="popup-sms__box">
						<input type="email" placeholder="이메일을 입력해주세요." required="" class="popup-sms__input">
						<button type="submit" class="popup-sms__button">전송</button>
					</div>
				</form>
				<a href="" class="popup-sms__close js-sms-close">닫기</a>
			</div>
		</div>
	</div>
	<div class="dim type-sms">딤처리</div>
	<!-- //팝업-->
	<div class="etc-visual type-cart">
		<div class="etc-visual__outer">
			<div class="etc-visual__inner">
				<div class="etc-visual__box">
					<div class="etc-visual__wrap">
						<h2 class="etc-visual__tit">견적보기</h2>
						<p class="etc-visual__txt">
							쁘띠바노바기를 이용해 주셔서 감사합니다.<br>
							고객님께서 장바구니에 담은 내역을 안내해 드립니다.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-box">
		<div class="content-wrap">
			<div class="cart">
				<div class="cart__box">
					<h2 class="cart__tit"><strong>장바구니 내역</strong>을 확인해 주세요!</h2>
				</div>
				<div class="product">
					<ul class="product__list">
						<li class="product__item">
							<div class="product__box">
								<div class="product__icon">
									<img src="../../images/content/price_icon2.png" alt="보톡스">
								</div>
								<div class="product__wrap">
									<div class="product__inner">
										<span class="product__category">[보톡스]</span> <span class="product__name">사각턱 보톡스 (50unit)</span><span class="product__detail">- 국산 보툴렉스</span>
									</div>
								</div>
							</div>
							<div class="product__price">
								<div class="product__wrap">
									 40,000원
								</div>
							</div>
							<div class="product__del">
								<a href="" class="product__btn js-prod-del">삭제</a>
							</div>
						</li>
						<li class="product__item">
							<div class="product__box">
								<div class="product__icon">
									<img src="../../images/content/price_icon2.png" alt="보톡스">
								</div>
								<div class="product__wrap">
									<div class="product__inner">
										<span class="product__category">[보톡스]</span> <span class="product__name">사각턱 보톡스 (50unit)</span><span class="product__detail">- 국산 보툴렉스</span>
									</div>
								</div>
							</div>
							<div class="product__price">
								<div class="product__wrap">
									 4,000,000원
								</div>
							</div>
							<div class="product__del">
								<a href="" class="product__btn js-prod-del">삭제</a>
							</div>
						</li>
					</ul>
					<div class="product__total">
						<p class="product__txt">총 견적 금액 <span class="product__sum">80,000원</span></p>
					</div>
					<div class="product__clear">
						장바구니에 담긴 상품이 없습니다.
					</div>
				</div>
				<p class="cart__noti">* 고객센터 <span class="cart__point">(tel. 1588-6508)</span>를 이용해 주시면 <span class="inline-block">좀 더 자세한 상담을 받아보실 수 있습니다.</span></p>
			</div>
			<ul class="cart__list">
				<li class="cart__item">
					<a href="" class="cart__link js-sms-open"><span>견적내용 메일로 받기</span></a>
				</li>
				<li class="cart__item">
					<a href="" class="cart__link"><span>견적내용 상담신청하기</span></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="section-box">

			<div class="advice">
				<div class="advice__bg">
					<h3 class="introduce__tit">예뻐지고 싶다면 <span class="inline-block">망설이지말고 상담신청 하기</span></h3>
					<p class="introduce__subtit type-another">부담없이 간단한 정보만으로도<br> 상담신청을 하실 수 있습니다.</p>
					<form id="frmCounsel" name="frmCounsel" method="post">
						<input type="hidden" name="isCart" value="Y">

						<div class="advice__wrap">
						<ul class="sub-contact__list">
							<li class="sub-contact__item">
								<div class="sub-contact__wrap">
									<lable class="label1" for="name">이름</lable>
									<input type="text" class="input1" id="name" placeholder="이름을 입력해 주세요.">
								</div>
							</li>
							<li class="sub-contact__item">
								<div class="sub-contact__wrap">
									<lable class="label1" for="phone">연락처</lable>
									<input type="tel" class="input1" id="phone" placeholder="휴대폰 번호를 입력해 주세요.">
								</div>
							</li>
							<li class="sub-contact__item">
								<div class="sub-contact__wrap">
									<lable class="label1">상담시간</lable>
									<div class="select">
										<a href="#" class="select__tit">상담시간을 선택해 주세요.</a>
										<div class="select__box">
											<!-- <p class="select2__subject type-another">관심부위</p> -->
											<ul class="select__list">
												<li class="select__item" id="online_01">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_02">오전 10 : 00 ~ 11 : 00</li>
												<li class="select__item" id="online_03">오전 11 : 00 ~ 12 : 00</li>
												<li class="select__item" id="online_04">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_05">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_06">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_07">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_08">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_09">오전 20 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_10">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_11">오전 09 : 00 ~ 10 : 00</li>
												<li class="select__item" id="online_12">오전 20 : 00 ~ 10 : 00</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li class="sub-contact__item">
								<div class="sub-contact__wrap">
									<lable class="label1" for="phone">상담내용</lable>
									<textarea name="content" class="textarea1" placeholder="상담내용을 간략하게 적어 주세요."></textarea>
								</div>
							</li>
						</ul>
						<div class="sub-contact__check">
							<input type="checkbox" name="sl" id="test5" class="checkbox02">
							<label for="test5" class="">개인정보 수집 및 이용 동의(필수)</label>
							<a href="" class="sub-contact__link js-popup-open">[자세히보기]</a>
						</div>
						<ul class="advice__list">
							<li class="advice__item">
								<button type="submit" class="advice__link" id="btnCounselTel">전화상담 신청하기</button>
							</li>
							<li class="advice__item">
								<button type="submit" class="advice__link" id="btnCounselKakao">카카오톡상담 신청하기</button>
							</li>
						</ul>
					</div>
					</form>
				</div>
			</div>

	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
