@charset "UTF-8";
@import "mixins";
.visual{
	&.type-anti{
		&:before{background:url('../images/young/anti/anti_visual_1.jpg') no-repeat center center / cover;}
		@media only screen and (max-width: $tablet-size) {
			&:before{background:url('../images/young/anti/anti_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-anti{padding:150px 200px 100px; background:url('../images/young/anti/anti_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom:104.44%; background:url('../images/young/anti/anti_bg_2.png') no-repeat center center / cover;}
		#{$this}__rl,#{$this}__list{position:static;}
		#{$this}__inline{position:absolute; left:-50px;
			&.type-another{left:auto; right:-140px;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-anti{padding:70px 40px; background:url('../images/young/anti/anti_bg_1_t.jpg') no-repeat center center / cover;
			#{$this}__area{background:none; padding-bottom:0;}
			#{$this}__inline{position:static; top:auto; bottom:auto; right:auto; height:auto;}
			#{$this}__img{font-size:0;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-anti{padding:40px 20px 50px; background:url('../images/young/anti/anti_bg_1_m.jpg') no-repeat center center / cover;}
	}
}

.section-mid{
	$this:&;
	&.type-anti{height:800px;
		#{$this}__img{background:url('../images/young/anti/anti_img_1.jpg') no-repeat center center / cover;}
		#{$this}__area{padding-right:360px;}
		#{$this}__wrap{position:absolute; top:0; bottom:0; right:0; width:520px; height:644px; z-index:20; margin:auto 0; }
		#{$this}__box{display:table-cell; height:inherit; padding:0 10px 0 80px; vertical-align:middle; background-color:#fff;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-anti{height:auto;
			#{$this}__img{padding-bottom:88.88%;}
			#{$this}__area{margin-top:0; padding-right:0;}
			#{$this}__wrap{position:static; top:auto; bottom:auto; right:auto; width:auto; height:auto; margin-top:-60px; padding:0 40px;}
			#{$this}__box{display:block; height:auto; padding:60px 0 0 0; }
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-anti{
			#{$this}__wrap{margin-top:-30px; padding:0 15px;}
			#{$this}__box{overflow:visible; padding-top:30px; }
			#{$this}__txt{margin-left:-15px; margin-right:-15px;}
		}
	}
}
.where{
	$this:&;
	&.type-anti{
		#{$this}__wrap{background:url('../images/young/anti/anti_bg_3.png') no-repeat center center / contain;
			&:before{background-color:#fffcd9;}
		}
	}
}
.detail{
	$this:&;
	&.type-anti{
		#{$this}__area{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/young/anti/anti_bg_4.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-anti{
			#{$this}__inner{background:url('../images/young/anti/anti_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		}
	}
}
