@charset "UTF-8";
@import "mixins";

.visual{
	&.type-aura{
		&:before{background:url('../images/petit/aura/aura_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-aura{
			&:before{background:url('../images/petit/aura/aura_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}

.section-head{
	$this:&;
	&.type-aura{background:url('../images/petit/aura/aura_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom:110.75%; background:url('../images/petit/aura/aura_bg_2.jpg') no-repeat center center / cover;}
		#{$this}__rl{top:0; left:-40px;}
		#{$this}__list{top:50px; right:50px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-aura{background:url('../images/petit/aura/aura_bg_1_t.jpg') no-repeat center center / cover;
			#{$this}__area{padding-bottom:0;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-aura{background:url('../images/petit/aura/aura_bg_1_m.jpg') no-repeat center center / cover;}
	}
}

.aura-box1{
	$this:&;
	&__tit{position:absolute; left:60px; bottom:60px; margin:0; font-size:100px; color:#fff; font-weight:$Ebold; font-family:$font-Eb; text-transform:uppercase; text-align:left; line-height:1;}
	@media only screen and (max-width: $tablet-size) {
		&__tit{display:none;}
	}
	@media only screen and (max-width: $mobile-size) {
	}
}

.aura-box2{text-align: center;
    &__tit{}
	&__subtit{}
	&__outer{position: relative;margin-top: 20px;}
	&__inner{position: absolute;top: 6.23%;left: 0;padding-left: 61.90%;}
	&__list{margin: 0;padding: 0;}
	&__item{list-style: none;box-sizing: border-box;vertical-align: top;
		& + &{margin-top: 30px;}
	}
	&__img{position: relative;height: 0;padding-bottom: 100%;}
	&__txt{margin: 8px 0 0;font-size: 20px;}

	@media only screen and (max-width: $tablet-size){
		&__outer{margin-top: 50px;}
		&__inner{position: static;padding: 0 70px;}
		&__list{margin-left: -100px;font-size: 0;}
		&__item{display: inline-block;width: 50%;padding-left: 100px;
			& + &{margin-top: 0;}
		}
		&__area{margin-top: 40px;}
	}
	@media only screen and (max-width: $mobile-size){
		&__outer{margin-top: 25px;}
		&__inner{padding: 0 28px;}
		&__list{margin-left: -25px;}
		&__item{padding-left: 25px;}
		&__area{margin-top: 30px;}
		&__txt{margin-top: 8px;font-size: 1.3rem;}
	}
}

.compare{padding:70px 20px; background:url('../images/petit/aura/aura_compare_bg.jpg') no-repeat center center / cover; border:20px solid #ffca63;text-align: center;box-sizing:border-box;
	$this:&;

	&__tit{margin:0; font-size:40px; font-family:$font-pt; color:$black1; font-weight:$regular; text-decoration: underline;}
	&__list{width: 740px;margin: 50px auto 0;padding: 0;font-size: 0;box-sizing: border-box;}
	&__item{display: inline-block;width: 50%;vertical-align: top;list-style: none;
		&.type-aura{
			#{$this}__item2{background-color: $young;color: $black1;
				&:nth-child(even){background-color: #fff;};
			}
			#{$this}__wrap{
				&:before{background-color: $young;}
			}
			#{$this}__span{color: $young;
				&:before{background-color: $young;}
			}
		}
	}
	&__list2{margin: 0;padding: 0;}
	&__item2{height: 110px;font-size: 20px;list-style: none;background-color: #8c8c8c;font-weight: $bold;color: #fff;
		&:nth-child(even){background-color: #ebebeb;color: #000;};
	}
	&__wrap{position: relative;
		&:before{content: '';position: absolute;top: 0;left: 0;right: 0;margin: 0 auto;height: 8px;background-color: #8c8c8c;}
	}
	&__caption{position: absolute;left: 0;right: 0;bottom: -18px;width: 180px;height: 36px;margin: 0 auto;background-color: #000;font-size: 20px;font-weight: $bold;line-height: 36px;}
	&__span{display: block;position: relative;height: inherit;color: #fff;overflow: hidden;
		&:before{content: '';position: absolute;top: -26px;left: -26px;width: 40px;height: 40px;background-color: #8c8c8c;transform: rotate(45deg);}
		&:after{content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;border: 3px solid #000;}
	}
	&__img{}
	&__vertical{display: table-cell;width: 1%;height: inherit;padding: 0 10px;vertical-align: middle;box-sizing: border-box;}

	@media only screen and (max-width: $tablet-size){
		&__list{width: 100%;}
	}
	@media only screen and (max-width: $mobile-size){
		padding: 30px 10px;border-width: 10px;

		&__tit{font-size: 2.6rem;}
		&__list{margin-top: 25px;padding: 0 30px;}
		&__item{width: 100%;
			& + &{margin-top: 10px;}
		}
		&__item2{height: 60px;font-size: 1.3rem;}
		&__caption{bottom: -10px;width: 110px;height: 20px;font-size: 1.3rem;line-height: 20px;}
		&__span{
			&:before{top: -13px;left: -13px;width: 20px;height: 20px;}
			&:after{border: 2px solid #000;}
		}
	}
}

.best{
	$this:&;

	&.type-aura{
		#{$this}__tit{
			&:after{display: none;}
		}
		#{$this}__txt{font-family: 'Nanum Square', sans-serif;font-size: 26px;font-weight: $Ebold;line-height: 1.3;}
		#{$this}__item2{height: 200px;padding: 0;background-color: #ebebeb;}
	}

	@media only screen and (max-width: $minpc-size3){
		&.type-aura{
			#{$this}__area{width: 50%;}
			#{$this}__list2{width: 50%;}
			#{$this}__item2{height: 100%;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-aura{
			#{$this}__txt{font-size: 1.5rem;}
			#{$this}__area{width: 54.14%;}
			#{$this}__list2{width: 54.14%;}
		}
	}
}

.detail{
	$this:&;

	&.type-aura{
		#{$this}__area{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/petit/aura/aura_bg_4.jpg') no-repeat left center / cover;}
	}

	@media only screen and (max-width: $minpc-size2) {
		&.type-aura{
			#{$this}__inner{background:url('../images/petit/aura/aura_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		}
	}
}
