@charset "UTF-8";
@import "mixins";
.visual{
	&.type-beauty{
		&:before{background:url('../images/petit/beauty/beauty_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-beauty{
			&:before{background:url('../images/petit/beauty/beauty_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-beauty{overflow:hidden; position:relative; padding:120px 150px 0; background-color:#f5b2c4; transform: translateZ(0);
		#{$this}__area{padding-bottom:93.75%; background:url('../images/petit/beauty/beauty_bg_1.jpg') no-repeat center center / cover;}
		#{$this}__img-txt{position:absolute; left:-84px; bottom:76px; width:calc(100% + 168px);z-index:1;
			img{width:100%;}
		}
		#{$this}__tit,#{$this}__txt{color:#fff;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-beauty{padding:100px 40px 0;
			#{$this}__area{padding-bottom:0;}
			#{$this}__img{margin-top:10px;}
			#{$this}__img-txt{left:-20px; bottom:30px; width:calc(100% + 40px);}
			&:after{padding-bottom:28.2%;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-beauty{padding:50px 30px 0;
			#{$this}__img{margin-top:25px;}
			#{$this}__img-txt{left:-14px; bottom:20px; width:calc(100% + 28px);}
		}
	}
}

.detail{
	$this:&;
	&.type-beauty{
		#{$this}__area{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/petit/beauty/beauty_bg_2.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-beauty{
			#{$this}__inner{background:url('../images/petit/beauty/beauty_bg_2_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		}
	}
}

.surgery{
	&.type-beauty{background-color:#ece7f4;

	}
}
