@charset "UTF-8";
@import "mixins";
.visual{
	&.type-bebe{
		&:before{background:url('../images/young/bebe/bebe_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-bebe{
			&:before{background:url('../images/young/bebe/bebe_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-bebe{overflow:hidden; position:relative; padding-left:200px; padding-right:200px; background:url('../images/young/bebe/bebe_bg_1.jpg') no-repeat center center / cover; transform: translateZ(0);
		.section-head__rl{top:78px; right:-30px;}
		#{$this}__area{padding-bottom:113.72%; background:url('../images/young/bebe/bebe_bg_2.png') no-repeat center center / cover;}
		#{$this}__list{top:110px; left:40px;}
		#{$this}__wave{position:absolute;  z-index:-1;
			&.nth-1{top:13.29%; left:-234px;}
			&.nth-2{bottom:30.67%; right:-234px;}
		}
		#{$this}__img-txt{position:absolute; left:-50px; bottom:48px; width:calc(100% + 100px);z-index:1;
			img{width:100%;}
		}
		&:after{position:absolute; left:0; right:0; bottom:0; height:0; margin:0; padding-bottom:23.8%; z-index:-1; background-color:#c800da; content:'';}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-bebe{padding-left:70px; padding-right:70px; background-image:none; background-color:#fff6b6;
			#{$this}__area{padding-bottom:0;}
			#{$this}__txt{padding:0;}
			#{$this}__wave{height:194px;
				&.nth-1{top:auto; bottom:42.3%; left:-100px;}
				&.nth-2{bottom:26.4%; right:-100px;}
				img{height:100%;}
			}
			#{$this}__img-txt{left:-35px; bottom:30px; width:calc(100% + 70px);}
			&:after{padding-bottom:28.2%;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-bebe{padding-left:34px; padding-right:34px;
			#{$this}__img-txt{left:-13px; bottom:13px; width:calc(100% + 26px);}
			#{$this}__wave{height:78px;
				&.nth-1{top:auto; bottom:34.17%; left:-50px;}
				&.nth-2{bottom:18.73%; right:-50px;}
			}
		}
	}
}
.section-mid{
	$this:&;
	&.type-bebe{height:1000px;
		#{$this}__img{background:url('../images/young/bebe/bebe_img_1.jpg') no-repeat center center / cover;}
		#{$this}__area{z-index:-1;}
		#{$this}__box{overflow:visible;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-bebe{height:auto; padding:0 40px; box-sizing:border-box;
			#{$this}__img{padding-bottom:133.33%;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-bebe{padding:0px;}
	}
}
.content-head2{
	$this:&;
	&.type-bebe{margin-left:-164px;
		#{$this}__wrap{width:100%; padding-left:0; padding-right:0; box-shadow: 4px 4px 0px 0px #ffe6b6; }
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-bebe{margin:-60px 0 0 0; padding:0 14px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-bebe{margin:-30px 0 0 0; padding:0 20px;
			#{$this}__wrap{box-shadow: 2px 2px 0px 0px #ffe6b6; }
		}
	}
}
.where{
	$this:&;
	&.type-bebe{
		#{$this}__wrap{padding-top:310px; padding-bottom:340px; background:url('../images/young/bebe/bebe_bg_3.png') no-repeat center center / contain;
			&:before{height:280px; background-color:#fffcd9;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-bebe{
			#{$this}__wrap{padding-top:0; padding-bottom:0;}
		}
	}
}

.detail{
	$this:&;
	&.type-bebe{
		#{$this}__area{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/young/bebe/bebe_bg_4.jpg') no-repeat center center / cover;}

	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-bebe{
			#{$this}__inner{background:url('../images/young/bebe/bebe_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		}
	}
}
