@charset "UTF-8";
@import "mixins";
.visual{
	&.type-bodyfit{
		&:before{background:url('../images/slim/bodyfit/bodyfit_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-bodyfit{
			&:before{background:url('../images/slim/bodyfit/bodyfit_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-bodyfit{position:relative; padding-left:200px; padding-right:200px; background:url('../images/slim/bodyfit/bodyfit_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom:127.9%; background:url('../images/slim/bodyfit/bodyfit_bg_2.png') no-repeat center center / cover;}
		#{$this}__list{bottom:0; left:-140px;}
		#{$this}__tit{color:#fff;}
		#{$this}__txt{padding:0 80px; color:#fff;}
		#{$this}__wave{position:absolute; bottom:50%; left:0; margin-bottom:-100px; z-index:10;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-bodyfit{padding-left:40px; padding-right:40px; background:url('../images/slim/bodyfit/bodyfit_bg_1_t.jpg') no-repeat center center / cover;
			#{$this}__area{padding-bottom:0;}
			#{$this}__txt{padding:0 54px;}
			#{$this}__wave{margin-bottom:-210px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-bodyfit{padding-left:20px; padding-right:20px;
			#{$this}__txt{padding:0px;}
			#{$this}__wave{width:100px; margin-bottom:-124px;}
		}
	}
}
.section-mid{
	$this:&;
	&.type-bodyfit{height:1000px;
		#{$this}__img{background:url('../images/slim/bodyfit/bodyfit_img_1.jpg') no-repeat center center / cover;}
		#{$this}__area{z-index:-1;}
		#{$this}__box{overflow:visible;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-bodyfit{height:auto; padding:0 40px; box-sizing:border-box;
			#{$this}__img{padding-bottom:133.33%;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-bodyfit{padding:0px;}
	}
}
.content-head2{
	$this:&;
	&.type-bodyfit{margin-left:-164px;
		#{$this}__wrap{width:100%; padding-left:0; padding-right:0; box-shadow: 4px 4px 0px 0px #b6e2ff; }
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-bodyfit{margin:-60px 0 0 0; padding:0 14px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-bodyfit{margin:-30px 0 0 0; padding:0 20px;
			#{$this}__wrap{box-shadow: 2px 2px 0px 0px #b6e2ff; }
		}
	}
}
//where bodyfit것은 dday거 사용합니다.

.detail{
	$this:&;
	&.type-bodyfit{
		#{$this}__area{background:url('../images/content/slim_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/slim/bodyfit/bodyfit_bg_4.jpg') no-repeat center center / cover;}

	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-bodyfit{
			#{$this}__inner{background:url('../images/slim/bodyfit/bodyfit_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/slim_bg.jpg') no-repeat center center / cover;}
		}
	}
}
