@charset "UTF-8";
@import "mixins";
.visual{
	&.type-body{
		&:before{background:url('../images/slim/body/body_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-body{
			&:before{background:url('../images/slim/body/body_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-body{background:url('../images/slim/body/body_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom:124.84%; background:url('../images/slim/body/body_bg_2.jpg') no-repeat center center / cover; border:10px solid #fff; box-sizing:border-box;}
		#{$this}__list{top:40px; left:40px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-body{padding:100px 40px 120px;
			#{$this}__area{padding-bottom:0; border:none;}
			#{$this}__img{border:10px solid #fff; box-sizing:border-box;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-body{padding:50px 20px 40px;
			#{$this}__img{border-width:4px;}
		}
	}
}
.section-mid{
	$this:&;
	&.type-body{height:380px;
		#{$this}__img{background:url('../images/slim/body/body_img_1.jpg') no-repeat center center / cover;}
		.highlight1{margin-top:0;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-body{height:auto;
			#{$this}__img{padding-bottom:50.66%;}
		}
	}
}
.where{
	$this:&;
	&.type-body{
		#{$this}__wrap{padding-top:250px; padding-bottom:580px; background:url('../images/slim/body/body_bg_3.png') no-repeat center center / contain;
			&:before{height:470px; background-color:#e6f7ff;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-body{
			#{$this}__wrap{padding:0;}
		}
	}
}
.detail{
	$this:&;
	&.type-body{
		#{$this}__area{background:url('../images/content/slim_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/slim/body/body_bg_4.jpg') no-repeat center center / cover;}

	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-body{
			#{$this}__inner{background:url('../images/slim/body/body_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/slim_bg.jpg') no-repeat center center / cover;}
		}
	}
}
.inner-box{
	$this:&;
	&.type-body{bottom:90px;
		#{$this}__tit{font-size:80px; letter-spacing:-1px;}
		#{$this}__txt{margin-top:14px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-body{right:40px; bottom:50px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-body{right:20px; bottom:20px;
			#{$this}__tit{font-size:3.1rem;}
			#{$this}__txt{margin-top:7px; font-size:1.1rem;}
		}
	}
}
.content-head2{
	$this:&;
	&.type-body{
		#{$this}__wrap{box-shadow: 4px 4px 0px 0px #b6e2ff; }
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-body{
			#{$this}__wrap{box-shadow: 2px 2px 0px 0px #b6e2ff; }
		}
	}
}
