@charset "UTF-8";
@import "mixins";
.visual{
	&.type-botox{
		&:before{background:url('../images/petit/botox/botox_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-botox{
			&:before{background:url('../images/petit/botox/botox_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-botox{ background:url('../images/petit/botox/botox_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom:110.75%; background:url('../images/petit/botox/botox_bg_2.jpg') no-repeat center center / cover;}
		#{$this}__rl{top:0; left:-40px;}
		#{$this}__list{top:50px; right:50px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-botox{background:url('../images/petit/botox/botox_bg_1_t.jpg') no-repeat center center / cover;
			#{$this}__area{padding-bottom:0;}
		}
	}
}
.section-mid{
	$this:&;
	&.type-botox{height:630px;
		#{$this}__img{background:url('../images/petit/botox/botox_img_1.jpg') no-repeat center center / cover;}
		#{$this}__subtit{margin-top:0;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-botox{height:auto;}
	}
}
.where{
	$this:&;
	&.type-botox{
		#{$this}__wrap{background:url('../images/petit/botox/botox_bg_3.png') no-repeat center center / contain;}
	}
}
.detail{
	$this:&;
	&.type-botox{
		#{$this}__area{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/petit/botox/botox_bg_4.jpg') no-repeat center center / cover; }
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-botox{
			#{$this}__inner{background:url('../images/petit/botox/botox_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		}
	}
}
.botox-box1{
	$this:&;
	&__tit{position:absolute; left:60px; bottom:60px; margin:0; font-size:100px; color:#fff; font-weight:$Ebold; font-family:$font-Eb; text-transform:uppercase; text-align:left; line-height:1;}
	@media only screen and (max-width: $tablet-size) {
		&__tit{display:none;}
	}
	@media only screen and (max-width: $mobile-size) {
	}
}
