@charset "UTF-8";
@import "mixins";
.visual{
	&.type-capsule{
		&:before{background:url('../images/slim/capsule/capsule_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-capsule{
			&:before{background:url('../images/slim/capsule/capsule_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-box{
	&.type-capsule{margin-top:177px;}
}
.section-head{
	$this:&;
	&.type-capsule{position:relative; padding:120px 0 0; background:url('../images/slim/capsule/capsule_bg_1.jpg') no-repeat center center / cover; transform: translateZ(0);
		#{$this}__area{margin-top:20px; padding-bottom:101.0317%; background:url('../images/slim/capsule/capsule_bg_2.png') no-repeat center center / cover;}
		#{$this}__img-txt{position:absolute; left:60px; bottom:150px; width:calc(100% - 120px);z-index:1;
			img{width:100%;}
		}
		#{$this}__tit,
		#{$this}__txt,
		#{$this}__txt2{color:#fff;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-capsule{padding:100px 0px 0;
			#{$this}__area{padding-bottom:0;}
			#{$this}__img-txt{left:40px; bottom:130px; width:calc(100% - 80px);}
			&:after{padding-bottom:28.2%;}
		}
		&__tit,&__txt,&__txt2{padding:0 40px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-capsule{padding:50px 0px 0;
			#{$this}__img-txt{left:10px; bottom:74px; width:calc(100% - 20px);}
		}
		&__tit,&__txt,&__txt2{padding:0 20px;}
	}
}
.capsule-square{position:absolute;
	&.type-left{top:470px;left:0px;}
	&.type-right{top:290px; right:0;}
	@media only screen and (max-width: $minpc-size1) {display:none;}
}
.detail{
	$this:&;
	&.type-capsule{
		#{$this}__area{background:url('../images/content/slim_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/slim/capsule/capsule_bg_4.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-capsule{
			#{$this}__inner{background:url('../images/slim/capsule/capsule_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/slim_bg.jpg') no-repeat center center / cover;}
		}
	}
}

.need{background:url('../images/slim/capsule/capsule_bg_3.jpg') no-repeat center center / cover; -ms-transform: translate(0);transform: translate(0);transform: translateZ(0);
	&.type-capsule{position:relative; text-align:center; border-color:$slim; padding-bottom:278px;
		&:after{position:absolute; bottom:0; right:0; width:484px; height:350px; display:block; background:url('../images/slim/capsule/capsule_fit.png') no-repeat center center / contain;content:''; z-index:-1;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-capsule{padding-bottom:160px;
			&:after{width:242px; height:175px;}
		}
	}
}
