@charset "UTF-8";
@import "mixins";
.visual{
	&.type-cellulite{
		&:before{background:url('../images/slim/cellulite/cellulite_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-cellulite{
			&:before{background:url('../images/slim/cellulite/cellulite_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-cellulite{position:relative; padding:120px; background:url('../images/slim/cellulite/cellulite_bg_1.jpg') no-repeat center center / cover; transform: translateZ(0);
		#{$this}__area{margin-top:156px; padding-bottom:100%; background:url('../images/slim/cellulite/cellulite_bg_2.jpg') no-repeat center center / cover; box-sizing:border-box;
			&:before{position:absolute; top:-80px; left:-60px; display:block; width:140px; height:140px;  background:url('../images/slim/cellulite/cellulite_pattern.png') no-repeat center center / cover; content:'';}
			&:after{position:absolute; bottom:-120px; left:0; width:100%; height:calc(100% + 232px);  background:url('../images/slim/cellulite/cellulite_bg_3.png') no-repeat center center / contain; z-index:10; content:'';}
		}
		#{$this}__list{top:100px; left:50px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-cellulite{padding:100px 40px 70px; background:url('../images/slim/cellulite/cellulite_bg_1_t.jpg') no-repeat center center / cover;
			&:before{display:none;}
			#{$this}__area{margin-top:28px; padding-bottom:0;
				&:before{display:none;}
				&:after{display:none;}
			}
			#{$this}__img{position:relative; margin-top:114px;
				&:before{position:absolute; top:-56px; left:-20px; display:block; width:112px; height:112px;  background:url('../images/slim/cellulite/cellulite_pattern.png') no-repeat center center / contain; content:'';}
				&:after{position:absolute; bottom:-70px; left:0; width:100%; height:calc(100% + 140px);  background:url('../images/slim/cellulite/cellulite_bg_3.png') no-repeat center center / contain; z-index:10; content:'';}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-cellulite{padding:50px 20px 30px; background:url('../images/slim/cellulite/cellulite_bg_1_m.jpg') no-repeat center center / cover;
			#{$this}__img{margin-top:56px;
				&:before{top:-28px; left:-10px; width:56px; height:56px;  }
				&:after{bottom:-30px; width:100%; height:calc(100% + 60px);}
			}
			#{$this}__area{margin-top:14px;}
		}
	}
}
.inner-box{right:60px; left:auto; bottom:60px; z-index:15; text-align:right;
	$this:&;
	&.type-cellulite{
		#{$this}__tit{font-size:110px; text-decoration:underline;
			span{position:relative; display:inline-block; line-height:1; margin-top:10px;
				&:after{position:absolute; right:0; bottom:0; display:block; width:100%; height:0; border-top:6px solid #fff; content:'';}
				&:first-child{margin-top:0;}
			}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-cellulite{
			#{$this}__tit{display:none;}
		}
	}
}

.section-st1{
	$this:&;
	&.type-cellulite{
		&:before{padding-bottom:59.52%; background:url('../images/slim/cellulite/cellulite_bg_4.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/slim/cellulite/cellulite_img_1.jpg') no-repeat center center / cover;}
		#{$this}__tit{color:#fff;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-cellulite{
			#{$this}__tit{color:$black1;}
			.highlight2{letter-spacing:-1px;}
		}
	}
}
.where{
	$this:&;
	&.type-cellulite{
		#{$this}__wrap{padding-top:480px; padding-bottom:442px; background:url('../images/slim/cellulite/cellulite_bg_5.png') no-repeat center center / contain;
			&:before{height:560px; background-color:#e6f7ff;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-cellulite{
			#{$this}__wrap{padding-top:0px; padding-bottom:0px; text-align:left;}
			#{$this}__subject{text-align:center;}
		}
	}
}
.detail{
	$this:&;
	&.type-cellulite{
		#{$this}__area{background:url('../images/content/slim_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/slim/cellulite/cellulite_bg_6.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-cellulite{
			#{$this}__inner{background:url('../images/slim/cellulite/cellulite_bg_6_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/slim_bg.jpg') no-repeat center center / cover;}
		}
	}
}
