@charset "UTF-8";
@import "mixins";
.visual{
	&.type-charm{
		&:before{background:url('../images/young/charm/charm_visual_1.jpg') no-repeat center center / cover;}
		@media only screen and (max-width: $tablet-size) {
			&:before{background:url('../images/young/charm/charm_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-charm{padding:150px 0 0 0; background:url('../images/young/charm/charm_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom:94.44%; background:url('../images/young/charm/charm_bg_2.png') no-repeat center center / cover;}
		#{$this}__rl,#{$this}__list{position:static;}
		#{$this}__inline{position:absolute; left:146px;
			&.type-another{left:auto; right:60px;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-charm{padding:70px 40px 0;background-image:none; background-color:#defcff;
			#{$this}__area{background:none; padding-bottom:0;}
			#{$this}__inline{position:static; top:auto; bottom:auto; right:auto; height:auto;}
			#{$this}__img{margin-left:-40px; margin-right:-40px;; font-size:0;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-charm{padding:40px 20px 0;
			#{$this}__img{margin-left:-20px; margin-right:-20px;}
		}
	}
}

.section-st1{
	$this:&;
	&.type-charm{
		&:before{padding-bottom:59.52%; background:url('../images/young/charm/charm_bg_3.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/young/charm/charm_bg_4.jpg') no-repeat center center / cover;}
		#{$this}__tit{color:$young;}
	}
}
.where{
	$this:&;
	&.type-charm{
		#{$this}__wrap{background:url('../images/young/charm/charm_bg_5.png') no-repeat center center / contain;}
	}
}
.detail{
	$this:&;
	&.type-charm{
		#{$this}__area{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/young/charm/charm_bg_6.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-charm{
			#{$this}__inner{background:url('../images/young/charm/charm_bg_6_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		}
	}
}
