@charset "UTF-8";
@import "mixins";
@import url('//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css');
// @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@font-face {
	font-family: 'NanumSquareEB';
	font-weight: 800;
	src: url('../fonts/NanumSquareEB.eot');
	src: url('../fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NanumSquareEB.woff') format('woff'),
		 url('../fonts/NanumSquareEB.ttf') format('truetype');
}
@font-face {
    font-family: 'Black Han Sans';
    src: url('../fonts/BlackHanSans-Regular.eot');
    src: url('../fonts/BlackHanSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackHanSans-Regular.woff2') format('woff2'),
        url('../fonts/BlackHanSans-Regular.woff') format('woff'),
        url('../fonts/BlackHanSans-Regular.svg#BlackHanSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



html,body{margin:0; font-family: 'Nanum Square', sans-serif; font-size:14px; font-weight:$regular; line-height:1.3; word-break:keep-all;
	&.no-scroll{position:fixed; overflow:hidden !important; width:100%; height:100%;
		.common{position:relative;}
		.footer{position:static;}
	}
}
html{height:100%;
	@media only screen and (max-width: $mobile-size) {font-size:10px;}
	@media only screen and (max-width: $iphone-size) {font-size:9px;}
}
body{position:relative; min-height:100%; padding-bottom:440px; box-sizing:border-box;}

//ios input 초기화
input,button {border-radius:0;-webkit-appearance:none}


.font-hans{font-family:$font-pt;}
.color-petit{color:$petit;}
.color-young{color:$young;}
.color-slim{color:$slim;}
.color-point{color:$point2;}
.color-black1{color:$black1 !important;}
.color-black2{color:$black2;}
.color-black3{color:$black3;}
.weight-ebold{font-weight:$Ebold; font-family: $font-Eb;}
.weight-bold{font-weight:$bold;}


.hidden-tit{overflow:hidden; width:0; height:0; font-size:0; text-indent:-9999px;}

/*common*/
.hidden-pm{display:none !important;}
.hidden-m{display:inline-block !important;}
.hidden-pt{display:none !important;}
.hidden-p{display:none !important;}
@media only screen and (max-width: $tablet-size) {
	.hidden-p{display:block !important;;}
	.hidden-t{display:none !important;}
	.hidden-pt{display:none !important;}
	.hidden-tm{display:none !important;}
	.hidden-pm{display:block !important;}
	.hidden-m{display:block !important;}
}
@media only screen and (max-width: $mobile-size) {
	.hidden-t{display:block !important;}
	.hidden-m{display:none !important;}
	.hidden-pt{display:block !important;}
	.hidden-pm{display:none !important;}
}
.inline-block{display:inline-block;}

.container{
	&.type-bottom{padding-bottom:100px;}
	@media only screen and (max-width: $mobile-size) {
		&.type-bottom{padding-bottom:50px;}
	}
}

//컨텐츠 레이아웃
.content-wrap{max-width:1280px; margin:0px auto; padding:0 10px; box-sizing:border-box;
	@media only screen and (max-width: $tablet-size) {padding:0 30px;}
	@media only screen and (max-width: $mobile-size) {padding:0 15px;}
}

//font 정의
.tit-v1{margin:0; font-size:50px; color:#000; line-height:1.1; font-family:$font-pt; font-weight:$regular;
	@media only screen and (max-width: $mobile-size) {font-size:3.1rem;}
}
.tit-v2{margin:0; font-size:24px; color:#fff; font-weight:$Ebold; font-family:$font-Eb;
	@media only screen and (max-width: $mobile-size) {font-size:1.8rem;}
}
.tit-v3{margin:0; font-size:60px; color:#000; font-weight:$regular;}
.tit-v4{margin:0; font-size:28px; color:#000; font-weight:$light;
	@media only screen and (max-width: $mobile-size) {font-size:2rem;}
}
.tit-v5{margin:0; font-size:26px; color:#000; font-weight:$regular;
	@media only screen and (max-width: $mobile-size) {font-size:1.7rem;}
}
.tit-v6{margin:0; font-size:38px; color:#000; line-height:1.1; font-family:$font-pt; font-weight:$regular;
	@media only screen and (max-width: $mobile-size) {font-size:2.5rem;}
}
.tit-v7{margin:0; font-size:40px; color:#000; line-height:1; font-family:$font-pt; font-weight:$regular;
	&__num{position:relative; top:-1px; font-size:45px;}
	@media only screen and (max-width: $mobile-size) {font-size:2.5rem;
		&__num{font-size:2.8rem;}
	}
}

.subtit-v1{margin:24px 0 0 0; font-size:20px; color:#000; font-weight:$regular; line-height:1.5;
	strong{font-weight:$bold;}
	@media only screen and (max-width: $mobile-size) {margin-top:12px; font-size:1.5rem;}
}
.eng-v1{margin:0; font-size:20px; color:#000; font-weight:$Ebold; font-family:$font-Eb;
	@media only screen and (max-width: $mobile-size) {font-size:1.3rem;}
}
.subtit-v2{margin:0; font-size:20px; color:#000; font-weight:$regular;
	@media only screen and (max-width: $mobile-size) {font-size:1.5rem;}
}
.txt-v1{margin:0; font-size:16px; font-weight:$regular; color:$black2; line-height:1.6;
	@media only screen and (max-width: $mobile-size) {font-size:1.3rem;}
}
.txt-v2{margin:0; font-size:16px; font-weight:$regular; color:#fff; line-height:1.6;
	@media only screen and (max-width: $mobile-size) {font-size:1.3rem;}
}
.vertical{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
.img-responsive{position:absolute; top:0; left:0; width:100%; height:100%;}
.img-normal{max-width:100%; vertical-align:middle;}
.img-w100{width:100%; vertical-align:middle;}

.label1{position:absolute; left:0; top:0; display:block; width:96px; font-size:16px; line-height:48px; font-weight:$Ebold; color:$black1; z-index:1; background-color:#fff; text-align:left; padding-left:20px; box-sizing:border-box;
	&:after{position:absolute; top:0; bottom:0; right:0; width:0; height:16px; margin:auto 0; border-left:1px solid #000; content:'';}
	@media only screen and (max-width: $mobile-size) {width:76px; height:34px; line-height:34px; font-size:1.3rem;
		&:after{height:8px;}
	}
}
.input1{width:100%; height:48px; line-height:48px; padding:0 20px; border:none; color:$black3; font-size:16px; outline:0; box-sizing:border-box;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: $black3;}
	&::-moz-placeholder { /* Firefox 19+ */  color: $black3;}
	&:-ms-input-placeholder { /* IE 10+ */ color: $black3;}
	&:-moz-placeholder { /* Firefox 18- */ color: $black3;}
	@media only screen and (max-width: $mobile-size) {height:34px; line-height:34px; font-size:1.3rem;}
}

.textarea1{width:100%; height:48px; line-height:48px; padding:0 20px; font-size:16px; color: $black3; border:none; outline:0; box-sizing:border-box; font-family:$font-pt; font-family:inherit;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: $black3;}
	&::-moz-placeholder { /* Firefox 19+ */  color: $black3;}
	&:-ms-input-placeholder { /* IE 10+ */ color: $black3;}
	&:-moz-placeholder { /* Firefox 18- */ color: $black3;}
	@media only screen and (max-width: $mobile-size) {height:80px; padding-top:8px; line-height:1.5; font-size:1.3rem;}
}

.btn1{width:100%; height:58px; color:#fff; font-size:22px; font-weight:$regular; background-color:#646464; border:1px solid #2e2e2e; box-sizing:border-box; cursor:pointer; text-decoration:none;
	span{display:inline-block; height:100%; padding-top:6px; box-sizing:border-box; vertical-align:middle; letter-spacing: -1px;
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	&.type-katalk{background-color:#fbe300; color:#3b1e1e; border-color:#d6c846;}
	@media only screen and (max-width: $mobile-size) {font-size:1.2rem; height:30px;
		span{padding-top:3px;}
	}
}

.btn2{display:inline-block; width:130px; height:40px; color:#fff; font-size:16px; font-weight:$light;  border:1px solid #fff; box-sizing:border-box; text-decoration:none;
	span{display:inline-block; height:100%; box-sizing:border-box; vertical-align:middle;
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	@media only screen and (max-width: $mobile-size) {font-size:1rem; height:20px; width:60px;}
}

//몰라보게 버튼
.btn3{display:inline-block; height:50px; padding:0 50px; box-sizing:border-box; color:$black1; font-size:16px; font-weight:$regular;  border:1px solid $black1; text-decoration:none;
	span{display:inline-block; height:100%; box-sizing:border-box; vertical-align:middle;
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	@media only screen and (max-width: $mobile-size) {font-size:1.2rem; height:36px; padding:0 18px;}
}

//블라인드 버튼
.btn4{display:inline-block; width:282px; height:66px; padding:10px; box-sizing:border-box; color:#fff; font-size:24px; font-weight:$bold;  border:1px solid #fff; text-decoration:none; border-radius:20px;
	span{display:inline-block; height:100%; box-sizing:border-box; vertical-align:middle;
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	@media only screen and (max-width: $tablet-size) {width:220px; height:50px; font-size:20px;}
	@media only screen and (max-width: $mobile-size) {width:120px; height:34px; padding:0; font-size:1.3rem;}
}

//세션간 간격
.section-box{margin-top:100px;
	& + &{margin-top:100px;
		&.type-mt{margin-top:140px;}
	}
	&.type-contact{background-color:#fff0d7;}
	&.type-relative{position:relative;}
	@media only screen and (max-width: $mobile-size) {margin-top:50px;
		& + &{margin-top:50px;
			&.type-mt{margin-top:50px;}
		}
	}
}

//페이지 하단 상담하기
.sub-contact{position:relative;
	&:before{position:absolute; bottom:0; right:0; width:50%; height:100%; background:url('../images/content/contact_img_1.jpg') no-repeat center bottom / contain; content:'';}
	&:after{display:block; clear:both; content:'';}
	&__box{float:left; width:50%; padding:120px 0 130px; box-sizing:border-box;}
	&__tit{position:relative; height:160px; padding:0 0 0 194px; box-sizing:border-box; font-style:italic;
		&:before{position:absolute; top:0; left:0; width:162px; height:160px; background:url('../images/content/contact_icon_1.png') no-repeat center center / contain; content:'';}
	}
	&__tit-wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
	&__list{width:100%; margin:60px 0 0 0; padding:0; text-align:left;}
	&__item{width:100%; margin-top:20px; border:1px solid #000; list-style:none; box-sizing:border-box;
		&:first-child{margin-top:0;}
		&.is-active{border-bottom:none;}
	}
	&__wrap{position:relative; padding-left:96px; box-sizing:border-box; font-size:0; background:#fff;}
	&__link{font-size:16px; font-weight:$bold; text-decoration:none; color:$point2;}
	&__list2{margin:70px 0 0 -20px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item2{float:left; width:50%; padding-left:20px; box-sizing:border-box; list-style:none;}
	&__btn{width:100%; border:none;}
	&__check{margin-top:10px; text-align:left;
		&:first-of-type{margin-top:40px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&:before{display:none;}
		&__box{width:100%; padding:116px 66px 130px; }
	}
	@media only screen and (max-width: $mobile-size) {
		&__tit{height:80px; padding:0 0 0 100px;
			&:before{width:81px; height:80px;}
		}
		&__box{padding:55px 0 65px;}
		&__list{margin-top:18px;}
		&__item{list-style:none;}
		&__link{font-size:1.2rem;}
		&__btn{font-size:1.2rem;}
		&__list2{margin:32px 0 0 -15px;}
		&__item2{padding-left:15px;}
		&__wrap{position:relative; padding-left:76px; box-sizing:border-box; font-size:0;}
		&__check{margin-top:2px; text-align:left;
			&:first-of-type{margin-top:20px;}
		}
	}
}

.select {line-height:48px;  font-size:16px; color:$black3; text-align:left; background-color:#fff;
	$this:&;
	&.is-active{
		#{$this}__tit:after{transform: rotate(180deg);}
	}
	&__tit{display:block; overflow:hidden; padding:0 20px; color:$black3;  font-size:16px; transition:none; text-overflow: ellipsis; white-space:nowrap; text-decoration:none;
		&:after {position:absolute; top:0; bottom:0; right:20px; margin:auto 0 ; display:block; width:10px; height:6px; background:url('../images/common/contact_arrow.png') no-repeat center center / contain; content:'';}
	}
	&__box{position:absolute; top:48px; width:100%;  left:0;  z-index:5; background-color:#fff;}
	&__list{overflow:auto; display:none; margin:0 -1px; padding:22px 0; border:1px solid #000; border-top:none; max-height:300px; box-sizing:border-box;
		/*-webkit-overflow-scrolling:touch; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);transition-duration: 0ms;*/
		&.is-active{display:block;}
	}
	&__item{overflow:hidden; text-overflow:ellipsis; cursor:pointer;  padding:5px 10px 5px 116px; border-top:0; color:$black3; font-size:16px; white-space:nowrap; line-height:1;
		&.is-on{font-weight:$bold; color:$black2;}
	}
	@media only screen and (max-width:$mobile-size){line-height:34px;
		&__tit{font-size:1.3rem;}
		&__box{top:34px;}
		&__item{font-size:1.3rem; padding-left:96px;}
		&__list{max-height:150px; padding:10px 0;}
	}
}
.select2{
	&__list{padding:0;}
	&__tit,&__subject{cursor:default; padding:0 15px; border-top:0; color:#666; line-height:50px; font-size:16px; font-weight:$thin;}
	&__subject{position:relative; display:none; margin:0; border:1px solid #d5d5d5; border-bottom:none; color:#2a59aa; font-weight:$regular; cursor:pointer;
		&:after {position:absolute; top:0px; bottom:0; right:18px; margin:auto 0 ; display:block; height:5px; border-left:5px solid transparent; border-top:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #666; content:'';}
		&.is-active{display:block;}
		&.type-another{color:#666; font-weight:$medium;}
	}
	&__tit{margin:0; background-color:#d0d0d0; color:#333; font-weight:$regular;}
	@media only screen and (max-width:$mobile-size){line-height:40px;
		&__tit,&__subject{padding:0 12px;  font-size:1.4rem; line-height:40px;}
	}
}
.tab-v1{
	&__list{margin:0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; list-style:none; color:#555; box-sizing:border-box; border-bottom:4px solid #fff;
		&.is-active{border-bottom-color:#555;}
	}
	&__link{display:table-cell; width:1%; height:60px; font-size:20px; text-decoration:none; text-align:center; color:inherit; vertical-align:middle;}
	@media only screen and (max-width:$mobile-size){
		&__item{border-bottom-width:2px;}
		&__link{height:46px; font-size:1.3rem;}
	}
}

.tab-v2{text-align:center;
	$this:&;
	&__content{display:none; box-sizing:border-box;
		&.is-active{display:block;}
	}
	&__list{display:table; width:100%;  height:50px;margin:0; padding:0;}
	&__item{display:table-cell; width:1%; height:inherit; vertical-align:middle; border:1px solid #dddddd; color:$black3; border-right:none; font-size:16px; text-transform:uppercase; box-sizing:border-box; list-style:none;
		&:last-child{border-right:1px solid #ddd;}
		&.is-active{border-color:$point2; background-color:$point2; color:#fff;
			& + #{$this}__item{border-left:none;}
		}
	}
	&__link{display:table-cell; width:1%; height:inherit; color:inherit; text-decoration:none; vertical-align:middle;
		&:hover{color:inherit;}
	}
	@media only screen and (max-width:$tablet-size){margin-top:0;}
	@media only screen and (max-width:$mobile-size){
		&__list{height:36px;}
		&__item{font-size:1.2rem;}
	}
}



.tab-v3{margin-bottom:100px;
	$this:&;
	&__list{ margin: 0; padding: 0; list-style: none; border-collapse: collapse;
		&:after{display:block; clear:both; content:'';}
	}
	&__item {float:left; width:50%; border:1px solid #868686; box-sizing:border-box;
		&:nth-child(even){margin-left:-1px;}
		&:nth-child(2)  ~ &{margin-top:-1px;}
		&.is-active{
			#{$this}__link{background-color:$main; color:#fff;}
		}
	}
	&__link {display:table-cell; height:58px; width:1%; vertical-align:middle; font-size:20px; color:$black1; text-decoration:none; text-align:center;}
	&__btn{ display: none; cursor: pointer; }
	@media only screen and (max-width:$tablet-size){position:relative;
		&__list { display: none; position: absolute; left:0; right:0; z-index:100; border-left:1px solid #868686; border-right:1px solid #868686; border-bottom:1px solid #868686;
			background:#fff;
			&.is-active{display:block;}
		}
		&__item { display: block; width: 100%;  border:none;
			&:nth-child(even){margin-left:0px;}
			&:nth-child(2)  ~ &{margin-top:0px;}
			&.is-active,&.is-hover{
				#{$this}__link{background-color:#f0f0f0; color:$black3;}
			}
		}
		&__link {display:block; width:auto; height:auto; padding: 13px 40px; font-size:24px; text-align:left; color:$black3;}
		&__btn { position: relative;  display: block; width: 100%; margin: 0; padding: 13px 72px 13px 40px; border: none; font-size: 24px; text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; background-color:#fff; border:1px solid #868686; outline:none;
			&:before, &:after { position: absolute; top: 0; bottom: 0; right: 40px; height: 0; margin: auto; border-width: 10px 10px 0 10px; border-style: solid; content: ''; }
			&:before { border-color: #fff transparent transparent transparent; }
			&:after {border-color: $black1 transparent transparent transparent; }
			&.is-active{border-bottom:none;
				&:before, &:after{transform:rotate(180deg);}
			}
		}
	}
	@media only screen and (max-width:$mobile-size){margin-bottom:50px;
		&__link { padding: 15px 20px; font-size:1.5rem;}
		&__btn {padding: 15px 36px 15px 20px; font-size: 1.5rem;
			&:before, &:after {right: 20px; border-width: 6px 6px 0 6px;  }
		}
	}
}


//페이징
.pagination{margin-top:50px;
	&.is-hide{display:none;}
	$this:&;
	&__list{margin:0; padding:0; font-size:0; text-align:center;}
	&__item{overflow:hidden; display:inline-block;
		& + &{margin-left:2px;}
	}
	&__link{display:inline-block; width:30px; height:30px; padding-top:4px; font-size:12px; color:$black3; text-decoration:none; text-align:center; vertical-align:middle;
		border:1px solid #fff; box-sizing:border-box;
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	&__item-first,&__item-prev,&__item-next,&__item-last{
		#{$this}__link{text-indent:-9999px; border-color:#eee;}
	}
	&__item-first{
		#{$this}__link{background:url('../images/common/paging_first.png') no-repeat center center / 10px 7px;
			&:hover{background:url('../images/common/paging_first_on.png') no-repeat center center / 10px 7px;}
		}
	}
	&__item-prev{
		#{$this}__link{background:url('../images/common/paging_prev.png') no-repeat center center / 6px 7px;
			&:hover{background:url('../images/common/paging_prev_on.png') no-repeat center center / 6px 7px;}
		}
	}
	&__item-last{
		#{$this}__link{background:url('../images/common/paging_last.png') no-repeat center center / 10px 7px;
			&:hover{background:url('../images/common/paging_last_on.png') no-repeat center center / 10px 7px;}
		}
	}
	&__item-next{
		#{$this}__link{background:url('../images/common/paging_next.png') no-repeat center center / 6px 7px;
			&:hover{background:url('../images/common/paging_next_on.png') no-repeat center center / 6px 7px;}
		}
	}
	&__item-num{
		#{$this}__link{
			&:hover{border-color:#eee;}
		}
		&.is-active{
			#{$this}__link{border-color:$point2; background-color:$point2; color:#fff}
		}
	}
	@media only screen and (max-width: $tablet-size) {margin-top:30px;}
	@media only screen and (max-width: $mobile-size) {
		&__link{font-size:1.2rem;}
	}
}

.dim{display:none; overflow:hidden; position:fixed; top:0; left:0; bottom:0; right:0; background-color:rgba(0,0,0,0.7); content:''; text-indent:-9999px; z-index:40;
	&.is-active{display:block;}
}

//etc 폴더 상단부분
.etc-visual{position:relative; width:100%; height:0; padding-bottom:36.45%;
	&__outer{position:absolute; top:0; bottom:0; left:0; right:0;  max-width:1280px; margin:0px auto; height:100%; padding:0 10px; box-sizing:border-box; font-size:0;}
	&__box{display:table-cell; vertical-align:middle;}
	&__tit{margin:0; font-size:46px; font-weight:$regular; font-family:$font-pt; color:$black1; line-height:1.1;
		&:after{display:block; width:40px; height:0; margin:18px auto 0; border-top:4px solid $black1; content:'';}
	}
	&__txt{margin:28px 0 0 0; font-size:18px; color:$black2; line-height:1.4; }
	&__inner{display:inline-table; width:100%; height:100%; text-align:right;}
	&__wrap{display:inline-block; width:550px; padding:60px 10px; background-color:#fff; text-align:center;}
	@media only screen and (max-width: $tablet-size) {padding-bottom:128.9%;
		&__inner{display:block;}
		&__box{position:absolute; display:block; top:auto; left:0; right:0; bottom:70px; width:auto; height:auto;  padding:0 14.3%; box-sizing:border-box;}
		&__wrap{display:block; width:auto; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__tit{font-size:2.6rem;
			&:after{width:20px; margin-top:12px; border-top-width:2px;}
		}
		&__txt{margin-top:15px; font-size:1.3rem;}
		&__box{bottom:28px; padding:0 7%;}
		&__wrap{padding:40px 5px;}
	}
}
.container-top{position:relative; height:414px; text-align:center;
	&__box{position:absolute; left:0; right:0; bottom:80px;}
	&__tit{color:#fff;}
	&__txt{margin-top:20px; color:#fff;}
	@media only screen and (max-width: $tablet-size) {height:0; padding-bottom:66.145%;
		&__box{bottom:25.5%;}
	}
	@media only screen and (max-width: $mobile-size) {height:0; padding-bottom:78.75%;
		&__box{bottom:22%;}
	}
}
label.error{display:block; margin-top:5px; margin-left:5px; font-size:14px; color:red; text-align:left;
	@media only screen and (max-width: $mobile-size) {font-size:1.2rem;}
}
