@charset "UTF-8";
@import "mixins";
.visual{
	&.type-dday{
		&:before{background:url('../images/slim/dday/dday_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-dday{
			&:before{background:url('../images/slim/dday/dday_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-dday{padding:40px 40px 0; position:relative; background:url('../images/slim/dday/dday_bg_1.jpg') #75c9ff no-repeat top center / cover;
		#{$this}__area{margin-top:36px; padding-bottom:103.64%;}
		#{$this}__box{background:url('../images/slim/dday/dday_bg_2.png') no-repeat center center / cover; z-index:1;}
		#{$this}__list{top:13.91%; left:10.16%;}
		#{$this}__txt{padding:0 220px;}
		#{$this}__inner{padding:100px 0 0 0;background:#fff; transform: translateZ(0);
			&:after{position:absolute; left:0; right:0; bottom:0; height:0; margin:0 -40px; padding-bottom:89.33%; z-index:-1; background:url('../images/slim/dday/dday_bg_3.png') no-repeat center bottom / cover; content:'';}
		}
		#{$this}__txt-img{position:absolute; bottom:8.18%; right:1.9%;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-dday{padding:12px 12px 0;
			#{$this}__area{padding-bottom:0;}
			#{$this}__box{background:none;}
			#{$this}__txt{padding:0 82px;}
			#{$this}__img{margin-left:-12px; margin-right:-12px;}
			#{$this}__inner{padding-top:50px;
				&:after{margin:0 -12px; padding-bottom:110.33%;}
			}
			#{$this}__txt-img{right:0; width:464px;
				img{width:100%;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-dday{padding:8px 8px 0;
			#{$this}__inner{
				&:after{margin:0 -8px;}
			}
			#{$this}__txt,#{$this}__list{padding:0 14px;}
			#{$this}__img{margin-left:-8px; margin-right:-8px;}
			#{$this}__txt-img{display:none;}
		}
	}
}
.section-mid{
	$this:&;
	&.type-dday{height:800px;
		#{$this}__img{background:url('../images/slim/dday/dday_img_1.jpg') no-repeat center center / cover;}
		#{$this}__area{padding-right:360px;}
		#{$this}__wrap{position:absolute; top:0; bottom:0; right:0; width:550px; height:644px; z-index:20; margin:auto 0; }
		#{$this}__box{display:table-cell; height:inherit; padding:0 10px 0 80px; vertical-align:middle; background-color:#fff;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-dday{height:auto;
			#{$this}__img{padding-bottom:88.88%;}
			#{$this}__area{margin-top:0; padding-right:0;}
			#{$this}__wrap{position:static; top:auto; bottom:auto; right:auto; width:auto; height:auto; margin-top:-60px; padding:0 40px;}
			#{$this}__box{display:block; height:auto; padding:60px 0 0 0; }
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-dday{
			#{$this}__wrap{margin-top:-30px; padding:0 15px;}
			#{$this}__box{overflow:visible; padding-top:30px; }
			#{$this}__txt{margin-left:-15px; margin-right:-15px;}
		}
	}
}
.where{
	$this:&;
	&.type-dday{
		#{$this}__wrap{padding-top:270px; padding-bottom:260px; background:url('../images/slim/dday/dday_bg_4.png') no-repeat center center / contain;
			&:before{height:610px; background-color:#e6f7ff;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-dday{
			#{$this}__wrap{padding-top:0; padding-bottom:0;}
		}
	}
}
.detail{
	$this:&;
	&.type-dday{
		#{$this}__area{background:url('../images/content/slim_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/slim/dday/dday_bg_5.jpg') no-repeat center center / cover; }
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-dday{
			#{$this}__inner{background:url('../images/slim/dday/dday_bg_5_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/slim_bg.jpg') no-repeat center center / cover;}
		}
	}
}
