@charset "UTF-8";
@import "mixins";
.visual{
	&.type-dna{
		&:before{background:url('../images/young/dna/dna_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-dna{
			&:before{background:url('../images/young/dna/dna_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-dna{position:relative; padding:150px 226px 260px; background:url('../images/young/dna/dna_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{margin-top:180px; padding-bottom:100%; border:20px solid #ffc1b8; background:#ffe8e6; box-sizing:border-box;}
		#{$this}__box{top:auto; bottom:0; height:calc(100% + 50px); background:url('../images/young/dna/dna_bg_2.png') no-repeat center center / contain;}
		#{$this}__list{top:-116px; left:0; right:0; text-align:center;}
		#{$this}__item{display:inline-block;
			& + #{$this}__item{margin:0 0 0 10px;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-dna{padding:100px 40px 260px; transform: translateZ(0);
			#{$this}__area{margin-top:28px; border:none; padding-bottom:0;}
			#{$this}__box{background:none;}
			#{$this}__txt{padding:0 48px;}
			#{$this}__img{position:relative; padding:20px; padding-top:0; box-sizing:border-box;
				&:before{position:absolute; bottom:0; left:0; width:100%; height:calc(100% - 30px); border:20px solid #ffc1b8; content:''; box-sizing:border-box; z-index:-1;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-dna{padding:50px 20px 160px;
			#{$this}__area{margin-top:14px;}
			#{$this}__txt{padding:0;}
			#{$this}__img{margin-top:14px; padding:0 7px 7px 7px;
				&:before{height:calc(100% - 14px); border-width:7px;}
			}
			#{$this}__list{padding:0 20px; box-sizing:border-box;}
		}
	}
}
.section-mid{
	$this:&;
	&.type-dna{height:570px;
		#{$this}__img{background:url('../images/young/dna/dna_img_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-dna{height:auto}
	}
}
.where{
	$this:&;
	&.type-dna{
		#{$this}__wrap{background:url('../images/young/dna/dna_bg_3.png') no-repeat center center / contain;
			&:before{height:380px; background-color:#fffcd9;}
		}
	}
}
.detail{
	$this:&;
	&.type-dna{
		#{$this}__area{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/young/dna/dna_bg_4.jpg') no-repeat center center / cover;}

	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-dna{
			#{$this}__inner{background:url('../images/young/dna/dna_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		}
	}
}
