@charset "UTF-8";
@import "mixins";
.visual{
	&.type-egg{
		&:before{background:url('../images/petit/egg/egg_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-egg{
			&:before{background:url('../images/petit/egg/egg_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-egg{background:url('../images/petit/egg/egg_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom:110.75%; background:url('../images/petit/egg/egg_bg_2.jpg') no-repeat center center / cover;}
		#{$this}__list{top:40px; left:40px;}
		#{$this}__box{border:20px solid #fff; box-sizing:border-box;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-egg{ background:url('../images/petit/egg/egg_bg_1_t.jpg') no-repeat center center / cover;
			#{$this}__area{padding-bottom:0;}
			#{$this}__box{border:none;}
			#{$this}__img{border:10px solid #fff;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-egg{}
	}
}
.section-mid{
	$this:&;
	&.type-egg{height:380px;
		#{$this}__img{background:url('../images/petit/egg/egg_img_1.jpg') no-repeat center center / cover;}
		.highlight1{margin-top:0;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-egg{height:auto;
			#{$this}__img{padding-bottom:50.66%;}
		}
	}
}
.where{
	$this:&;
	&.type-egg{
		#{$this}__wrap{padding-top:320px; padding-bottom:340px; background:url('../images/petit/egg/egg_bg_3.png') no-repeat center center / contain;
			&:before{height:280px; background-color:#d6f7fe;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-egg{
			#{$this}__wrap{padding-top:0; padding-bottom:0;}
		}
	}
}
.detail{
	$this:&;
	&.type-egg{
		#{$this}__area{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/petit/egg/egg_bg_4.jpg') no-repeat center center / cover;}

	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-egg{
			#{$this}__inner{background:url('../images/petit/egg/egg_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		}
	}
}
