@charset "UTF-8";
@import "mixins";
.visual{
	&.type-elastic{
		&:before{background:url('../images/young/elastic/elastic_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-elastic{
			&:before{background:url('../images/young/elastic/elastic_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-elastic{padding:150px 150px 170px; background:url('../images/young/elastic/elastic_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom:97.91%; background:url('../images/young/elastic/elastic_bg_2.jpg') no-repeat center center / cover;}
		#{$this}__rl{top:0; left:-40px;}
		#{$this}__list{top:50px; right:50px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-elastic{padding:80px 40px 100px;
			#{$this}__area{padding-bottom:0;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-elastic{padding:40px 20px 50px;}
	}
}
.section-mid{
	$this:&;
	&.type-elastic{height:630px;
		#{$this}__img{background:url('../images/young/elastic/elastic_img_1.jpg') no-repeat center center / cover;}
		#{$this}__subtit{margin-top:0;}

	}
	@media only screen and (max-width: $tablet-size) {
		&.type-elastic{height:auto;}
	}
}
.where{
	$this:&;
	&.type-elastic{
		#{$this}__wrap{padding-bottom:260px; padding-top:380px; background:url('../images/young/elastic/elastic_bg_3.png') no-repeat center center / contain;
			&:before{background-color:#fffcd9;}
		}
		#{$this}__subject{margin-left:-10px; margin-right:-10px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-elastic{
			#{$this}__wrap{padding:0;}
			#{$this}__subject{margin-left:0px; margin-right:0px;}
		}
	}
}
.detail{
	$this:&;
	&.type-elastic{
		#{$this}__area{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/young/elastic/elastic_bg_4.jpg') no-repeat center center / cover; }
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-elastic{
			#{$this}__inner{background:url('../images/young/elastic/elastic_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		}
	}
}

.inner-box{
	$this:&;
	&.type-elastic{bottom:90px;
		#{$this}__txt{margin:0; font-size:30px; color:$black1;}
		#{$this}__tit{margin:16px 0 0 0; color:$black1; font-size:80px;}
		#{$this}__highlight1{display:inline-block; padding:0 5px; border:4px solid $black1;}
		#{$this}__highlight2{display:inline-block; padding:0 12px; color:#fff; background:$black1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-elastic{left:40px; bottom:40px;
			#{$this}__txt{font-size:26px;}
			#{$this}__tit{margin-top:12px; font-size:68px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-elastic{left:15px; bottom:20px;
			#{$this}__txt{font-size:1.2rem;}
			#{$this}__tit{margin-top:4px; font-size:3rem;}
			#{$this}__highlight1{padding:0 2px;}
			#{$this}__highlight2{padding:0 8px 2px 8px;}
		}
	}
}
