@charset "UTF-8";
@import "mixins";
.visual{
	&.type-filler{
		&:before{background:url('../images/petit/filler/filler_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-filler{
			&:before{background:url('../images/petit/filler/filler_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-filler{background:url('../images/petit/filler/filler_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom:110.75%; background:url('../images/petit/filler/filler_bg_2.jpg') no-repeat center center / cover;}
		#{$this}__rl{top:0; left:-40px;}
		#{$this}__list{top:70px; left:40px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-filler{background:url('../images/petit/filler/filler_bg_1_t.jpg') no-repeat center center / cover;
			#{$this}__area{padding-bottom:0;}
		}
	}
}
.section-mid{
	$this:&;
	&.type-filler{height:570px;
		#{$this}__img{background:url('../images/petit/filler/filler_img_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-filler{height:auto}
	}
}
.where{
	$this:&;
	&.type-filler{
		#{$this}__wrap{background:url('../images/petit/filler/filler_bg_3.png') no-repeat center center / contain;
			&:before{background-color:#ffecee;}
		}
	}
}
.detail{
	$this:&;
	&.type-filler{
		#{$this}__area{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/petit/filler/filler_bg_4.jpg') no-repeat center center / cover;}

	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-filler{
			#{$this}__inner{background:url('../images/petit/filler/filler_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		}
	}
}
