@charset "UTF-8";
@import "mixins";
.checkbox02 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0);
	& + label { position: relative; height: 20px; line-height: 20px; font-size: 16px; color:$black1; margin-left: 0; padding-left: 28px; cursor: pointer;
		&:before { position: absolute; top: 0; bottom: 0; left: 0; box-sizing: border-box; width: 20px; height: 20px; margin: auto; background-color: #000; content: ''; cursor: pointer; }
	}
	&:checked + label:after { position: absolute; top: -2px; left: 4px; bottom: 0; width: 10px; height: 4px; margin: auto;
		border-left: 2px solid $point2; border-bottom: 2px solid $point2; -webkit-transform: rotate(-48deg); -ms-transform: rotate(-48deg); transform: rotate(-48deg); background-repeat: no-repeat; cursor: pointer; content: '';
	}
	@media only screen and (max-width: $mobile-size) {
		& + label{padding-left:20px; font-size:1.2rem;
			&:before{width:14px; height:14px;}
		}
		&:checked + label:after {left:3px; width:6px; height:3px;}
	}
}
/*radio,checkbox*/
.checkbox01 + label { display: inline-block; margin-left: 5px; margin-right: 10px; font-size: 14px; margin-bottom:0; }

@media only screen { .checkbox01 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
	.checkbox01 + label.solo.type-cart { float: left; width: 0px; margin-top: 15px; padding-left: 12px; }
	.checkbox01 + label { position: relative; margin-left: 0; padding-left: 25px; cursor: pointer; font-size:16px; color:#666; font-weight:300;}
	.checkbox01 + label:before { position: absolute; top: 0; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 25px; height: 25px; margin: auto; background:url('../images/membership/check_off.gif'); content: ''; cursor: pointer; }
	.checkbox01.type-another + label:before { width: 18px; height: 18px; background:url('../images/membership/check2_off.gif');}
	.checkbox01:checked + label:before { background:url('../images/membership/check_on.gif'); }
	.checkbox01.type-another:checked + label:before{background:url('../images/membership/check2_on.gif');}
	.checkbox01 + label { margin-right: 20px; }
	.checkbox01:last-of-type + label { margin-right: 0; }
	.checkbox01.disabled + label:before { position: absolute; top: 0; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 12px; height: 12px; margin: auto; border: 1px solid #dddddd; background-color: #ddd; content: ''; cursor: pointer; }
	@media only screen and (max-width:$mobile-size){
		.checkbox01 + label{padding-left:30px; font-size:1.3rem;}
		.checkbox01 + label:before, .checkbox01.type-another + label:before { width: 24px; height: 24px; background:url('../images/membership/check_off_m.gif'); background-size:24px 24px; }
		.checkbox01:checked + label:before, .checkbox01.type-another:checked + label:before{ background:url('../images/membership/check_on_m.gif'); background-size:24px 24px; }
		.checkbox01.type-another:checked + label:before{background:url('../images/membership/check2_on_m.gif') no-repeat center center / contain;}
	}
}
.checkbox01 + label.solo { overflow: hidden; text-indent: -9999px; min-height: 12px; width: 0px; height:25px; }

@media only screen { .radio1 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
  .radio1 + label { display: inline-block; position: relative; height: 20px; margin-bottom:0; margin-left: 0; padding-left: 28px; cursor: pointer; line-height: 20px; font-size:16px; font-weight:300; color:#666; }
  .radio1 + label:before { position: absolute; top: 0; bottom: 0; left: 0; box-sizing: border-box; width: 20px; height: 20px; margin: auto; border: 1px solid #c8c8c8; border-radius: 50%; background-color: #fff; content: ''; cursor: pointer; }
  .radio1 + label:after { overflow: hidden; position: absolute; top: 5px; left: 5px; width: 10px; height: 10px; border-radius: 50%; background-color: #dcdcdc; cursor: pointer; content: ''; }
  .radio1:checked + label:after {background-color: $point2}
  @media only screen and (max-width:$mobile-size){
	.radio1 + label {font-size:1.4rem; padding-left: 25px;}
  }
}
.radio1 + label + .radio1 + label { margin-left: 20px;
	@media only screen and (max-width:$mobile-size){margin-left:10px;}
	@media only screen and (max-width:$iphone-size){margin-left:5px;}
}
