@charset "UTF-8";
@import "mixins";
.visual{
	&.type-hair{
		&:before{background:url('../images/young/hair/hair_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-hair{
			&:before{background:url('../images/young/hair/hair_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-hair{position:relative; padding:150px 11.9% 0; background:url('../images/young/hair/hair_bg_1.jpg') no-repeat center center / cover; transform: translateZ(0);
		&:before{position:absolute; left:0; bottom:0; display:block; width:100%; height:360px; background:#273961; z-index:-1; content:'';}
		#{$this}__area{padding-bottom:121.875%; background:url('../images/young/hair/hair_bg_2.jpg') no-repeat center center / cover;
			&:before,&:after{position:absolute; display:block; width:300px; height:650px; z-index:-1; content:'';}
			&:before{top:-20px; left:-20px; background:#ffca63;}
			&:after{bottom:110px; right:-70px; background:url('../images/young/hair/hair_bar_1.jpg') no-repeat center center / cover;}
		}
		#{$this}__rl{top:0; left:-40px;}
		#{$this}__list{right:8.3%; bottom:60px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-hair{padding:80px 90px 0;
			&:before{height:210px;}
			#{$this}__area{padding-bottom:0;
				&:before,&:after{display:none;}
			}
			#{$this}__img{position:relative; margin-top:60px;
				&:before,&:after{position:absolute; display:block; width:160px; height:416px; z-index:-1; content:'';}
				&:before{top:-10px; left:-10px; background:#ffca63;}
				&:after{bottom:50px; right:-30px; background:url('../images/young/hair/hair_bar_1.jpg') no-repeat center center / cover;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-hair{padding:50px 20px 0;
			&:before{height:105px;}
			#{$this}__img{margin-top:30px;
				&:before,&:after{width:80px; height:175px;}
				&:before{top:-5px; left:-5px}
				&:after{bottom:10px; right:-10px;}
			}
		}
	}
}
.section-mid{
	$this:&;
	&.type-hair{height:630px;
		#{$this}__img{background:url('../images/young/hair/hair_img_1.jpg') no-repeat center center / cover;}
		#{$this}__subtit{margin-top:0;}
		#{$this}__area{padding-right:510px;}
		#{$this}__wrap{width:510px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-hair{height:auto;
			#{$this}__area{padding-right:0px;}
			#{$this}__wrap{width:auto;}
		}
	}
}
.where{
	$this:&;
	&.type-hair{
		#{$this}__wrap{padding-top:580px; padding-bottom:46px; background:url('../images/young/hair/hair_bg_3.png') no-repeat center center / contain;
			&:before{height:380px; background:#fffcd9;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-hair{
			#{$this}__wrap{padding-top:0; padding-bottom:0;}
		}
	}
}
.detail{
	$this:&;
	&.type-hair{
		#{$this}__area{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/young/hair/hair_bg_4.jpg') no-repeat center center / cover; }
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-hair{
			#{$this}__inner{background:url('../images/young/hair/hair_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		}
	}
}


.inner-box{
	$this:&;
	&.type-hair{left:8.3%; bottom:70px;
		#{$this}__tit{font-size:100px;}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-hair{left:64px; bottom:40px;
			#{$this}__tit{font-size:80px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-hair{left:25px; bottom:20px;
			#{$this}__tit{font-size:4.1rem;}
		}
	}
}
