@charset "UTF-8";
@import "mixins";
.visual{
	&.type-heart{
		&:before{background:url('../images/petit/heart/heart_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-heart{
			&:before{background:url('../images/petit/heart/heart_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-heart{padding-bottom:0; background:url('../images/petit/heart/heart_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom:110.75%; background:url('../images/petit/heart/heart_bg_2.jpg') no-repeat center center / cover;}
		#{$this}__tit,#{$this}__txt{color:#fff;}
		#{$this}__rl{top:0; left:-40px;}
		#{$this}__list{left:40px; bottom:40px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-heart{
			#{$this}__area{padding-bottom:0;}
			#{$this}__item{border-color:#fff; background-color:rgba(255, 255, 255, 0.2);}
			#{$this}__subject{color:#fff;
				&:before{background-position-x:0px}
			}
		}
	}
}
.section-mid{
	$this:&;
	&.type-heart{height:720px;
		#{$this}__img{background:url('../images/petit/heart/heart_img_1.jpg') no-repeat center center / cover;}
		#{$this}__tit{top:120px;}
		#{$this}__box{padding-top:128px;}
		#{$this}__subtit{margin-top:0;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-heart{height:auto;
			#{$this}__box{padding-top:0px;}
			#{$this}__img{padding-bottom:94%;}
		}
	}
}
.where{
	$this:&;
	&.type-heart{
		#{$this}__wrap{background:url('../images/petit/heart/heart_bg_3.png') no-repeat center center / contain;}
	}
}
.detail{
	$this:&;
	&.type-heart{
		#{$this}__area{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/petit/heart/heart_bg_4.jpg') no-repeat center center / cover; }
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-heart{
			#{$this}__inner{background:url('../images/petit/heart/heart_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		}
	}
}
.heart-box1{
	$this:&;
	&__tit{position:absolute; left:60px; bottom:60px; margin:0; font-size:100px; color:#fff; font-weight:$Ebold; font-family:$font-Eb; text-transform:uppercase; text-align:left; line-height:1;}
	@media only screen and (max-width: $tablet-size) {
		&__tit{display:none;}
	}
	@media only screen and (max-width: $mobile-size) {
	}
}
