@charset "utf-8";
@import "mixins";
.etc-visual{
	&.type-join1{background:url('../images/membership/join_visual_1.jpg') no-repeat center center / cover;}
	@media only screen and (max-width: $tablet-size) {
		&.type-join1{background:url('../images/membership/join_visual_1_t.jpg') no-repeat center center / cover;}
	}
}
/*바노바기 로그인*/
.membership{width: 100%; border-bottom: 0; padding: 120px 0 0; text-align:center; border-bottom:5px solid $point3; box-sizing:border-box;
	$this:&;
	&.type-another{padding-top:0;}
	&.type-withdrawal{padding:120px 0 110px; border-top:1px solid #e1e1e1; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1;}
	@media only screen and (max-width:$tablet-size){
		&.type-withdrawal{padding:120px 5% 110px;}
	}
	@media only screen and (max-width:$mobile-size){padding:75px 0 0; border-bottom-width:4px;
		&.type-withdrawal{padding:50px 15px;}
	}
	&__tit{margin:0; font-size: 24px;font-weight: 400; line-height: 1.4; word-break: keep-all;
		@media only screen and (max-width:$mobile-size){font-size:1.9rem;}
	}
	&__txt{margin:24px 0 0 0;font-size: 15px; color: #6c6a6a; line-height: 160%;
		@media only screen and (max-width:$mobile-size){margin-top:15px; font-size:1.3rem;}
	}
	&__box{margin-top:40px; width:450px; margin:0px auto;
		&.type-another{
			& #{$this}__label{width:110px; font-size:15px;}
			& #{$this}__item{padding-left:120px;}
		}
		@media only screen and (max-width:$mobile-size){width:100%;
			&.type-another{
				& #{$this}__label{width:65px; font-size:1.3rem;}
				& #{$this}__item{padding-left:75px;}
			}
		}
	}
	&__list{margin:30px 0 0 0; padding:0;
		@media only screen and (max-width:$mobile-size){margin-top:25px;}
	}
	&__item{position:relative; width:100%; height:44px; padding:0 20px 0 100px; line-height:42px;  border:1px solid #d7d7d7; border-radius:22px 22px 22px 22px; list-style:none; box-sizing:border-box;
		& + &{margin-top:16px;}
		@media only screen and (max-width:$mobile-size){height:36px; padding:0 15px 0 85px; line-height:34px; border-radius:18px 18px 18px 18px;
			& + &{margin-top:10px;}
		}
	}
	&__label{position:absolute; top:0; left:0; width:72px; height:100%; font-size:18px; margin:0; font-weight:300; color:#666; text-align:center;
		@media only screen and (max-width:$mobile-size){width:62px; font-size:1.6rem;}
	}
	&__label-wrap{position:relative; display:inline-block; width:100%; height:100%;
		&:after{position:absolute; top:0; right:0; bottom:0; display:block; width:0; height:13px; margin:auto 0; border-left:1px solid #bcbcbc; content:'';}
	}
	&__input{float:right; width:100%; height:42px; padding:0; border:none; font-size:14px; outline:0; box-sizing:border-box;
		@media only screen and (max-width:$mobile-size){height:34px; font-size:1.4rem;}
		&:-ms-input-placeholder { color: #c5c5c5; }
   		&::-webkit-input-placeholder { color: #c5c5c5; }
   		&::-moz-placeholder { color: #c5c5c5; }
   		&::-moz-placeholder { color: #c5c5c5; }
	}
	&__btn{display:inline-block; width:176px; padding:12px 0 13px; font-size:18px; border:1px solid #333; background-color:transparent; color:#333; text-align: center;
		border-radius:26px 26px 26px 26px; margin-top:35px;  transition:all 0.5s; text-decoration:none; cursor:pointer;
		&.type-another{font-size:16px;}
		&.type-join{margin-top:50px;
			& + &{margin-left:10px;}
		}
		&.is-hover{border:1px solid $point3; background-color:$point3; color:#fff;
			&:hover{border:1px solid $point3; background-color:$point3; color:#fff;}
		}
		&:hover{color:#fff; background-color:#333; border:1px solid #333;}
		@media only screen and (max-width:$tablet-size){
			&.type-black{color:#fff; background-color:#333; border:1px solid #333;}
			&.is-hover{border:1px solid $point3; background-color:$point3; color:#fff;
				&:hover{border:1px solid $point3; background-color:$point3; color:#fff;}
			}
		}
		@media only screen and (max-width:$mobile-size){width:145px; height:40px; line-height:38px; padding:0; font-size:1.3rem; border-radius:20px 20px 20px 20px; margin-top:28px;
			&.type-another{font-size:1.3rem;}
			&.type-join{margin-top:35px;}
		}
		@media only screen and (max-width:$iphone-size){width:120px;}
	}
	&__point{color:$point3;}
	&__notice{margin:15px 0 0 0; font-size:13px; color:$point3;
		@media only screen and (max-width:$mobile-size){margin-top:12px; font-size:1.0rem;}
	}
	&__bottom{
		@media only screen and (max-width:$mobile-size){margin:0 -20px;}
	}
	&__bottom-list{margin-top:120px; border-top:1px solid #e1e1e1; font-size:15px;
		&:after{display:block; clear:both; content:'';}
		@media only screen and (max-width:$mobile-size){margin-top:60px; font-size:1.3rem;}
	}
	&__bottom-item{position:relative; float:left; width:50%;
		&.nth-2{background-color:#ffeefd;}
		@media only screen and (max-width:$mobile-size){float:none; width:100%;
			&.nth-2{display:none;
				& #{$this}__bottom-wrap{position:static; top:auto;}
			}
		}
	}
	&__bottom-wrap{display:table-cell; width:1%; height:134px; padding:0 60px; vertical-align:middle;
		&:after{display:block; clear:both; content:'';}
		@media only screen and (max-width:$tablet-size){height:170px; padding:0 10px;}
		@media only screen and (max-width:$mobile-size){display:block; height:auto; width:100%; padding:25px 10px;}
	}
	&__bottom-strong{font-weight:500; color:#333;}
	&__bottom-box{display:block; width:100%; padding-right:200px; line-height:1.6; text-align:left;
		@media only screen and (max-width:$tablet-size){padding-right:0; text-align:center;}
	}
	&__bottom-btn{float:right; display:inline-block; width:165px; height:30px; margin-left:38px; line-height:28px; border:1px solid #333; border-radius: 15px 15px 15px 15px; font-size:14px; color:#333; vertical-align:middle; text-align:center;
		&.type-black{background-color:#333; color:#fff;
			&:hover{color:#fff;}
		}
		&:hover{color:inherit;}
		@media only screen and (max-width:$tablet-size){float:none; display:block; margin:8px auto 0;}
	}
	&__bottom-multi{text-align:left; line-height:30px;
		& + &{margin-top:10px;}
		@media only screen and (max-width:$tablet-size){text-align: center; line-height:1;
			& + &{margin-top:15px;}
		}
	}
	&__sns{position:absolute; height:50px; top:0; bottom:0; right:60px; margin:auto 0;
		&:after{display:block; clear:both; content:'';}
		@media only screen and (max-width:$tablet-size){position:static; display:inline-block; height:auto; top:auto; bottom:auto; right:auto; margin-top:18px;}
		@media only screen and (max-width:$mobile-size){margin-top:15px;}
	}
	&__sns-item{float:left;
		& + &{margin-left:14px;}
		&.nth-2{
			& #{$this}__sns-link{background-position:0 -50px;}
		}
		&.nth-3{
			& #{$this}__sns-link{background-position:0 -100px;}
		}
		@media only screen and (max-width:$mobile-size){
			&.nth-2{
				& #{$this}__sns-link{background-position:0 -44px;}
			}
			&.nth-3{
				& #{$this}__sns-link{background-position:0 -88px;}
			}
		}
	}
	&__sns-link{overflow:hidden; display:block; width:50px; height:50px; background:url('../images/common/sns_icon.png'); text-indent:-999px;
		@media only screen and (max-width:$mobile-size){width:43px; height:44px; background:url('../images/common/sns_icon_m.png'); background-size:43px 132px;}
	}
	&__at{float:left;}
	&__num{text-decoration: underline;
		& strong{font-weight:500;}
	}
	&__find-list{display:inline-block; margin:30px 0 0 0; padding:0; font-size:0;
		@media only screen and (max-width:$mobile-size){margin-top:24px;}
	}
	&__find-item{display:block; font-size:16px; color:$point3; font-weight:500;
		& + &{margin-top:10px;}
		@media only screen and (max-width:$mobile-size){font-size:1.3rem;}
	}
}
.tab-style1{
	$this:&;
	&__item{display:table-cell; width:1%; height:60px; vertical-align:middle; border-bottom:1px solid #e1e1e1; font-size:20px;
		& + &{border-left:1px solid #e1e1e1;}
		&.is-active{background-color:#555555;
			& #{$this}__link{color:#fff;
				&:hover{color:#fff;}
			}
		}
	}
	&__link{display:block; width:100%; height:60px; line-height:60px; color:inherit; color:#333;
		&:hover{color:inherit;}
	}
	&__content{display:none; padding:120px 0;
		&.is-active{display:block;}
	}
	@media only screen and (max-width:$mobile-size){
		&__content{padding:50px 0 60px;}
		&__list{margin:0 -20px;}
		&__item{height:36px; font-size:1.2rem;}
		&__link{height:36px; line-height:36px;}
	}
}
/*회원가입*/
.join{text-align:center;
	&__list{margin:0; padding:0;}
	&__wrap{margin-top:60px; padding:80px 310px 100px; background-color:#f9f9f9; border:1px solid #ddd; box-sizing:border-box;}
	&__tit{margin:0; font-size:24px; font-weight:$regular; line-height:1.5;}
	@media only screen and (max-width:$tablet-size){
		&__wrap{margin-top:50px; padding:0px 36px; background-color:#fff; border:none;}
	}
	@media only screen and (max-width:$mobile-size){
		&__wrap{width:100%; margin:40px auto 0; padding:0; }
		&__tit{font-size:2rem;}
	}
}
.join-step{
	$this:&;
	&__list{margin:0; padding:0;}
	&__item{position:relative; display:inline-block; list-style:none;
		&.is-active{
			& #{$this}__tit{color:$point3;
				&:before{background-position-x:-88px;}
			}
			&:after{background:url('../images/membership/step_arrow_on.png') no-repeat center center / contain;}
		}
		&.nth-2{
			& #{$this}__tit{
				&:before{background-position-y:-88px;}
			}
		}
		&.nth-3{
			& #{$this}__tit{
				&:before{background-position-y:-176px;}
			}
		}
		& + &{margin-left:106px;}
		&:after{position:absolute; top:40px; right:-88px; display:block; width:68px; height:6px; background:url('../images/membership/step_arrow_off.png'); content:'';}
		&:last-child{
			&:after{display:none;}
		}
	}
	&__tit{margin:0; font-size:18px; color:#ccc; text-align:center; font-weight:$regular;
		&:before{display:block; width:88px; height:88px; margin-bottom:18px; background:url('../images/membership/step_icon.png');  content:'';}
	}
	@media only screen and (max-width:$mobile-size){
		&__tit{font-size:1.3rem;
			&:before{display:block; width:44px; height:44px; margin:0 auto 8px; background-size:88px 132px; content:'';}
		}
		&__item{
			&.is-active{
				& #{$this}__tit{
					&:before{background-position-x:-44px;}
				}
			}
			&.nth-2{
				& #{$this}__tit{
					&:before{background-position-y:-44px;}
				}
			}
			&.nth-3{
				& #{$this}__tit{
					&:before{background-position-y:-88px;}
				}
			}
			& + &{margin-left:54px;}
			&:after{top:20px; right:-44px; display:block; width:34px; height:3px; background-size:34px 3px;}
		}
	}
}
.join-agree{
	&__list{margin:0; padding:0; text-align: left; border-bottom:1px solid #999999;}
	&__item{position:relative; padding:30px 20px; list-style:none;
		& + &{border-top:1px solid #e7e7e7;}
		&:nth-of-type(2){border-top:1px solid #999999;}
	}
	&__tit{margin:0; font-size:18px; color:#333; font-weight:400; line-height:1.3;}
	&__txt{margin-top:5px; font-size:12px; color:#8a8a8a;}
	&__check{position:absolute; top:0; bottom:0; right:20px; height:25px; margin:auto 0;}
	&__check2{margin-top:14px;}
	&__box{overflow:auto; margin-top:10px; padding:10px; height:100px;  border:1px solid #dcdcdc; background-color:#f7f7f7;}
	&__iframe{width:100%;
		& body{padding:20px;}
	}
	@media only screen and (max-width:$mobile-size){width:100%; margin-top:28px; border-top:2px solid #999999;
		&__tit{font-size:1.7rem;
			&.type-another{font-size:1.5rem;}
		}
		&__txt{font-size:1.3rem;}
		&__list{border-top:1px solid #999999; border-bottom:1px solid #999999; }
		&__item{padding:25px 5px;
			&:first-child{padding:20px 24% 20px 5px;}
			&:nth-of-type(2){border-top:1px solid #e7e7e7;}
		}
	}
}

.join-table{
	&__wrap{position:relative; height:100%; text-align: left; }
	&__table{width:100%; padding:0; border-spacing:0px; border:0;   border-collapse:collapse; }
	&__tr{border-bottom:1px solid #e7e7e7;
		&:first-child{border-top:1px solid #999;}
		&:last-child{border-bottom:1px solid #999;}
	}
	&__th{width:165px; height:70px; padding:10px 20px; vertical-align:middle; font-size:18px; color:#666; font-weight:300; background-color:#f8f8f8; box-sizing:border-box;}
	&__td{width:auto; padding:10px 20px; vertical-align: middle; font-size:18px; box-sizing:border-box;}
	&__input{ width:310px; height:40px; padding:0; border:none;  outline:0; box-sizing:border-box; font-size:inherit; background-color:transparent;
		&:-ms-input-placeholder { color: #c5c5c5; font-size:14px; }
   		&::-webkit-input-placeholder { color: #c5c5c5; font-size:14px; }
   		&::-moz-placeholder { color: #c5c5c5; font-size:14px; }
   		&::-moz-placeholder { color: #c5c5c5; font-size:14px; }
		&.type-full{width:100%;}
	}
	&__btn{ position:absolute; right:0; top:0; bottom:0; width:110px; height:40px; margin:auto 0;border:none; cursor:pointer;
		border-radius:20px 20px 20px 20px; background-color:#666666; color:#fff; font-size:16px; text-align:center;
		&.type-another{width:100px;}
	}
	@media only screen and (max-width:$mobile-size){width:100%;
		&__input{width:100%; height:30px; padding-right:70px;
			&:-ms-input-placeholder {font-size:1.2rem; }
			&::-webkit-input-placeholder {font-size:1.2rem; }
			&::-moz-placeholder {font-size:1.2rem; }
			&::-moz-placeholder {font-size:1.2rem; }
			&.type-full{padding-right:0;}
		}
		&__wrap{}
		&__th{width:120px; height:46px; font-size:1.4rem; padding:0px 10px;}
		&__td{padding:0px 10px; font-size:1.4rem;}
		&__btn{width:65px; height:34px; border-radius:17px 17px 17px 17px; font-size:1.2rem;
			&.type-another{width:60px;}
		}
	}
}

.withdrawal{width:764px; margin:0px auto;
	&__list{margin:60px 0 0 0; padding:0; text-align: justify;
		&:after{display:inline-block; width:100%; content:'';}
	}
	&__item{display:inline-block; list-style:none;}
	&__textarea{width:100%; height:130px; margin-top:20px; padding:20px; border:1px solid #ddd; font-size:15px; box-sizing:border-box;
		&:-ms-input-placeholder { color: #c5c5c5; }
   		&::-webkit-input-placeholder { color: #c5c5c5; }
   		&::-moz-placeholder { color: #c5c5c5; }
   		&::-moz-placeholder { color: #c5c5c5; }
	}
	@media only screen and (max-width:$tablet-size){width:100%;
		&__item{margin:5px 0;}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{margin-top:46px; text-align: left;
			&:after{clear:both; width:auto;}
		}
		&__item{float:left; width:50%; margin:0;
			& + & + &{margin-top:15px;}
		}
		&__textarea{height:220px; margin-top:15px; padding:10px; font-size:1.3rem; font-family:inherit;}
	}
}




.join-info{
	&__list{display:none; margin-top:15px; text-align:center; font-size:0;}
	&__item{position:relative; display:inline-block; font-size:1.4rem; color:#6c6a6a;
		&:last-child{color:#333333; font-weight:500;
			&:after{display:none;}
		}
		&:after{position:absolute; right:0; top:0; bottom:0; margin:auto; width:0; height:13px; border-right:1px solid #b0afaf; content:'';}
	}
	&__link{padding:0 12px; color:#6c6a6a; color:inherit;}
	@media only screen and (max-width:$mobile-size){
		&__list{display:block;}
	}
}
.termsTxt{
	p{margin:0;}
}


// 개인정보 보호 정책 공통 style
.policy-notice{text-align: left;
	&__box{padding: 50px;background-color: #fff; box-sizing:border-box;}
	&__list{margin:0; padding:0; list-style:none; counter-reset: item;}
	&__item{position: relative;padding-left: 40px;line-height: 1.66;
		&:before{content: '0'counter(item);counter-increment: item;display: block;position: absolute;top: 0;left: 0;width: 30px;height: 30px;line-height: 30px;border-radius: 50%;background-color: #000000;font-size: 15px;color: #fff;text-align:center;}
		& + &{margin-top: 26px;}
	}
	&__tit{margin:0;font-size: 18px;color: #333333;}
	&__txt{margin:8px 0 0 0;font-size: 15px;color: #666666;}
	&__span{color: #9a478e;text-decoration: underline;}
	@media only screen and (max-width:$tablet-size){
		&__box{padding: 50px 40px; background-color:#f3f3f3;}
	}
	@media only screen and (max-width:$mobile-size){
		&__box{padding: 20px 12px;}
		&__item{padding-left: 34px;
			&:before{top: -2px;width: 25px;height: 25px;font-size: 1.3rem;line-height: 25px;}
			& + &{margin-top: 14px;}
		}
		&__tit{font-size: 1.3rem;}
		&__txt{margin-top: 4px;font-size: 1.2rem;}
	}
}

// 회원가입 - 개인정보보호 정책
.join-notice{margin-top: 46px;padding-bottom: 46px;border-bottom: 1px solid #999999;
	&__tit{margin:0; font-size: 18px;color: #333333;line-height: 1.5;}
	&__area{margin-top: 34px;}
	&__desc{margin:34px 0 0 0;font-size: 15px;color: #666666;line-height: 1.5;text-align: center;}
	@media only screen and (max-width:$mobile-size){
		margin-top: 25px;padding-bottom: 25px;border-bottom: 0;
		&__tit{font-size: 1.3rem;}
		&__area{margin-top: 26px;}
		&__desc{margin-top: 16px;font-size: 1.2rem;}
	}
}
