@charset "UTF-8";
@import "mixins";
.visual{
	&.type-laser{
		&:before{background:url('../images/young/laser/laser_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-laser{
			&:before{background:url('../images/young/laser/laser_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-laser{padding:150px; background:url('../images/young/laser/laser_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{position:relative; margin-top:174px; padding-bottom:93.75%; border:10px solid #fff; box-sizing:border-box;
			&:before{position:absolute; left:-160px; bottom:-160px; display:block; width:calc(100% + 320px); height:calc(100% + 268px); background:url('../images/young/laser/laser_bg_2.png') no-repeat center bottom / contain; z-index:1; content:'';}
		}
		#{$this}__txt{padding:0 50px;}
		#{$this}__list{top:24px; right:24px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-laser{padding:80px 40px 0px; background:url('../images/young/laser/laser_bg_1_t.jpg') no-repeat center center / cover; box-sizing:border-box;
			#{$this}__area{margin-top:28px; padding-bottom:0; border:none;
				&:before{display:none;}
			}
			#{$this}__img{position:relative; margin-left:-40px; margin-right:-40px; transform: translateZ(0);
				&:before{position:absolute; left:40px; bottom:100px; display:block; width:calc(100% - 80px); height:calc(100% - 190px);border:10px solid #fff; z-index:-1; content:'';}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-laser{padding:50px 20px 0px;
			#{$this}__area{margin-top:14px;}
			#{$this}__img{margin-left:-20px; margin-right:-20px;
				&:before{position:absolute; left:20px; bottom:40px; display:block; width:calc(100% - 40px); height:calc(100% - 100px); border-width:5px;}
			}
			#{$this}__txt{padding:0;}
		}
	}
}
.section-mid{
	$this:&;
	&.type-laser{height:630px;
		#{$this}__img{background:url('../images/young/laser/laser_img_1.jpg') no-repeat center center / cover;}
		#{$this}__subtit{margin-top:0;}
		#{$this}__area{padding-right:584px;}
		#{$this}__wrap{width:584px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-laser{height:auto;
			#{$this}__area{padding-right:0px;}
			#{$this}__wrap{width:auto;}
		}
	}
}
.where{
	$this:&;
	&.type-laser{
		#{$this}__wrap{padding-top:380px; padding-bottom:270px; background:url('../images/young/laser/laser_bg_3.png') no-repeat center center / contain;
			&:before{height:380px; background:#fffcd9;}
		}
		#{$this}__subject{margin-left:-5px; margin-right:-5px;}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-laser{
			#{$this}__wrap{padding-top:0; padding-bottom:0;}
		}
	}
}
.detail{
	$this:&;
	&.type-laser{
		#{$this}__area{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/young/laser/laser_bg_4.jpg') no-repeat center center / cover; }
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-laser{
			#{$this}__inner{background:url('../images/young/laser/laser_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		}
	}
}
.laser-box1{
	$this:&;
	&__tit{position:absolute; left:60px; bottom:60px; margin:0; font-size:100px; color:#fff; font-weight:$Ebold; font-family:$font-Eb; text-transform:uppercase; text-align:left; line-height:1;}
	@media only screen and (max-width: $tablet-size) {
		&__tit{display:none;}
	}
	@media only screen and (max-width: $mobile-size) {
	}
}
