@charset "UTF-8";
@import "mixins";
.visual{
	&.type-linetox{
		&:before{background:url('../images/petit/linetox/linetox_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-linetox{
			&:before{background:url('../images/petit/linetox/linetox_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}

.section-head{
    $this: &;
	&.type-linetox{background:url('../images/petit/linetox/linetox_bg_1.jpg') no-repeat center center / cover;transform: translateZ(0);
		#{$this}__area{position: relative;padding-bottom: 110.75%;background-color: #ffc282;
			&:before{content: '';position: absolute;left: -165px;right: -165px;top: 0;bottom: 0;height: calc(100% - 230px);margin: auto;background: url('../images/petit/linetox/linetox_bg_2.jpg') no-repeat center center / cover;z-index: -1;}
		}
		#{$this}__over{position: absolute;bottom: 0;left: 0;width: 104.4%;padding-bottom: 114.95%;background:url('../images/petit/linetox/linetox_bg_3.png') no-repeat center bottom / cover;text-indent: -9999px;overflow: hidden;font-size: 0;}
		#{$this}__rl{top: 0;left: -40px;}
		#{$this}__list{top: 40px;right: 40px;}
        #{$this}__item{
            &.nth-1{
                #{$this}__subject{
                    &:before{display: none;}
                }
            }
        }
		#{$this}__bg{display: none;}
	}

    @media only screen and (max-width: $tablet-size) {
		&.type-linetox{background: #ffe1ed;
			#{$this}__area{padding-bottom:0;
				&:before{display: none;}
			}
			#{$this}__over{display: none;}
            #{$this}__bg{display: block;position: relative;margin-top: 36px;padding-bottom: 110.75%;background-color: #ffc282;
				&:before{content: '';position: absolute;left: -40px;right: -40px;top: 0;bottom: 0;height: calc(100% - 128px);margin: auto;background: url('../images/petit/linetox/linetox_bg_2_t.jpg') no-repeat center center / cover;z-index: -1;}
			}
			#{$this}__img{position: absolute;bottom: 0;left: 0;width: 104.4%;padding-bottom: 115.95%;background:url('../images/petit/linetox/linetox_bg_3.png') no-repeat center bottom / cover;text-indent: -9999px;overflow: hidden;font-size: 0;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-linetox{
			#{$this}__bg{
				&:before{left: -20px;right: -20px;height: calc(100% - 52px);}
			}
		}
	}
}
.section-mid{
	$this:&;
	&.type-linetox{height: 630px;
        #{$this}__box{padding: 130px 6px 0 70px;}
        #{$this}__subtit{margin-top:0px;}
        #{$this}__txt{margin-top: 40px;}
		#{$this}__img{background:url('../images/petit/linetox/linetox_img_1.jpg') no-repeat center center / cover;}
	}

    @media only screen and (max-width: $tablet-size) {
        &.type-linetox{height: auto;
            #{$this}__box{padding: 0;}
            #{$this}__txt{margin-top: 26px;}
        }
    }
    @media only screen and (max-width: $mobile-size) {
        &.type-linetox{
            #{$this}__txt{margin-top: 18px;}
        }
    }
}
.where{
	$this:&;
	&.type-linetox{
		#{$this}__wrap{background:url('../images/petit/linetox/linetox_bg_4.png') no-repeat center center / contain;}
	}
}
.detail{
	$this:&;
	&.type-linetox{
		#{$this}__area{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/petit/linetox/linetox_bg_5.jpg') no-repeat center center / cover; }

	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-linetox{
			#{$this}__inner{background:url('../images/petit/linetox/linetox_bg_5_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		}
	}
}


.highlight1{
    &.type-linetox{margin: 38px 0 0 0;}

    @media only screen and (max-width: $tablet-size) {
        &.type-linetox{margin: 28px 0 0 0;}
    }
    @media only screen and (max-width: $tablet-size) {
        &.type-linetox{margin: 18px 0 0 0;}
    }
}
