@charset "UTF-8";
@import "variables";
@import "mixins";
.container-top{
	&.type-medical{background:url('../images/cok/medical/medical_top_1.jpg') no-repeat center center / cover;}
	@media only screen and (max-width: $tablet-size) {
		&.type-medical{background:url('../images/cok/medical/medical_top_1_t.jpg') no-repeat center center / cover;}
	}
}

.medical{
	&__list{margin:0 0 0 -80px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__list2{margin:30px 0 0 0; padding:0;}
	&__item{float:left; width:50%; padding-left:80px; list-style:none; box-sizing:border-box;}
	&__item2{list-style:none;
		& + &{margin-top:14px;}
	}
	&__img{position:relative; width:100%; height:0; padding-bottom:69.49%;}
	&__name{margin-top:60px; font-family:$font-Eb; font-weight:$Ebold;
		&:before{display:block; width:20px; height:0; margin-bottom:26px; border-top:2px solid $black1; content:'';}
	}
	@media only screen and (max-width: $tablet-size) {
		&__list{margin-left:0;}
		&__item{padding-left:0; width:100%;
			& + &{margin-top:96px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__name{margin-top:30px;
			&:before{margin-bottom:16px;}
		}
		&__item{
			& + &{margin-top:56px;}
		}
		&__list2{margin-top:20px;}
	}
}
