@charset "UTF-8";
@import "mixins";
.visual{
	&.type-mouth{
		&:before{background:url('../images/petit/mouth/mouth_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-mouth{
			&:before{background:url('../images/petit/mouth/mouth_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-mouth{background:url('../images/petit/mouth/mouth_bg_1.jpg') no-repeat center center / cover; transform: translateZ(0);
		#{$this}__area{position:relative; padding-bottom:110.75%; background:url('../images/petit/mouth/mouth_bg_3.jpg') no-repeat center center / cover; box-sizing:border-box;
			&:before{position:absolute; top:-47px; left:-49px; width:calc(100% + 98px); height:calc(100% + 94px); margin:auto; background:url('../images/petit/mouth/mouth_bg_2.png') no-repeat center center / cover; content:''; z-index:-1;}
		}
		#{$this}__box{border:20px solid #fff; box-sizing:border-box;}
		#{$this}__list{top:70px; left:40px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-mouth{ background:url('../images/petit/mouth/mouth_bg_1_t.jpg') no-repeat center center / cover;
			#{$this}__area{padding-bottom:0;
				&:before{display:none;}
			}
			#{$this}__box{border:none;}
			#{$this}__img{position:relative; margin-top:50px; border:10px solid #fff; box-sizing:border-box;
				&:before{position:absolute; top:-29px; left:-30px; width:calc(100% + 60px); height:calc(100% + 58px); margin:auto; background:url('../images/petit/mouth/mouth_bg_2.png') no-repeat center center / contain; content:''; z-index:-1;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-mouth{
			#{$this}__img{margin-top:35px; border-width:5px;
				&:before{top:-14px; left:-15px; width:calc(100% + 30px); height:calc(100% + 28px);}
			}
		}
	}
}
.inner-box__tit{
	&.type-mouth{position:absolute; bottom:80px; right:-44px; font-size:90px; writing-mode: tb-rl; color:$black1; z-index:10;
		@media only screen and (max-width: $tablet-size) {bottom:50px; right:-20px; font-size:60px;}
		@media only screen and (max-width: $mobile-size) {display:none;}
	}
}

.section-st1{
	$this:&;
	&.type-mouth{padding-top:0;
		&:before{display:none;}
		#{$this}__wrap{padding-top:40px;}
		#{$this}__box{position:relative; background:url('../images/petit/mouth/mouth_img_1.jpg') no-repeat center center / cover;
			&:before{position:absolute; top:0; left:0; right:0; bottom:0; height:0; margin:auto -230px; padding-bottom:93.75%;  background:url('../images/petit/mouth/mouth_bg_4.jpg') no-repeat center center / cover; z-index:-1; content:'';}
		}
		#{$this}__tit{color:#fff;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-mouth{
			#{$this}__box{
				&:before{display:none;}
			}
			#{$this}__img{position:relative;
				&:before{position:absolute; top:0; left:0; right:0; bottom:0; height:0; margin:auto -104px; padding-bottom:84.4%;  background:url('../images/petit/mouth/mouth_bg_4.jpg') no-repeat center center / cover; z-index:-1; content:'';}
			}
			#{$this}__tit{color:$black1;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-mouth{
			#{$this}__img{position:relative;
				&:before{ margin:auto -20px; padding-bottom:69%;}
			}
		}
	}
}
.where{
	$this:&;
	&.type-mouth{
		#{$this}__wrap{background:url('../images/petit/mouth/mouth_bg_5.png') no-repeat center center / contain;
			&:before{background-color:#ffecee;}
		}
	}
}
.detail{
	$this:&;
	&.type-mouth{
		#{$this}__area{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/petit/mouth/mouth_bg_6.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-mouth{
			#{$this}__inner{background:url('../images/petit/mouth/mouth_bg_6_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		}
	}
}
