@charset "UTF-8";
@import "mixins";
.visual{
	&.type-peeling{
		&:before{background:url('../images/petit/peeling/peeling_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-peeling{
			&:before{background:url('../images/petit/peeling/peeling_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-peeling{overflow:hidden; position:relative; padding:120px 124px 0; background:url('../images/petit/peeling/peeling_bg_1.jpg') no-repeat center center / cover; transform: translateZ(0);
		#{$this}__area{margin-top:0; padding-bottom:117.8853%; background:url('../images/petit/peeling/peeling_bg_2.png') no-repeat center center / cover;}
		#{$this}__img-txt{position:absolute; left:-50px; bottom:48px; width:calc(100% + 100px);z-index:1;
			img{width:100%;}
		}
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; z-index:-1; background:url('../images/petit/peeling/peeling_stripe.png'); content:''; }
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-peeling{padding:100px 40px 0;
			#{$this}__area{padding-bottom:0;}
			#{$this}__img{margin-top:10px;}
			#{$this}__img-txt{left:-20px; bottom:30px; width:calc(100% + 40px);}
			&:after{padding-bottom:28.2%;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-peeling{padding:50px 20px 0;
			#{$this}__img{margin-top:5px;}
			#{$this}__img-txt{left:-7px; bottom:13px; width:calc(100% + 14px);}
			&:before{background:url('../images/petit/peeling/peeling_stripe_m.png');}
		}
	}
}

.detail{
	$this:&;
	&.type-peeling{
		#{$this}__area{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/petit/peeling/peeling_bg_3.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-peeling{
			#{$this}__inner{background:url('../images/petit/peeling/peeling_bg_3_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		}
	}
}
