@charset "UTF-8";
@import "mixins";
.visual{
	&.type-prp{
		&:before{background:url('../images/young/prp/prp_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-prp{
			&:before{background:url('../images/young/prp/prp_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-prp{position:relative; padding-left:230px; padding-right:230px; padding-bottom:0; background:url('../images/young/prp/prp_bg_1.jpg') no-repeat center center / cover; -ms-transform: translate(0);transform: translate(0);transform: translateZ(0);
		&:before{position:absolute; top:0; left:0; right:0; padding:0 230px; height:100%; margin:0 auto; background:url('../images/young/prp/prp_bg_3.jpg') no-repeat center center / cover; content:''; z-index:-1; box-sizing:border-box; background-clip: content-box;}
		#{$this}__area{padding-bottom:139.875%; background:url('../images/young/prp/prp_bg_2.png') no-repeat center center / cover; box-sizing:border-box;
			&:before{position:absolute; top:60px; left:-120px; width:calc(100% + 240px); height:calc(100% - 140px); border:10px solid #ffca63; content:''; box-sizing:border-box;}
		}
		#{$this}__list{top:90px; right:20px;}
		#{$this}__tit{color:#fff;}
		#{$this}__txt{padding:0 40px; color:#fff;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-prp{padding-left:90px; padding-right:90px; background:url('../images/young/prp/prp_bg_1_t.jpg') no-repeat center center / cover;
			&:before{display:none;}
			#{$this}__area{padding-bottom:0;
				&:before{display:none;}
			}
			#{$this}__img{position:relative; margin-top:60px;
				&:before{position:absolute; top:40px; left:-50px; width:calc(100% + 100px); height:calc(100% - 80px); border:10px solid #ffca63; content:''; box-sizing:border-box; z-index:1;}

			}
			#{$this}__tit{color:$black1;}
			#{$this}__txt{padding:0; color:$black1;}
			#{$this}__list{position:absolute; top:auto; left:0; right:0; bottom:80px; z-index:10;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-prp{padding-left:20px; padding-right:20px;
			#{$this}__img{margin-top:26px;
				&:before{top:20px; left:-10px; width:calc(100% + 20px); height:calc(100% - 40px); border-width:4px;}
			}
			#{$this}__list{bottom:35px;}
			#{$this}__area{margin-top:0;}
		}
	}
}
.inner-box__tit{
	&.type-prp{position:absolute; bottom:110px; left:-90px; margin:0; font-size:40px; font-family:$font-pt; writing-mode: tb-rl; color:#ffca63; z-index:10; transform: rotate(180deg);
		@media only screen and (max-width: $tablet-size) {top:80px; left:0; right:0; bottom:auto; writing-mode:horizontal-tb; transform: rotate(0deg); font-size:30px; text-align:center;}
		@media only screen and (max-width: $mobile-size) {top:35px; font-size:1.6rem;}
	}
}

.section-st1{
	$this:&;
	&.type-prp{padding-top:0;
		&:before{display:none;}
		#{$this}__wrap{padding-top:40px;}
		#{$this}__box{position:relative; background:url('../images/young/prp/prp_img_1.jpg') no-repeat center center / cover;
			&:before{position:absolute; top:0; left:0; right:0; bottom:0; height:0; margin:auto -230px; padding-bottom:93.75%;  background:url('../images/young/prp/prp_bg_4.jpg') no-repeat center center / cover; z-index:-1; content:'';}
			&:after{position:absolute; top:0; left:0; right:0; bottom:0; height:0; margin:auto -230px; padding-bottom:93.75%;  background:url('../images/young/prp/prp_bg_5.png') no-repeat center center / cover; z-index:1; content:'';}
		}
		#{$this}__tit{color:#fff;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-prp{
			#{$this}__box{
				&:before,&:after{display:none;}
			}
			#{$this}__img{position:relative;
				&:before{position:absolute; top:0; left:0; right:0; bottom:0; height:0; margin:auto -104px; padding-bottom:84.4%;  background:url('../images/young/prp/prp_bg_4.jpg') no-repeat center center / cover; z-index:-1; content:'';}
			}
			#{$this}__tit{color:$black1;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-prp{
			#{$this}__img{position:relative;
				&:before{ margin:auto -20px; padding-bottom:69%;}
			}
		}
	}
}
.where{
	$this:&;
	&.type-prp{
		#{$this}__wrap{padding-top:200px; padding-bottom:250px; background:url('../images/young/prp/prp_bg_6.png') no-repeat center center / contain;
			&:before{background-color:#fffcd9;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-prp{
			#{$this}__wrap{padding-top:0px; padding-bottom:0px; text-align:left;}
			#{$this}__subject{text-align:center;}
		}
	}
}
.detail{
	$this:&;
	&.type-prp{
		#{$this}__area{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/young/prp/prp_bg_7.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-prp{
			#{$this}__inner{background:url('../images/young/prp/prp_bg_7_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		}
	}
}
