@charset "UTF-8";
@import "mixins";
.visual{
	&.type-rejuran{
		&:before{background:url('../images/young/rejuran/rejuran_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-rejuran{
			&:before{background:url('../images/young/rejuran/rejuran_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-rejuran{position:relative; padding:150px 230px 0; background:url('../images/young/rejuran/rejuran_bg_1.jpg') no-repeat center center / cover; transform: translateZ(0);
		&:before{position:absolute; left:0; right:0; bottom:0; display:block; height:0; padding-bottom:19.8%; background:url('../images/young/rejuran/rejuran_bg_3.jpg') no-repeat center center / cover; content:'';}
		#{$this}__area{margin-top:50px; padding-bottom:141.25%; background:url('../images/young/rejuran/rejuran_bg_2.png') no-repeat center center / cover;}
		#{$this}__tit{color:#fff;}
		#{$this}__txt{padding:0; color:#fff;}
		#{$this}__list{top:18.4%;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-rejuran{padding:80px 40px 0; background:url('../images/young/rejuran/rejuran_bg_1_t.jpg') no-repeat center center / cover;
			#{$this}__area{margin-top:34px; padding-bottom:0;}
			#{$this}__img{position:relative; margin-top:14px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-rejuran{padding:50px 20px 0;
			#{$this}__area{margin-top:14px;}
		}
	}
}
.section-mid{
	$this:&;
	&.type-rejuran{height:570px;
		#{$this}__img{background:url('../images/young/rejuran/rejuran_img_1.jpg') no-repeat center center / cover;}
		#{$this}__area{padding-right:600px;}
		#{$this}__wrap{width:600px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-rejuran{height:auto;
			#{$this}__area{padding-right:0;}
			#{$this}__wrap{width:auto;}
		}
	}
}
.where{
	$this:&;
	&.type-rejuran{
		#{$this}__wrap{background:url('../images/young/rejuran/rejuran_bg_4.png') no-repeat center center / contain;
			&:before{background-color:#fffcd9;}
		}
		#{$this}__subject{margin-left:-40px; margin-right:-40px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-rejuran{
			#{$this}__subject{margin-left:0px; margin-right:0px;}
		}
	}
}
.detail{
	$this:&;
	&.type-rejuran{
		#{$this}__area{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/young/rejuran/rejuran_bg_5.jpg') no-repeat center center / cover;}

	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-rejuran{
			#{$this}__inner{background:url('../images/young/rejuran/rejuran_bg_5_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		}
	}
}
