@charset "UTF-8";
@import "mixins";

.visual{
	&.type-sparkle{
		&:before{background:url('../images/petit/sparkle/sparkle_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-sparkle{
			&:before{background:url('../images/petit/sparkle/sparkle_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}

.section-head{
	$this:&;
	&.type-sparkle{overflow: hidden;position: relative;padding: 120px 220px 0;background: url('../images/petit/sparkle/sparkle_bg_1.jpg') no-repeat center center / cover;transform: translateZ(0);
		#{$this}__area{padding-bottom:93.75%; background:url('../images/petit/sparkle/sparkle_bg_2.jpg') no-repeat center center / cover;}
        #{$this}__tit{color: #fff;}
        #{$this}__txt{padding: 0;color: #fff;}
        #{$this}__list{padding: 80px 0 120px;}
	}

    @media only screen and (max-width: $tablet-size) {
		&.type-sparkle{padding: 100px 90px 0;background: url('../images/petit/sparkle/sparkle_bg_1_t.jpg') no-repeat center center / cover;
			#{$this}__area{margin-top: 60px;padding-bottom: 0;}
            #{$this}__list{padding-bottom: 100px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-sparkle{padding: 50px 30px 0;
			#{$this}__area{margin-top:25px;}
            #{$this}__list{padding: 40px 0 50px;}
		}
	}
}

.sparkle-box{text-align: center;
    &__tit{}
	&__subtit{}
	&__outer{position: relative;margin-top: 60px;padding-bottom: 60px;background: url('../images/petit/sparkle/sparkle_bg_3.jpg') no-repeat top center/cover;}
	&__inner{padding-left: 68.80%;}
	&__list{margin: -30px 0 0;padding: 0;}
	&__item{margin-top: 30px;list-style: none;box-sizing: border-box;vertical-align: top;}
	&__img{width: 152px;margin: 0 auto;}
	&__txt{margin: 16px 0 0;font-size: 20px;}

	@media only screen and (max-width: $tablet-size){
		&__outer{margin-top: 50px;padding-bottom: 0;background: none;}
		&__inner{padding: 0 70px;}
		&__list{margin-top: -50px;margin-left: -30px;font-size: 0;}
		&__item{display: inline-block;width: 50%;margin-top: 50px;padding-left: 30px;}
		&__area{position: relative;margin: 40px -30px 0;transform: rotateZ(0);
            &:after{content: '';position: absolute;left: 30px;bottom: 0;right: 30px;height: 484px;margin: 0 auto;background-color: #ffe4ea;z-index: -1;}
        }
        &__img{width: 274px;}
	}
	@media only screen and (max-width: $mobile-size){
		&__outer{margin-top: 30px;}
		&__inner{padding: 0 28px;}
		&__list{margin-top: -24px;margin-left: -15px;}
		&__item{margin-top: 24px;padding-left: 15px;}
        &__area{position: relative;margin: 30px -15px 0;
            &:after{left: 15px;bottom: 0;right: 15px;height: 224px;}
        }
        &__img{width: 136px;}
		&__txt{margin-top: 10px;font-size: 1.3rem;}

	}
}

.sparkle-box2{text-align: center;
    &__tit{}
    &__point{text-decoration: underline;}
    &__wrap{margin-top: 56px;}

    @media only screen and (max-width: $mobile-size){
        &__wrap{margin-top: 20px;}
    }
}

.need{
	&.type-sparkle{border-color: $young;text-align: center;}
}

.where{
	$this:&;

	&.type-sparkle{
		#{$this}__wrap{padding-top:180px; padding-bottom:240px; background:url('../images/petit/sparkle/sparkle_bg_4.png') no-repeat center center / contain;
			&:before{background-color:#d6f7fe;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-sparkle{
			#{$this}__wrap{padding-top:0; padding-bottom:0;}
		}
	}
}

.caution{
    $this:&;

    &.type-sparkle{padding-right: 60px;
        background: url('../images/petit/sparkle/sparkle_caution_1.jpg') #f5f5f5 no-repeat left center / cover;

        #{$this}__head{bottom: auto;top: 105px;}
        #{$this}__body{padding-left: 425px;}
    }

    @media only screen and (max-width: $tablet-size){
        &.type-sparkle{padding-right: 40px;
            background: #f5f5f5;transform: rotateZ(0);
            &:after{content: '';position: absolute;top: 0;left: 0;right: 0;height: 618px;background: url('../images/petit/sparkle/sparkle_caution_1_t.jpg') #f5f5f5 no-repeat center top / cover;z-index: -1;}

            #{$this}__head{}
            #{$this}__body{margin-top: 0;padding-top: 61.78%;padding-left: 0;}
        }
    }
    @media only screen and (max-width: $mobile-size){
        &.type-sparkle{
            &:after{height: 310px;}
        }
    }
}

.detail{
	$this:&;

	&.type-sparkle{
		#{$this}__area{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/petit/sparkle/sparkle_bg_5.jpg') no-repeat left center / cover;}
	}

	@media only screen and (max-width: $minpc-size2) {
		&.type-sparkle{
			#{$this}__inner{background:url('../images/petit/sparkle/sparkle_bg_5_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		}
	}
}
