@charset "UTF-8";
@import "mixins";
.visual{
	&.type-ulfit{
		&:before{background:url('../images/slim/ulfit/ulfit_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-ulfit{
			&:before{background:url('../images/slim/ulfit/ulfit_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-ulfit{padding-bottom:160px; padding-left:160px; padding-right:160px; background-color:#fff1a1; transform: translateZ(0);
		#{$this}__area{position:relative; margin-top:190px; padding-bottom:97.03%; background-color:$slim;
			&:before{position:absolute; left:0; right:0; bottom:14.25%; height:65.78%; margin:auto -160px; background:url('../images/slim/ulfit/ulfit_bg_2.jpg') no-repeat center center / cover; content:''; z-index:-1;}
			&:after{position:absolute; top:0; left:0; right:0; bottom:0; margin:-160px -160px 0; background:url('../images/slim/ulfit/ulfit_bg_1.png') no-repeat center center / cover; box-sizing:border-box; content:'';}
		}
		#{$this}__list{top:0; left:0; right:0; bottom:0; height:104px; margin:auto 0; text-align:center;}
		#{$this}__item{display:inline-block; background-color:transparent;
			& + #{$this}__item{margin:0 0 0 20px;}
		}
		#{$this}__box{height:160px; top:auto; bottom:-160px; background:#ff5e38;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-ulfit{padding-left:90px; padding-right:90px; padding-bottom:0;
			#{$this}__list{height:auto;}
			#{$this}__area{margin-top:28px; padding:0;
				&:before{display:none;}
				&:after{display:none;}
			}
			#{$this}__box{height:auto; bottom:auto; background:none;}
			#{$this}__img{position:relative; margin-left:-90px; margin-right:-90px;
				&:before{position:absolute; left:0; right:0; bottom:18.9%; height:55.94%; background:url('../images/slim/ulfit/ulfit_bg_2.jpg') no-repeat center center / cover; content:''; z-index:-1;}
				&:after{position:absolute; top:0; left:0; width:100%; height:100%; padding:12.7% 12.7% 0; background-color:$slim; content:''; z-index:-1;
					box-sizing:border-box; background-clip: content-box;
				}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-ulfit{padding-left:20px; padding-right:20px;
			#{$this}__area{margin-top:14px;}
			#{$this}__img{margin-left:-20px; margin-right:-20px;
				&:before{display:none;}
				&:after{padding:10.73% 10.73% 0;}
			}
			#{$this}__list{margin:-6px -3px 0;}
		}
	}
}
.content-head2{
	$this:&;
	&.type-ulfit{
		#{$this}__wrap{box-shadow: 4px 4px 0px 0px #b6e2ff; }
	}
}

.need{
	&.type-ulfit{ border-color:$slim; text-align:center;}
}

.how{
	$this:&;
	&.type-ulfit{
		#{$this}__tit2{margin-left:-10px; margin-right:-10px;}
	}
}

.where{
	$this:&;
	&.type-ulfit{
		#{$this}__wrap{padding-top:200px; padding-bottom:480px; background:url('../images/slim/ulfit/ulfit_bg_3.png') no-repeat center center / contain;
			&:before{height:400px; background-color:#e6f7ff;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-ulfit{
			#{$this}__wrap{padding-top:0; padding-bottom:0;}
		}
	}
}
.detail{
	$this:&;
	&.type-ulfit{
		#{$this}__area{background:url('../images/content/slim_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/slim/ulfit/ulfit_bg_4.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-ulfit{
			#{$this}__inner{background:url('../images/slim/ulfit/ulfit_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/slim_bg.jpg') no-repeat center center / cover;}
		}
	}
}

.vertical-box{
	&__txt{position:absolute; top:0; bottom:0; margin:auto 0;  font-size:18px; color:#fff; font-weight:$bold; writing-mode:tb-rl; letter-spacing: 10px;
		&.type-1{left:-46px; transform:rotate(-180deg);}
		&.type-2{right:-46px;}
	}
	@media only screen and (max-width: $tablet-size) {display:none;}
}
