@charset "UTF-8";
@import "mixins";

.visual{
	&.type-ulthera{
		&:before{background:url('../images/young/ulthera/ulthera_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-ulthera{
			&:before{background:url('../images/young/ulthera/ulthera_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}

.section-head{
	$this:&;
	&.type-ulthera{position:relative; padding: 150px 0 0; background:url('../images/young/ulthera/ulthera_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom: 47.02%; background:url('../images/young/ulthera/ulthera_bg_2.jpg') no-repeat center center / cover;}
		#{$this}__tit{color: #fff;}
		#{$this}__txt{color: #fff;padding: 0 280px;}
        #{$this}__caption3{position: static;margin-top: -3%;margin-bottom: 54px;padding: 0;}
		#{$this}__list{padding: 0;}
		#{$this}__img-txt{max-width: 530px;margin: 0 auto;}
	}

	@media only screen and (max-width: $tablet-size){
		&.type-ulthera{padding: 100px 94px 0; background:url('../images/young/ulthera/ulthera_bg_1_t.jpg') no-repeat center center / cover;
			#{$this}__area{padding-bottom: 0;}
			#{$this}__box{
				&:after{display: none;}
			}
			#{$this}__txt{padding: 0;}
			#{$this}__img{position: relative;margin-top: 76px;margin-left: -94px;margin-right: -94px;}
            #{$this}__caption3{margin-top: -4.5%}
            #{$this}__list{padding: 0 10%;}
            #{$this}__item{border-color: #fff;background-color: rgba(255, 255, 255, 0.2);}
			#{$this}__subject{color: #fff;
				&:before{background-position-x: 0px;}
			}
			#{$this}__img-txt{max-width: 424px;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-ulthera{padding: 50px 20px 0;
			#{$this}__img{margin-top: 34px;margin-left: -20px; margin-right: -20px;}
			#{$this}__img-txt{max-width: 212px;}
            #{$this}__caption3{margin-bottom: 24px;}
            #{$this}__list{padding: 0 5%;}
		}
	}
}

.explain{
    $this:&;

    &.type-ulthera{position: relative;margin: 0;padding: 0 64px 120px;
        background-color: transparent;
    }

    @media only screen and (max-width: $tablet-size){
        &.type-ulthera{margin: 0 -94px;padding: 0 40px 80px;}
    }
    @media only screen and (max-width: $mobile-size){
        &.type-ulthera{margin: 0 -20px;padding: 0 0 50px;}
    }
}

.where{
	$this:&;

	&.type-ulthera{
		#{$this}__wrap{padding-top:200px; padding-bottom:250px; background:url('../images/young/ulthera/ulthera_bg_3.png') no-repeat center center / contain;
			&:before{background-color:#fffcd9;}
		}
	}
	&.type-ulthera2{
		#{$this}__wrap{padding-top:200px; padding-bottom:250px; background:url('../images/young/ulthera/ulthera_bg_4.png') no-repeat center center / contain;
			&:before{background-color:#fffcd9;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-ulthera{
			#{$this}__wrap{padding-top:0px; padding-bottom:0px; text-align:left;}
			#{$this}__subject{text-align:center;}
		}
		&.type-ulthera2{
			#{$this}__wrap{padding-top:0px; padding-bottom:0px; text-align:left;}
			#{$this}__subject{text-align:center;}
		}
	}
}

.best{
	$this:&;

	&.type-ulthera{
		#{$this}__tit{
			&:after{display: none;}
		}
		#{$this}__outer{height: 140px;}
		#{$this}__txt{font-size: 26px;font-weight: $bold;}
	}

	@media only screen and (max-width: $minpc-size3){
		&.type-ulthera{
			#{$this}__outer{height: 100%;}
			#{$this}__wrap{
				&.type-wide{
					#{$this}__outer{height: 75px;}
				}
			}
			#{$this}__txt{margin-top: 0;font-size: 20px;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-ulthera{
			#{$this}__txt{font-size: 1.3rem;}
		}
	}
}

.caution{
    $this:&;

    &.type-ulthera{padding-right: 60px;
        background: url('../images/young/ulthera/ulthera_caution_1.jpg') #f5f5f5 no-repeat left center / cover;

		#{$this}__img{display: none;}
        #{$this}__head{bottom: auto;top: 105px;}
        #{$this}__body{padding-left: 425px;}
    }

    @media only screen and (max-width: $tablet-size){
        &.type-ulthera{padding-right: 40px;background: #f5f5f5;

            #{$this}__head{}
			#{$this}__img{display: block;}
            #{$this}__body{padding-left: 0;}
        }
    }
    @media only screen and (max-width: $mobile-size){
        &.type-ulthera{padding-right: 34px;}
    }
}

.detail{
	$this:&;

	&.type-ulthera{
		#{$this}__area{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/young/ulthera/ulthera_bg_5.jpg') no-repeat center center / cover;}
	}

	@media only screen and (max-width: $minpc-size2) {
		&.type-ulthera{
			#{$this}__inner{background:url('../images/young/ulthera/ulthera_bg_5_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/young_bg.jpg') no-repeat center center / cover;}
		}
	}
}
