@charset "UTF-8";
@import "mixins";
.visual{
	&.type-ultra{
		&:before{background:url('../images/petit/ultra/ultra_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-ultra{
			&:before{background:url('../images/petit/ultra/ultra_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-ultra{padding-bottom:0; padding-left:200px; padding-right:200px; background:url('../images/petit/ultra/ultra_bg_1.jpg') no-repeat center center / cover; transform: translateZ(0);
		#{$this}__area{position:relative; padding-bottom:136.04%; background:url('../images/petit/ultra/ultra_bg_2.jpg') no-repeat center center / cover; box-sizing:border-box;
			&:before{position:absolute; top:0; bottom:0; left:0; right:0; height:51.28%; margin:auto -200px; background:url('../images/petit/ultra/ultra_bg_3.jpg') no-repeat center center / cover; content:''; z-index:-1;}
			&:after{position:absolute; top:0; bottom:0; left:0; right:0; height:85.47%; border:10px solid #fff;  margin:auto -90px; z-index:1; content:'';}
		}
		#{$this}__list{left:0; right:0; bottom:11.11%; text-align:center;}
		#{$this}__item{display:inline-block;
			& + #{$this}__item{margin:0 0 0 20px;}
		}
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#fff;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-ultra{padding-left:40px; padding-right:40px;
			#{$this}__area{padding:0 54px;
				&:before{display:none;}
				&:after{display:none;}
			}
			#{$this}__img{position:relative;
				&:before{position:absolute; top:0; bottom:0; left:0; right:0; height:47.74%; margin:auto -94px; background:url('../images/petit/ultra/ultra_bg_3.jpg') no-repeat center center / cover; content:''; z-index:-1;}
				&:after{position:absolute; top:0; bottom:0; left:0; right:0; height:83.33%; border:8px solid #fff;  margin:auto -54px; z-index:1; content:'';}
			}
			#{$this}__list{left:auto; right:auto;}
			#{$this}__item{border-color:#fff; background-color:rgba(255, 255, 255, 0.2);}
			#{$this}__subject{color:#fff;
				&:before{background-position-x:0px}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-ultra{padding-left:20px; padding-right:20px;
			#{$this}__img{
				&:before{height:40.58%; margin:auto -20px;}
				&:after{display:none;}
			}
			#{$this}__area{padding-left:0; padding-right:0;}
			#{$this}__list{text-align:justify;}
			#{$this}__item{display:inline-block;
				& + #{$this}__item{margin:0;}
			}
		}
	}
}

.section-st1{
	$this:&;
	&.type-ultra{position:relative; padding-top:0;
		&:before{position:absolute; top:0; left:0; right:0; height:0; padding-bottom:59.52%;  background:url('../images/petit/ultra/ultra_bg_4.jpg') no-repeat center center / cover; z-index:-1; content:'';}
		#{$this}__box{position:relative; background:url('../images/petit/ultra/ultra_img_1.jpg') no-repeat center center / cover;}
		#{$this}__tit{color:#fff;}
		.content-head{padding-top:60px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-ultra{
			#{$this}__box{
				&:before{display:none;}
			}
			#{$this}__tit{color:$black1;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-ultra{
			#{$this}__img{position:relative;
				&:before{ margin:auto -20px; padding-bottom:69%;}
			}
			.content-head{padding-top:30px;}
		}
	}
}
.where{
	$this:&;
	&.type-ultra{
		#{$this}__wrap{padding-top:300px; padding-bottom:340px; background:url('../images/petit/ultra/ultra_bg_5.png') no-repeat center center / contain;
			&:before{height:280px; background-color:#d6f7fe;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-ultra{
			#{$this}__wrap{padding-top:0; padding-bottom:0;}
		}
	}
}
.detail{
	$this:&;
	&.type-ultra{
		#{$this}__area{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/petit/ultra/ultra_bg_6.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-ultra{
			#{$this}__inner{background:url('../images/petit/ultra/ultra_bg_6_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		}
	}
}

.vertical-box{
	&__txt{position:absolute; top:0; bottom:0; margin:auto 0;  font-size:18px; color:#fff; font-weight:$bold; writing-mode:tb-rl; letter-spacing: 10px;
		&.type-1{left:-46px; transform:rotate(-180deg);}
		&.type-2{right:-46px;}
	}
	@media only screen and (max-width: $tablet-size) {display:none;}
}
