@charset "utf-8";

// SCSS
//
// Styleguide 2.

// Variables
//
// 공통으로 사용되는 SCSS 변수들입니다.
//
// ```
// //Grid System
// $site-width:1200px;
// $column-width:216px;
// $gutter-width:30px;
//
// //Gray Color
// $gray1:#767676;
// $gray2:#222;
//
// //Point Color
// $color1:#1991d7;
//
// //Font Family
// $font1:'Nanum Gothic', sans-serif;
// $font2:'Open Sans',sans-serif;
// ```
//
// Markup:
// 　
//
// Styleguide 2.1

//Grid System
$site-width:1200px;
$column-width:216px;
$gutter-width:30px;

//Gray Color
$gray1:#767676;
$gray2:#222;

//Point Color
$color1:#1991d7;

//Font Family
$font1:'Nanum Gothic', sans-serif;
$font2:'Open Sans',sans-serif;
