@charset "UTF-8";
@import "mixins";
.visual{
	&.type-vfit{
		&:before{background:url('../images/petit/vfit/vfit_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-vfit{
			&:before{background:url('../images/petit/vfit/vfit_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-vfit{position:relative; padding:40px; background:url('../images/petit/vfit/vfit_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom:110.75%;}
		#{$this}__box{background:url('../images/petit/vfit/vfit_bg_2.jpg') no-repeat center center / cover; z-index:1;}
		#{$this}__list{top:70px; left:40px;}
		#{$this}__inner{background:url('../images/petit/vfit/vfit_bg_white.jpg') #fff no-repeat center center / contain; transform: translateZ(0);
			&:after{position:absolute; left:0; right:0; bottom:0; height:0; margin:0 -40px -40px; padding-bottom:32.15%; z-index:-1; background-color:$petit; content:'';}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-vfit{padding:12px;
			#{$this}__area{padding-bottom:0;}
			#{$this}__box{background:none;}
			#{$this}__inner{background:none; background-color:#fff;
				&:after{margin:0 -12px -12px;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-vfit{padding:8px;
			#{$this}__inner{
				&:after{margin:0 -8px -8px;}
			}
		}
	}
}
.section-mid{
	$this:&;
	&.type-vfit{height:800px;
		#{$this}__img{background:url('../images/petit/vfit/vfit_img_1.jpg') no-repeat center center / cover;}
		#{$this}__area{padding-right:360px;}
		#{$this}__wrap{position:absolute; top:0; bottom:0; right:0; width:520px; height:644px; z-index:20; margin:auto 0; }
		#{$this}__box{display:table-cell; height:inherit; padding:0 10px 0 80px; vertical-align:middle; background-color:#fff;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-vfit{height:auto;
			#{$this}__img{padding-bottom:88.88%;}
			#{$this}__area{margin-top:0; padding-right:0;}
			#{$this}__wrap{position:static; top:auto; bottom:auto; right:auto; width:auto; height:auto; margin-top:-60px; padding:0 40px;}
			#{$this}__box{display:block; height:auto; padding:60px 0 0 0; }
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-vfit{
			#{$this}__wrap{margin-top:-30px; padding:0 15px;}
			#{$this}__box{overflow:visible; padding-top:30px; }
			#{$this}__txt{margin-left:-15px; margin-right:-15px;}
		}
	}
}
.where{
	$this:&;
	&.type-vfit{
		#{$this}__wrap{padding-top:320px; padding-bottom:340px; background:url('../images/petit/vfit/vfit_bg_3.png') no-repeat center center / contain;
			&:before{height:280px; background-color:#d6f7fe;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-vfit{
			#{$this}__wrap{padding-top:0; padding-bottom:0;}
		}
	}
}
.detail{
	$this:&;
	&.type-vfit{
		#{$this}__area{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/petit/vfit/vfit_bg_4.jpg') no-repeat center center / cover; }
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-vfit{
			#{$this}__inner{background:url('../images/petit/vfit/vfit_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		}
	}
}
