@charset "UTF-8";
@import "mixins";
.visual{
	&.type-water{
		&:before{background:url('../images/petit/water/water_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-water{
			&:before{background:url('../images/petit/water/water_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-water{position:relative;  background:url('../images/petit/water/water_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{margin-top:-80px; padding-bottom:113.78%;}
		#{$this}__box{background:url('../images/petit/water/water_bg_2.png') no-repeat center center / cover; z-index:1;}
		#{$this}__list{top:110px; right:-30px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-water{
			#{$this}__area{margin-top:28px; padding-bottom:0;}
			#{$this}__box{background:none;}
			#{$this}__img{margin-top:64px; padding:0 40px; border:30px solid #fff; border-bottom:none; box-sizing:border-box;
				& img{margin-top:-64px;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-water{
			#{$this}__area{margin-top:14px;}
			#{$this}__img{margin-top:34px; padding:0 15px; border-width:15px;
				& img{margin-top:-30px;}
			}
		}
	}
}
.section-mid{
	$this:&;
	&.type-water{height:800px;
		#{$this}__img{background:url('../images/petit/water/water_img_1.jpg') no-repeat center center / cover;}
		#{$this}__area{padding-right:360px;}
		#{$this}__wrap{position:absolute; top:0; bottom:0; right:0; width:520px; height:644px; z-index:20; margin:auto 0; }
		#{$this}__box{display:table-cell; height:inherit; padding:0 10px 0 80px; vertical-align:middle; background-color:#fff;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-water{height:auto;
			#{$this}__img{padding-bottom:88.88%;}
			#{$this}__area{margin-top:0; padding-right:0;}
			#{$this}__wrap{position:static; top:auto; bottom:auto; right:auto; width:auto; height:auto; margin-top:-60px; padding:0 40px;}
			#{$this}__box{display:block; height:auto; padding:60px 0 0 0; }
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-water{
			#{$this}__wrap{margin-top:-30px; padding:0 15px;}
			#{$this}__box{overflow:visible; padding-top:30px; }
			#{$this}__txt{margin-left:-15px; margin-right:-15px;}
		}
	}
}
.where{
	$this:&;
	&.type-water{
		#{$this}__wrap{padding-top:180px; padding-bottom:240px; background:url('../images/petit/water/water_bg_3.png') no-repeat center center / contain;
			&:before{background-color:#d6f7fe;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-water{
			#{$this}__wrap{padding-top:0; padding-bottom:0;}
		}
	}
}
.detail{
	$this:&;
	&.type-water{
		#{$this}__area{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/petit/water/water_bg_4.jpg') no-repeat center center / cover; }
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-water{
			#{$this}__inner{background:url('../images/petit/water/water_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		}
	}
}
