@charset "UTF-8";
@import "mixins";
.visual{
	&.type-zeltiq{
		&:before{background:url('../images/slim/zeltiq/zeltiq_visual_1.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-zeltiq{
			&:before{background:url('../images/slim/zeltiq/zeltiq_visual_1_t.jpg') no-repeat center center / cover;}
		}
	}
}
.section-head{
	$this:&;
	&.type-zeltiq{position:relative; padding:150px 0 260px; background:url('../images/slim/zeltiq/zeltiq_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom:75.47%; background:url('../images/slim/zeltiq/zeltiq_bg_2.jpg') no-repeat center center / cover;}
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#fff; padding:0 280px;}
		#{$this}__box{
			&:after{position:absolute; bottom:-100px; left:56px;
				display:block; width:188px; height:238px; background:url('../images/slim/zeltiq/zeltiq_ice_1.png') no-repeat center center / contain; content:''; z-index:1;}
		}
		#{$this}__list{top:80px; right:80px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-zeltiq{padding:100px 94px; background:url('../images/slim/zeltiq/zeltiq_bg_1_t.jpg') no-repeat center center / cover;
			#{$this}__area{padding-bottom:0;}
			#{$this}__box{
				&:after{display:none;}
			}
			#{$this}__txt{padding:0;}
			#{$this}__img{position:relative; margin-left:-94px; margin-right:-94px;
				&:after{position:absolute; bottom:-120px; left:10px;
					display:block; width:158px; height:200px; background:url('../images/slim/zeltiq/zeltiq_ice_1.png') no-repeat center center / contain; content:''; z-index:1;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-zeltiq{padding:50px 20px 40px;
			#{$this}__img{position:relative; margin-left:-20px; margin-right:-20px;
				&:after{display:none; bottom:-60px; left:10px; width:77px; height:97px;}
			}
			#{$this}__item{width:60px; height:60px;}
		}
	}
}
.section-mid{
	$this:&;
	&.type-zeltiq{height:800px;
		#{$this}__img{background:url('../images/slim/zeltiq/zeltiq_img_1.jpg') no-repeat center center / cover;}
		#{$this}__area{padding-right:360px;}
		#{$this}__wrap{position:absolute; top:0; bottom:0; right:0; width:584px; height:644px; z-index:20; margin:auto 0; }
		#{$this}__box{display:table-cell; height:inherit; padding:0 10px 0 80px; vertical-align:middle; background-color:#fff;}
		.highlight1,.highlight2{letter-spacing:-1px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-zeltiq{height:auto;
			#{$this}__img{padding-bottom:88.88%;}
			#{$this}__area{margin-top:0; padding-right:0;}
			#{$this}__wrap{position:static; top:auto; bottom:auto; right:auto; width:auto; height:auto; margin-top:-60px; padding:0 40px;}
			#{$this}__box{display:block; height:auto; padding:60px 0 0 0; }
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-zeltiq{
			#{$this}__wrap{margin-top:-30px; padding:0 15px;}
			#{$this}__box{overflow:visible; padding-top:30px; }
			#{$this}__txt{margin-left:-15px; margin-right:-15px;}
		}
	}
}
.how{
	$this:&;
	&.type-zeltiq{overflow:hidden;
		#{$this}__tit2{margin-left:-20px; margin-right:-20px;}
	}
}
.where{
	$this:&;
	&.type-zeltiq{
		#{$this}__wrap{padding-top:200px; padding-bottom:240px; background:url('../images/slim/zeltiq/zeltiq_bg_3.png') no-repeat center center / contain;
			&:before{height:400px; background-color:#e6f7ff;}
		}
		#{$this}__subject{margin-left:-50px; margin-right:-50px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-zeltiq{overflow:hidden;
			#{$this}__wrap{padding-top:0; padding-bottom:0;}
			#{$this}__subject{margin-left:-20px; margin-right:-20px;}
		}
	}
}
.detail{
	$this:&;
	&.type-zeltiq{
		#{$this}__area{background:url('../images/content/slim_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/slim/zeltiq/zeltiq_bg_4.jpg') no-repeat center center / cover; }
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-zeltiq{
			#{$this}__inner{background:url('../images/slim/zeltiq/zeltiq_bg_4_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/content/slim_bg.jpg') no-repeat center center / cover;}
		}
	}
}
