@charset "utf-8";
@import "mixins";
.etc-visual{
	&.type-cart{background:url('../images/cart/cart_visual_1.jpg') no-repeat center center / cover;}
	@media only screen and (max-width: $tablet-size) {
		&.type-cart{background:url('../images/cart/cart_visual_1_t.jpg') no-repeat center center / cover;}
	}
}

.cart{text-align:center;
	&__box{display:inline-block; padding:24px 40px; box-sizing:border-box; border:3px solid #000; box-shadow: 4px 4px 0px 0px $point2;}
	&__tit{margin:0; font-size:28px; font-weight:$light; color:$black1;
		&:before{display:block; width:44px; height:44px; margin:0px auto 12px; background:url('../images/cart/cart_icon.png') no-repeat center center / contain; content:'';}
		strong{font-weight:$bold; }
	}
	&__noti{margin:50px 0 0 0; font-size:16px; color:$black3; line-height:1.4;}
	&__point{color:$black1;}
	&__list{margin:50px 0 0 0; padding:0; font-size:0; text-align:center;
		&.is-hide{display:none;}
	}
	&__item{display:inline-block; list-style:none;
		& + &{margin-left:20px;}
	}
	&__link{display:inline-block; width:358px; height:60px; border:1px solid #000; font-size:16px; color:$black1; box-sizing:border-box; text-decoration:none; text-align:center;
		span{position:relative; display:inline-block; height:100%; padding-right:25px; vertical-align:middle;
			&:after{position:absolute; top:0; bottom:0; right:0; display:block; width:5px; height:7px; margin:auto 0; background:url('../images/cart/cart_arrow.gif') no-repeat center center / contain; content:'';}
			&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
		}
	}
	@media only screen and (max-width: $tablet-size) {padding:0 40px; box-sizing:border-box;
		&__box{width:100%; padding:54px 5px;}
		&__item{display:block; text-align:center;
			& + &{margin:20px 0 0 0;}
		}
	}
	@media only screen and (max-width: $mobile-size) {padding:0 20px;
		&__tit{font-size:1.9rem;
			&:before{width:27px; height:27px;}
		}
		&__box{padding:18px 5px 16px; border:2px solid #000; box-shadow: 2px 2px 0px 0px $point2;}
		&__list{margin-top:24px; padding:0 60px; box-sizing: border-box;}
		&__item{
			& + &{margin:10px 0 0 0;}
		}
		&__link{width:100%; height:32px; font-size:1.3rem;
			span{padding-right:15px;
				&:after{width:5px; height:9px; background:url('../images/cart/cart_arrow_m.gif') no-repeat center center / contain; }
			}
		}
		&__noti{margin-top:24px; font-size:1.3rem;}
	}
}
.product{margin-top:64px;
	&__list{margin:0; padding:0; border-top:2px solid #000;
		&.is-hide{display:none;}
	}
	&__item{position:relative; padding-right:100px; list-style:none; box-sizing:border-box; text-align:left;
		& + &{border-top:1px solid #ccc;}
		&:after{display:block; clear:both; content:'';}
	}
	&__box{float:left; width:81%; padding-left:130px; padding-right:10px; box-sizing:border-box;}
	&__icon{position:absolute; top:0; left:40px; bottom:0; width:70px; height:70px; margin:auto 0;
		img{width:100%;}
	}
	&__inner{font-size:20px; color:$black1; font-weight:$bold;}
	&__wrap{display:table-cell; width:1%; height:130px; vertical-align:middle;}
	&__detail{margin-left:20px; font-size:16px; font-weight:$light;}
	&__name,&__category,&__detail{vertical-align:middle;}
	&__price{float:left; width:19%; font-size:20px; font-weight:$bold; color:$black1; text-align:center;}
	&__del{position:absolute; top:0; right:0; bottom:0; width:100px; text-align:center;}
	&__btn{position:absolute; top:0; bottom:0; left:0; right:0; display:inline-block; margin:auto; width:60px; height:30px; line-height:30px; color:#fff; background-color:#000; font-size:16px; font-weight:$regular; text-decoration:none;}
	&__total{padding:20px; border-top:1px solid #000; background-color:#f5f5f5; border-bottom:2px solid #000;text-align:right;
		&.is-hide{display:none;}
	}
	&__txt{margin:0;  font-size:20px; font-weight:$regular; vertical-align:middle; }
	&__sum{margin-left:28px; font-weight:$bold; color:$point2;}
	&__clear{display:none; padding:54px 10px; border-top:2px solid #000; border-bottom:1px solid #000; font-size:20px; color:$black1; box-sizing:border-box;
		&.is-active{display:block;}
	}
	@media only screen and (max-width: $tablet-size) {margin-top:50px;
		&__icon{width:100px; height:100px;}
		&__item{padding:46px 140px 46px 0px;}
		&__del{width:140px;}
		&__box{float:none; width:100%; padding-left:160px;}
		&__price{float:none; width:100%; padding-left:160px;  margin-top:24px; text-align:left; box-sizing:border-box;}
		&__detail{display:block; margin-left:0; margin-top:6px;}
		&__wrap{display:block; width:auto; height:auto;}
	}
	@media only screen and (max-width: $mobile-size) {margin:24px -20px 0;
		&__icon{left:20px; width:50px; height:50px;}
		&__item{padding:24px 70px 24px 0px;}
		&__del{width:70px;}
		&__box{padding-left:84px;}
		&__price{padding-left:84px; margin-top:12px; font-size:1.4rem; }
		&__detail{margin-top:3px; font-size:1.2rem;}
		&__inner{font-size:1.4rem;}
		&__btn{width:34px; height:20px; line-height:20px; font-size:1rem;}
		&__total{padding:14px 20px;}
		&__txt{font-size:1.3rem;  }
		&__sum{margin-left:14px; }
		&__clear{padding:46px 5px; font-size:1.4rem; color:$black1;}
	}
}
