@charset "UTF-8";
@import "variables";
@import "mixins";
@import "medical";
.container-top{
	&.type-cok{background:url('../images/cok/cok_top_1.jpg') no-repeat center center / cover;}
	@media only screen and (max-width: $tablet-size) {
		&.type-cok{background:url('../images/cok/cok_top_1_t.jpg') no-repeat center center / cover;}
	}
}

.cok{margin-top:100px;
	$this:&;
	&__top{padding-bottom:36px; border-bottom:2px solid $black1; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__tit{float:left; margin:0; font-size:20px; font-family:$font-Eb; font-weight:$Ebold; vertical-align:middle;}
	&__vat{float:right; margin:0; font-size:16px; font-weight:$regular; color:$black3; vertical-align:middle;}
	&__list{margin:0; padding:0;}
	&__item{padding:50px 0; border-bottom:1px solid #b2b2b2; list-style:none; box-sizing:border-box;
		&.is-active{
			#{$this}__btn{background-color:$black1; color:#fff;}
		}
	}
	&__header{position:relative; padding-right:160px; box-sizing:border-box;}
	&__subject{margin:0; font-size:24px; color:$black1; font-weight:$regular;}
	&__txt{margin:14px 0 0 0; font-size:16px; color:$black3; line-height:1.6;}
	&__price{margin:44px 0 0 0;}
	&__default{font-size:16px; font-weight:$regular; color:$black3; text-decoration:line-through; vertical-align:middle;
		& + #{$this}__sale{margin-left:5px;}
	}
	&__sale{font-size:24px; font-weight:$regular; vertical-align:middle; color:$main;}
	&__btn{position:absolute; top:0; bottom:0; right:0; display:block; width:130px; height:100px; margin:auto 0; border:1px solid $black1; font-size:16px; font-weight:$regular; text-align:center; text-decoration:none; color:inherit;
		span{display:inline-block; height:100%; vertical-align:middle;
			&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
		}
	}
	&__body{display:none; margin-top:60px; padding:100px 50px; background-color:#f4f4f4; box-sizing:border-box;}
	&__subtit{position:relative; margin:0 0 26px 0; padding-left:20px; font-size:24px; color:$black1; box-sizing:border-box;
		&:before{position:absolute; top:4px; bottom:0; left:0; display:block; width:10px; height:20px;  border-radius:10px; background:$main; content:'';}
	}
	&__box{
		& + &{margin-top:90px;}
	}
	&__price{margin-top:14px;}
	&__default{font-size:1.3rem;
		& + #{$this}__sale{margin-left:8px;}
	}
	&__sale{font-size:1.5rem;}
	@media only screen and (max-width: $tablet-size) {
		&.type-medical{padding:0 60px; box-sizing:border-box;}
		&__box{
			& + &{margin-top:60px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:50px;
		&.type-medical{padding:0;}
		&__top{padding-bottom:16px; border-width:1px;}
		&__box{
			& + &{margin-top:30px;}
		}
		&__tit{font-size:1.9rem;}
		&__vat{font-size:1.3rem;}
		&__header{padding-right:0;}
		&__item{padding:30px 0;}
		&__subject{font-size:1.5rem;}
		&__txt{font-size:1.3rem;}
		&__btn{position:static; width:auto; margin-top:24px; height:34px;}
		&__body{margin-top:30px; padding:30px 20px;}
		&__subtit{margin-bottom:16px; padding-left:10px; font-size:1.5rem;
			&:before{width:5px; height:10px; border-radius:5px;}
		}
	}
}

.circle-style{
	&__list{margin:0 0 0 -20px; padding:0; font-size:0;}
	&__item{display:inline-block; width:25%; padding-left:20px;  list-style:none;  text-align:center; font-size:20px; color:$black2; line-height:1.6; box-sizing:border-box;}
	&__outer{position:relative; height:0; padding-bottom:100%; background:#fff; border:1px solid $main; border-radius:50%;}
	&__inner{position:absolute; top:0; left:0; display:inline-table; width:100%; height:100%;}
	&__vertical{display:table-cell; vertical-align:middle; padding:50px; box-sizing:border-box; word-break: break-all;}
	@media only screen and (max-width: $tablet-size) {
		&__item{width:50%;
			&:nth-child(2) ~ &{margin-top:20px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__item{font-size:1.3rem;}
		&__vertical{padding:10px 25px;}
	}
}


.cok-info{
	&__box{padding:50px 0; border-bottom:1px solid #b2b2b2; box-sizing:border-box;}
	&__wrap{position:relative;}
	&__subject{margin:0; font-size:20px; font-weight:$regular; color:$black1;}
	&__img{margin-top:26px; text-align:center;}
	&__link{display:block; color:inherit; text-decoration:none;}
	&__video{position: relative;width: 100%;height: 0;padding-bottom: 56.25%;
		iframe{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
	}

	@media only screen and (max-width: $tablet-size) {
		&__box{padding:60px 0;}
		&__img{margin-top:36px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__subject{font-size:1.5rem;}
		&__box{padding:30px 0;}
		&__img{margin-top:16px;}
	}
}

.btn-group{margin-top:50px;
	$this:&;
	&__list{margin:0; padding:0; font-size:0; text-align:center;}
	&__item{display:inline-block; list-style:none;
		& + &{margin-left:10px;}
		&.type-list{background-color:$black1;
			#{$this}__link{padding:0 56px; color:#fff;}
		}
	}
	&__link{display:block; height:48px; padding:0 26px; font-size:16px; border:1px solid $black1; color:$black1;
		span{display:inline-block; height:100%; padding-top:2px; box-sizing:border-box; vertical-align:middle;
			&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
		}
	}
	&__prev,&__next{position:relative;
		&:after{position:absolute; top:0; bottom:0; display:block; width:8px; height:12px; margin:auto 0;content:'';}
	}
	&__prev{padding-left:18px;
		&:after{position:absolute; left:0; background:url('../images/common/btn_prev.png') no-repeat center center / contain;}
	}
	&__next{padding-right:18px;
		&:after{position:absolute; right:0; background:url('../images/common/btn_next.png') no-repeat center center / contain;}
	}
	@media only screen and (max-width: $tablet-size) {margin-top:60px;}
	@media only screen and (max-width: $mobile-size) {margin-top:30px;
		&__list{position:relative; }
		&__link{height:34px; padding:0 18px; font-size:1.3rem;
			span{padding-top:1px;}
		}
		&__item{
			&.type-prev{position:absolute; top:0; left:0;}
			&.type-next{position:absolute; top:0; right:0;}
			&.type-list{
				#{$this}__link{padding:0 36px;}
			}
			& + &{margin-left:0;}
		}
		&__prev,&__next{position:relative;
			&:after{width:7px; height:12px;}
		}
		&__prev{padding-left:12px;
			&:after{background:url('../images/common/btn_prev_m.png') no-repeat center center / contain;}
		}
		&__next{padding-right:12px;
			&:after{background:url('../images/common/btn_next_m.png') no-repeat center center / contain;}
		}
	}
}

.cok-list{
	$this:&;
	&__list{margin:0 0 0 -40px; padding:0; list-style:none; font-size:0;
		&.type-number{counter-reset:section;
			#{$this}__box{
				&:before{position:absolute; top:18px; left:20px; display:block; width:30px; height:30px; background:$black1; color:#fff; border-radius:50%;
				line-height:30px; text-align:center; counter-increment:section; content:counter(section);}
			}
		}
		&.type-check{
			#{$this}__box{
				&:before{position:absolute; top:14px; left:20px; display:block; width:30px; height:34px; background:url('../images/cok/cok_check.png') no-repeat center center / contain; content:'';}
			}
		}
	}
	&__item{display:inline-block; width:50%; padding-left:40px; box-sizing:border-box; word-break:break-all;
		&:nth-child(2) ~ &{margin-top:20px;}
	}
	&__box{position:relative; padding:20px 60px; border:1px solid #ddd; list-style:none; box-sizing:border-box; background-color:#fff; font-size:20px; color:$black2;}
	@media only screen and (max-width: $tablet-size) {
		&__list{margin-left:0;}
		&__item{width:100%; padding-left:0;
			& + &{margin-top:20px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__list{
			&.type-number{
				#{$this}__box{
					&:before{top:14px; left:10px; width:20px; height:20px; line-height:20px;}
				}
			}
			&.type-check{
				#{$this}__box{
					&:before{top:12px; left:10px; display:block; width:21px; height:24px; background:url('../images/cok/cok_check_m.png') no-repeat center center / contain;}
				}
			}
		}
		&__item{
			& + &{margin-top:10px;}
			&:nth-child(2) ~ &{margin-top:10px;}
		}
		&__box{padding:16px 40px; font-size:1.3rem;}
	}
}

.qna{
	&__list{margin:0; padding:0;}
	&__item{list-style:none; font-size:20px; line-height:1.6;}
	&__box{position:relative; padding:30px 46px; border:1px solid #868686;  box-sizing:border-box;
		&.type-q{background:#868686; color:#fff;
			&:before{content:'Q.'}
		}
		&.type-d{background-color:#fff;
			&:before{color:$main; content:'A.'}
		}
		&:before{position:absolute; top:30px; left:20px; font-family:$font-Eb; font-weight:$Ebold;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__item{font-size:1.3rem;}
		&__box{padding:18px 30px;
			&:before{top:18px; left:10px;}
		}
	}
}
