@charset "UTF-8";
@import "mixins";
.visual{position:relative; overflow:hidden; width:100%; height:100vh;
	$this:&;
	&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; content:''; -ms-transform:scale(1.2);transform:scale(1.2); transition:transform 1s ease; z-index:-1;}
	&.is-active{
		&:before{-ms-transform:scale(1);transform:scale(1);}
		#{$this}__box{margin-top:0; opacity:1;}
	}
	&__wrap{height:100%; padding:0 100px; box-sizing:border-box;}
	&__tit{margin:94px 0 0 0; font-size:46px; color:$black1; line-height:1.2; font-weight:$regular;}
	&__inner{display:inline-table; width:100%; height:100%; vertical-align:middle;}
	&__vertical{display:table-cell; vertical-align:middle; text-align:right;}
	&__box{position:relative; display:inline-block; width:630px; margin-top:200px; opacity:0; padding:70px 70px 80px; background-color:#fff; box-sizing:border-box; text-align:center;
		transition:margin 1s ease, opacity 1s ease; transition-delay: 0.8s;
	}
	&__tag{margin:24px 0 0 0; font-size:18px; color:$black2; font-weight:$regular;}
	&__price{margin:24px 0 0 0; }
	&__price-icon{vertical-align:middle; font-size:30px; font-weight:$bold; line-height:1;}
	&__price-won{margin-left:5px; font-size:40px; font-weight:$regular; vertical-align:middle; line-height:1;}
	&__remark{margin: 8px 0 0 0;font-size: 18px;
		& + #{$this}__noti{margin-top: 60px;}
	}
	&__noti{margin:84px 0 0 0; font-size:12px; color:$black3;}
	&__list{margin:40px 0 0 0; padding:0; font-size:0;}
	&__item{display:inline-block; list-style:none;
		& + &{margin-top:20px;}
		&.type-basket{
			#{$this}__btn-wrap:before{width:22px; height:20px; background:url('../images/common/content_basket.png'); content:'';}
		}
		&.type-counseling{
			#{$this}__btn-wrap:before{left:2px; width:20px; height:18px; background:url('../images/common/content_counseling.png'); content:'';}
		}
	}
	&__btn{display:block; width:340px; height:60px; border:1px solid $black2; font-size:16px; color:$black2; text-decoration:none; box-sizing:border-box;}
	&__btn-wrap{position:relative; display:inline-block; height:100%; padding-left:30px; vertical-align:middle; box-sizing:border-box;
		&:before{position:absolute; top:-2px; bottom:0; left:0; margin:auto 0; content:'';}
		&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	@media only screen and (max-width: $tablet-size) {position:relative;
		&.is-active{
			#{$this}__vertical{bottom:34px}
		}
		&__tit{margin-top:30px;}
		&__tag{margin-top:10px;}
		&__inner{display:block; width:auto; height:auto;}
		&__vertical{position:absolute; left:0; right:0; bottom:-10px; padding:0 30px; box-sizing:border-box; transition:bottom 1s ease; transition-delay: 0.8s;}
		&__box{width:100%; padding:50px; box-sizing:border-box;}
		&__noti{margin-top:40px;}
		&__price{margin-top:16px;}
		&__remark{
			& + #{$this}__noti{margin-top: 34px;}
		}
		&__list{margin-left:-10px;}
		&__item{width:50%; padding-left:10px; box-sizing:border-box;
			& + &{margin-top:0;}
		}
		&__btn{width:100%;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.is-active{
			#{$this}__vertical{bottom:17px}
		}
		&__tit{margin-top:12px; font-size:2.6rem;}
		&__tag{margin-top:10px; font-size:1.3rem;}
		&__vertical{padding:0 15px;}
		&__box{padding:30px 15px;}
		&__price-icon{position:relative; top:3px; font-size:1.6rem;}
		&__price-won{margin-left:3px; font-size:2.4rem;}
		&__remark{margin-top: 6px;font-size: 1.3rem;
			& + #{$this}__noti{margin-top: 20px;}
		}
		&__noti{margin-top:18px; font-size:1.1rem;}
		&__list{margin-top:14px;}
		&__item{
			&.type-basket{
				#{$this}__btn-wrap:before{width:14px; height:13px; background:url('../images/common/content_basket_m.png') no-repeat center center / 14px 13px;}
			}
			&.type-counseling{
				#{$this}__btn-wrap:before{left:2px; width:13px; height:11px; background:url('../images/common/content_counseling_m.png') no-repeat center center / 13px 11px; content:'';}
			}
		}
		&__btn{height:30px; font-size:1.2rem;}
		&__btn-wrap{padding-left:20px;}
	}
}


.breadcrumb{text-align:left;
	$this:&;
	&__list{margin:0; padding:0; font-size:0;}
	&__item{position:relative; display:inline-block; list-style:none; vertical-align:middle; font-size:13px;
		&.type-home{overflow:hidden; width:16px; height:14px; background:url('../images/common/breadcrumb_home.png') no-repeat center center; text-indent:-999px;
			#{$this}__link{display:block;}
		}
		&.type-1depth{color:$black3;}
		&.type-2depth{color:$black2;}
		& + &{padding-left:16px;
			&:before{position:absolute; top:0; left:6px; bottom:0; width:6px; height:10px; margin:auto 0; background:url('../images/common/breadcrumb_arrow.png') no-repeat center center; content:'';}
		}
	}
	&__link{text-decoration:none; color:inherit;}
	@media only screen and (max-width: $tablet-size) {text-align:center;
		&__list{text-align:center;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__item{font-size:1rem;
			&.type-home{width:11px; height:9px;  background:url('../images/common/breadcrumb_home.png') no-repeat center center / 11px 9px;}
			& + &{
				&:before{width:3px; height:5px; background-size:3px 5px;}
			}
		}
	}
}


.section-head{padding:150px 165px 140px; text-align:center; box-sizing:border-box;
	$this:&;
	&__area{position:relative; width:100%; height:0; margin-top:70px; font-size:0;}
	&__box{position:absolute; top:0; left:0; width:100%; height:100%;}
	&__wrap{position:relative; width:100%; height:100%; }
	&__list{position:absolute; margin:0; padding:0;
		&.type-black{
			#{$this}__subject{color:$black2;}
			#{$this}__item{border-color:$black2;
				#{$this}__subject:before{-ms-background-position-x:-40px !important;background-position-x:-40px !important;}
			}
		}
		&.type-bottom{position:static; padding:46px 0; font-size:0;
			#{$this}__item{display:inline-block; margin:0 15px;}
		}
		&.type-bottom2{position:static; padding:20px; border:5px solid #fff; background:url('../images/slim/capsule/capsule_pink.jpg') no-repeat center center / cover; box-sizing:border-box;
			#{$this}__item{display:inline-block;
				& + #{$this}__item{margin:0 0 0 20px;}
			}
		}
		&.type-multi{width:230px; text-align:left;
			#{$this}__item{display:inline-block; text-align:center;
				&:nth-child(even){margin-left:20px;}
			}
		}
		&.type-basic{left:-150px;}
		&.type-sub{right:-150px;}
	}
	&__border{margin-top:100px; border:30px solid #fff; border-bottom:none; padding:0 64px; box-sizing:border-box;}
	&__rl{position:absolute; margin:0; font-size:14px; font-weight:$Ebold; font-family:$font-Eb; text-transform: uppercase; color:#000; writing-mode: tb-rl;}
	&__rl-line{position:relative; padding-top:96px;
		&:before{position:absolute; top:0; left:0; right:0; margin:0 auto; width:0; height:80px; border-left:2px solid #000; content:'';}
	}
	&__item{display:block; width:108px; height:108px; list-style:none; background:rgba(255,255,255,0.2); border:4px solid #fff; border-radius:50%;
		&.nth-0{//이미지없음
			#{$this}__subject{margin-top:4px;
				&:before{display:none;}
			}
		}
		&.nth-2{//모공축소
			#{$this}__subject:before{background-position:0 -34px;}
		}
		&.nth-3{//근육축소
			#{$this}__subject:before{background-position:0 -68px;}
		}
		&.nth-4{//잔주름개선, 주름개선
			#{$this}__subject:before{background-position:0 -102px;}
		}
		&.nth-5{//V라인, 윤곽성형효과
			#{$this}__subject:before{background-position:0 -136px;}
		}
		&.nth-6{//볼륨개선
			#{$this}__subject:before{background-position:0 -170px;}
		}
		&.nth-7{//윤곽교정
			#{$this}__subject:before{background-position:0 -204px;}
		}
		&.nth-8{//피부재생
			#{$this}__subject:before{background-position:0 -238px;}
		}
		&.nth-9{//교근축소
			#{$this}__subject:before{background-position:0 -272px;}
		}
		&.nth-10{//지방파괴
			#{$this}__subject:before{background-position:0 -306px;}
		}
		&.nth-11{//볼살/이중턱제거
			#{$this}__subject:before{background-position:0 -340px;}
		}
		&.nth-12{//반영구적효과
			#{$this}__subject:before{background-position:0 -374px;}
		}
		&.nth-13{//입매개선
			#{$this}__subject:before{background-position:0 -408px;}
		}
		&.nth-14{//입꼬리 리프팅
			#{$this}__subject:before{background-position:0 -442px;}
		}
		&.nth-15{//비대칭개선
			#{$this}__subject:before{background-position:0 -476px;}
		}
		&.nth-16{//이미지변화
			#{$this}__subject:before{background-position:0 -510px;}
		}
		&.nth-17{//피부톤개선
			#{$this}__subject:before{background-position:0 -544px;}
		}
		&.nth-18{//리프팅효과
			#{$this}__subject:before{background-position:0 -578px;}
		}
		&.nth-19{//입체감형성
			#{$this}__subject:before{background-position:0 -612px;}
		}
		&.nth-20{//동안효과
			#{$this}__subject:before{background-position:0 -646px;}
		}
		&.nth-21{//이미지개선
			#{$this}__subject:before{background-position:0 -680px;}
		}
		&.nth-22{//업그레이드 레시피
			#{$this}__subject:before{background-position:0 -714px;}
		}
		&.nth-23{//부종부기 감소
			#{$this}__subject:before{background-position:0 -748px;}
		}
		&.nth-24{//라인개선
			#{$this}__subject:before{background-position:0 -782px;}
		}
		&.nth-25{//셀룰라이트 개선
			#{$this}__subject:before{background-position:0 -816px;}
		}
		&.nth-26{//군살 제거
			#{$this}__subject:before{background-position:0 -850px;}
		}
		&.nth-27{//피부 보습
			#{$this}__subject:before{background-position:0 -884px;}
		}
		&.nth-28{//여드름, 흉터
			#{$this}__subject:before{background-position:0 -918px;}
		}
		&.nth-29{//탈모치료
			#{$this}__subject:before{background-position:0 -952px;}
		}
		&.nth-30{//피부톤 개선
			#{$this}__subject:before{background-position:0 -986px;}
		}
		&.nth-31{//수분보충
			#{$this}__subject:before{background-position:0 -1020px;}
		}
		&.nth-32{//피부재생
			#{$this}__subject:before{background-position:0 -1054px;}
		}
		&.nth-33{//부종개선
			#{$this}__subject:before{background-position:0 -1088px;}
		}
		&.nth-34{//튼살개선
			#{$this}__subject:before{background-position:0 -1122px;}
		}
		&.nth-35{//리프팅효과
			#{$this}__subject:before{background-position:0 -1156px;}
		}
		&.nth-36{//표피세포 활성화
			#{$this}__subject:before{background-position:0 -1190px;}
		}
		&.nth-37{//영양공급
			#{$this}__subject:before{background-position:0 -1224px;}
		}
		&.nth-38{//콜라겐재생
			#{$this}__subject:before{background-position:0 -1258px;}
		}
		&.nth-39{//유,수분 밸런스조정
			#{$this}__subject:before{background-position:0 -1292px;}
		}
		&.nth-40{//피지감소
			#{$this}__subject:before{background-position:0 -1326px;}
		}
		&.nth-41{//바디 리프팅효과
			#{$this}__subject:before{background-position:0 -1360px;}
		}
		&.nth-42{//피지제거
			#{$this}__subject:before{background-position:0 -1394px;}
		}
		&.nth-43{//각질제거
			#{$this}__subject:before{background-position:0 -1428px;}
		}
		&.nth-44{//스트레스 개선
			#{$this}__subject:before{background-position:0 -1462px;}
		}
		&.nth-45{//면역력 개선
			#{$this}__subject:before{background-position:0 -1496px;}
		}
		&.nth-46{//컨디션회복
			#{$this}__subject:before{background-position:0 -1530px;}
		}
		&.nth-47{//노폐물 배출
			#{$this}__subject:before{background-position:0 -1564px;}
		}
		&.nth-48{//기초대사량 증진
			#{$this}__subject:before{background-position:0 -1598px;}
		}
		&.nth-49{//얼굴볼륨개션
			#{$this}__subject:before{background-position:0 -1630px;}
		}
		&.nth-50{//노화방지
			#{$this}__subject:before{background-position:0 -1666px;}
		}
		&.nth-51{//보습효과
			#{$this}__subject:before{background-position:0 -1700px;}
		}
		&.nth-52{//적은 통증
			#{$this}__subject:before{background-position:0 -1736px;}
		}
		&.type-combine{display:none;}
		& + &{margin-top:20px;}
	}
	&__subject{margin:0; font-size:18px; font-weight:$regular; color:#fff;
		&:before{display:block; width:40px; height:34px; margin:0px auto 10px; background:url('../images/content/section-head_icon.png'); content:'';}
		&.type-multi{
			&:before{margin-bottom:5px;}
		}
		&.type-tight{
			&:before{margin-bottom:2px;}
		}
	}
	&__subject-span{display: block;}
	&__img{display:none;}
	&__caption{position:relative; display:inline-block; margin:26px 0 0 0; font-size:14px; font-family:$font-Eb; font-weight:$Ebold; padding:0 10px; color:$black1; box-sizing:border-box;
		&:before,&:after{position:absolute; top:0; bottom:1px; margin:auto 0; width:0; height:10px; border-left:2px solid $black1; content:'';}
		&:before{left:0;}
		&:after{right:0;}
	}
	&__caption2{margin:10px 0 0 0; font-size:14px; text-align:right; color:#fff; font-weight:$bold; text-transform: uppercase;
		span{position:relative; display:inline-block; padding-right:88px; box-sizing:border-box;
			&:after{position:absolute; top:0; bottom:0; right:0; width:80px; height:0; margin:auto 0; border-top:2px solid #fff; content:'';}
		}
	}
	&__caption3{position:absolute; left:0; right:0; bottom:-110px; margin:0; padding:0 320px; font-size:20px; font-weight:$regular; color:#fff; text-align:center; box-sizing:border-box; line-height:1.5;}
	&__caption4{position:absolute; bottom:-77px; left:0; right:0; padding:0 160px; text-align:center; z-index:10; box-sizing:border-box;}
	&__inner{padding:110px 125px 90px; box-sizing:border-box;}
	&__txt{padding:0 94px; box-sizing:border-box;}
	&__txt2{margin:36px 0 0 0; font-size:28px; font-weight:$bold; text-decoration:underline;}
	&__point{text-decoration:underline;}
	&__inline{display:inline-table; height:100%;}
	&__vertical{display:table-cell; vertical-align:middle;}
	&__icon{position:absolute; bottom:40px; right:40px;}
	@media only screen and (max-width: $tablet-size) {padding:70px 40px 80px;
		&__inline{display:block; height:auto;}
		&__vertical{display:block;}
		&__rl{display:none;}
		&__rl-line{display:none;}
		&__area{margin-top:28px; height:auto; padding-bottom:0; background:none !important;}
		&__box{position:static;}
		&__txt{padding:0px;}
		&__border{margin-top:0; padding:0; border:none;}
		&__list{position:static; margin:-10px -5px 0; font-size:0;
			&.type-multi{width:auto; text-align:center;
				#{$this}__item{
					&:nth-child(even){margin-left:10px;}
				}
			}
			&.type-black{
				&.type-another{
					#{$this}__subject{color:#fff;}
					#{$this}__item{border-color:#fff;
						#{$this}__subject:before{background-position-x:0px !important;}
					}
				}
			}
			&.type-white{
				#{$this}__subject{color:#fff;}
				#{$this}__item{border-color:#fff;
					#{$this}__subject:before{background-position-x:0px !important;}
				}
			}
			&.type-top{left:auto; padding:0 50px; box-sizing:border-box;}
			&.type-bottom{margin-top:-40px; padding:40px 10%;
				#{$this}__item{display:inline-block; margin:40px 20px 0;}
			}
			&.type-bottom2{
				#{$this}__item{
					& + #{$this}__item{margin:0 0 0 12px;}
				}
			}
			&.type-basic{left:auto; padding:0 50px; box-sizing:border-box;}
			&.type-sub{display:none; right:auto;}
		}
		&__item{display:inline-block; margin:0px 5px; border-color:$black2; background-color:transparent;
			&.nth-1{//탄력증가
				#{$this}__subject:before{background-position:-40px 0px;}
			}
			&.nth-2{//모공축소
				#{$this}__subject:before{background-position:-40px -34px;}
			}
			&.nth-3{//근육축소
				#{$this}__subject:before{background-position:-40px -68px;}
			}
			&.nth-4{//잔주름개선
				#{$this}__subject:before{background-position:-40px -102px;}
			}
			&.nth-5{//V라인, 턱선개선
				#{$this}__subject:before{background-position:-40px -136px;}
			}
			&.nth-6{//볼륨개선
				#{$this}__subject:before{background-position: -40px -170px;}
			}
			&.nth-7{//윤곽고정
				#{$this}__subject:before{background-position: -40px -204px;}
			}
			&.nth-8{//피부재생
				#{$this}__subject:before{background-position: -40px -238px;}
			}
			&.nth-9{//교근축소
				#{$this}__subject:before{background-position: -40px -272px;}
			}
			&.nth-10{//지방파괴
				#{$this}__subject:before{background-position:-40px -306px;}
			}
			&.nth-11{//볼살/이중턱제거
				#{$this}__subject:before{background-position:-40px -340px;}
			}
			&.nth-12{//반영구적효과
				#{$this}__subject:before{background-position:-40px -374px;}
			}
			&.nth-13{//입매개선
				#{$this}__subject:before{background-position: -40px -408px;}
			}
			&.nth-14{//입꼬리 리프팅
				#{$this}__subject:before{background-position:-40px -442px;}
			}
			&.nth-15{//비대칭개선
				#{$this}__subject:before{background-position:-40px -476px;}
			}
			&.nth-16{//이미지변화
				#{$this}__subject:before{background-position:-40px -510px;}
			}
			&.nth-17{//피부톤개선
				#{$this}__subject:before{background-position:-40px -544px;}
			}
			&.nth-18{//리프팅효과
				#{$this}__subject:before{background-position:-40px -578px;}
			}
			&.nth-19{//입체감형성
				#{$this}__subject:before{background-position:-40px -612px;}
			}
			&.nth-20{//동안효과
				#{$this}__subject:before{background-position:-40px -646px;}
			}
			&.nth-21{//이미지개선
				#{$this}__subject:before{background-position:-40px -680px;}
			}
			&.nth-22{//업그레이드 레시피
				#{$this}__subject:before{background-position:-40px -714px;}
			}
			&.nth-23{//부종부기 감소
				#{$this}__subject:before{background-position:-40px -748px;}
			}
			&.nth-24{//라인개선
				#{$this}__subject:before{background-position:-40px -782px;}
			}
			&.nth-25{//셀룰라이트 개선
				#{$this}__subject:before{background-position:-40px -816px;}
			}
			&.nth-26{//군살 제거
				#{$this}__subject:before{background-position:-40px -850px;}
			}
			&.nth-27{//피부 보습
				#{$this}__subject:before{background-position:-40px -884px;}
			}
			&.nth-28{//여드름, 흉터
				#{$this}__subject:before{background-position:-40px -918px;}
			}
			&.nth-29{//탈모치료
				#{$this}__subject:before{background-position:-40px -952px;}
			}
			&.nth-30{//피부톤 개선
				#{$this}__subject:before{background-position:-40px -986px;}
			}
			&.nth-31{//수분보충
				#{$this}__subject:before{background-position:-40px -1020px;}
			}
			&.nth-32{//피부재생
				#{$this}__subject:before{background-position:-40px -1054px;}
			}
			&.nth-33{//부종개선
				#{$this}__subject:before{background-position:-40px -1088px;}
			}
			&.nth-34{//튼살개선
				#{$this}__subject:before{background-position:-40px -1122px;}
			}
			&.nth-35{//리프팅효과
				#{$this}__subject:before{background-position:-40px -1156px;}
			}
			&.nth-36{//표피세포 활성화
				#{$this}__subject:before{background-position:-40px -1190px;}
			}
			&.nth-37{//영양공급
				#{$this}__subject:before{background-position:-40px -1224px;}
			}
			&.nth-38{//콜라겐재생
				#{$this}__subject:before{background-position:-40px -1258px;}
			}
			&.nth-39{//유,수분 밸런스조정
				#{$this}__subject:before{background-position:-40px -1292px;}
			}
			&.nth-40{//피지감소
				#{$this}__subject:before{background-position:-40px -1326px;}
			}
			&.nth-41{//바디 리프팅효과
				#{$this}__subject:before{background-position:-40px -1360px;}
			}
			&.nth-42{//피지제거
				#{$this}__subject:before{background-position:-40px -1394px;}
			}
			&.nth-43{//각질제거
				#{$this}__subject:before{background-position:-40px -1428px;}
			}
			&.nth-44{//스트레스 개선
				#{$this}__subject:before{background-position:-40px -1462px;}
			}
			&.nth-45{//면역력 개선
				#{$this}__subject:before{background-position:-40px -1496px;}
			}
			&.nth-46{//컨디션회복
				#{$this}__subject:before{background-position:-40px -1530px;}
			}
			&.nth-47{//노폐물 배출
				#{$this}__subject:before{background-position:-40px -1564px;}
			}
			&.nth-48{//기초대사량 증진
				#{$this}__subject:before{background-position:-40px -1598px;}
			}
			&.nth-49{//얼굴볼륨개션
				#{$this}__subject:before{background-position:-40px -1630px;}
			}
			&.nth-50{//노화방지
				#{$this}__subject:before{background-position:-40px -1666px;}
			}
			&.nth-51{//보습효과
				#{$this}__subject:before{background-position:0 -1700px;}
			}
			&.nth-52{//적은 통증
				#{$this}__subject:before{background-position:0 -1736px;}
			}
			& + &{margin-top:10px;}
			&.type-combine{display:inline-block}
		}
		&__subject{color:$black2;}
		&__img{display:block; margin-top:30px;
			img{width:100%;}
		}
		&__inner{padding:50px 80px 80px;}
		&__caption2{display:none;}
		&__caption3{position:static; left:auto; right:auto; bottom:auto; margin-top:56px; padding:0;}
		&__caption4{padding:0 40px;}
		&__icon{bottom:26px; right:26px;}
		&__txt2{margin-top:20px;}
	}
	@media only screen and (max-width: $mobile-size) {padding:40px 20px 50px;
		&__area{margin-top:14px;}
		&__list{text-align: justify; margin:-6px -3px 0;
			&:after{display:inline-block; width:100%; content:'';}
			&.type-black{
				#{$this}__item{
					#{$this}__subject:before{background-position-x:-20px !important;}
				}
			}
			&.type-basic{left:auto; padding:0; text-align:center;}
			&.type-top{left:auto; padding:0; text-align:center;}
			&.type-bottom{margin-top:-20px; padding:24px 5%; text-align:center;
				#{$this}__item{margin:20px 10px 0;}
			}
			&.type-bottom2{margin:0px; padding:10px 0; border-width:2px; text-align:center;
				#{$this}__item{margin:10px;
					& + #{$this}__item{margin:10px;}
				}
			}
		}
		&__item{width:70px; height:70px; margin:6px 3px 0; border-width:2px; text-align:center;
			&.nth-1{//탄력증가
				#{$this}__subject:before{background-position:-20px 0px;}
			}
			&.nth-2{//모공축소
				#{$this}__subject:before{background-position:-20px -17px;}
			}
			&.nth-3{//근육축소
				#{$this}__subject:before{background-position:-20px -34px;}
			}
			&.nth-4{//잔주름개선
				#{$this}__subject:before{background-position:-20px -51px;}
			}
			&.nth-5{//V라인
				#{$this}__subject:before{background-position:-20px -68px;}
			}
			&.nth-6{//볼륨개선
				#{$this}__subject:before{background-position:-20px -85px;}
			}
			&.nth-7{//윤곽고정
				#{$this}__subject:before{background-position:-20px -102px;}
			}
			&.nth-8{//피부재생
				#{$this}__subject:before{background-position:-20px -119px;}
			}
			&.nth-9{//교근축소
				#{$this}__subject:before{background-position:-20px -136px;}
			}
			&.nth-10{//지방파괴
				#{$this}__subject:before{background-position:-20px -153px;}
			}
			&.nth-11{//볼살/이중턱제거
				#{$this}__subject:before{background-position:-20px -170px;}
			}
			&.nth-12{//반영구적효과
				#{$this}__subject:before{background-position:-20px -187px;}
			}
			&.nth-13{//입매개선
				#{$this}__subject:before{background-position:-20px -204px;}
			}
			&.nth-14{//입꼬리 리프팅
				#{$this}__subject:before{background-position:-20px -221px;}
			}
			&.nth-15{//비대칭개선
				#{$this}__subject:before{background-position:-20px -238px;}
			}
			&.nth-16{//이미지변화
				#{$this}__subject:before{background-position:-20px -255px;}
			}
			&.nth-17{//피부톤개선
				#{$this}__subject:before{background-position:-20px -272px;}
			}
			&.nth-18{//리프팅효과
				#{$this}__subject:before{background-position:-20px -289px;}
			}
			&.nth-19{//입체감형성
				#{$this}__subject:before{background-position:-20px -306px;}
			}
			&.nth-20{//동안효과
				#{$this}__subject:before{background-position:-20px -323px;}
			}
			&.nth-21{//이미지개선
				#{$this}__subject:before{background-position:-20px -340px;}
			}
			&.nth-22{//업그레이드 레시피
				#{$this}__subject:before{background-position:-20px -357px;}
			}
			&.nth-23{//부종부기 감소
				#{$this}__subject:before{background-position:-20px -374px;}
			}
			&.nth-24{//라인개선
				#{$this}__subject:before{background-position:-20px -391px;}
			}
			&.nth-25{//셀룰라이트 개선
				#{$this}__subject:before{background-position:-20px -408px;}
			}
			&.nth-26{//군살 제거
				#{$this}__subject:before{background-position:-20px -425px;}
			}
			&.nth-27{//피부 보습
				#{$this}__subject:before{background-position:-20px -442px;}
			}
			&.nth-28{//여드름, 흉터
				#{$this}__subject:before{background-position:-20px -459px;}
			}
			&.nth-29{//탈모치료
				#{$this}__subject:before{background-position:-20px -476px;}
			}
			&.nth-30{//피부톤 개선
				#{$this}__subject:before{background-position:-20px -493px;}
			}
			&.nth-31{//수분보충
				#{$this}__subject:before{background-position:-20px -510px;}
			}
			&.nth-32{//피부재생
				#{$this}__subject:before{background-position:-20px -527px;}
			}
			&.nth-33{//부종개선
				#{$this}__subject:before{background-position:-20px -544px;}
			}
			&.nth-34{//튼살재생
				#{$this}__subject:before{background-position:-20px -561px;}
			}
			&.nth-35{//리프팅효과
				#{$this}__subject:before{background-position:-20px -578px;}
			}
			&.nth-36{//표피세포 활성화
				#{$this}__subject:before{background-position:-20px -595px;}
			}
			&.nth-37{//영양공급
				#{$this}__subject:before{background-position:-20px -612px;}
			}
			&.nth-38{//콜라겐재생
				#{$this}__subject:before{background-position:-20px -629px;}
			}
			&.nth-39{//유,수분 밸런스조정
				#{$this}__subject:before{background-position:-20px -646px;}
			}
			&.nth-40{//피지감소
				#{$this}__subject:before{background-position:-20px -663px;}
			}
			&.nth-41{//바디 리프팅효과
				#{$this}__subject:before{background-position:-20px -680px;}
			}
			&.nth-42{//피지제거
				#{$this}__subject:before{background-position:-20px -697px;}
			}
			&.nth-43{//각질제거
				#{$this}__subject:before{background-position:-20px -714px;}
			}
			&.nth-44{//스트레스 개선
				#{$this}__subject:before{background-position:-20px -731px;}
			}
			&.nth-45{//면역력 개선
				#{$this}__subject:before{background-position:-20px -748px;}
			}
			&.nth-46{//컨디션회복
				#{$this}__subject:before{background-position:-20px -765px;}
			}
			&.nth-47{//노폐물 배출
				#{$this}__subject:before{background-position:-20 -782px;}
			}
			&.nth-48{//기초대사량 증진
				#{$this}__subject:before{background-position:-20 -799px;}
			}
			&.nth-49{//얼굴볼륨개션
				#{$this}__subject:before{background-position:-20px -815px;}
			}
			&.nth-50{//노화방지
				#{$this}__subject:before{background-position:-20px -833px;}
			}
			&.nth-51{//보습효과
				#{$this}__subject:before{background-position:-20px -850px;}
			}
			&.nth-52{//적은 통증
				#{$this}__subject:before{background-position:-20px -868px;}
			}
		}
		&__subject{font-size:1.1rem;
			&:before{width:20px; height:17px; margin-bottom:5px; background-size:40px 886px;}
			&.type-multi{
				&:before{margin-bottom:2px;}
			}
			&.type-tight{
				&:before{margin-bottom:1px;}
			}
		}
		&__img{margin-top:20px;}
		&__caption{margin:14px 0 0 0; font-size:1rem; padding:0 5px; color:$black1; box-sizing:border-box;
			&:before,&:after{bottom:0; height:5px; border-width:1px;}
		}
		&__inner{padding:40px 12px 30px;}
		&__icon{width:39px; bottom:10px; right:10px;
			img{width:100%;}
		}
		&__caption3{margin-top:24px; font-size:1.5rem;}
		&__caption4{bottom:-130px; padding:0 20px;}
		&__txt2{margin-top:14px; font-size:1.7rem;}
	}
}

.kind{margin:74px -50px 0;
	&__list{margin:0 0 0 -100px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; padding-left:100px; list-style:none; box-sizing:border-box; color:#fff; text-align:left;}
	&__tit{margin:0; font-size:40px; font-family:$font-Eb; font-weight:$Ebold; line-height:1;
		&:before{display:block; width:50px; height:0; margin-bottom:20px; border-top:4px solid #fffccf; content:'';}
	}
	&__txt{margin:24px 0 0 0; font-size:16px; font-weight:$regular; line-height:1.6;}
	@media only screen and (max-width: $tablet-size) {overflow:hidden; margin:60px 0 0 0;
		&__list{margin-left:-50px;}
		&__item{padding-left:50px;}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:40px;
		&__list{margin-left:0;}
		&__item{width:100%; padding-left:0;
			& + &{margin-top:40px;}
		}
		&__tit{font-size:2.6rem;
			&:before{width:30px; margin-bottom:14px;}
		}
		&__txt{margin-top:18px; font-size:1.5rem;}
	}
}

.price{text-align:center;
	$this:&;
	&__tit{position:relative;
		&:before{display:block; width:44px; height:36px; margin:0px auto 30px;  background:url('../images/content/price_icon1.png'); content:'';}
	}
	&__list{margin:46px 0 0 0; padding:0; border:1px solid #282828; border-bottom:none; box-sizing:border-box;}
	&__item{position:relative; padding:40px 70px; border-bottom:1px solid #282828; list-style:none; box-sizing:border-box;
		&.type-multi{
			#{$this}__box{
				&.type-subject{
					#{$this}__vertical{width:calc(48% - 70px);}
				}
				&.type-content{width:52%;}
			}
			#{$this}__won{width:40%; text-align:right;}
		}
		&:after{display:block; clear:both; content:'';}
	}
	&__box{float:left;
		&.type-subject{width:70%; text-align:left;}
		&.type-content{float:right; width:30%; text-align:right;}
	}
	&__vertical{position:absolute; top:0; left:70px; bottom:0; width:60%; height:120px; margin:auto 0; padding-left:150px; box-sizing:border-box;}
	&__icon{position:absolute; top:0; bottom:0; left:0; margin:auto 0;
		img{max-height:100%;}
	}
	&__subject{display:table-cell; width:1%; height:inherit; vertical-align:middle; line-height:1.4;}
	&__outer{display:inline-table; width:100%; height:100%; min-height:120px;}
	&__inner{display:table-cell; vertical-align:middle; }
	&__won{display:inline-block; margin:0; font-size:0; vertical-align:middle; }
	&__align{font-size:24px; color:#000; font-weight:$bold; vertical-align:middle; }
	&__btn{overflow:hidden; display:inline-block; width:34px; height:34px; margin-top:-4px; margin-left:20px; border-radius:50%; background:url('../images/content/cart_icon.png') no-repeat center center #aaaaaa; text-indent:-9999px; vertical-align:middle;
		&:hover{background-color:$petit;}
	}
	&__list2{margin:0; padding:0;}
	&__item2{list-style:none; text-align:left; font-size:0;
		& + &{margin-top:22px;}
	}
	&__subtit{display:inline-block; width:60%; margin:0; font-size:24px; font-weight:$light; color:$black3; vertical-align:middle; }
	&__noti{margin:16px 0 0 0; font-size:14px; font-weight:$light; color:$black3; text-align:right;}
	@media only screen and (max-width: $tablet-size) {
		&__box{
			&.type-subject{width:100%;}
			&.type-content{width:100%;}
		}
		&__item{padding:40px;
			&.type-multi{
				#{$this}__box{
					&.type-subject{
						#{$this}__vertical{width:auto;}
					}
					&.type-content{width:100%;}
				}
				#{$this}__won{text-align:right;}
			}
		}
		&__icon{position:static; display:block; text-align:center; font-size:0;}
		&__subject{display:block; width:auto; margin-top:20px; text-align:center;}
		&__vertical{position:static; top:auto; left:auto; bottom:auto;  width:auto; height:auto; padding:0;}
		&__outer{display:block; width:auto; height:auto; margin-top:34px; min-height:100%;}
		&__inner{display:block; text-align:center;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__tit{
			&:before{width:22px; height:18px; margin-bottom:14px; background-size:22px 18px;}
		}
		&__subtit{width:60%; font-size:1.5rem;}
		&__list{margin-top:20px;}
		&__item{padding:20px;
			&.type-multi{
				#{$this}__box{
					&.type-subject{width:100%;}
					&.type-content{width:100%;}
				}
				#{$this}__won{width:40%; text-align:right;}
			}
		}
		&__item2{
			& + &{margin-top:10px;}
		}
		&__icon{height:60px;}
		&__outer{margin-top:14px;}
		&__align{font-size:1.5rem;}
		&__btn{width:21px; height:21px; margin:0 0 0 10px; background:url('../images/content/cart_icon_m.png') #aaaaaa no-repeat center center / 10px 10px;}
		&__noti{margin-top: 8px;font-size: 1.3rem;}
	}
}

.tooltip{display:none; position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.8);
	&__list{margin:26px 0 0 0; padding:0;}
	&__item{list-style:none;
		& + &{margin-top:10px;}
	}
	&__tit{margin:0; font-size:20px; color:#fff; font-weight:$light; line-height:1.3;}
	&__link{display:block; width::130px; margin:0px auto; padding:7px 2px; border:1px solid #fff; color:#fff; font-size:14px; font-weight:$light; text-align:center; box-sizing:border-box; text-decoration:none;}
	&__outer{display:inline-table; width:100%; height:100%;}
	&__inner{display:table-cell; height:100%; vertical-align:middle;}
	@media only screen and (max-width: $mobile-size) {
		&__tit{font-size:1.7rem;}
		&__list{margin-top:18px;}
		&__item{
			& + &{margin-top:5px;}
		}
		&__link{width:95px; padding:4px 2px; font-size:1.1rem;}
	}
}

.section-mid{position:relative;  box-sizing:border-box;
	$this:&;
	&.type-static{
		#{$this}__wrap{height:inherit;}
		#{$this}__box{display:table-cell; width:1%; padding-top:0; vertical-align:middle;}
		#{$this}__tit{position:static;}
	}
	&:after{display:block; clear:both; content:'';}
	&__area{position:absolute; width:100%; height:inherit; padding-right:540px; z-index:5; box-sizing:border-box;}
	&__img{overflow:hidden; position:relative; width:100%;  height:inherit; text-indent:-9999px;}
	&__tit{position:absolute; top:96px; left:-156px; z-index:15;
		&.type-white{z-index:10; color:#fff;}
	}
	&__subtit{margin-top:24px; font-style: italic;}
	&__txt{margin-top:50px;}
	&__wrap{position:relative; float:right; width:540px; height:inherit;}
	&__box{position:relative; overflow:hidden; display:table-cell; width:1%; height:inherit; padding:110px 10px 0px 70px; box-sizing:border-box; vertical-align:middle;}
	&__point{text-decoration:underline; color:#000;}
	@media only screen and (max-width: $tablet-size) {
		&.type-static{
			#{$this}__wrap{height:auto;}
			#{$this}__box{display:block; width:auto; height:auto;}
		}
		&__box{padding:0; text-align:center;}
		&__tit{position:static; top:auto; left:auto;
			&.type-white{display:none;}
		}
		&__subtit{margin-top:24px !important;}
		&__txt{padding:0 50px; box-sizing:border-box;}
		&__wrap{float:none; width:100%; padding:0;}
		&__area{position:static; margin-top:50px; padding:0;}
		&__img{height:0; padding-bottom:84%; background-size:cover;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__area{margin-top:18px;}
		&__subtit{margin-top:12px !important;}
		&__txt{margin-top:18px; padding:0;}
	}
}

.highlight1{display:inline-block; margin:30px 0 0 0; padding:0px 10px; font-size:26px; line-height:40px; font-weight:$light;  box-sizing:border-box; background-color:#fff;
	&.type-petit{border:1px solid $petit; color:$petit; }
	&.type-young{border:1px solid $young; color:$young; background-color:#fff;}
	&.type-slim{border:1px solid $slim; color:$slim; background-color:#fff;}
	@media only screen and (max-width: $mobile-size) {margin:16px 0 0 0; padding:0px 6px; font-size:1.6rem; line-height:26px;}
}
.highlight2{display:inline-block; margin:0; padding:0px 10px; font-size:28px; line-height:40px; font-weight:$bold;  box-sizing:border-box;
	&.type-petit{background-color:$petit; color:#fff;}
	&.type-young{background-color:$young; color:#fff;}
	&.type-slim{background-color:$slim; color:#fff;}
	@media only screen and (max-width: $mobile-size) {padding:0px 6px; font-size:1.7rem; line-height:26px;}
}

.how{text-align:center;
	$this:&;
	&__list{margin:24px 0 0 0; padding:0; border-bottom:1px solid #000;
		&:after{display:block; clear:both; content:'';}
		& + #{$this}__list2{margin-top: 90px;}
	}
	&__item{float:left; width:25%; height:80px; list-style:none; border-top:1px solid #000; border-right:1px solid #000; box-sizing:border-box;
		&:first-child{border-left:1px solid #000;}
		&:nth-child(even){background-color:#f3f3f3;}
		&.nth-2{
			#{$this}__subject:before{background-position:0 -28px;}
		}
		&.nth-3{
			#{$this}__subject:before{background-position:0 -56px;}
		}
		&.nth-4{
			#{$this}__subject:before{background-position:0 -84px;}
		}
		&.type-pain{position:relative; width:100%; border-left:1px solid #000; font-size:0;
			#{$this}__subject:before{background-position:0 -112px;}
		}
	}
	&__box{display:inline-block; width:23.86%; height:inherit;}
	&__wrap{display:table-cell; width:1%; height:inherit; padding:0 40px; box-sizing:border-box; vertical-align:middle;
		&:after{display:block; clear:both; content:'';}
	}
	&__subject{position:relative; float:left; width:50%; margin:0; padding-left:34px; text-align:left; font-size:20px; font-weight:$light; box-sizing:border-box;
		&:before{position:absolute; top:0; left:0; bottom:0; display:block; width:28px; height:28px; margin:auto 0; background:url('../images/content/how_icon.png') no-repeat; content:'';}
	}
	&__txt{float:left; width:50%; margin:0; text-align:right; font-size:20px; font-weight:$bold;}
	&__max{color:$black3;}
	&__pain{display:inline-block; width:76.14%; height:inherit; padding-right:40px; box-sizing:border-box;}
	&__noti{position:absolute; margin:26px 0 0 0; font-size:12px; font-weight:$light; color:$black3; text-align:left;}
	&__list2{margin:52px 0 0 -60px; padding:0 24px; box-sizing:border-box; font-size:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item2{display:inline-block; width:25%; padding-left:60px; box-sizing:border-box; list-style:none; vertical-align:top;}
	&__img{position:relative; display:block; width:100%; height:0; padding-bottom:100%;}
	@media only screen and (max-width: $tablet-size) {overflow:hidden;
		&__list{
			& + #{$this}__list2{margin-top: 50px;}
		}
		&__item{width:50%;
			&:nth-child(odd){border-left:1px solid #000;}
			&.type-pain{
				#{$this}__subject{width:auto;}
				#{$this}__txt{width:auto; margin-left:10px;}
				#{$this}__box{width:auto;}
			}
		}
		&__box{width:50%;}
		&__wrap{padding:20px;}
		&__pain{display:none;}
		&__noti{top:50%; right:20px; margin:0; transform: translateY(-50%);font-size:12px; font-weight:$light; color:$black3; text-align:left;}
		&__list2{margin:50px 0 0 -96px; padding:0 40px;}
		&__item2{width:50%; padding-left:96px;
			&:nth-child(2) ~ &{margin-top:30px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__wrap{padding:10px;}
		&__list{margin-top:14px;
			& + #{$this}__list2{margin-top: 24px;}
		}
		&__item{height:40px;
			&.nth-2{
				#{$this}__subject:before{background-position:0 -14px;}
			}
			&.nth-3{
				#{$this}__subject:before{background-position:0 -28px;}
			}
			&.nth-4{
				#{$this}__subject:before{background-position:0 -42px;}
			}
			&.type-pain{
				#{$this}__subject:before{background-position:0 -56px;}
			}
		}
		&__subject{width:45%; padding-left:18px; font-size:1.3rem;
			&:before{width:14px; height:14px; background-size:14px 70px;}
		}
		&__txt{width:55%; font-size:1.3rem;}
		&__noti{top:50%; right:10px; font-size:1.1rem; text-align:right; line-height:1.3;}
		&__list2{margin:24px 0 0 -30px; padding:0 20px;}
		&__item2{padding-left:30px;}
	}
}


.need{padding:70px 20px; background:url('../images/content/need_bg.jpg') no-repeat center center / cover; border:20px solid #ffca63; box-sizing:border-box;
	$this:&;
	&__tit{margin:0; font-size:40px; font-family:$font-pt; color:$black1; font-weight:$regular; text-decoration: underline;}
	&__list{margin:34px 0 0 0; padding:0; text-align:center; counter-reset:section;}
	&__item{position:relative; display:inline-block; width:700px; padding-left:60px; list-style:none; font-size:20px; font-weight:$light; background-color:#fff; border-radius:30px; box-sizing:border-box;
		&:before{position:absolute; left:0; top:0; bottom:0; display:block; width:70px; height:70px; margin:auto 0; line-height:70px; background-color:#ff5e73; color:#fff; font-size:26px;  border-radius:50%; font-family:$font-pt; counter-increment:section; content:"0"counter(section);}
		& + &{margin-top:20px;}
	}
	&__wrap{padding:16px 32px;
		strong{font-weight:$bold;}

	}
	&__arrow{position:relative; padding-right:20px;
		&:before{position:absolute; top:0; bottom:0; right:5px; display:block; width:8px; height:0; margin:auto 0; border-top:6px solid $young; content:'';}
		&:after{position:absolute; top:0; bottom:0; right:-5px; display:block; width:0; height:0; margin:auto 0;border-top: 5px solid transparent ;border-right: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid $young; content:'';}
	}
	&__box{font-size:0;}
	&__banner{margin:0 -54px 40px;}
	&__circle{display:inline-block; width:258px; height:258px; margin:0 54px; font-size:40px; font-family: $font-pt; font-weight:$regular; color:#fff; line-height:1; vertical-align:top;
		&.nth-1{background:url('../images/slim/capsule/capsule_img_7.png') no-repeat center center / contain;}
		&.nth-2{background:url('../images/slim/capsule/capsule_img_8.png') no-repeat center center / contain;}
		&.nth-3{background:url('../images/slim/capsule/capsule_img_9.png') no-repeat center center / contain;}
	}
	@media only screen and (max-width: $tablet-size) {margin-top:100px;
		&__item{width:100%;}
		&__banner{margin:-10px -34px 50px;}
		&__circle{margin:10px 34px;}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:50px; padding:36px 10px; border-width:10px;
		&.type-little{
			#{$this}__item{padding-left:0;}
		}
		&__tit{font-size:2.6rem;}
		&__item{font-size:1.3rem; padding-left:34px;
			&:before{top:-5px; bottom:auto; width:34px; height:34px; line-height:34px; font-size:1.6rem;}
		}
		&__arrow{padding-right:18px;
			&:before{border-width:4px;}
		}
		&__banner{margin:-5px 0px 24px;}
		&__circle{width:125px; height:125px; margin:5px; font-size:2.5rem;}
	}
}

.where{text-align:center;
	$this:&;
	&.type-center{
		#{$this}__wrap{padding-top:560px; padding-bottom:46px}
		#{$this}__box{width:auto;}
		#{$this}__item{width:152px; margin-left:40px; padding-left:0;}
	}
	& + &{margin-top: 86px;}
	&__wrap{position:relative;margin-top:50px; padding:170px 40px 210px; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
		&:before{position:absolute; left:0; bottom:0; display:block; width:100%; height:380px; background-color:#ffecee; z-index:-1; content:'';}
	}
	&__box{display:inline-block; width:344px;
		&.type-left{float:left;}
		&.type-right{float:right;}
	}
	&__subtit{margin-top: 30px;
		& + #{$this}__part{margin-top: 70px;}
	}
	&__part{text-transform: uppercase;}
	&__list{ margin:-40px 0 0 -40px; padding:0; font-size:0;}
	&__item{display:inline-block; width:50%; padding-left:40px; margin-top:40px; box-sizing:border-box; list-style:none; vertical-align:top;}
	&__img{position:relative; width:100%; height:0; padding-bottom:100%;}
	&__num{position:absolute; top:0; left:0; display:block; width:36px; height:36px; line-height:36px; background-color:$petit; color:#fff; font-size:16px; font-weight:$bold; text-align:center; border-radius:50%; z-index:5;
		&.type-young{background-color:$young;}
		&.type-slim{background-color:$slim;}
	}
	&__img2{display:none; font-size:0;}
	@media only screen and (max-width: $tablet-size) {
		&.type-center{
			#{$this}__wrap{padding-top:0; padding-bottom:0;}
			#{$this}__box{width:100%; margin:0;}
			#{$this}__list{margin-left:-80px; text-align:left;}
			#{$this}__item{width:50%; margin-left:0; padding-left:80px; box-sizing:border-box; text-align:center;}
		}
		&__num{width:64px; height:64px; line-height:64px; font-size:36px;}
		&__wrap{margin-top:100px; padding:0 40px; background:none !important;
			&:before{display:none;}
		}
		&__box{
			&.type-left{width:100%;}
			&.type-right{width:100%;}
			& + &{margin-top:46px;}
		}
		&__list{margin:0 0 0 -80px;}
		&__item{margin-top:0; padding-left:80px;
			&:nth-child(2) ~ &{margin-top:46px;}
			&.type-another{margin-top:0 !important;}
			&.hidden-p{display:inline-block !important;}
		}
		&__img2{display:block; margin-top:24px;
			img{width:100%;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		& + &{margin-top: 44px;}
		&.type-center{
			#{$this}__list{margin-left:-15px;}
			#{$this}__item{padding-left:15px;}
		}
		&__box{
			& + &{margin-top:22px;}
		}
		&__wrap{margin-top:50px; padding:0 20px;}
		&__list{margin-left:-15px;}
		&__item{padding-left:15px;
			&:nth-child(2) ~ &{margin-top:22px;}
		}
		&__num{width:32px; height:32px; font-size:1.8rem; line-height:32px;}
		&__img2{margin-top:12px;}
		&__subtit{margin-top: 18px;
			& + #{$this}__part{margin-top: 18px;}
		}
	}
}


.detail{position:relative;
	&__area{ float:right; width:60.4%; padding:120px 0; box-sizing:border-box;}
	&__wrap{position:relative; padding:0 23.5%; box-sizing:border-box;}
	&__box{position:absolute; top:0; left:0; bottom:0; width:39.6%;
	}
	&__inner{position:absolute; top:120px; right:-27%;}
	&__eng{color:#fff;}
	&__tit{margin-top:10px; color:#fff;}
	&__list{margin:0; padding:0;}
	&__item{position:relative; padding-left:174px; list-style:none; box-sizing:border-box;
		&:before{position:absolute; top:0; left:0; display:block; width:120px; height:120px; border:4px solid #fff; border-radius:50%; box-sizing:border-box; content:'';}
		&.type-quantitative{
			&:before{background:url('../images/content/detail_icon1.png') no-repeat center center;}
		}
		&.type-brand{
			&:before{background:url('../images/content/detail_icon2.png') no-repeat center center;}
		}
		&.type-cost{
			&:before{background:url('../images/content/detail_icon3.png') no-repeat center center;}
		}
		&.type-check{
			&:before{background:url('../images/content/detail_icon4.png') no-repeat center center;}
		}
		&.type-long{
			&:before{background:url('../images/content/detail_icon5.png') no-repeat center center;}
		}
		&.type-thread{
			&:before{background:url('../images/content/detail_icon6.png') no-repeat center center;}
		}
		&.type-natural{
			&:before{background:url('../images/content/detail_icon7.png') no-repeat center center;}
		}
		&.type-component{
			&:before{background:url('../images/content/detail_icon8.png') no-repeat center center;}
		}
		&.type-total{
			&:before{background:url('../images/content/detail_icon9.png') no-repeat center center;}
		}
		&.type-various{
			&:before{background:url('../images/content/detail_icon10.png') no-repeat center center;}
		}
		&.type-over{
			&:before{background:url('../images/content/detail_icon11.png') no-repeat center center;}
		}
		& + &{margin-top:30px;}
	}
	&__subtit{color:#fff;}
	&__vertical{display:table-cell; width:1%; height:120px; vertical-align:middle;}
	&__txt{margin-top:16px;}
	&:after{display:block; clear:both; content:'';}
	@media only screen and (max-width: $minpc-size2) {
		&__wrap{padding:0 30px;}
		&__box{position:static; width:100%; padding:0 30px; box-sizing:border-box; background:none !important;}
		&__inner{position:static; padding:230px 10px; text-align:center; box-sizing:border-box;}
		&__area{float:none; width:100%; padding:0; background:none !important;}
		&__list{padding:80px 40px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__wrap{padding:0 15px;}
		&__box{padding:0 15px;}
		&__inner{padding:80px 5px;}
		&__list{padding:40px 20px;}
		&__item{padding-left:78px;
			&:before{width:60px; height:60px; border-width:2px;}
			&.type-quantitative{
				&:before{background-size:22px 20px;}
			}
			&.type-brand{
				&:before{background-size:15px 22px;}
			}
			&.type-cost{
				&:before{background-size:17px 20px;}
			}
			&.type-check{
				&:before{background-size:17px 22px;}
			}
			&.type-long{
				&:before{background-size:27px 11px;}
			}
			&.type-thread{
				&:before{background-size:20px 20px;}
			}
			&.type-natural{
				&:before{background-size:20px 23px;}
			}
			&.type-component{
				&:before{background-size:19px 19px;}
			}
			&.type-total{
				&:before{background-size:19px 20px;}
			}
			&.type-various{
				&:before{background-size:20px 18px;}
			}
			&.type-over{
				&:before{background-size:23px 25px;}
			}
		}
		&__vertical{display:block; width:auto; height:auto;}
		&__txt{margin-top:8px;}
	}
}

.amazing{text-align:center;
	&__wrap{position:relative; margin-top:40px;}
	&__motion{overflow: hidden; position: relative;
		img{display:block; width:100%;}
	}
	&__resize{overflow:hidden; position:absolute; top:0; left:0; width:50%; height:100%;
		&.is-black{
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:1; content:'';}
		}
	}
	&__handle{position:absolute; left:50%; top:0; bottom:0; width:1px; cursor: ew-resize; font-size:0; z-index:10;
		&:after{position:absolute; bottom:60px; display:block; width:60px; height:38px; margin-left:-30px; background:url('../images/content/amazing_icon.png'); content:'';
			transition: transform 0.3s;
		}
	}
	&__btn{overflow:hidden; position:absolute; display:block; top:0; bottom:0; width:50px; height:50px; margin:auto 0; z-index:110; text-indent:-9999px;
		&.type-prev{left:0; background:url('../images/content/amazing_prev.jpg') no-repeat center center / contain;}
		&.type-next{right:0; background:url('../images/content/amazing_next.jpg') no-repeat center center / contain;}
	}
	&__explain{position:absolute; left:0; right:0; bottom:26px; margin:0; font-size:14px; color:#fff; z-index:110;}
	&__noti{margin:36px 0 0 0; font-size:12px; color:$black3; font-weight:$regular;}
	&__more{margin-top:46px;}
	&__txt{position:absolute; bottom:20px; margin:0; font-size:16px; font-weight:$regular; white-space:nowrap; color:#b4b4b4;
		&.type-before{left:20px;}
		&.type-after{right:20px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__wrap{margin-top:20px;}
		&__btn{width:25px; height:25px;}
		&__explain{bottom:10px; font-size:1rem;}
		&__handle{
			&:after{bottom:30px; width:30px; height:19px; margin-left:-15px; background-size:30px 19px;}
		}
		&__noti{margin-top:18px; font-size:1.1rem;}
		&__more{margin-top:36px;}
		&__txt{bottom:15px; font-size:1.1rem;}
	}
}
.drag:after {
	transform: scale(0.9);
}

.blind{position:absolute; top:0; left:0; width:100%; height:100%; z-index:10;text-align:center; white-space:nowrap;
	&__outer{display:inline-table; width:100%; height:100%;}
	&__inner{display:table-cell; vertical-align:middle; padding:0 10px; box-sizing:border-box;}
	&.type-body{background:url('../images/content/blind_body.jpg') no-repeat center left / cover;}
	&__tit{margin:0; font-size:30px; font-weight:$bold; color:#fff;}
	&__txt{margin:24px 0 0 0; font-size:14px; color:#fff;}
	&__btn{margin-top:36px;}
	@media only screen and (max-width: $tablet-size) {
		&__tit{font-size:26px;}
		&__txt{margin:20px 0 0 0; font-size:12px;}
		&__btn{margin-top:30px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__tit{font-size:1.4rem;}
		&__txt{margin-top:6px; font-size:1rem;}
		&__btn{margin-top:6px;}
	}
}
.status-bar{display:table-cell; width:1%; height:inherit; vertical-align:middle;
	$this:&;
	&.type-petit{
		#{$this}__item{
			@for $i from 1 through 10 {
				&.nth-#{$i}{
					#{$this}__bg{background:url('../images/content/pain/petit_pain_'+$i+'.jpg');}
				}
			}
			&.is-active{
				#{$this}__bg{
					&:before{position:absolute; display:block; width:100%; height:100%; background-color:#ff5e73; content:'';}
				}
			}
		}
	}
	&.type-young{
		#{$this}__item{
			@for $i from 1 through 10 {
				&.nth-#{$i}{
					#{$this}__bg{background:url('../images/content/pain/young_pain_'+$i+'.jpg');}
				}
			}
			&.is-active{
				#{$this}__bg{
					&:before{position:absolute; display:block; width:100%; height:100%; background-color:#ffca63; content:'';}
				}
			}
		}
	}
	&.type-slim{
		#{$this}__item{
			@for $i from 1 through 10 {
				&.nth-#{$i}{
					#{$this}__bg{background:url('../images/content/pain/slim_pain_'+$i+'.jpg');}
				}
			}
			&.is-active{
				#{$this}__bg{
					&:before{position:absolute; display:block; width:100%; height:100%; background-color:#75c9ff; content:'';}
				}
			}
		}
	}
	&__list{margin:0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{overflow:hidden; float:left; width:10%; height:30px; padding-left:1px; box-sizing:border-box; text-indent:-9999px; list-style:none;}
	&__bg{position:relative; display:block; height:100%;}
}
.inner-box{position:absolute; left:40px; bottom:60px; text-align: left;
	$this:&;
	&.type-right{left:auto; right:40px; text-align:right;}
	&.type-border{
		#{$this}__tit{position:relative; padding-top:34px; box-sizing:border-box;
			&:before{position:absolute; top:0; right:0; width:56px; height:0; border-top:5px solid #fff; content:'';}
		}
	}
	&__tit{margin:0 0 0 -4px; font-size:70px; color:#fff; font-weight:$Ebold; font-family:$font-Eb; text-transform:uppercase; line-height:1;}
	&__txt{margin: 34px 0 0 0;font-size: 16px;color: #fff; line-height:1.6;}
	&__line{position:relative; display:inline-block; padding-left:0px;
		&:before{position:absolute; bottom:0; left:0; height:100%; width:0; border-left:5px solid $black1; content:'';}
	}
	@media only screen and (max-width: $tablet-size) {position: absolute;left: 30px;bottom: 26px;z-index: 1;}
	@media only screen and (max-width: $mobile-size) {position: absolute;left: 12px;bottom: 12px;
		&.type-right{right:18px;}
		&.type-border{
			#{$this}__tit{position:relative; padding-top:16px; box-sizing:border-box;
				&:before{width:28px; border-top-width:2px;}
			}
		}
        &__tit{font-size: 3.6rem;}
        &__txt{margin-top: 15px;font-size: 1.2rem;}
	}
}
.line-box{position:absolute; bottom:86px; left:-160px; right:-160px; z-index:5; display:block; height:240px;background-color:rgba(143,137,219,0.9);
	&__wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
	&__inner{display:inline-block; text-align:left;}
	&__tit{color:#fff;}
	&__txt{position:relative; margin:16px 0 0 0; font-weight:$bold; font-size:14px; color:#fff; text-align:right; text-transform: uppercase;
		&:before{position:absolute; top:0; bottom:0; left:0; width:254px; height:0; margin:auto 0; border-top:2px solid #fff; content:''; }
	}
	@media only screen and (max-width: $tablet-size) {bottom:180px; left:-40px; right:-40px;}
	@media only screen and (max-width: $mobile-size) {bottom:80px; left:-20px; right:-20px; height:120px;
		&__txt{margin-top:2px; font-size:1rem;
			&:before{width:140px; border-width:1px;}
		}
	}
}
.content-head{padding:0 60px; box-sizing:border-box;
	$this:&;
	&__tit{ margin:0; font-size:28px; font-weight:$regular; font-family:$font-pt; color:$black1; line-height:1;}
	&__txt{position:absolute; right:0; bottom:10px; margin:0; font-size:14px; font-weight:$bold;}
	&__wrap{position:relative; padding-bottom:10px; border-bottom:4px solid $black1; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&.type-white{
		#{$this}__tit,#{$this}__txt{color:#fff;}
		#{$this}__wrap{border-color:#fff;}
	}
	@media only screen and (max-width: $mobile-size) {padding:0 20px;
		&__tit{font-size:1.5rem;}
		&__txt{font-size:1rem; bottom:5px;}
		&__wrap{padding-bottom:5px; border-width:2px;}
	}
}

.content-head2{margin-bottom:50px; text-align:center;
	$this:&;
	&__wrap{display:inline-block; padding:32px 58px; border:4px solid $black1; box-shadow: 4px 4px 0px 0px #ffc7dd; box-sizing:border-box; background-color:#fff;}
	&__txt{margin-top:18px; font-style:italic;}
	&__tit{position:relative;
		&:after{display:block; width:30px; height:0; margin:5px auto 0; border-bottom:2px solid $black1; content:'';}
	}
	&__point{display:inline-block; font-family:$font-Eb; font-weight:$Ebold;}
	@media only screen and (max-width: $tablet-size) {margin-bottom:40px;}
	@media only screen and (max-width: $mobile-size) {margin-bottom:25px;
		&__tit{
			&:after{width:15px; border-width:1px; margin:0 auto;}
		}
		&__txt{margin-top:8px;}
		&__wrap{display:block; padding:20px 10px; border-width:2px; box-shadow: 2px 2px 0 0 #ffc7dd;}
	}
}

.section-st1{position:relative; padding-top:60px; box-sizing:border-box;
	&:before{position:absolute; top:0; left:0; width:100%; height:0;
		z-index:-1; content:'';}
	&__wrap{padding:84px 230px 0; box-sizing:border-box;}
	&__small{font-size:40px; color:#fff;}
	&__subtit{margin-top:480px; font-weight:$regular; color:#fff; font-style:italic;
		strong{font-weight:$bold;}
	}
	&__box{padding:60px;  box-sizing:border-box;}
	&__txt{margin-top:60px; padding:0 60px; box-sizing:border-box;}
	&__img{display:none; font-size:0;
		img{width:100%;}
	}
	@media only screen and (max-width: $tablet-size) {
		&__img{display:block;}
		&__wrap{padding:40px 104px 0;}
		&__box{padding:0; background:none !important; text-align:center;}
		&__tit{margin-top:40px;}
		&__txt{margin:36px -64px 0; text-align:center;}
		&__subtit{margin-top:26px; color:$black1;}
		&__small{color:$black1;}
	}
	@media only screen and (max-width: $mobile-size) {padding-top:30px;
		&__wrap{padding:15px 20px 0;}
		&__tit{margin-top:26px; line-height:0.8;}
		&__subtit{margin-top:12px;}
		&__small{font-size:2.6rem;}
		&__txt{margin:20px 0 0; padding:0;}
	}
}
//물괄 설명
.explain{margin:0 -64px; padding:70px 64px; background-color:#fff;
	&__tit{margin:0; font-size:48px; font-weight:$light; color:$black1; line-height:1.1; letter-spacing:-1px;
		& strong{font-weight:$bold;}
	}
	&__txt{margin:26px 0 0 0; font-size:20px; font-weight:$regular; color:$black3; line-height:1.5;}
	@media only screen and (max-width: $tablet-size) {margin:0; padding:50px 40px;}
	@media only screen and (max-width: $mobile-size) {padding:24px;
		&__tit{font-size:2.8rem;}
		&__txt{margin-top:10px; font-size:1.2rem;}
	}
}

.surgery{padding:100px 156px 140px; text-align:center; background-color:#f4f4f4;
	$this:&;
	&.type-petit{
		#{$this}__hash{color:$petit;}
		.slick-active{
			button{background:$petit;}
		}
	}
	&__list{margin:56px -10px 0; padding:0;}
	&__item{height:inherit; margin:0 10px; list-style:none; background:#fff;
		&.type-another{
			#{$this}__subject{
				&:after{display:block; width:30px; height:0; margin:12px auto 0; border-bottom:4px solid $slim; content:'';}
			}
		}
	}
	&__subtit{margin:0 0 18px; font-size:16px; font-weight:$bold; color:$slim;}
	&__subject{margin:0; font-size:28px; font-weight:$bold;}
	&__txt{margin:16px 0 0 0; font-size:16px; color:$black2; line-height:1.6;}
	&__hash{margin:24px 0 0 0; font-size:16px; line-height:1.5;}
	&__img{position:relative; width:100%; height:0; padding-bottom:68%;}
	&__box{padding:50px 20px; box-sizing:border-box;}
	&__area{position:relative;}
	@media only screen and (max-width: $tablet-size) {padding:100px 74px 140px;}
	@media only screen and (max-width: $mobile-size) {margin:0 -15px; padding:50px 34px 76px;
		&__list{margin:20px 0 0 0;}
		&__item{margin:0 1px;
			&.type-another{
				#{$this}__subject{
					&:after{width:15px; height:0; margin-top:8px; border-bottom-width:2px;}
				}
			}
		}
		&__subject{font-size:2.2rem;}
		&__subtit{margin-bottom:10px; font-size:1.3rem;}
		&__box{padding:30px 20px;}
		&__txt{margin-top:10px; font-size:1.3rem; word-break:break-all;}
	}
}
.slick-track{display:flex;}
.slider{
	&__list{position:absolute; left:0; right:0; bottom:-40px; font-size:0; text-align:center; padding:0;
		li{display:inline-block; margin:0 6px;}
		button{display:inline-block;  width:8px; height:8px; padding:0; border-radius:50%; border:none; outline:0; cursor:pointer; background-color:#bbbbbb; font-size:0;}
		.slick-active{
			button{background:$slim;}
		}
	}
	&__btn{overflow:hidden; position:absolute; top:0; bottom:0; display:block; width:60px; height:60px; margin:auto 0; text-indent:-999px;}
	&__btn-prev{left:-90px; background:url('../images/common/slider_off_prev.png') no-repeat center center / cover; z-index:1;
		&.type-petit{
			&:hover{ background:url('../images/common/slider_on_prev_petit.png') no-repeat center center / cover;}
		}
		&:hover{ background:url('../images/common/slider_on_prev.png') no-repeat center center / cover;}
	}
	&__btn-next{right:-90px; background:url('../images/common/slider_off_next.png') no-repeat center center / cover; z-index:1;
		&.type-petit{
			&:hover{ background:url('../images/common/slider_on_next_petit.png') no-repeat center center / cover;}
		}
		&:hover{ background:url('../images/common/slider_on_next.png') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&__list{bottom:-26px;}
		&__btn{display:none !important;}
	}
}
.mark{position:absolute; top:20px; right:20px; width:172px; height:152px; background:url('../images/content/slim_mark.png') no-repeat center center / contain;
	&__wrap{display:table-cell; width:1%; height:inherit; padding:10px 40px; vertical-align:middle; box-sizing:border-box;}
	&__txt{margin:6px 0 0 0; font-size:18px; font-weight:$bold; color:$black1; line-height:1.2;}
	&__point{color:#299ce6;}
	@media only screen and (max-width: $mobile-size) {top:4px; right:4px; width:90px; height:80px;
		&__txt{font-size:1rem;}
		&__wrap{padding:0 10px;}
	}
}

.caption{position:absolute; left:0; bottom:0; height:180px; background:#ff7f78; z-index:1; text-align:center;
	&__wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
	&__txt{font-size:20px; color:#fff; font-weight:$regular; line-height:1.5;}
	@media only screen and (max-width: $mobile-size) {height:120px;
		&__txt{padding:0 20px; font-size:1.5rem; box-sizing:border-box;}
	}
}

.explanation{position:relative; margin-top:54px;
	&__img{padding-right:360px; box-sizing:border-box;
		img{width:100%; vertical-align:middle;}
	}
	&__box{position:absolute; right:0; bottom:23.3%;}
	&__wrap{display:inline-block; background-color:#666666; padding:50px; box-sizing:border-box; text-align:left;
		&:after{position:absolute; top:0; left:-44px; bottom:0; display:inline-block; width:0; height:0; margin:auto 0; border-style:solid;
			border-width:22px; border-color:transparent #666 transparent transparent; content:'';}
	}
	&__vertical{vertical-align:middle;}
	&__txt{margin:0; font-size:28px; font-weight:$light; color:#fff; line-height:1.35;}
	&__point{display:block; font-weight:$bold;}
	@media only screen and (max-width: $tablet-size) {margin-top:40px; padding-bottom:90px;
		&__img{padding-right:0;}
		&__wrap{text-align:center;
			&:after{top:-38px; left:0; right:0; bottom:auto; margin:0 auto;
				border-width:20px; border-color:transparent transparent #666 transparent ; }
		}
		&__box{left:0; right:0; bottom:0; padding:0 130px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size) {padding-bottom:50px;
		&__box{padding:0 20px;}
		&__txt{font-size:1.7rem;}
		&__wrap{padding:24px 34px;
			&:after{top:-19px; border-width:10px;}
		}
	}
}

.advantage{position:relative; text-align:center; background-color:#f9f9f9;
	$this:&;
	&:after{display:block; clear:both; content:'';}
	&__wrap{position:absolute; top:0; left:0; bottom:0; width:530px; padding:0 66px;  box-sizing:border-box;}
	&__box{position:absolute; top:0; left:0; width:100%; height:100%; }
	&__outer{display:inline-table; width:100%; height:100%;}
	&__inner{display:table-cell; vertical-align:middle; }
	&__list{margin:0; padding-left:530px; box-sizing:border-box;}
	&__item{height:140px; list-style:none;
		&:after{display:block; clear:both; content:'';}
		&:nth-child(odd){
			#{$this}__header{background-color:$slim;}
			#{$this}__body{background-color:#fff;}
		}
		#{$this}__inner{width:1%; height:inherit;}
	}
	&__tit{margin:6px 0 0 0; font-size:60px; font-family:$font-pt; font-weight:$regular;}
	&__plus{position:relative; display:block; line-height:1;
		& + &{padding-top:26px;
			&:before{position:absolute; top:-9px; left:0; right:0; width:30px; height:30px; margin:auto; background:url('../images/content/advantage_plus.png') no-repeat center center / contain; content:'';}
		}
	}
	&__headline{margin-top:14px; font-size:50px; font-family:$font-pt; color:#fff; line-height:1;}
	&__img{position:relative; width:100%; height:0; margin-top:20px; padding-bottom:100%; background:url('../images/slim/ulfit/ulfit_img_2.png') no-repeat center center / cover;}
	&__subtit{margin:0; font-size:20px; color:$black1;}
	&__header{float:left; width:27.4%; height:inherit; padding:0 10px; box-sizing:border-box; background-color:#666666;}
	&__body{float:left; width:72.6%; height:inherit; padding:0 50px; box-sizing:border-box; text-align:left;}
	&__subject{margin:10px 0 0 0; font-size:26px; font-family:$font-pt; color:#fff; font-weight:$regular;}
	&__txt{margin:0; font-size:20px; font-weight:$light; line-height:1.5;}
	&__point{font-weight:$bold;}
	&__caption{margin:26px 0 0 0; font-size:20px; color:$black1; line-height:1.5;}
	&__arrow{position:relative; padding-right:18px;
		&:after{position:absolute; top:0; right:2px; bottom:0; display:block; width:13px; height:19px; margin:auto 0;content:'';}
		&.type-down{
			&:after{background:url('../images/content/slim_down.png') no-repeat center center / contain;}
		}
		&.type-up{
			&:after{background:url('../images/content/slim_up.png') no-repeat center center / contain;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&__wrap{position:static; top:auto; left:auto; right:auto; bottom:auto; width:100%; padding:70px 140px; box-sizing:border-box;}
		&__list{padding-left:0;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__wrap{padding:34px;}
		&__list{padding-left:0;}
		&__subtit{font-size:1.3rem;}
		&__tit{font-size:3.1rem;}
		&__plus{
			& + &{padding-top:13px;
				&:before{top:-4px; width:15px; height:15px; }
			}
		}
		&__headline{margin-top:7px; font-size:2.6rem; }
		&__caption{margin-top:12px; font-size:1.3rem;}
		&__arrow{padding-right:10px;
			&:after{right:0px; width:8px; height:11px;}
			&.type-down{
				&:after{background:url('../images/content/slim_down_m.png') no-repeat center center / contain;}
			}
			&.type-up{
				&:after{background:url('../images/content/slim_up_m.png') no-repeat center center / contain;}
			}
		}
		&__item{height:86px;}
		&__subject{margin-top:5px; font-size:1.7rem;}
		&__txt{font-size:1.3rem;}
		&__header{width:29%;}
		&__body{width:71%; padding:0 20px;}
	}
}

.procedure{text-align:center;
	&__list{margin:60px 0 0 -20px; padding:0;  counter-reset:section;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:25%; padding-left:20px; list-style:none; box-sizing:border-box;}
	&__img{position:relative; width:100%; height:0; padding-bottom:68%; border:1px solid #ddd; box-sizing:border-box;
		&:before{position:absolute; left:0; top:-36px; right:0; display:block; width:70px; height:70px; margin:0 auto; line-height:70px; background-color:#ff5e73; color:#fff; font-size:26px;  border-radius:50%; font-family:$font-pt; counter-increment:section; content:"0"counter(section); z-index:10;}
	}
	&__box{display:table-cell; width:1%; height:122px; padding:0 10px; vertical-align:middle; background-color:$slim; box-sizing:border-box;}
	&__txt{margin:0; font-size:20px; color:#fff;}
	@media only screen and (max-width: $tablet-size) {
		&__list{margin-left:-28px; padding:0 40px; box-sizing:border-box;}
		&__item{width:50%; padding-left:28px;
			&:nth-child(2) ~ &{margin-top:54px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__list{margin:30px 0 0 -10px; padding:0;}
		&__item{padding-left:10px;
			&:nth-child(2) ~ &{margin-top:22px;}
		}
		&__img{
			&:before{top:-16px; width:34px; height:34px; line-height:34px; font-size:1.6rem;}
		}
		&__txt{font-size:1.3rem;}
		&__box{height:80px;}
	}
}


.best{text-align:center;
	$this:&;

	&__tit{display:inline-block;
		&:after{position:relative; top:-4px; display:block; width:100%; height:0; border-bottom:4px solid #000; content:'';}
	}
	&__subtit{margin-top: 20px;}
	&__list{margin:74px 0 0 -104px; padding:0; font-size:0;}
	&__item{display:inline-block; width:33.33%; padding-left: 104px; box-sizing:border-box; list-style:none; vertical-align:top;}
	&__wrap{position:relative;}
	&__subject,&__txt{color:#fff;}
	&__subject{position:absolute;top:-36.6%; right:8.5%;}
	&__txt{margin: 0;font-size:20px; line-height:1.5;}
	&__num{position:absolute; top:-35px; left:0; right:0; display:block; width:70px; height:70px; margin:0 auto; border-radius:50%;
		background-color:$point2; font-size:26px; font-family:$font-pt; font-weight:$regular; color:#fff; line-height:70px; z-index:10;}
	&__area{background-color:$petit;}
	&__outer{position:relative; height:180px; }
	&__vertical{display:table-cell; width:1%; height:inherit; padding:10px;vertical-align:middle; box-sizing:border-box;  }
	&__list2{margin:0; padding:0;}
	&__item2{height:110px; font-size:20px; font-weight:$bold; list-style:none; background-color:#f9f9f9;
		&:nth-child(even){background-color:#ebebeb};
	}
	&__wide{position: relative;margin-top: 74px;font-size: 0;transform: rotateZ(0);}
	&__inner{width: 27.78%;}
	&__box{position: absolute;left: 0;top: 0;width: 100%;height: 100%;margin: auto;padding-left: 27.78%;background-color: #f9f9f9;z-index: -1;box-sizing: border-box;}
	&__explain{display: inline-table;width: 100%;height: 100%;padding: 9.89% 17.58%;font-size: 26px;text-align: left;box-sizing: border-box;}

	&.type-single{
		#{$this}__outer{height:140px;}
		#{$this}__txt{font-size:40px; font-family: $font-pt;}
		#{$this}__item2{display:block; height:auto; padding:30px 0px; box-sizing:border-box; font-weight:$regular;}
		#{$this}__vertical{padding:0;}
	}
	&.type-slim{
		#{$this}__outer{background-color:$slim;}
	}
	&.type-petit{
		#{$this}__outer{background-color:$petit;}
	}
	&.type-young{
		#{$this}__outer{background-color:$young;}
		#{$this}__area{background-color:$young;}
	}
	&.type-simple{
		#{$this}__tit{
			&:after{display: none;}
		}
		#{$this}__outer{height: 140px;}
		#{$this}__item{
			&:nth-child(3) ~ #{$this}__item{margin-top: 74px;}
		}
		#{$this}__txt{font-size: 26px;line-height: 1.38;}
	}

	@media only screen and (max-width: $minpc-size3) {padding:0 40px; box-sizing:border-box;
		&.type-single{
			#{$this}__area{background-color:#f9f9f9;}
			#{$this}__txt{margin-top:0;}
			#{$this}__list2{position:absolute; top:0; right:0; bottom:0; width:54.14%; padding-top:140px;}
			#{$this}__item{position:relative;}
			#{$this}__item2{display:inline-table; padding-top:0; padding-bottom:0; width:100%; height:100%;}
			#{$this}__vertical{padding:0 20px;}
		}
		&.type-simple{
			#{$this}__outer{height: 122px;}
			#{$this}__list{margin-left: -4.78%;}
			#{$this}__item{width: 50%;padding-left: 4.78%;
				& + #{$this}__item{margin-top: 0}
				&:nth-child(3) ~ #{$this}__item{margin-top: 0;}
				&:nth-child(2) ~ #{$this}__item{margin-top: 56px;}
			}
			#{$this}__area{position: static;width: 100%;}
			#{$this}__txt{font-size: 20px;margin-top: 0;}
		}

		&__area{position:absolute; top:0; right:0; bottom:0; height:auto; width:54.14%;}
		&__item{
			& + &{margin-top:80px;}
		}
		&__subject{position:static; top:auto; right:auto;}
		&__txt{margin-top:36px;}
		&__outer{display:inline-table; width:100%; height:100%;}
		&__list{margin-left:0;}
		&__item{width:100%; padding-left:0;}
		&__wrap{
			&.type-wide{
				#{$this}__area{position: static;width: 100%;}
				#{$this}__outer{height: 120px;}
				#{$this}__txt{margin-top: 0;}
			}
		}
		&__wide{}
		&__inner{width: 45.86%;}
		&__box{padding-left: 45.86%;}
		&__explain{padding: 0;font-size: 20px;text-align: center;}
	}
	@media only screen and (max-width: $mobile-size) {padding:0;
		&.type-single{
			#{$this}__outer{height:80px;}
			#{$this}__txt{font-size:2.5rem;}
			#{$this}__list2{padding-top:80px;}
			#{$this}__vertical{padding:0 20px;}
		}
		&.type-simple{
			#{$this}__outer{height: 76px;}
			#{$this}__list{margin-top: 30px;margin-left: -3.44%;}
			#{$this}__item{padding-left: 3.44%;
				&:nth-child(2) ~ #{$this}__item{margin-top: 28px;}
			}
			#{$this}__txt{font-size: 1.3rem;}
		}

		&__tit{
			&:after{top:-2px; border-bottom-width:2px;}
		}
		&__num{top:-18px; width:40px; height:40px; line-height:40px; font-size:1.7rem;}
		&__list{margin-top:44px;}
		&__item{
			& + &{margin-top:46px;}
		}
		&__item2{height:54px; font-size:1.3rem;}
		&__txt{margin-top:10px; font-size:1.3rem;}

		&__wrap{
			&.type-wide{
				#{$this}__outer{height: 75px;}
			}
		}
		&__wide{margin-top: 44px;}
		&__explain{font-size: 1.3rem;}
	}
}

.process{text-align:center; padding:0 130px; box-sizing:border-box;
	$this:&;
	&__tit{margin-bottom:40px;}
	&__list{margin:0px 0 0 -110px; padding:0; font-size:0;}
	&__img{position:relative;
		&:before{position:absolute; top:0; bottom:0; left:-85px; display:block; width:60px; height:60px; background:url('../images/content/content_arrow_1.png') no-repeat center center / contain; margin:auto 0; content:'';}

	}
	&__item{display:inline-block; width:33.33%; padding-left:110px; vertical-align:middle; box-sizing:border-box;
		&:first-child{
			#{$this}__img:before{display:none;}
		}
	}
	&__subject{margin-left:-20px; margin-right:-20px;}
	@media only screen and (max-width: $tablet-size) {overflow:hidden; padding:0 40px;
		&__item{width:50%;
			&:nth-child(2) ~ &{margin-top:40px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {padding:0;
		&__list{margin-left:-34px;}
		&__item{padding-left:34px;
			&:nth-child(2) ~ &{margin-top:30px;}
		}
		&__img:before{left:-32px; width:30px; height:30px;}
		&__subject{margin-left:-40px; margin-right:-40px;}
	}
}

.inbody{text-align:center;
	&__tit{margin-bottom:40px;}
	&__point{display:block; margin-bottom:10px; font-size:20px;}
	&__wrap{position:relative; }
	&__case{position:absolute; top:0; left:0; display:block; width:104px; height:48px; line-height:48px; background-color:$point2; color:#fff; font-family:$font-pt; font-size:24px; text-transform: uppercase;}
	&__subject{margin-bottom:40px;}
	&__vertical{vertical-align:middle;}
	&__box{position:relative; padding-top:90px; background-color:#f9f9f9; box-sizing:border-box;
		&:first-of-type{padding-top:50px;}
		& + &{margin-top:80px;}
	}
	&__list{margin:0 0 0 -100px; padding:0 60px; box-sizing:border-box; font-size:0;}
	&__item{position:relative; display:inline-block; width:50%; padding-left:100px; box-sizing:border-box; list-style:none; vertical-align:top;
		&:before{position:absolute; top:0; bottom:0; left:20px; display:block; width:60px; height:60px; background:url('../images/content/content_arrow_2.png') no-repeat center center / contain; margin:auto 0; content:'';}
		&:first-child{
			&:before{display:none;}
		}
	}
	&__point{margin-bottom:10px; font-size:1.3rem;}
	&__caption{position:absolute; top:0; left:0; right:0; display:block; width:96px; height:36px; margin:0 auto; line-height:36px; background-color:#666; color:#fff; font-size:18px; text-transform: uppercase;
		&.type-slim{background-color:$slim;}
	}
	@media only screen and (max-width: $tablet-size) {
		&__vertical{display:block; line-height:1;}
		&__list{margin:0;}
		&__item{width:100%; padding:100px 0 0 0;
			&:first-child{padding-top:0;}
			&:before{bottom:auto; top:20px; left:0; right:0; margin:0 auto; transform: rotate(90deg);}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__subject{margin-bottom:26px;}
		&__plus{position:relative; top:-3px; width:15px; height:15px;}
		&__list{padding:0 15px;}
		&__item{padding-top:50px;
			&:before{top:10px; width:30px; height:30px;}
		}
		&__caption{width:60px; height:22px; line-height:22px; font-size:1.2rem;}
		&__case{width:62px; height:26px; font-size:1.6rem; line-height:26px;}
		&__box{padding-top:40px;
			&:first-of-type{padding-top:40px;}
			& + &{margin-top:30px;}
		}
	}
}

.inbody-table{margin-top:40px; font-size:0;
	$this:&;
	&__list{display:inline-block; margin:0; padding:0; vertical-align:top; counter-reset:section;
		&.nth-3,&.nth-4{
			#{$this}__item{
				&:first-child{
					&:before{display:none;}
				}
				&:before{position:absolute; top:0; bottom:0; left:-30px; display:block; width:60px; height:60px; margin:auto 0;
					background:url('../images/content/content_arrow_1.png') no-repeat center center / contain; content:'';}
			}
		}
		&.nth-2,&.nth-3,&.nth-4{
			#{$this}__item{
				&:first-child{font-size:26px; font-family:$font-pt; font-weight:$regular;  color:#fff; text-transform: uppercase;}
				&:nth-child(even){background-color:#fff;}
			}
		}
		&.nth-1{width:20.8%; font-size:26px; font-family:$font-pt; font-weight:$regular; color:#fff;
			#{$this}__item{background-color:#666;
				&:first-child{background-color:transparent; color:$black1;}
				&:nth-child(even){background-color:$slim;
					#{$this}__num:before{color:$slim;}
				}
			}
		}
		&.nth-2{width:29.2%; font-size:20px; font-weight:$bold;
			#{$this}__item{
				&:first-child{background-color:#666666;}
			}
		}
		&.nth-3{width:29.2%; font-size:20px; font-weight:$bold;
			#{$this}__item{
				&:first-child{background-color:$point2;}
			}
		}
		&.nth-4{width:20.8%; font-size:26px; font-family:$font-pt;
			#{$this}__item{
				&:first-child{
					&:before{display:none;}
				}
				&:before{position:absolute; top:0; bottom:0; left:-30px; display:block; width:60px; height:60px; margin:auto 0;
					background:url('../images/content/content_arrow_1.png') no-repeat center center / contain; content:'';}
				&:nth-child(even){color:$slim;
					&:before{background:url('../images/content/content_arrow_3.png') no-repeat center center / contain;}
				}
				&:nth-child(odd){color:$black2;
					&:before{background:url('../images/content/content_arrow_4.png') no-repeat center center / contain;}
					#{$this}__down:after{background:url('../images/slim/capsule/capsule_down2.png') no-repeat center center / contain;}
					#{$this}__up:after{background:url('../images/slim/capsule/capsule_up2.png') no-repeat center center / contain;}
				}
			}
		}
	}
	&__item{position:relative; height:90px; list-style:none;}
	&__wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle; text-align:center;}
	&__down,&__up{position:relative; display:inline-block; padding-right:30px;
		&:after{position:absolute; top:0; right:0; display:block; width:25px; height:29px; }
	}
	&__down{
		&:after{background:url('../images/slim/capsule/capsule_down1.png') no-repeat center center / contain; content:'';}
	}
	&__up{
		&:after{background:url('../images/slim/capsule/capsule_up1.png') no-repeat center center / contain; content:'';}
	}
	&__num{position:relative; display:inline-block; padding-left:28px; box-sizing:border-box;
		&:before{position:absolute; top:4px; left:0; display:block; width:22px; height:22px; line-height:22px; background-color:#fff; border-radius:50%; counter-increment:section;
			content:counter(section); color:#666; font-family:$font-Eb; font-weight:$Ebold; font-size:16px; text-align:center;}
	}
	@media only screen and (max-width: $tablet-size) {
		&__num{padding-left:0;
			&:before{position:static; margin:0 auto 4px;}
		}
		&__list{
			&.nth-1{width:18.36%;}
			&.nth-2{width:23.59%;}
			&.nth-3{width:23.59%;}
			&.nth-4{width:34.46%;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__list{display:inline-block; margin:0; padding:0; vertical-align:top; counter-reset:section;
			&.nth-3,&.nth-4{
				#{$this}__item{
					&:before{left:-15px; width:30px; height:30px;}
				}
			}
			&.nth-2,&.nth-3,&.nth-4{
				#{$this}__item{
					&:first-child{font-size:1.7rem;}
					&:nth-child(even){background-color:#fff;}
				}
			}
			&.nth-1{width:22.7%; font-size:1.7rem;}
			&.nth-2{width:25.36%; font-size:1.3rem;}
			&.nth-3{width:25.36%; font-size:1.3rem;}
			&.nth-4{width:26.58%; font-size:1.7rem;
				#{$this}__item{
					&:before{left:-15px; width:30px; height:30px;}
				}
			}
		}
		&__item{height:46px;}
		&__num{line-height:1.1; text-align:right;
			&:before{width:14px; height:14px; line-height:14px; font-size:1.1rem;}
		}
		&__down,&__up{padding-right:15px;
			&:after{display:block; width:12px; height:14px; }
		}
	}
}


.section-video{text-align:center;
	&__outer{max-width:820px; width:100%; margin:24px auto 0;}
	&__inner{position:relative;  width:100%; height:0; padding-bottom:56.25%;}
	&__iframe{position:absolute; top:0; left:0; width:100%; height:100%;}
	&__box{width:100%; height:68px;  margin-top:40px;line-height:68px;
		&.type-petit{background:$petit;}
		&.type-slim{background:$slim;}
		&.type-young{background:$young;}
	}
	&__btn{position:relative; padding-right:26px; text-decoration:none; color:#fff; box-sizing:border-box; text-transform: uppercase;
		&:after{position:absolute; top:4px; right:0px; display:block; width:7px; height:10px; background:url('../images/content/video_btn.png') no-repeat center center / contain; content:'';}
	}
	@media only screen and (max-width: $mobile-size) {
		&__outer{margin-top:14px;}
		&__box{height:30px; margin-top:20px;  line-height:30px;}
		&__btn{padding-right:12px;
			&:after{top:4px; right:0px; display:block; width:5px; height:7px; background:url('../images/content/video_btn_m.png') no-repeat center center / contain;}
		}
	}
}

.section-tv{text-align: center;
	$this:&;

	&__tit{display: inline-block;position: relative;padding-left: 95px;
		&:before{content: '';position: absolute;top: -24px;left: 0;width: 72px;height: 65px;background: url('../images/content/video_icon.png') no-repeat center center/contain;}
	}
	&__outer{position: relative;max-width: 1260px;margin: 50px auto 0;box-sizing: border-box;}
	&__area{padding-right: 45.16%;}
	&__video{position: relative;height: 0;padding-bottom: 56.25%;z-index: 50;
		iframe{position: absolute;top: 0;left: 0;width: 100%;height: 100%;border:none;}
	}

	&__wrap{position: absolute;top: 0;right: 0;bottom: 0;width: 100%;padding-left: 54.84%;box-sizing: border-box;overflow-y: auto;}
	&__box{position: relative;width: 100%;height: 100%;padding-left: 16px;box-sizing: border-box;}
	&__list{margin: 0;padding: 0;}
	&__item{list-style: none;height: 130px;box-sizing: border-box;
		& + &{margin-top: 4px}
		&.is-active{
			#{$this}__link{background-color: $point2;}
			#{$this}__txt{font-weight: $medium;color: #fff;}
		}
	}

	&__link{display: block;position: relative;height: inherit;padding: 14px;background-color: #ebebeb;text-align: left;cursor: pointer;box-sizing: border-box;}
	&__thum{width: 178px;height: 100px;}
	&__txt{position: absolute;top: 50%;padding-left: 200px;padding-right: 10px;font-size: 20px;color: #2e2e2e;transform: translateY(-50%);word-break: break-all;}
	&__btn{display: inline-block;width: 192px;margin-top: 82px;padding: 12px 0;background-color: #2e2e2e;font-weight: $bold;color: #fff;text-transform: uppercase;text-decoration: none;box-sizing: border-box;}
	&__span{position:relative;padding-right: 24px;
		&:after{content: '';position: absolute;top: 4px;right: 0;display: block;width: 7px;height: 10px;background: url('../images/content/video_btn.png') no-repeat center center / contain;}
	}

	@media only screen and (max-width: $tablet-size){
		&__outer{padding: 0;}
		&__area{padding-right: 0;}
		&__wrap{position: static;margin-top: 20px;padding-left: 0;}
		&__box{padding-left: 0;max-height: 320px;}
	}
	@media only screen and (max-width: $mobile-size){
		&__tit{padding-left: 54px;
			&:before{top: -14px;width: 43px;height: 39px;}
		}
		&__outer{margin-top: 20px;}
		&__wrap{margin-top: 15px;}
		&__box{max-height: 170px;}
		&__item{height: 65px;}
		&__link{padding: 7px;}
		&__thum{width: 89px;height: 50px;}
		&__txt{padding-left: 104px;font-size: 1.3rem;}
		&__btn{width: 110px;margin-top: 24px;padding: 6px 0;}
		&__span{padding-right: 16px;
			&:after{width: 5px;height: 7px;background: url('../images/content/video_btn_m.png') no-repeat center center / contain;}
		}
	}
}

.caution{position: relative;padding: 105px 30px;background-color: #f5f5f5;
	$this:&;

	&__head{position: absolute;left: 0;bottom: 0;width: 510px;text-align: center;box-sizing: border-box;}
	&__tit{}
	&__subtit{margin-top: 25px;}
	&__img{margin-top: 16px;}
	&__body{padding-left: 510px;}
	&__list{margin:0; padding:0; text-align:center; counter-reset:section;}
	&__item{position:relative; display:inline-block; width:100%; padding-left:60px; list-style:none; font-size:20px; font-weight:$light; background-color:#fff; border-radius:30px; box-sizing:border-box;
		&:before{position:absolute; left:0; top:-8px; display:block; width:70px; height:70px; margin:auto 0; line-height:70px; background-color:#ff5e73; color:#fff; font-size:26px;  border-radius:50%; font-family:$font-pt; counter-increment:section; content:"0"counter(section);}
		& + &{margin-top:20px;}
	}
	&__wrap{padding:16px 15px 16px 32px;text-align: left;
		strong{font-weight:$bold;}

	}

	@media only screen and (max-width: $tablet-size){
		padding: 90px 40px 100px;

		&__head{position: static;width: 100%;}
		&__body{margin-top: -60px;padding-left: 0;}
		&__item{
			&:before{top: -10px;}
		}
		&__wrap{padding: 30px 15px 30px 32px;}
	}
	@media only screen and (max-width: $mobile-size){
		margin: 0 -15px;padding: 40px 34px 50px;

		&__head{padding: 0;}
		&__body{margin-top: -25px;}
		&__subtit{margin-top: 14px;}
		&__img{margin-top: 10px;}
		&__item{font-size: 1.3rem;padding-left: 30px;
			&:before{top:-5px; bottom:auto; width:34px; height:34px; line-height:34px; font-size:1.6rem;}
			& + &{margin-top:15px;}
		}
		&__wrap{padding: 10px 20px;text-align: center;}
	}
}

.difference{position: relative;padding: 85px 190px 0;background:url('../images/young/aura/aura_bg_3.jpg') no-repeat center center / cover;text-align: center;
	$this:&;

    &__tit{}
	&__subtit{}
	&__img{margin-top: 30px;}
	&__wrap{position: absolute;left: 0;bottom: 100px;padding: 0 100px;}
	&__list{margin: 0 0 0 -15px;padding: 0;font-size: 0;}
	&__item{display: inline-block;width: 33.33%;padding-left: 15px;list-style: none;box-sizing: border-box;
		&:nth-child(even){
			#{$this}__box{background-color: rgba(0, 0, 0, 0.83);}
		}
	}
	&__box{width: 100%;padding: 10px;background-color: rgba(47, 47, 47, 0.83);font-size: 20px;color: #fff;line-height: 1.5;box-sizing: border-box;}
	&__vertical{display: table-cell;width: 1%;height: 195px;border: 1px solid #fff;vertical-align: middle;}

	@media only screen and (max-width: $tablet-size){
		padding: 90px 40px 0;

		&__list{margin-top: -10px;margin-left: 0;}
		&__item{width: 100%;margin-top: 10px;padding-left: 0;}
		&__box{padding: 8px;}
		&__vertical{display: block;width: 100%;height: auto;padding: 24px 20px;box-sizing: border-box;}
	}
	@media only screen and (max-width: $mobile-size){
		margin: 0 -15px;padding: 50px 10px 0;

		&__wrap{bottom: 35px;padding: 0 35px;}
		&__box{padding: 4px;font-size: 1.3rem;}
		&__vertical{padding: 12px 10px;}
	}
}

.compare-table{font-size: 0;
    $this:&;

	&.type-young{
		#{$this}__list{
			&.nth-2{
	            #{$this}__item{background-color: #ffd47d;
	                &:nth-child(even){background-color: $young;}
				}
	        }
		}
	}

    &__list{display: inline-block;margin: 0;padding: 0;vertical-align: top;
        &.nth-1{width: 39.68%;
            #{$this}__item{
				&:first-child{background-color: #666666;}
			}
        }
        &.nth-2{width: 20.64%;font-size: 26px;font-family: $font-pt;font-weight: $regular;
            #{$this}__item{background-color: #ff96aa;color: #fff;
                &:first-child{height: 90px;}
                &:nth-child(even){background-color: $petit;}
			}
        }
        &.nth-3{width: 39.68%;border-left: 14px solid $point2;border-right: 14px solid $point2;box-sizing: border-box;
            #{$this}__item{
				&:first-child{background-color: $point2;}
                &:last-child{border-bottom: 14px solid $point2;}
			}
        }
        &.nth-1, &.nth-3{
			#{$this}__item{padding: 0 10px;font-size: 20px;font-weight: $bold;background-color: #f9f9f9;
                &:first-child{height: 90px;font-size: 26px;font-family: $font-pt;font-weight: $regular;color: #fff;}
				&:nth-child(even){background-color:#fff;}
			}
		}
    }
    &__item{height: 110px;list-style: none;background-color: #ddd;box-sizing: border-box;
        &.type-merge{height: 220px;}
    }
    &__vertical{display: table-cell;width: 1%;height: inherit;text-align: center;vertical-align: middle;}

    @media only screen and (max-width: $mobile-size){
        &__list{
            &.nth-2{
                #{$this}__item{font-size: 1.7rem;
    				&:first-child{height: 60px;}
                    &:nth-child(even){background-color: #ff7c95;}
    			}
            }
            &.nth-3{width: 39.68%;border-left-width: 7px;border-right-width: 7px;
                #{$this}__item{
                    &:last-child{border-bottom-width: 7px;}
    			}
            }
            &.nth-1, &.nth-3{
    			#{$this}__item{font-size: 1.3rem;
                    &:first-child{height: 60px;font-size: 1.7rem;}
    			}
    		}
        }
        &__item{height: 70px;
            &.type-merge{height: 140px;}
        }
    }
}
