@charset "UTF-8";
@import "mixins";
.header{position:fixed; left:0; top:0; width:100%;  padding:0 100px; height:75px; background-color:rgba(0,0,0,0.6); border-bottom:1px solid rgba(255,255,255,0.1); box-sizing:border-box;
	 box-sizing:border-box; transition:all 0.3s;  z-index:120;
	$this:&;
	&.type-main{height:122px; background-color:rgba(255,255,255,0.1);
		#{$this}__logo{top:40px;}
		#{$this}__area{padding:50px 0;}
		&.is-active{height:580px;}
	}
	&__wrap{position:relative; width:100%; height:100%;}
	&__logo{position:absolute; top:15px; left:0px; bottom:0; margin:0; outline:0;}
	&__logo-link{display:block;
		img{border: 0;}
	}
	&__area{padding:27px 0;}
	&__right{float:right; height:inherit;}
	&:after{display:block; clear:both; content:'';}
	&.is-active{height:560px; background-color:rgba(0,0,0,0.6);}
	@media only screen and (max-width: $minpc-size2) {padding:0 50px;}
	@media only screen and (max-width: $tablet-size) { height:84px !important; padding:0 30px; background-color:#fff !important; border-bottom:1px solid #ccc;
		&__wrap{ box-sizing:border-box;}
		&__area{padding:27px 0 !important;}
		&__logo{top:25px !important;}
		&.is-active{height:auto;}
	}
	@media only screen and (max-width: $mobile-size) {height:45px !important; padding:0 15px;
		&__logo{top:0 !important;; bottom:0; width:99px; height:20px; margin:auto 0;
			img{width:100%;}
		}
	}
}
.mobile-menu{display:none; position:absolute; bottom:0; right:0; width:30px; height:inherit; text-align: center; box-sizing:border-box; z-index:50; cursor:pointer;
	$this:&;
	&__wrap{position:relative; display:block; width:100%; height:100%;}
	&__line{position:absolute; top:0; left:0; right:0; bottom:0; display:block; height:0px; width:100%; border-top:2px solid #444; margin:auto; transition: all linear 0.2s;
		&:before{position:absolute; top:-11px; left:0; width:100%; height:0px; border-top:2px solid #444; transition: all linear 0.2s; content:'';}
		&:after{position:absolute; bottom:-9px; left:0; width:100%; height:0px; border-top:2px solid #444; transition: all linear 0.2s; content:'';}
	}
	&__tel{display:none;}
	@media only screen and (max-width:$tablet-size){display:block;
		&.is-active{
			#{$this}__line{background: transparent; border-top-color:transparent;
				-webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; transition: all 0.2s linear;
				&:before{visibility: visible;top: 0;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg)}
				&:after{visibility: visible;top: 0;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
			}
		}

	}
	@media only screen and (max-width:$mobile-size){width:22px;
		&__tel{position:absolute; right:30px; overflow:hidden; display:block; width:30px; height:100%; background:url('../images/common/phone_m.png') no-repeat center center / 14px 14px; text-indent:-9999px;}
		&__line{border-top-width:1px;
			&:before{position:absolute; top:-8px; border-top-width:1px;}
			&:after{position:absolute; bottom:-7px; border-top-width:1px;}
		}
	}
}
.gnb{color:#fff;
	$this:&;
	&.is-active{
		#{$this}__depth2-list{height:auto; opacity:1;}
	}
	&__list{display:none;}
	&__logo{display:none; margin-bottom:30px;}
	&__depth1-list{margin:0; padding:0; font-size:0; text-align:center;}
	&__depth1-item{position:relative; display:inline-block; list-style:none; vertical-align:top;
		& + &{margin-left:80px;}
	}
	&__depth1-link{color:inherit; text-decoration:none; font-size:18px; font-weight:$bold;}
	&__depth2-list{overflow:hidden; height:0; opacity:0; position:absolute; left:0; right:0; margin:40px -26px 0; padding:0; text-align:center;  transition-delay:0.2s;}
	&__depth2-item{list-style:none;
		& + &{margin-top:20px;}
	}
	&__depth2-link{text-decoration:none; font-size:14px; font-weight:$bold; color:#acacac;
		&:hover{color:#fff;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&__depth1-item{
			& + &{margin-left:40px;}
		}
		&__depth1-link{font-size:16px;}
		&__depth2-link{font-size:13px;}
	}
	@media only screen and (max-width: $tablet-size) {position:fixed; top:-100%; left:0; width:100%; height:100%; background:url('../images/common/gnb/gnb_bg_t.jpg') no-repeat center center / cover; text-align:center; transition:top 0.5s; z-index:10;
		&.is-active{top:0;}
		&__scroll{overflow:auto; display:block; width:100%; height:100%;}
		&__wrap{position:relative; width:100%; min-height:100%; padding-top:70px; padding-bottom:120px; box-sizing:border-box;}
		&__logo{display:block;}
		&__list{display:block; margin:0; padding:0;font-size:0;}
		&__item{display:inline-block; list-style:none;
			& + &{margin-left:16px;}
		}
		&__link{display:block; width:136px; height:40px; font-size:14px; background-color:#000000; color:#fff; border:1px solid #000; text-decoration:none; vertical-align:middle; border-radius:20px; text-transform: uppercase;
			& span{display:inline-block; height:100%; vertical-align:middle;
				&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
			}
			&.type-join{background-color:transparent; color:#000;}
		}
		&__depth1-list{margin-top:30px;}
		&__depth1-item{display:block; border-bottom:1px solid #ccc; transition: background-color 1s;
			&:first-child{border-top:1px solid #ccc;}
			& + &{margin-left:0;}
			&.is-active{background-color:#fff;
				#{$this}__depth1-link:after{ transform: rotate(0deg);}
				#{$this}__depth2-list{max-height: 580px; padding:0 0 18px;}
			}
			&.type-1depth{
				#{$this}__depth1-link:after{display:none;}
			}
		}
		&__depth1-link{position:relative; display:block; width:100%; padding:22px 0; font-size:22px; color:#000;
			&:after{position:absolute; top:0; bottom:0; right:30px; width:10px; height:10px; margin:auto 0;
				background:url('../images/common/gnb/gnb_arrow.png') no-repeat center center / contain; transform: rotate(180deg); transition: transform 0.3s; content:'';}
		}
		&__depth2-list{overflow:hidden; position:static; height:auto; max-height:0; opacity:1; margin:0; padding:0; transition:max-height 1s, padding 1s;}
		&__depth2-item{
			& + &{margin-top:0;}
		}
		&__depth2-link{display:block; padding:10px 0; font-size:18px; color:#777;
			&:hover{color:#777;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__wrap{padding-top:40px; padding-bottom:80px;}
		&__logo{width:152px; margin:0 auto 16px;
			img{width:100%;}
		}
		&__item{
			& + &{margin-left:10px;}
		}
		&__link{display:block; width:86px; height:26px; font-size:1rem; border-radius:12px;}
		&__depth1-list{margin-top:20px;}
		&__depth1-item{
			&.is-active{
				#{$this}__depth2-list{max-height:580px; padding:0 0 10px;}
			}
		}
		&__depth1-link{padding:12px 0; font-size:1.5rem;
			&:after{right:15px; width:5px; height:5px;}
		}
		&__depth2-link{padding:5px 0; font-size:1.3rem;}
	}
}
.quick{position:fixed; top:174px; right:24px; display:none;
	$this:&;
	&.is-active{display:block;}
	&__list{margin:0; padding:0;}
	&__item{overflow:hidden; position:relative; width:60px; height:60px; border-radius:50%; list-style:none; background-color:#eee; text-indent:-9999px; font-size:0;
		& + &{margin-top:10px;}
		&.nth-1{text-indent:0;
			&:hover{background-color:#111;

				#{$this}__link{
					&.type-another{color:#fff;
						+ #{$this}__link.type-another{
							&:before{border-top-color:#535353;}
						}
					}
				}
			}
		}
		&.nth-2{background:url('../images/common/gnb/quick_icon1.png') #eee no-repeat center center;}
		&.nth-3{background:url('../images/common/gnb/quick_icon2.png') #eee no-repeat center center;}
		&.nth-4{background:url('../images/common/gnb/quick_icon3.png') #eee no-repeat center center;}
		&.nth-5{text-indent: 0;
			&:before{position:absolute; top:0; left:0; right:0; bottom:0; display:block; width:calc(100% - 2px); height:calc(100% - 2px); margin:auto; background:url('../images/common/gnb/common_top.png') #eee no-repeat center center; content:''; border-radius:50%;}
		}
		&.is-active{ animation:aniRotate 0.5s 0s ease-in-out none;
			&.nth-2,&.nth-3,&.nth-4{background-image:none; background-color:#ff5e73; text-indent:0; font-size:12px; color:#fff;}
			&.nth-2{background-color:#111;}
			&.nth-5{overflow:visible; cursor:pointer;
				&:before{top:-1px; left:-1px; width:calc(100% + 2px); height:calc(100% + 2px); background:url('../images/common/gnb/common_top_w.png') $point2 no-repeat center center; z-index:10;}
			}
		}
	}
	&__wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle; text-align:center;}
	&__link{position:absolute; top:0; left:0; width:100%; height:100%; overflow:hidden; text-decoration:none; color:#ff5e73; text-indent:-9999px;
		&.type-another{position:static; top:auto; left:auto; width:auto; height:auto; text-indent:0; font-size:10px; font-weight:$regular;
			& + &{
				&:before{display:block; width:28px; height:0; margin:1px auto; border-top:1px solid #dbdbdb; content:'';}
			}
		}
	}
	&.type-mobile{display:none;}
	@media only screen and (max-width: $tablet-size) {position:absolute; top:auto; left:0; right:0; bottom:40px; text-align:center;
		&.type-mobile{position:fixed; left:auto; bottom:40px; right:30px; transition: bottom 0.3s;
			#{$this}__item{display:block;
				& + #{$this}__item{margin:20px 0 0 0;}
			}
			&.is-show{display:block;}
		}
		&__list{font-size:0;}
		&__item{display:inline-block; width:60px; height:60px;
			&.nth-1{display:none;}
			&.nth-2{background:url('../images/common/gnb/quick_icon1_t.png') no-repeat center center / contain;}
			&.nth-3{background:url('../images/common/gnb/quick_icon2_t.png') no-repeat center center / contain;}
			&.nth-4{background:url('../images/common/gnb/quick_icon3_t.png') no-repeat center center / contain;}
			&.nth-5{display:none;}
			& + &{margin:0 0 0 20px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {bottom:20px;
		&.type-mobile{bottom:20px; right:15px;
			#{$this}__item{
				& + #{$this}__item{margin:10px 0 0 0;}
			}
		}
		&__item{width:45px; height:45px;
			& + &{margin-left:10px;}
		}
	}
}



.footer{position:absolute; left:0; right:0; bottom:0; background-color:#fff; text-align:center;
	$this:&;
	&__wrap{padding:100px 0;}
	&__box{border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; padding:16px 10px; box-sizing:border-box;}
	&__noti{margin:0; font-size:12px; color:$black3; font-weight:$regular;}
	&__logo{margin:0 auto;
		img{margin:0px auto;}
	}
	&__list{margin:0; padding:0; font-size:0;
		&:first-of-type{margin-top:30px;}
	}
	&__item{position:relative; display:inline-block; margin-top:10px; list-style:none; font-size:14px; color:#999; box-sizing:border-box;
		& + &{margin-left:10px; padding-left:10px;
			&:before{position:absolute; top:0; bottom:0; left:0; display:block; height:13px; width:0; margin:auto 0; border-left:1px solid #ebebeb; content:'';}
		}
	}
	&__link{text-decoration:none; color:inherit;}
	&__list2{margin:40px 0 0 0; padding:0;font-size:0;}
	&__item2{display:inline-block; list-style:none;
		& + &{margin-left:20px;}
	}
	&__link2{display:block; width:160px; height:40px; font-size:14px; color:#bbbbbb; border:1px solid #d2d2d2; text-decoration:none; vertical-align:middle; border-radius:10px; box-sizing:border-box;
		& span{display:inline-block; height:100%; vertical-align:middle;
			&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
		}
		&.color-black1{border-color: $black2;}
	}
	@media only screen and (max-width: $mobile-size) {overflow:hidden;
		&__box{padding:10px;}
		&__noti{font-size:1.1rem;}
		&__wrap{padding:50px 0;}
		&__logo{width:155px; height:31px; margin:0px auto;
			img{width:100%;}
		}
		&__list{
			&:first-of-type{margin-top:20px;}
		}
		&__item{margin-top:6px; font-size:1.2rem;
			&:nth-child(3){margin-left:0; padding-left:0;
				&:before{display:none;}
			}
		}
		&__list2{margin:20px 0 0 -10px;}
		&__item2{width:50%; padding-left:10px; box-sizing:border-box;
			& + &{margin-left:0;}
			&:nth-child(2) ~ & {margin-top:10px;}
		}
		&__link2{width:100%; height:26px; font-size:1.2rem; border-radius:6px;}
	}
}

//퀵 회전모션
@keyframes aniRotate{
    0%{opacity:0;transform:rotateY(180deg) rotateX(0);z-index:1}
    100%{opacity:1;transform:rotateY(0) rotateX(0);z-index:2}
}
@-webkit-keyframes aniRotate{
    0%{opacity:0;-webkit-transform:rotateY(180deg) rotateX(0)}
    100%{opacity:1;-webkit-transform:rotateY(0) rotateX(0)}
}
@-moz-keyframes aniRotate{
    0%{opacity:0;-moz-transform:rotateY(180deg) rotateX(0)}
    100%{opacity:1;-moz-transform:rotateY(0) rotateX(0)}
}
@-o-keyframes aniRotate{
    0%{opacity:0;-o-transform:rotateY(180deg) rotateX(0)}
    100%{opacity:1;-o-transform:rotateY(0) rotateX(0)}
}
@-ms-keyframes aniRotate{
    0%{opacity:0;-ms-transform:rotateY(180deg) rotateX(0)}
    100%{opacity:1;-ms-transform:rotateY(0) rotateX(0)}
}

//스크롤버튼
.scroll-top {overflow:hidden; display:block; height: 60px;width: 60px; color:$point; font-size:20px; font-weight:$bold;
    $this:&;
    &__progress {position:relative; display: block;width: 100%;height: 100%; border-radius: 50%; font-size:0;}
    &__arrow{
        // &:before,&:after{position:absolute; left:0; display:none; width:100%; height:100%; border-radius:50%; @include background('../images/common/common_top_w.png','no-repeat center center'); z-index:20; content:'';}
        // &:before{top:0;}
        // &:after{bottom:-50px;}
    }
    &__progress canvas {max-width: 100%;max-height: 100%;}
    i{position:absolute; top:0; left:0; width:100%; height:100%; text-align:center;
        &:before{position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
    }
    @media only screen and (max-width: $tablet-size){display:none;}
}
//프로그레스바
#progress-indicator{display:none;
    @media only screen and (max-width: $tablet-size){display:block;z-index:130;
		&.is-hide{display:none;}
	}
}
