@charset "UTF-8";
@import "mixins";
.visual{
	$this:&;
	&.type-guide{background:url('../images/young/charm/charm_visual_1.jpg') no-repeat center center / cover;
		#{$this}__box{opacity:1; margin-top:0;}
		@media only screen and (max-width: $tablet-size) {background:url('../images/young/charm/charm_visual_1_t.jpg') no-repeat center center / cover;}
	}
}
.section-head{
	$this:&;
	&.type-guide{padding-top:150px; background:url('../images/young/charm/charm_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom:94.44%; background:url('../images/young/charm/charm_bg_2.png') no-repeat center center / cover;}
		#{$this}__rl{top:50%; margin-top:-160px; left:146px;}
		#{$this}__list{top:0; bottom:0; right:60px; height:476px; margin:auto 0;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-guide{padding:70px 40px 0;background-image:none; background-color:#defcff;
			#{$this}__area{background:none; padding-bottom:0;}
			#{$this}__list{top:auto; bottom:auto; right:auto; height:auto;}
			#{$this}__img{margin-left:-40px; margin-right:-40px;; font-size:0;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-guide{padding:50px 20px 0;
			#{$this}__img{margin-left:-20px; margin-right:-20px;}
		}
	}
}
.charm-box1{position:relative; padding-top:60px; box-sizing:border-box;
	&:before{position:absolute; top:0; left:0; width:100%; height:0; padding-bottom:59.52%; background:url('../images/young/charm/charm_bg_3.jpg') no-repeat center center / cover;
		z-index:-1; content:'';}
	&__wrap{padding:84px 230px 0; box-sizing:border-box;}
	&__tit{color:$young;}
	&__small{font-size:40px; color:#fff;}
	&__subtit{margin-top:480px; font-weight:$regular; color:#fff; font-style:italic;
		strong{font-weight:$bold;}
	}
	&__box{padding:60px; background:url('../images/young/charm/charm_bg_4.jpg') no-repeat center center / cover; box-sizing:border-box;}
	&__txt{margin-top:60px; padding:0 60px; box-sizing:border-box;}
	&__img{display:none; font-size:0;
		img{max-width:100%;}
	}
	@media only screen and (max-width: $tablet-size) {
		&__img{display:block;}
		&__wrap{padding:40px 104px 0;}
		&__box{padding:0; background:none; text-align:center;}
		&__tit{margin-top:40px;}
		&__txt{margin:36px -64px 0; text-align:center;}
		&__subtit{margin-top:26px; color:$black1;}
		&__small{color:$black1;}
	}
	@media only screen and (max-width: $mobile-size) {padding-top:30px;
		&__wrap{padding:15px 20px 0;}
		&__tit{margin-top:26px; line-height:0.8;}
		&__subtit{margin-top:12px;}
		&__small{font-size:2.6rem;}
		&__txt{margin:20px -20px 0;}
	}
}
.content-head{padding:0 60px; box-sizing:border-box;
	&__tit{ margin:0; font-size:28px; font-weight:$regular; font-family:$font-pt; color:$black1; line-height:1;}
	&__txt{position:absolute; right:0; bottom:10px; margin:0; font-size:14px; font-weight:$bold;}
	&__wrap{position:relative; padding-bottom:10px; border-bottom:4px solid $black1; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	@media only screen and (max-width: $mobile-size) {padding:0 20px;
		&__tit{font-size:1.5rem;}
		&__txt{font-size:1rem; bottom:5px;}
		&__wrap{padding-bottom:5px; border-width:2px;}
	}
}

.section-head{
	$this:&;
	&.type-anti{padding:150px 200px 100px; background:url('../images/young/anti/anti_bg_1.jpg') no-repeat center center / cover;
		#{$this}__area{padding-bottom:104.44%; background:url('../images/young/anti/anti_bg_2.png') no-repeat center center / cover;}
		#{$this}__rl,#{$this}__list{position:static;}
		#{$this}__inline{position:absolute; left:-50px;
			&.type-another{left:auto; right:-140px;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-anti{padding:70px 40px; background:url('../images/young/anti/anti_bg_1_t.jpg') no-repeat center center / cover;
			#{$this}__area{background:none; padding-bottom:0;}
			#{$this}__inline{position:static; top:auto; bottom:auto; right:auto; height:auto;}
			#{$this}__img{font-size:0;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-anti{padding:40px 20px 50px; background:url('../images/young/anti/anti_bg_1_m.jpg') no-repeat center center / cover;}
	}
}
.where{
	$this:&;
	&.type-guide{
		#{$this}__wrap{background:url('../images/young/charm/charm_bg_5.png') no-repeat center center / contain;}
	}
}
.detail{
	$this:&;
	&.type-guide{
		#{$this}__area{background:url('../images/content/petit_bg.jpg') no-repeat center center / cover;}
		#{$this}__box{background:url('../images/petit/water/water_bg_4.jpg') no-repeat center center / cover; }
	}
	@media only screen and (max-width: $minpc-size2) {
		&.type-guide{
			#{$this}__box{background:url('../images/young/charm/charm_bg_6_t.jpg') no-repeat center center / cover;}
			#{$this}__list{background:url('../images/young/charm/charm_bg_7_t.jpg') no-repeat center center / cover;}
		}
	}
}
