@charset "UTF-8";
@import "variables";
@import "mixins";
.container-top{
	&.type-introduce{background:url('../images/introduce/introduce_top_1.jpg') no-repeat center center / cover;}
}
.introduce{text-align:center;
	$this:&;
	&__tit{margin:0; font-size:20px; font-weight:$Ebold; font-family:$font-Eb; color:$black1;
		&:before{display:block; width:20px; height:0; margin:0 auto 26px;  border-top:2px solid $black1; content:'';}
	}
	&__subtit{margin:30px 0 0 0; font-size:16px; color:$black1;
		&.type-another{color:$black2;}
	}
	&__add{margin: 0; font-size: 16px;color:$black1;}
	&__box{margin-top:30px;}
	&__txt{margin:0; font-size:16px; color:$black3;
		& + &{margin-top:6px;}
	}
	&__list{margin:36px 0 0 0; padding:0; font-size:0;}
	&__item{display:inline-block; list-style:none;
		&.type-naver{
			#{$this}__icon{padding-left:38px;
				&:before{width:18px; height:16px; background:url('../images/introduce/naver_icon.png');}
			}
		}
		&.type-sms{
			#{$this}__icon{padding-left:42px;
				&:before{width:22px; height:16px; background:url('../images/introduce/sms_icon.png');}
			}
		}
		& + &{margin-left:10px;}
	}
	&__link{display:table-cell; width:210px; height:50px; vertical-align:middle; border:1px solid $black1; font-size:16px; font-weight:$regular; color:$black1; text-decoration:none; box-sizing:border-box;}
	&__icon{position:relative;
		&:before{position:absolute; top:0; bottom:0; left:0; display:block; margin:auto 0;   content:'';}
	}
	@media only screen and (max-width: $mobile-size) {
		&__tit{font-size:1.9rem;
			&:before{border-top-width:1px; margin-bottom:22px;}
		}
		&__txt{font-size:1.4rem;}
		&__subtit{font-size:1.4rem;
			&.type-another{margin-top:20px; line-height:1.4;}
		}
		&__box{margin-top:16px;}
		&__list{margin:24px 0 0 -10px;}
		&__item{width:50%; padding-left:10px; box-sizing:border-box;
			& + &{margin-left:0;}
			&.type-naver{
				#{$this}__icon{padding-left:22px;
					&:before{width:12px; height:11px; background:url('../images/introduce/naver_icon_m.png') no-repeat center center / contain;}
				}
			}
			&.type-sms{
				#{$this}__icon{padding-left:24px;
					&:before{width:14px; height:11px; background:url('../images/introduce/sms_icon_m.png') no-repeat center center / contain;}
				}
			}
		}
		&__link{height:36px; width:1%; font-size:1.2rem;}
	}
}

.location{position:relative; height:588px; margin-top:60px;
	$this:&;
	&:after{display:block; clear:both; content:'';}
	&__box{float:left; height:inherit; width:38.54%; background:url('../images/introduce/introduce_bg_1.jpg') no-repeat center center / cover;}
	&__area{display:table-cell; height:inherit; width:1%; vertical-align:middle; text-align:right;}
	&__outer{display:inline-block; width:410px; text-align:left;}
	&__map{float:right; width:61.46%; height:inherit;}
	&__relative{position:relative;
		&:after{display:block; clear:both; content:'';}
	}
	&__list{margin:0; padding:0;}
	&__item{list-style:none; color:#fff;
		&.type-tel{
			#{$this}__wrap{
				&:before{background:url('../images/introduce/introduce_icon_1.png') no-repeat center center / contain;}
			}
		}
		&.type-time{
			#{$this}__wrap{
				&:before{background:url('../images/introduce/introduce_icon_2.png') no-repeat center center / contain;}
			}
		}
		& + &{margin-top:60px;}
	}
	&__tit{display:inline-block; margin:0; font-size:20px; font-weight:$Ebold; font-family:$font-Eb;
		&:before{display:block; width:20px; height:0; margin-bottom:26px; border-top:2px solid #fff; text-align:left;content:'';}
	}
	&__inner{display:table-cell; width:1%; height:80px; vertical-align:middle;}
	&__wrap{position:relative; margin-top:26px; padding-left:100px; box-sizing:border-box; text-align:left;
		&:before{position:absolute; top:0; left:0; display:block; width:80px; height:80px; content:'';}
	}
	&__tel{margin:0; font-size:30px; line-height:1;
		& + &{margin-top:8px;}
	}
	&__txt{margin:0; font-size:16px; font-weight:$regular; letter-spacing:-1px; line-height:1.625;}
	&__night{display:inline-block; margin-left:6px; padding:2px 7px 2px 5px; font-size:14px; color:#98b3fe; background-color:#fff;}
	@media only screen and (max-width: $tablet-size) {height:auto; padding:0 30px; box-sizing:border-box;
		&__box{width:100%;}
		&__map{width:100%; padding-bottom:83.05%;}
		&__area{display:block; width:auto; height:auto;}
		&__outer{display:block; width:auto; padding:70px 10px 70px 140px; box-sizing:border-box;}
		&__tel{display:inline-block;
			& + &{margin-top:0;}
			.hidden-p{display:inline !important; margin:0 6px 0 4px;}
		}
	}
	@media only screen and (max-width: $mobile-size){margin-top:25px; padding:0;
		&__outer{padding:35px 15px;}
		&__tit{font-size:1.5rem;
			&:before{width:10px; margin-bottom:10px; border-top-width:1px;}
		}
		&__wrap{margin-top:14px; padding-left:64px;
			&:before{width:48px; height:48px;}
		}
		&__inner{height:48px;}
		&__tel{font-size:2.1rem;
			.hidden-p{margin:0 3px 0 2px;}
		}
		&__txt{font-size:1.3rem;}
		&__map{padding-bottom:91.875%;}
		&__item{
			& + &{margin-top:30px;}
		}
		&__night{margin-left:4px; padding:2px 4px 1px 3px; font-size:1.1rem;}
	}
}
.marker{
	&__box{position:relative; top:-80px; padding:10px; background:#fff; border:1px solid #7681a8; box-sizing:border-box;
		&:after{position:absolute; bottom:-9px; left:0; right:0; display:block; width:11px; height:9px; margin:0 auto; background:url('../images/common/marker_arrow.png') no-repeat center center; content:'';}
	}
	&__txt{margin:0; font-size:16px; line-height:1.4; }
	@media only screen and (max-width: $mobile-size){padding:5px;
		&__txt{font-size:1.2rem;}
	}
}



.advice{text-align:center;
	&__bg{padding:100px 0px; background-color:#f7f7f7; box-sizing:border-box;}
	&__wrap{width:650px; margin:0px auto;}
	&__list{margin:60px 0 0 0; padding:0; font-size:0;}
	&__item{display:inline-block; list-style:none;
		& + &{margin-left:20px;}
	}
	&__link{display:block; width:210px; height:50px; line-height:50px; background-color:$point2; font-size:16px; color:#fff; text-decoration:none; border:none;}
	@media only screen and (max-width: $tablet-size) {padding:0 30px; box-sizing:border-box;
		&__wrap{width:auto; padding:0 40px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size) {overflow:hidden; padding:0;
		&__bg{padding:50px 15px;}
		&__wrap{padding:0;}
		&__list{margin:36px 0 0 -20px;}
		&__item{width:50%; padding-left:20px; box-sizing:border-box;
			& + &{margin-left:0;}
		}
		&__link{width:100%; height:36px; font-size:1.4rem; line-height:36px;}
	}
}

.map-motion{
	&__bg,&__fake{display:none;}
	@media only screen and (max-width:$tablet-size){
		&__bg{position:absolute; top:0; left:0; bottom:0; right:0; display:block; background-color:rgba(0,0,0,0.8); opacity:0; text-align:center; z-index:5; transition: opacity 0.8s;
            &.is-active{opacity:1;}
            &.is-important{display:none !important;}
        }
        &__fake{position:absolute; top:0; left:0; bottom:0; right:0; display:block; text-align:center; z-index:3; opacity:0.5;
            &.is-hide{display:none;}
        }
        &__noti{position:absolute; top:60%; left:0; right:0; font-size:1.8rem; margin:0 auto; color:#fff; transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); font-weight:$bold;}
	}
}
