@charset "UTF-8";
@import "variables";
@import "mixins";
.bx-wrapper{height:100%;}
.main-visual{position:relative; height:100vh;
	$this:&;
	&__bx{height:100%;
		.bx-viewport{height:100% !important;}
	}
	&__list{width:100%; height:100%; margin:0; padding:0;}
	&__item{position:relative; width:100%; height:100%; list-style:none;
		&.nth-1{background:url('../images/main/visual/main_visual_1.jpg') no-repeat center center / cover;}
		&.nth-2{background:url('../images/main/visual/main_visual_2.jpg') no-repeat center center / cover;}
		&.nth-3{background:url('../images/main/visual/main_visual_3.jpg') no-repeat center center / cover;}
		&.nth-4{background:url('../images/main/visual/main_visual_4.jpg') no-repeat center center / cover;}

		// 월 이벤트
		&.type-1904{background:url('../images/main/visual/main_visual_1904.jpg') no-repeat center center / cover;}
		&.type-1905{background:url('../images/main/visual/main_visual_1905.jpg') no-repeat center center / cover;}
		&.type-1906{background:url('../images/main/visual/main_visual_1906.jpg') no-repeat center center / cover;}
		&.type-1907{background:url('../images/main/visual/main_visual_1907.jpg?ver=190731') no-repeat center center / cover;}
		&.type-1909{background:url('../images/main/visual/main_visual_1909.jpg') no-repeat center center / cover;}
		&.type-1912{background:url('../images/main/visual/main_visual_1912.jpg') no-repeat center center / cover;}
	}
	&__wrap{position:relative; width:100%; height:100%; max-width:1420px; margin:0px auto; box-sizing:border-box;overflow: hidden;}
	&__box{text-indent: -999px;}
	// &__wrap{position:relative; width:100%; height:100%; max-width:1420px; margin:0px auto; box-sizing:border-box;}
	// &__box{position:absolute; top:22.4%; left:10px; color:#fff;}
	&__subtit{margin:0; font-size:16px; font-weight:$bold;}
	&__tit{margin:50px 0 0 0; font-size:60px; font-weight:$regular; font-family:$font-pt; line-height:1.1;}
	&__group{position:absolute; left:0; right:0; max-width:1400px; width:100%; margin:0 auto; padding:0 10px; bottom:94px; font-size:0; z-index:105; box-sizing:border-box;}
	&__group-wrap{position:relative;
		&:after{display:block; clear:both; content:'';}
	}
	&__inner{position:absolute; bottom:0;}
	&__btn{ overflow:hidden; display:inline-block; width:20px; height:16px; text-indent:-999px; transition:background 0.3s;
		&.type-prev{background:url('../images/main/main_prev_off.png');
			&:hover{background:url('../images/main/main_prev_on.png');}
		}
		&.type-next{background:url('../images/main/main_next_off.png');
			&:hover{background:url('../images/main/main_next_on.png');}
		}
		&.type-black{
			&.type-prev{background:url('../images/main/main_prev_off_black.png');
				&:hover{background:url('../images/main/main_prev_on_black.png');}
			}
			&.type-next{background:url('../images/main/main_next_off_black.png');
				&:hover{background:url('../images/main/main_next_on_black.png');}
			}
		}
		& + &{margin-left:18px;}
	}
	&__spring{position:relative; padding:34px; border:1px solid #fff;}
	&__link{overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; text-indent:-9999px;}
	@media only screen and (max-width: $tablet-size) {
		height: auto !important;
		&__wrap{padding:0 30px; box-sizing:border-box;}
		&__group{bottom:4.8%; left:0; right:0; padding:0 30px; box-sizing:border-box;}
		&__box{top:auto; left:auto; bottom:16.6%;}
		&__item{height: 0;padding-bottom: 133.33%;
			&.nth-1{background:url('../images/main/visual/main_visual_1_t.jpg') no-repeat center center / cover;}
			&.nth-2{background:url('../images/main/visual/main_visual_2_t.jpg') no-repeat center center / cover;}
			&.nth-3{background:url('../images/main/visual/main_visual_3_t.jpg') no-repeat center center / cover;}
			&.nth-4{background:url('../images/main/visual/main_visual_4_t.jpg') no-repeat center center / cover;}

			// 월 이벤트
			&.type-1904{background:url('../images/main/visual/main_visual_1904_t.jpg') no-repeat center center / cover;}
			&.type-1905{background:url('../images/main/visual/main_visual_1905_t.jpg') no-repeat center center / cover;}
			&.type-1906{background:url('../images/main/visual/main_visual_1906_t.jpg') no-repeat center center / cover;}
			&.type-1907{background:url('../images/main/visual/main_visual_1907_t.jpg?ver=190731') no-repeat center center / cover;}
			&.type-1909{background:url('../images/main/visual/main_visual_1909_t.jpg') no-repeat center center / cover;}
			&.type-1912{background:url('../images/main/visual/main_visual_1912_t.jpg') no-repeat center center / cover;}
		}
		&__spring{border:none; padding:0;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__wrap{padding:0 15px;}
		&__group{bottom:4.25%; padding:0 15px;}
		&__subtit{font-size:1.2rem;}
		&__tit{margin:20px 0 0 0; font-size:3.6rem;}
		&__box{bottom:14.82%;}
		&__item{padding-bottom: 150%;
			&.nth-1{background:url('../images/main/visual/main_visual_1_m.jpg') no-repeat center center / cover;}
			&.nth-2{background:url('../images/main/visual/main_visual_2_m.jpg') no-repeat center center / cover;}
			&.nth-3{background:url('../images/main/visual/main_visual_3_m.jpg') no-repeat center center / cover;}
			&.nth-4{background:url('../images/main/visual/main_visual_4_m.jpg') no-repeat center center / cover;}

			// 월 이벤트
			&.type-1904{background:url('../images/main/visual/main_visual_1904_m.jpg') no-repeat center center / cover;}
			&.type-1905{background:url('../images/main/visual/main_visual_1905_m.jpg') no-repeat center center / cover;}
			&.type-1906{background:url('../images/main/visual/main_visual_1906_m.jpg') no-repeat center center / cover;}
			&.type-1907{background:url('../images/main/visual/main_visual_1907_m.jpg?ver=190731') no-repeat center center / cover;}
			&.type-1909{background:url('../images/main/visual/main_visual_1909_m.jpg?ver=190731') no-repeat center center / cover;}
			&.type-1912{background:url('../images/main/visual/main_visual_1912_m.jpg') no-repeat center center / cover;}
		}
		&__btn{width:19px; height:16px;
			&.type-prev{background:url('../images/main/main_prev_off_m.png') no-repeat center center / contain;
				&:hover{background:url('../images/main/main_prev_on_m.png') no-repeat center center / contain;}
			}
			&.type-next{background:url('../images/main/main_next_off_m.png') no-repeat center center / contain;
				&:hover{background:url('../images/main/main_next_on_m.png') no-repeat center center / contain;}
			}
			&.type-black{
				&.type-prev{background:url('../images/main/main_prev_off_m_black.png') no-repeat center center / contain;
					&:hover{background:url('../images/main/main_prev_on_m_black.png') no-repeat center center / contain;}
				}
				&.type-next{background:url('../images/main/main_next_off_m_black.png') no-repeat center center / contain;
					&:hover{background:url('../images/main/main_next_on_m_black.png') no-repeat center center / contain;}
				}
			}
		}
	}
}
.main-page{
	&__group{float:right; font-weight:$Ebold; font-family: $font-Eb; line-height:1;}
	&__now{font-size:24px; color:#fff;}
	&__total{margin-left:2px; font-size:16px; color:rgba(255,255,255,0.6); vertical-align:top;}
	@media only screen and (max-width: $mobile-size) {
		&__now{font-size:2.5rem;}
		&__total{font-size:1.7rem;}
	}
}
.section{height:100vh; width:100%; background-color:green;}

.focus{position:relative; text-align:center;
	$this:&;
	&__tit{margin:0; font-size:40px; font-weight:$light; color:$black1;}
	&__list{margin:40px 0 0 0; padding:0; text-align:left; font-size:0;}
	&__item{position:relative; display:inline-block; width:33.33%; list-style:none; vertical-align:top;
		&:before{opacity:0; position:absolute; top:0; left:0; right:0; bottom:0;  display:block; width:100%; height:100%; transition: width 0.8s, height 0.8s, opacity 0.8s;
			 margin:auto; background-color:#fff; z-index:1; content:'';}
		&.is-active{
			&:before{width:86.25%; height:86.25%; opacity:1;}
			#{$this}__box{color:$black1;}
			#{$this}__noti{color:$black3;}
			#{$this}__link{display:inline-block;}
		}
	}
	&__img{position:relative; width:100%; height:0; padding-bottom:100%;}
	&__subtit{margin:0; font-size:16px; font-weight:$regular;}
	&__subject{margin:10px 0 0 0; font-size:40px; font-family:$font-pt; font-weight:$regular; line-height:1;}
	&__wrap{position:absolute; top:0; left:0; width:100%; height:100%; z-index:5;}
	&__box{display:inline-table; width:100%; height:100%; color:#fff; transition: color 0.8s;}
	&__inner{display:table-cell; vertical-align:middle; text-align:center;}
	&__txt{margin:10px 0 0 0; font-size:16px; font-weight:$regular;}
	&__price{margin-top:60px;}
	&__price-icon{vertical-align:middle; font-size:30px; font-weight:$bold; line-height:1}
	&__price-won{margin-left:5px; font-size:40px; font-weight:$regular; vertical-align:middle; line-height:1;}
	&__noti{margin:36px 0 0 0; font-size:12px; font-weight:$regular; color:$black3;}
	&__bottom{position:absolute; left:0; right:0; bottom:12%; text-align:center; font-size:0;}
	&__link{display:none; overflow:hidden; width:30px; height:30px; text-indent:-9999px;
		& + &{margin-left:10px;}
		&.type-page{ background:url('../images/main/focus_icon_1.png') no-repeat center center / contain;}
		&.type-contact{ background:url('../images/main/focus_icon_2.png') no-repeat center center / contain;}
	}
	&__btn{overflow:hidden; position:absolute; top:0; bottom:0; display:none; width:50px; height:50px; margin:auto 0; z-index:105; text-indent:-999px;
		&.type-prev{left:0; background:url('../images/main/focus_prev.gif') no-repeat center center / contain;}
		&.type-next{right:0; background:url('../images/main/focus_next.gif') no-repeat center center / contain;}
	}
	&__alarm{position:absolute; bottom:96px; left:0; right:0; opacity:0; transition:opacity 0.4s; text-align:center;
		&.is-active{opacity:1;}
		span{display:inline-block; height:30px; padding:0 10px; line-height:30px; font-size:12px; color:#fff; box-sizing:border-box; background-color:#000;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&__item{width:50%;}
	}
	@media only screen and (max-width: $tablet-size) {
		&__item{display:block; width:100%;
			&:before{display:none;}
		}
		&__wrap{position:static; top:auto; left:auto;}
		&__box{display:block; padding:70px 0; color:$black1;}
		&__inner{display:block;}
		&__bottom{position:relative; left:auto; right:auto; bottom:auto; margin-top:60px;}
		&__btn{display:block;}
		&__link{display:inline-block;}
		&__alarm{top:-46px; bottom:auto;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__tit{font-size:2.6rem;}
		&__subtit{font-size:1.2rem;}
		&__subject{font-size:2.7rem;}
		&__txt{margin-top:5px; font-size:1.1rem;}
		&__price{margin-top:20px;}
		&__list{margin-top:20px;}
		&__box{padding:30px 0;}
		&__bottom{margin-top:30px;}
		&__price-icon{position:relative; top:3px; font-size:1.6rem;}
		&__price-won{margin-left:3px; font-size:2.4rem;}
		&__noti{margin-top:10px;}
		&__link{width:20px; height:20px;}
		&__alarm{top:-26px;
			span{height:20px; padding:0 5px; line-height:20px; font-size:1rem;}
		}
	}
}

.time{position:relative; width:100%; height:0; padding-bottom:51.56%; background:url('../images/main/time_bg.jpg') no-repeat center center / cover;
	&__outer{display:inline-table; width:100%; height:100%;}
	&__inner{display:table-cell; height:100%;vertical-align:middle;}
	&__box{position:absolute; right:0; width:50%; height:100%; padding-left:50px; box-sizing:border-box;}
	&__tit{margin:70px 0 0 -260px; font-size:70px; font-weight:$regular; font-family:$font-pt; font-style: italic;}
	&__txt{margin:60px 0 0 0; font-size:18px; font-weight:$regular; color:$black2;}
	&__black{color:$black1;}
	&__link{position:relative; display:inline-block; margin-top:60px; margin-left:-8px;  padding:0 16px 18px 8px; font-size:16px; color:$black3; text-decoration:none; box-sizing:border-box;
		&:before{position:absolute; right:4px; bottom:-1px; width:0; height:12px; border-right:1px solid #888;content:''; -ms-transform: rotate(-45deg);transform: rotate(-45deg);}
		&:after{position:absolute; left:0; bottom:0; display:block; width:100%; height:0; border-bottom:1px solid #888888; content:'';}
	}
	&__point{position:relative; transform: translateZ(0);
		&:after{position:absolute; top:0; bottom:0; left:-6px; display:block; width:calc(100% + 18px); height:20px; margin:auto 0; background-color:#62ffee; transform:skew(-20deg); z-index:-1; content:'';}
		&.type-red:after{background-color:#ff8585}
	}
	@media only screen and (max-width: $tablet-size) {padding-bottom:154.68%; background:url('../images/main/time_bg_t.jpg') no-repeat center center / cover;
		&__tit{margin:0;}
		&__box{width:100%; padding:0 30px;}
		&__outer{position:relative; display:block;}
		&__inner{position:absolute; left:0; right:0; bottom:13.8%; display:block; height:auto;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__box{padding:0 15px;}
		&__tit{font-size:3.6rem;}
		&__txt{margin-top:16px; font-size:1.3rem;}
		&__point{
			&:after{left:-3px; width:calc(100% + 9px;); height:10px;}
		}
		&__link{margin:16px 0 0 -4px; padding:0 8px 8px 4px; font-size:1.1rem;
			&:before{bottom:0; right:2px; height:6px;}
		}
	}
}

.clock{margin:34px 0 0 -260px;
	$this:&;
	&__tit{display:inline-block; margin:0;  padding:18px 32px 8px; font-size:50px; color:#f4f4f4; font-family: $font-pt; text-transform: uppercase; background:$black1; line-height:1;}
	&__box{display:inline-block; padding:0px 36px 18px; border:10px solid #000; box-sizing:border-box;}
	&__num,&__txt{vertical-align:bottom; color:$black1; line-height:1; letter-spacing:-1px;}
	&__num{position:relative; bottom:-13px; font-family:$font-Eb; font-weight:$Ebold; font-size:90px;}
	&__txt{font-size:20px; font-weight:$bold;
		& + #{$this}__num{margin-left:10px;}
	}
	@media only screen and (max-width: $tablet-size) {margin:6px 0 0 0;
		&__box{display:block; padding:0px 0px 18px; text-align:center; background-color:#fff;}
	}
	@media only screen and (max-width: $mobile-size) {margin:6px 0 0 0;
		&__box{max-width:310px; width:100%; padding:14px 0px 10px; border-width:5px;}
		&__tit{font-size:2.6rem; padding:8px 16px 4px;}
		&__num{bottom:-3px; font-size:3.1rem;}
		&__txt{font-size:1.2rem;
			& + #{$this}__num{margin-left:5px;}
		}
	}
}

.main-review{text-align:center;
	$this:&;
	&__tit{margin:0; font-size:44px; font-weight:$regular; font-family:$font-pt;}
	&__list{padding:0; margin:50px -10px 0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:25%; margin-top:20px; padding:0 10px; box-sizing:border-box; list-style:none;
		&.is-active{
			#{$this}__box{opacity:1;}
			#{$this}__txt{display:block;}
			#{$this}__link{display:inline-block;}
		}
	}
	&__wrap{position:relative; width:100%; height:0; padding-bottom:100%;}
	&__box{position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.7); opacity:0; transition:opacity 0.8s;}
	&__outer{display:inline-table; width:100%; height:100%;}
	&__inner{display:table-cell; height:100%; vertical-align:middle;}
	&__txt{display:none; margin:0; font-size:20px; font-weight:$light; color:#fff; line-height:1.3;}
	&__link{display:none; margin:18px 0 0 0;}
	@media only screen and (max-width: $tablet-size) {
		&__list{margin-top:40px;}
		&__item{width:50%; margin-top:0;
			&:nth-child(2) ~ &{margin-top:20px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__tit{font-size:2.3rem;}
		&__list{margin:20px -5px 0;}
		&__item{padding:0 5px;
			&:nth-child(2) ~ &{margin-top:10px;}
		}
		&__txt{font-size:1.1rem;}
		&__link{margin-top:8px;}
	}
}
.flower{position:absolute;
	&.type-left{top:0; left:-55px;}
	&.type-right{top:-36px; right:-245px;}
	&.type-bottom{bottom:-234px; left:0;}
	&__btn{position:absolute;  right:-1px;; bottom:-40px; width:140px; height:40px; background-color:#fff; font-size:20px; line-height:40px;color:#bdb3e5; font-weight:$Ebold; text-align:center;
		font-family: $font-normal;}
	&__wrap{position:relative; padding-left:24px; box-sizing:border-box;
		&:before{position:absolute; top:0; bottom:1px; left:0; display:block; width:18px; height:14px; margin:auto 0; background:url('../images/main/spring/spring_arrow.png') no-repeat center center / contain; content:'';
			-webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;
			-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-name: arrow_motion;
			-moz-animation-name: arrow_motion; animation-name: arrow_motion; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite;
			animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-timing-function: linear; animation-timing-function: linear;

		}
	}
	@media only screen and (max-width: $tablet-size) {position:static;
		&.type-left,&.type-right,&.type-bottom{display:none;}
		&__btn{position:static; display:block;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__btn{width:104px; height:30px; margin-top:3px; line-height:30px; font-size:1.5rem; }
		&__wrap{padding-left:14px;
			&:before{width:11px; height:9px;}
		}
	}
}
.main-section{margin-top:160px;}

.js-motion { opacity: 0; -webkit-transform: translateY(100px); -ms-transform: translateY(100px); transform: translateY(100px); -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-transition: opacity 1s,-webkit-transform 1s; transition: opacity 1s,-webkit-transform 1s; transition: transform 1s,opacity 1s; transition: transform 1s,opacity 1s,-webkit-transform 1s;
	&.on { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}



@keyframes arrow_motion {
	0% {opacity: 1; -webkit-transform:translateX(-30%); -moz-transform:translateX(-30%); -ms-transform:translateX(-30%);
		-o-transform:translateX(-30%); transform:translateX(-30%);
	}
	50% {opacity: 1; -webkit-transform:translateX(0%); -moz-transform:translateX(0%); -ms-transform:translateX(0%);
		-o-transform:translateX(0%); transform:translateX(0%);
	}
	100% {opacity: 1; -webkit-transform:translateX(-30%); -moz-transform:translateX(-30%); -ms-transform:translateX(-30%);
		-o-transform:translateX(-30%); transform:translateX(-30%);
	}
}
