@charset "UTF-8";
@import "variables";
@import "mixins";
.popup-t{display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:130; text-align:center;
	$this:&;
	&.is-active{display:block;}
	&:before{position:absolute; z-index:-1; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.7); content:'';}
	&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	&__wrap{position:relative; display:inline-block; width:600px; padding:70px 38px; box-sizing:border-box; vertical-align:middle; background-color:#fff; text-align:left;}
	&__tit{margin:0; font-size:20px; font-weight:$Ebold; font-family: $font-Eb; color:$black1;}
	&__box{overflow:auto; height:120px; margin-top:16px; padding:20px; font-size:16px; color:$black2; border:1px solid #d0d0d0; line-height:1.5; box-sizing:border-box;
		p{margin:0;}
		& + #{$this}__tit{margin-top:30px;}
	}
	&__close{overflow:hidden; position:absolute; top:0; right:0; display:block; width:40px; height:40px;
		background:url('../images/common/popup_close.jpg') no-repeat center center / contain; text-indent:-9999px;}
	@media only screen and (max-width: $mobile-size) {padding:0; background-color:#fff;
		&__outer{position:absolute; top:50%; left:0; transform: translateY(-50%); width:100%; padding:50px 30px; box-sizing:border-box;}
		&__wrap{width:100%; height:100%;}
		&:before{display:none;}
		&__close{background:url('../images/common/popup_close_m.jpg') no-repeat center center / contain;}
		&__tit{font-size:1.6rem;}
		&__box{height:120px; margin-top:10px; padding:15px; font-size:1.2rem;
			& + #{$this}__tit{margin-top:20px;}
		}
	}
}
.popup-sms{display:none; position:fixed; top:0; left:0; bottom:0; right:0; margin:auto;  width:598px; height:212px; border:6px solid #fff;
	background:url('../images/introduce/introduce_bg_1.jpg') no-repeat center center / cover; text-align:center; z-index:50; transition:all 0.5s;
    &__tit{margin:0; font-size:20px; font-weight:$Ebold; font-family:$font-Eb; color:#fff;}
    &__input{display:inline-block; width:318px; height:40px; line-height:40px; padding:0 20px; background:#fff; font-size:16px; color:$black3; box-sizing:border-box; border:none; outline:0; vertical-align:top;}
    &__wrap{position:relative; height:inherit;}
    &__vertical{display:table-cell; width:1%; height:inherit;  vertical-align:middle;}
    &__box{position:relative; display:inline-block; margin-top:26px; font-size:0;}
    &__button{display:inline-block; width:90px; height:40px; border:none; line-height:40px; background:#7997ff; color:#fff; font-size:18px; font-weight:$bold; vertical-align:top; cursor:pointer;}
    &__close{overflow:hidden; position:absolute; top:24px; right:24px; display:block; width:20px; height:20px; background:url('../images/introduce/sms_close.png'); background-size:contain; text-indent:-9999px;}
    @media only screen and (max-width: $mobile-size) {width:270px; height:130px; border-width:3px;
    	&__tit{font-size:1.4rem;}
		&__box{margin-top:10px;}
    	&__input{width:168px; height:26px; padding:0 10px; line-height:26px; font-size:1.2rem;}
		&__button{width:54px; height:26px; line-height:26px; font-size:1.3rem;}
		&__close{top:12px; right:12px; width:10px; height:10px;}
    }
}


.popup-m{position:absolute; top:9.4%; left:100px; z-index:130; font-size:0; transition: all 0.5s; opacity:0; display:none;
	$this:&;
	&.type-second{left:700px;}
	&.type-third{top:calc(9.4% + 340px); left:700px;}
	&.is-active{display:block; opacity:1;
		#{$this}__img{max-width:600px;}
		#{$this}__bottom{max-width:600px;}
	}
	&__img{max-width:0; width:100%; transition: all 0.5s;}
	&__wrap{text-align:center;}
	&__close{position:relative; line-height:38px; font-size:12px; color:#fff; text-decoration:none;
		&.type-left{float:left;}
		&.type-right{float:right; padding-right:14px;
			&:before,&:after{display:block; position:absolute; top:0; right:0; bottom:0; margin:auto; transform: rotate(45deg);content:'';}
			&:before{right:5px; width:0;height:11px; border-left:1px solid #fff;}
			&:after{ width:11px; height:0; border-top:1px solid #fff;}
		}
	}
	&__bottom{overflow:hidden; display:block; max-width:0; height:38px; margin:0 auto; padding:0 20px; background:#000000;  text-align:center; box-sizing:border-box; transition:all 0.5s;}
	@media only screen and (max-width: $tablet-size) {top:0; left:0; width:100%; height:100%; z-index:110;
		&.type-second{left:0; z-index:120;}
		&.type-third{top:0; left:0; z-index:115;}
		&__wrap{position:absolute; top:50%; width:100%; transform: translateY(-50%);  padding:0 10.9%; box-sizing:border-box; }
	}
	@media only screen and (max-width: $mobile-size) {
		&__bottom{height:26px; padding:0 10px;}
		&__close{line-height:26px;  font-size:1.1rem;
			&.type-right{
				&:before{right:4px; height:9px;}
				&:after{ width:9px;}
			}
		}
	}
}
