@charset "UTF-8";
@import "variables";
@import "mixins";
.sitemap{
	&__list{margin:0px 0 0 -80px; padding:0; font-size:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{display:inline-block; width:25%; margin-top:100px; padding-left:80px; box-sizing:border-box; list-style:none; vertical-align:top;}
	&__dt{position:relative; font-size:28px; border-top:4px solid $black1; border-bottom:1px solid $black1; font-weight:$regular; font-family:$font-pt; color:$black1; box-sizing:border-box;}
	&__dl{margin:0;}
	&__dd{position:relative; margin:0; font-size:16px; color:$black3; border-bottom:1px solid #e5e5e5; box-sizing:border-box;
		&:before{position:absolute; top:22px; left:10px; display:block; width:4px; height:4px; background:#d1d1d1; content:'';}
	}
	&__link{display:table-cell; width:1%; height:50px; padding-left:34px; vertical-align:middle; color:inherit; text-decoration:none;
		&.type-1depth{height:62px; padding:0 10px;}
	}
	&__arrow{
		&:after{position:absolute; top:0; bottom:0; right:10px; display:block; width:9px; height:10px; margin:auto 0; background:url('../images/sitemap/sitemap_icon.gif') no-repeat center center / contain; content:'';}
	}
	@media only screen and (max-width: $tablet-size) {padding:0 60px; box-sizing:border-box;
		&__item{width:50%;}
	}
	@media only screen and (max-width: $mobile-size) {padding:0;
		&__list{margin:0;}
		&__item{width:100%; margin-top:50px; padding:0;}
		&__dt{border-top-width:2px; font-size:2.1rem;}
		&__dd{font-size:1.4rem;
			&:before{top:0; bottom:0; left:20px; width:2px; height:2px; margin:auto 0;}
		}
		&__link{display:block; width:auto; height:auto; padding:12px 32px;
			&.type-1depth{height:auto; padding:12px 20px 10px;}
		}
		&__arrow{
			&:after{width:8px; height:9px;}
		}
	}
}
.etc-visual{
	&.type-sitemap{background:url('../images/sitemap/sitemap_visual_1.jpg') no-repeat center center / cover;}
	@media only screen and (max-width: $tablet-size) {
		&.type-sitemap{background:url('../images/sitemap/sitemap_visual_1_t.jpg') no-repeat center center / cover;}
	}
}
